
.button_open_navCir{

    z-index: 1100;/*ser cuidadoso con este index**/

    position:absolute;
    width:40%;
    height:10%;
    left:4%;
    background-color: #148325 ;
    
    color: white;
    overflow: hidden;
/*    font:  1.1em 'verdana';*/
    
}

.button_open_navCir:hover{
     background-color: #1ec138;
    
}
.imagenMaximos{

    max-height: 90%;
    width: 100%;




}
.fondoItemCarousel{

    position:absolute; width:100%; height:100%; z-index:1000;
}

.carousel-item {
    float : left;
    z-index : 2;



    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -opera-border-radius: 7px;
    border-radius: 7px;
    border : 0;
    overflow : visible;
    /*margin-right: 5%;*/ 
    background: olive; 

    height: 80%; 
    display: inline;


    -moz-box-shadow: 30px 33px 38px rgba(0,0,0,0.5);
    -webkit-box-shadow: 30px 33px 38px rgba(0,0,0,0.5);
    box-shadow: 30px 33px 38px rgba(0,0,0,0.5);
}

.scale1{

    -webkit-transform: scale(1);
    transform:  scale(1) ;
    -webkit-transform:  scale(1);
    -moz-transform:  scale(1);
    -o-transform:  scale(1);
    -ms-transform:  scale(1) ;





}
.scale0_3{



    -webkit-transform: scale(0.3);
    transform:  scale(0.3) ;
    -webkit-transform:  scale(0.3);
    -moz-transform:  scale(0.3);
    -o-transform:  scale(0.3);
    -ms-transform:  scale(0.3) ;

    opacity:0.6;



}

.carousel-content {  
    height: 80%;

    background: transparent;
    font-size:.8em;
    /*z-index :1;*/
    position : absolute;
    overflow : visible;
    top:10%;


    /*left:50%;*/
}

.carousel-content-scroller  {
    background: green;  height: 80%;
    z-index :1;    
    width: 100%;
    
    font-size: 14px;

    position : relative;
    overflow-x:hidden;
    overflow-y:hidden;     
}

.carousel-item-content {
    height : 65px;
    overflow : visible;    
}

.carousel-nav {    
    display:none;        
    height : 25px;
}

.carousel-mid {
    margin-left : auto;
    margin-right : auto;
    height : 1.5em;
}

.carousel-id{
    display: inline;
    padding: 10px;
    background: aliceblue;
    cursor: pointer;


}

.arrow-right{
    min-height: 100%; 
    min-width: 5%;
    background: orangered;
    position: absolute;
    right: 0;
    opacity: 0.2;
    cursor: pointer;
    z-index: 3;

    background-image:url('../images/right.png');
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 70% auto;

}

.arrow-left{
    min-width: 5%;
    background: orangered;
    min-height: 100%; 
    position: absolute;
    left: 0;
    opacity: 0.2;
    cursor: pointer;
    z-index: 3;

    background-image:url('../images/left.png');
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 70% auto;

}
.arrow-right:hover{
    opacity: 0.6;

}
.arrow-left:hover{
    opacity: 0.6;

}
