
<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="Cali/Juanchito/Salsa/Imagenes/Escenario/maqueta.png" class="hidden-phone fondo">-->
    <img  src="Cali/Juanchito/Salsa/Imagenes/Escenario/fondo_juanchito_presalsa.jpg" class="hidden-phone fondo">
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Amparo Arreba">
        <img id="amparoArrebato"  src="Cali/Juanchito/Salsa/Imagenes/Escenario/amparo_arrebato.png" class="hidden-phone  positionItem"  
             style="width :7.2%; height:35.5%; top:65.2%; left:32.7%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Choza1">
        <img id="choza1"  src="Cali/Juanchito/Salsa/Imagenes/Escenario/choza1.png" class="hidden-phone positionItem"
             style="width :5.1%; height:10%; top:68%; left:51.7%;"> 
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Cortero">
        <img id="cortero"  src="Cali/Juanchito/Salsa/Imagenes/Escenario/cortero.png" class="hidden-phone  positionItem"  
             style="width :2.7%; height:13%; top:77.5%; left:97%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Pareja Negritos">
        <img id="parejaNegritos"  src="Cali/Juanchito/Salsa/Imagenes/Escenario/pareja_negritos.png" class="hidden-phone  positionItem"  
             style="width :6%; height:18%; top:79.3%; left:43.2%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Periquito">
        <img id="periquito"  src="Cali/Juanchito/Salsa/Imagenes/Escenario/periquito.png" class="hidden-phone  positionItem"  
             style="width :5.5%; height:20%; top:74.4%; left:5.4%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Puente">
        <img id="puente"  src="Cali/Juanchito/Salsa/Imagenes/Escenario/puente.png" class="hidden-phone  positionItem"  
             style="width :7.7%; height:9.5%; top:61.4%; left:64.4%;">
    </a>

    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Juanchito/Salsa/textoOscarDeLeon.html')" 
        data-toggle="tooltip" data-placement="left" title="Oscar de Le&oacute;n">
        <span class="hidden-tablet hidden-desktop ">Oscar de Le&oacute;n</span>
        <img id="oscarLeon"  src="Cali/Juanchito/Salsa/Imagenes/Escenario/oscar_leon.png" class="hidden-phone  positionItem"  
             style="width:10.9%; height:48%; top:56.9%; left:16.7%;">
        <img id="oscarLeonMovil" src="Cali/Juanchito/Salsa/Imagenes/Movil/oscar_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Juanchito/Salsa/textoHistoriaDeJuanchito.html')" 
        data-toggle="tooltip" data-placement="left" title="Historia de Juanchito">
        <span class="hidden-tablet hidden-desktop ">Historia de Juanchito</span>
        <img id="kiosko"  src="Cali/Juanchito/Salsa/Imagenes/Escenario/kiosko.png" class="hidden-phone  positionItem"  
             style="width:4.9%; height:31.9%; top:2.8%; left:36.3%;">
        <img id="kioskoMovil" src="Cali/Juanchito/Salsa/Imagenes/Movil/kiosko_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Juanchito/Salsa/textoRichieRayYBobbyCruz.html')" 
        data-toggle="tooltip" data-placement="left" title="Richie Ray y Bobby Cruz">
        <span class="hidden-tablet hidden-desktop ">Richie Ray y Bobby Cruz</span>
        <img id="richie"  src="Cali/Juanchito/Salsa/Imagenes/Escenario/richie.png" class="hidden-phone positionItem"             
             style="width :9%; height:51%; top:61.4%; left:58.1%;">        
        <img id="richieMovil" src="Cali/Juanchito/Salsa/Imagenes/Movil/richie_bobby_movil.png"
             class ="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" onclick ="modalOpen('Cali/Juanchito/Salsa/textoRichieRayYBobbyCruz.html')" 
        data-toggle="tooltip" data-placement="left" title="Richie Ray y Bobby Cruz">
        <img id="bobby"  src="Cali/Juanchito/Salsa/Imagenes/Escenario/bobby.png" class="hidden-phone positionItem"             
             style="width :9%; height:51.9%; top:60%; left:68.1%;">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Juanchito/Salsa/textoAlfreditoLinaresElInca.html')" 
        data-toggle="tooltip" data-placement="left" title="Alfredito Linares el Inca">
        <span class="hidden-tablet hidden-desktop ">Alfredito Linares el Inca</span>
        <img id="choza2"  src="Cali/Juanchito/Salsa/Imagenes/Escenario/choza2.png" class="hidden-phone positionItem"             
             style="width :18.3%; height:12.3%; top:59.4%; left:77.7%;">        
        <img id="choza2Movil" src="Cali/Juanchito/Salsa/Imagenes/Movil/choza2_movil.png"
             class ="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
</div>


<script>
    $("a[rel=popover]").popover();
</script>
