<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Alfredito Linares &ldquo;El Inca&rdquo;</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>Pianista peruano radicado desde 1985 en Cali, a donde vino por primera vez para la feria de 1971. En su trayectoria musical convergen varias de las influencias que dieron origen a la salsa: los ritmos afrocubanos, el jazz, el blues y hasta la m&uacute;sica erudita para quienes como &eacute;l, tuvieron el privilegio o la oportunidad de estudiar en un conservatorio.</p>
	<p>Gracias a las buenas relaciones entre el gobierno peruano de Velasco Alvarado (1968 &ndash; 1975 ) con el r&eacute;gimen de Fidel Castro, se consolid&oacute; la influencia de la m&uacute;sica cubana, conocida desde d&eacute;cadas anteriores en Lima y el Callao. El advenimiento de la salsa en Nueva York, extendi&oacute; su radio de acci&oacute;n hasta el Per&uacute; donde surgieron varias agrupaciones salseras a finales de los a&ntilde;os 60 y durante los 70 que se sumaban a la ya conocidas sonora de Lucho Macedo, la Sonora Sensaci&oacute;n (con Carlos Hayres) y la sonora de &Ntilde;ico Estrada en la que particip&oacute; tambi&eacute;n Alfredito Linares. Bandas como la de Papo y su Combo, Coco Lagos, Tom&aacute;s Oliva, Mario Allison, Tito Chicoma, Nilo Espinosa, y la Sonora de Alfredito Linares, desarollaron la salsa en este pa&iacute;s andino, al mismo tiempo que se hac&iacute;a en Colombia, Venezuela, Panam&aacute; o Rep&uacute;blica Dominicana.</p>
	<p>Luego de su paso por Cali en direcci&oacute;n a los Estados Unidos, el maestro Linares permaneci&oacute; una larga temporada en Venezuela donde toc&oacute; y grab&oacute; con La Billos Caracas Boys, La Banda y su Salsa Joven, Los Pacheco y el Grupo Mango con el que obtuvo el Premio Record World en 1976. Desde Venezuela viaj&oacute; a diferentes pa&iacute;ses, incursion&oacute; en el ambiente salsero de Nueva York y se code&oacute; con los mejores m&uacute;sicos del momento, hasta cuando decidi&oacute; quedarse en Cali. Ampliamente conocido en esta ciudad &ndash; y en Colombia &ndash; por sus canciones &ldquo;Tiahuanaco&rdquo; y &ldquo;Mambo Rock&rdquo;, Alfredo Linares se ha desempe&ntilde;ado como compositor, arreglista, productor, director musical y pianista, tanto en el &aacute;mbito de la salsa como en el del Latin Jazz. Sus producciones con P&iacute;per Pimienta, Juli&aacute;n Angulo, Son de Az&uacute;car, Lucho PuertoRico, Jorge Herrera y con varios ensambles de jazz en Santiago de Cali, testimonian su extensa carrera art&iacute;stica dentro y fuera de Colombia.</p>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
