<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">&ldquo;Del puente  para ac&aacute; est&aacute; Cali&hellip;Del puente para all&aacute; es Juanchito&rdquo;</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	<p>Fragmentos del libro LA SALSA EN CALI (Universidad del Valle 1992) &ndash; Cap&iacute;tulo 8 (corregido y editado)</p>
	<p>La historia de Juanchito est&aacute; indisolublemente ligada al r&iacute;o Cauca, eje natural de comunicaci&oacute;n y transporte entre las comunidades negras y campesinas del sur de Cali con esta ciudad. Eje tambi&eacute;n de intercambios comerciales y migratorios con el norte del Valle y la regi&oacute;n cafetera. Fuente de recursos pesqueros, fertilizador de las vegas del r&iacute;o y revitalizador de los humedales que circundan a Cali. El r&iacute;o Cauca adquiere singular importancia con la navegaci&oacute;n a vapor entre 1887 y 1930. Luego se torna en el principal proveedor de arena y piedra para la construcci&oacute;n cuando se desata la ola de urbanizaci&oacute;n salvaje a mediados del siglo XX.</p>
	<p>Puerto Mallarino y Juanchito, las dos riveras del r&iacute;o Cauca en una orilla de la ciudad; asentamiento de las negritudes descendientes de esclavos, emblema de la rumba salsera y popular en Cali. Diversas fuentes bibliogr&aacute;ficas e indagaciones personales hechas durante la d&eacute;cada del 80 con algunos de los m&aacute;s antiguos habitantes del sector, nos permiten armar este relato.</p>
	<p>Gracias a Jesucita Torijano, afrodescendiente, con 80 a&ntilde;os de vivir en Juanchito, donde naci&oacute;, donde ha vivido siempre a la orilla del r&iacute;o, donde nos atendi&oacute; en 1985. Con su familia, propietaria de un minifundio, viajaba hasta Cali en tranv&iacute;a para vender los productos de la finca.</p>
	<p>Esneda Cuero, con 50 a&ntilde;os de edad cuando nos concedi&oacute; la entrevista en 1986. Naci&oacute; en Puerto Mallarino donde hab&iacute;a pasado toda su vida. Adem&aacute;s de luchar por la comunidad, do&ntilde;a Esneda hab&iacute;a escrito en compa&ntilde;&iacute;a de otros vecinos la historia del barrio, aprovechando el legado de su padre Alejo Cuero quien naci&oacute; con el siglo XX y lleg&oacute; desde Mulal&oacute; a Juanchito en 1912. Trabaj&oacute; en los barcos como &ldquo;marinero&quot; del r&iacute;o. En 1935 introdujo el transporte urbano hasta el puerto, manejando viejos buses escalera (chivas). Fue due&ntilde;o de la flota de buses Rosado - Juanchito, que comunicaba el caser&iacute;o con el centro de la ciudad.</p>
	<p>Ricardo Arroyo, mulato, naci&oacute; con el siglo XX en Corinto Cauca, de donde lleg&oacute; a pie hasta Juanchito, por el camino real hacia 1920. Trabaj&oacute; primero en los barcos y despu&eacute;s en &quot;el aserr&iacute;o de los Lloreda&quot;. Se qued&oacute; viviendo en la orilla de Juanchito, cerca al antiguo aserr&iacute;o, donde lo entrevistamos en 1986.</p>

	<figure class="imgParrafo">
		<img src="Cali/Juanchito/Salsa/Imagenes/Textos/puente_juanchito.png">
		<figcaption>El puente de Juanchito.</figcaption>
    </figure>
    
    <p>Alfonso &Aacute;vila, uno de los pocos habitantes blancos en los comienzos de Juanchito. Naci&oacute; hacia 1910, oriundo de Cauca Seco en Cali. Las inundaciones obligaron a su familia a refugiarse en Puerto Mallarino. Trabaj&oacute; como fogonero en el tranv&iacute;a, &ldquo;manteco&rdquo; en uno de los barcos y mensajero en &quot;La Marconi&quot;, empresa de tel&eacute;grafos instalada en el puerto hacia 1925. Hab&iacute;a vivido la mayor parte de su existencia en el sector, aunque al momento de la entrevista en 1986 resid&iacute;a en el barrio Alfonso L&oacute;pez, cerca a Juanchito.</p>
    <p>Germ&aacute;n Palermo, afrodescendiente, oriundo de Guapi en la Costa Pacifica. Lleg&oacute; por Buenaventura hasta Juanchito en 1940. Se vincul&oacute; como trabajador en el aserr&iacute;o, y permaneci&oacute; el resto de su vida en esa orilla, donde viv&iacute;a cuando lo entrevistamos en 1986, a los 70 a&ntilde;os de edad.</p>
    <p>No obstante las inconsistencias de la historiograf&iacute;a oral (inexactitud en algunos datos, contradicciones en otros, diferentes versiones de un mismo hecho...) hemos podido reconstruir esta peque&ntilde;a &ldquo;historia&rdquo; de Juanchito y Puerto Mallarino, apelando tambi&eacute;n a archivos escritos y fuentes bibliogr&aacute;ficas de &iacute;ndole acad&eacute;mica.</p>
    <p><strong>Puerto Mallarino y Juanchito</strong></p>
    <p>Dos orillas, dos nombres, dos historias distintas. La primera, la orilla que pertenece a Cali, naci&oacute; con nuestro siglo; despu&eacute;s apareci&oacute; el actual Juanchito, &quot;del puente para all&aacute;&quot;, en la orilla que pertenece a todo el mundo. Debe su nombre - seg&uacute;n cierta tradici&oacute;n oral en la zona - al negro Juan, peque&ntilde;o buen hombre que pasaba a los viajeros de uno a otro lado del r&iacute;o, promediando el siglo XIX. Por &eacute;l se reconoc&iacute;an las dos orillas bajo el mismo apelativo: el Paso de Juanchito. Hoy, Juanchito es &quot;del puente para all&aacute;&quot;, en la orilla que mitificaron Ricardo Ray y Bobby Cruz, en su &ldquo;Amparo Arrebato: /a Juanchito me voy/ a pescar al r&iacute;o&hellip;/ Juanchito es lo m&iacute;o&hellip;&rdquo;/ El mismo mito que prolong&oacute; Jairo Varela con el Grupo Niche al cantar /&ldquo;Del puente para ac&aacute; est&aacute; Cali/ del puente para all&aacute; es Juanchito&hellip;&rdquo;/ Esa peque&ntilde;a aldea de comunidades negras a la que Larry Landa le invent&oacute; un carnaval por all&aacute; en 1983 con la presencia de Celia Cruz y la Sonora Matancera, Alfredo de la Fe, Pete &ldquo;El Conde&rdquo; Rodr&iacute;guez y otros salseros de la &eacute;poca.</p>
    <p>En 1887 empez&oacute; la navegaci&oacute;n a vapor por el r&iacute;o Cauca. Un proyecto ligado a las necesidades de terratenientes y comerciantes locales interesados en la integraci&oacute;n econ&oacute;mica del Valle del r&iacute;o Cauca con la zona cafetera, mediante el desarrollo de la producci&oacute;n agropecuaria en la regi&oacute;n.</p>
    <p>Las &uacute;ltimas d&eacute;cadas del siglo XIX en el Valle del Cauca se caracterizaron (a pesar de los conflictos pol&iacute;ticos) por un avance en la recuperaci&oacute;n econ&oacute;mica de este territorio que buscaba independizarse de Popay&aacute;n para constituirse en una provincia aut&oacute;noma. El crecimiento de la producci&oacute;n agropecuaria en las haciendas as&iacute; como la perspectiva de abastecer la demanda generada por la expansiva colonizaci&oacute;n agraria del antiguo departamento de Caldas, impulsaron la apertura de caminos y v&iacute;as de transporte que propiciaban la integraci&oacute;n comercial entre las dos regiones. De las v&iacute;as, la m&aacute;s importante fue sin duda el ferrocarril del Pac&iacute;fico, inaugurado en 1916, con el cual se vincularon al mercado internacional, mediante la exportaci&oacute;n de caf&eacute; y la importaci&oacute;n de bienes y mercanc&iacute;as.</p>
    
    <figure class="imgParrafo">
		<img src="Cali/Juanchito/Salsa/Imagenes/Textos/orilla_rio.png">
		<figcaption>Orilla del R&iacute;o Cauca en Juanchito.</figcaption>
    </figure>
    
    <p>En 1873 se fund&oacute; el banco del Cauca y se inaugur&oacute; el tel&eacute;grafo que comunicaba a Cali con Manizales y Bogot&aacute;. Los esfuerzos de comerciantes y terratenientes por romper el aislamiento caracterizaron esta visi&oacute;n durante la segunda mitad del siglo XIX en el Valle del Cauca. Y es en este contexto cuando se hace necesaria la navegaci&oacute;n a vapor por el r&iacute;o, constituy&eacute;ndose la primera empresa en 1883 y lanz&aacute;ndose el primer barco el 16 de diciembre de 1887.</p>
    <p>Es en esta coyuntura cuando se funda Puerto Mallarino como puerto fluvial, aprovechado por los campesinos del Norte del Cauca que arribaban en balsas de guadua o en canoas, con sus productos agr&iacute;colas. Es tambi&eacute;n el punto de partida para la integraci&oacute;n con la colonizaci&oacute;n antioque&ntilde;a en la subregi&oacute;n andina del Quind&iacute;o. Puerto Mallarino, o Juanchito, como se le conoc&iacute;a desde antes, emergi&oacute; entonces como respuesta a una necesidad hist&oacute;rica de la regi&oacute;n y como resultado de un proceso activo de la econom&iacute;a local que buscaba expandirse mediante el v&iacute;nculo comercial con la zona cafetera, justamente cuando la producci&oacute;n del grano se quintuplicaba en la &uacute;ltima d&eacute;cada del siglo XIX. El incremento en la producci&oacute;n de caf&eacute; extendi&oacute; la actividad comercial y la b&uacute;squeda de mercados internos. El r&iacute;o Cauca era el eje natural m&aacute;s importante; v&iacute;a de transporte para el intercambio entre las dos regiones.</p>
    <p>Un grupo de comerciantes, incluido un banquero alem&aacute;n, pol&iacute;ticos y terratenientes en Cali, lider&oacute; la empresa de la navegaci&oacute;n. Entre cinco compa&ntilde;&iacute;as llegaron a agrupar 15 barcos que transitaron regularmente por el r&iacute;o hasta 1930 cuando se acab&oacute; la navegaci&oacute;n a vapor.</p>
    <p>El puerto se fund&oacute; a la orilla izquierda del r&iacute;o, viajando de sur a norte, dentro de los predios de la hacienda &quot;El Guavito&quot;, que a mediados del siglo XIX era propiedad del se&ntilde;or Manuel Mar&iacute;a Barona. La navegaci&oacute;n a vapor empezaba all&iacute;, en una ruta que iba y ven&iacute;a desde Puerto Mallarino a Cartago y La Virginia. El viaje duraba hasta tres d&iacute;as, transportando caf&eacute;, productos agropecuarios, ganado y pasajeros. </p>
    <p>Del sur (Puerto Tejada, y municipios circunvecinos) llegaban a Juanchito grandes balsas de guadua, canoas y champanes, cargados de pl&aacute;tano, frutas y le&ntilde;a, animales dom&eacute;sticos y materiales de construcci&oacute;n, sobre todo guadua, ca&ntilde;a menuda, madera, ladrillo y teja. Del norte llegaban comerciantes bugue&ntilde;os y paisas, punta de lanza de la colonizaci&oacute;n agraria en el sur de Antioquia y el Viejo Caldas, desde donde se &quot;exportaba&quot; caf&eacute; para el suroccidente del pa&iacute;s.</p>
    <p>La frontera cafetera en expansi&oacute;n generaba una demanda de panela, mieles, cacao y carne de res, bienes de consumo producidos en las haciendas vallecaucanas. El r&iacute;o Cauca se convirti&oacute; as&iacute; en el principal eje que un&iacute;a el norte del actual departamento del Cauca, el Valle del r&iacute;o y la zona cafetera. Mientras colonos antioque&ntilde;os y tolimenses derrumbaban las estribaciones en la cordillera de los Andes y constru&iacute;an pueblos en el norte del Valle, en el sur, campesinos negros (arrendatarios o propietarios de la tierra) desarrollaban una econom&iacute;a agr&iacute;cola en sus parcelas, al tiempo que constru&iacute;an tambi&eacute;n sus peque&ntilde;as poblaciones. As&iacute;, mientras en el norte se fundaban los municipios de Sevilla y Caicedonia, en el sur florec&iacute;an Puerto Tejada y Padilla. Comunidades negras y blancos colonos paisas ser&iacute;an a partir de entonces dos factores etnoculturales determinantes en la configuraci&oacute;n antropol&oacute;gica de los futuros cale&ntilde;os.</p>
    <p>Cali era a comienzos del siglo XX, una peque&ntilde;a aldea de 20.000 habitantes. El casco urbano llegaba hasta la actual calle 25, con terrenos bald&iacute;os de por medio. Desde all&iacute; hasta el r&iacute;o Cauca se extend&iacute;an grandes potreros, ci&eacute;nagas y humedales entre caminos de herradura que atravesaban las haciendas alrededor de la ciudad. Las fuertes inundaciones aislaban a&uacute;n m&aacute;s a Puerto Mallarino de la urbe, que contaba tambi&eacute;n con los pasos municipales de Navarro, el paso del Comercio y el paso de Torres.</p>
    <p>De acuerdo con informaciones obtenidas de los habitantes m&aacute;s antiguos del sector los primeros pobladores de Puerto Mallarino fueron, entre otros, Alejo Cuero, Luis Felipe Torres, Aquileo Ocampo, Jes&uacute;s Valencia, Ad&aacute;n Castillo, Marcos Heredia y Juan Alvarez. As&iacute; mismo se identifica como familias fundadoras a los Vi&aacute;fara, Mina, Colorado, Barona, Cuero, Heredia, Dur&aacute;n y Viveros,...Proven&iacute;an de n&uacute;cleos ribere&ntilde;os al sur o al norte de Cali (Puerto Tejada, Corinto, Timba, Guapi, Mulal&oacute;, Yumbo).</p>
    <p>Las fuertes inundaciones a la orilla del r&iacute;o dificultaban los asentamientos estables. Las pocas viviendas se hac&iacute;an de guadua y esterilla montadas sobre pilotes en barrancas y empalizadas lacustres. La vida cotidiana se organizaba alrededor del cultivo, la pesca y el comercio de productos agr&iacute;colas, a lo largo del r&iacute;o y en funci&oacute;n de los recursos que proporcionaba para la subsistencia. El mercado se realizaba el d&iacute;a jueves. En &eacute;l converg&iacute;an campesinos de distintos caser&iacute;os y pueblos nortecaucanos (Puerto Tejada, Jamund&iacute;, Santander de Quilichao, Miranda, Florida, Caloto, Corinto, Timba,...) que interactuaban con comerciantes cale&ntilde;os y con otros, llegados del norte del Valle y la zona cafetera.</p>
    <p><strong>El Tranv&iacute;a</strong></p>
    <p>Una vez consolidado, despu&eacute;s de 20 a&ntilde;os, Puerto Mallarino se comunicaba con la ciudad por medio de un tranv&iacute;a construido en 1910, gracias al auge comercial que justificaba su presencia. Constru&iacute;do por el suizo Emilio Bizzot, el tranv&iacute;a se inaugur&oacute; el mismo a&ntilde;o en que se form&oacute; el Departamento del Valle del Cauca, al independizarse de Popay&aacute;n y designar a Cali como capital. Como al paso de Juanchito llegaba buena parte de la producci&oacute;n agropecuaria del Valle del r&iacute;o Cauca, desde all&iacute; se prove&iacute;a a Santiago de Cali, el principal centro de consumo. El punto de llegada era la plaza de mercado o galer&iacute;a del Calvario, entre las calles 12 y 13 con carreras 9&ordf; y 10 donde se abastec&iacute;an de v&iacute;veres los cale&ntilde;os hasta la d&eacute;cada de 1960.</p>
    <p>La plaza, que se hab&iacute;a fundado en 1897 se destruy&oacute; para los juegos panamericanos de 1971. Luego se fund&oacute; el actual palacio de justicia. Alrededor de la plaza se fue formando la denominada &quot;zona negra&quot; de Cali, un cintur&oacute;n perif&eacute;rico que aparec&iacute;a como una mancha culposa para las &eacute;lites en el poder. Desde el parque de Santa Rosa hasta la calle 15 (antiguo camino a Navarro) y desde la carrera 8&ordf; hasta la 15, se fue extendiendo como una &quot;pesadilla&quot;, que siempre intentaron erradicar por medio de decretos y planes urban&iacute;sticos, pero que nunca pudieron extirpar.</p>
    <p>Esta ha sido un &aacute;rea marginal en pleno centro de la ciudad. All&iacute; se desarroll&oacute; la prostituci&oacute;n, creci&oacute; el comercio y la vivienda informal a trav&eacute;s de los inquilinatos, proliferaron bares y cantinas, algunos de ellos guarida de &ldquo;Los P&aacute;jaros&rdquo; durante &ldquo;la &eacute;poca de la Violencia&rdquo; a mediados del siglo XX. All&iacute; llegaban inmigrantes y desplazados, o campesinos con sus productos y sus necesidades, buscando donde afincarse. Por all&iacute; florecieron los expendios de cannabis en los a&ntilde;os 60 y de &ldquo;pepas&rdquo;, un poco despu&eacute;s. Progresivamente empez&oacute; a conocerse como la &ldquo;Olla&rdquo;, para las nuevas generaciones, cuando est&aacute; palabra comenz&oacute; a significar algo m&aacute;s que un recipiente para preparar alimentos.</p>
    <p>Por estas y otras razones &ldquo;La zona negra&rdquo; fue considerado un territorio peligroso que deb&iacute;a exterminarse, aunque ni el carro bomba de las Farc contra el Palacio de Justicia pudo acabar con &eacute;l. Pero desde el 2010 hace parte de un proyecto de renovaci&oacute;n urbana, a&uacute;n sin realizarse. La plaza de mercado o galer&iacute;a del Calvario, conformaba no s&oacute;lo un punto de llegada, sino una prolongaci&oacute;n de la afrodescendencia en la ciudad, tanto la nativa de Cali, como la que proven&iacute;a de municipios cercanos, o de Buenaventura y la Costa Pac&iacute;fica que arribaban por tren.</p>
    <p>Por el r&iacute;o llegaban cargas de pl&aacute;tano, carne, caf&eacute;, madera, guadua, esterilla, cacao, tabaco, frutas, animales dom&eacute;sticos, le&ntilde;a y pasajeros. El tranv&iacute;a se encarg&oacute; del resto hasta un poco antes de 1930, cuando el auge del ferrocarril del Pac&iacute;fico y el futuro del transporte automotor opacaron la navegaci&oacute;n a vapor por el r&iacute;o Cauca. Como todo puerto que se respete, Juanchito tuvo inicialmente, en la orilla de Puerto Mallarino, un sitio para la rumba y mucho tiempo para la fiesta.</p>
    <p>Don Alfonso &Aacute;vila cuenta que en 1915 se construy&oacute; &quot;La Espuela de Oro&quot;, una gallera donde se daban cita campesinos negros y comerciantes blancos. A la orilla izquierda del r&iacute;o, de sur a norte, en el actual Puerto Mallarino, se levant&oacute; igualmente la capitan&iacute;a responsable de la navegaci&oacute;n, y se edific&oacute; la estaci&oacute;n del tranv&iacute;a. A partir de 1919 se celebraron las fiestas de la plaza, verdaderos carnavales en la playa con aguardiente &quot;chiviado&quot;, tabaco, p&oacute;lvora, fritanga, guarapo y chicha. Espacio para el encuentro recreativo de navegantes, campesinos, viajeros, vecinos y comerciantes, que impulsan el progreso del momento. Uno de ellos es el paname&ntilde;o Rolando Valencia, organizador del primer establecimiento p&uacute;blico del lugar: el bar Royal, una casona de amplios salones con pianola importada, que despu&eacute;s tendr&iacute;a otro nombre y otro due&ntilde;o: el Bar Corona, una miscel&aacute;nea donde adem&aacute;s de ir de compras, los vecinos se congregaban a escuchar por la radio las noticias de la segunda guerra mundial.</p>
    <p>La construcci&oacute;n del puente Carlos Holgu&iacute;n en 1920, hizo posible la vieja carretera a Palmira; con ella se preparaba el camino para el futuro transporte urbano y la decadencia de la navegaci&oacute;n. El puente de Juanchito se inaugur&oacute; con discursos y jolgorio incluido. Vacalocas, peleas de gallos, pesca milagrosa, vara de premio, pato colgado, murgas y disfraces, sembraron una tradici&oacute;n que habr&iacute;a de influir posteriormente entre sus vecinos de la otra orilla, aquellos que fueron asent&aacute;ndose progresivamente en la margen derecha, la del actual Juanchito.</p>
    <p>Bajo las condiciones antes descritas, se fue formando este pintoresco lugar, con trabajadores del &quot;aserr&iacute;o de los Lloreda&quot;, donde se fabricaban las cajas para empacar el jab&oacute;n y las velas que ellos mismos fabricaban en otro lugar. (Alvaro Lloreda era uno de los empresarios de la navegaci&oacute;n). Juanchito se fue poblando tambi&eacute;n con colonos, minifundistas, campesinos y pescadores, sobre todo despu&eacute;s de 1940 cuando la ciudad empez&oacute; a crecer y la extracci&oacute;n de arena se convirti&oacute; en primordial fuente de trabajo e importante actividad econ&oacute;mica para los habitantes del sector.</p>
    <p>Por otro lado, Juanchito se pobl&oacute; tambi&eacute;n cuando comenz&oacute; la descomposici&oacute;n del campesinado negro nortecaucano y las olas migratorias del norte y del sur del Valle del r&iacute;o Cauca, lo mismo que del litoral Pac&iacute;fico, empezaban a sentirse en la que ser&iacute;a una nueva ciudad. Hasta la otra orilla se extender&iacute;an las fiestas de la plaza y otras celebraciones festivas promediando el siglo.</p>
    <p>Seg&uacute;n Germ&aacute;n Palermo - quien lleg&oacute; al lugar en 1940 - &quot;Juanchito se pobl&oacute; definitivamente despu&eacute;s que mataron a Jorge Eli&eacute;cer Gait&aacute;n. Comenz&oacute; a llegar gente de todas partes: de Puerto Tejada, Candelaria, del Pac&iacute;fico, del Cauca y esto fue creciendo rapidito. Cuando yo llegu&eacute;, esta orilla apenas la habitaban unas pocas familias: los Ruiz, los Hern&aacute;ndez, los Torijano, los Zapata, don Justiniano Collazos con su familia y los Gonz&aacute;lez. Una familia cada kil&oacute;metro; no hab&iacute;a m&aacute;s&quot;.</p>
    <p>Versiones de diferentes vecinos coinciden en se&ntilde;alar que despu&eacute;s de 1950 aument&oacute; la poblaci&oacute;n en ambas orillas, destac&aacute;ndose un grupo migratorio del litoral Pac&iacute;fico que lleg&oacute; por tren desde Buenaventura, con algarab&iacute;a y todo: &quot;Llegaron muchos negros e invadieron las orillas del ca&ntilde;o Cauquita. Ven&iacute;an del Micay, Saija, Guapi, Timbiqu&iacute;, Barbacoas,...tra&iacute;an marimbas y tambores y tocaban bailando currulao&quot;. Do&ntilde;a Esneda Cuero los recuerda danzando en las calles, tomando &quot;Yo me mato&quot; en movimiento fren&eacute;tico a lo largo del Puerto. Hubo por entonces fuertes inundaciones con grave perjuicio para los habitantes; verdaderas tragedias que los moradores recuerdan de 1949 y 1951.</p>
    <p>En Puerto Mallarino, el sacerdote belga Jaime Jacobs, benefactor de la comunidad, organiz&oacute; el 15 de agosto de 1951 una procesi&oacute;n por el r&iacute;o, con la virgen de la Asunci&oacute;n al frente y rogativas para que no lloviera; procesi&oacute;n que se repet&iacute;a cada a&ntilde;o. Festones, botes engalanados, rezos, p&oacute;lvora y aguardiente &quot;biche&quot;, atizaban el ritual que terminaba en plena rumbantela de negros y mulatos. &quot;Las fiestas acu&aacute;ticas&quot; o &quot;las fiestas de la Virgen&quot; - como se les lleg&oacute; a conocer - se sumaron a la lista de pr&aacute;cticas recreativas y llegaron a ser objeto de atracci&oacute;n tur&iacute;stica para las gentes de la ciudad. Una atracci&oacute;n que se hab&iacute;a iniciado con los paseos en tranv&iacute;a desde Cali hasta Puerto Mallarino, a 20 centavos el pasaje.</p>
    <p><strong>Juanchito: del puente para all&aacute;</strong></p>
    <p>Consideramos que la ceremonia cat&oacute;lica de la procesi&oacute;n (realizada hasta 1964), si bien no puede fijarse como el principio de la rumba en Juanchito, s&iacute; constituye un hito importante en la cadena de celebraciones cuya trascendencia habr&iacute;a de convocar a pobladores de otros sectores de la ciudad, que empezaron a frecuentar el r&iacute;o y sus Orillas. La apropiaci&oacute;n profana de un ritual religioso, afirmaba el car&aacute;cter festivo de los habitantes, que gozaban adem&aacute;s de las competencias en lancha, organizadas por el Club N&aacute;utico desde finales de la d&eacute;cada de los 40, hasta los a&ntilde;os 60. La otra orilla, la del puente para all&aacute;, se fue llenando de quioscos, bailaderos, fritanguer&iacute;a y...moteles. Fueron famosos, &quot;Los Campos El&iacute;seos&quot;, un burdel donde - seg&uacute;n dicen- &ldquo;no dejaban entrar negros&rdquo;, fundado por el negro Justiniano Collazos a fines de los a&ntilde;os 30.</p>
    <p>Al establecerse el transporte urbano hasta el centro de la ciudad (en 1935) se garantizaba el contacto permanente con ella. La ruta segu&iacute;a siendo la carrera 8&ordf;, eje del intercambio comercial, en cuyas m&aacute;rgenes se levantaron fondas y ventorrillos a medida que los terrenos aleda&ntilde;os se urbanizaban. El quiosco de Bavaria fue c&eacute;lebre entre los sitios recreativos. Constru&iacute;do sobre la misma carrera 8&ordf;, pr&oacute;ximo a la f&aacute;brica de cerveza, al lado de las canchas de f&uacute;tbol y cerca a la estaci&oacute;n del ferrocarril, el Club de Bavaria fue un lugar propicio (y famoso) para la rumba popular cale&ntilde;a de mediados del siglo XX.</p>
    <p>Despu&eacute;s de la calle 25, al entrar al barrio Obrero, proliferaron en el eje de la 8&ordf; hoteles, bares y caf&eacute;s, cantinas &ldquo;de mala muerte&rdquo; y ciudadanos residentes que fueron acostumbr&aacute;ndose a la situaci&oacute;n. La estaci&oacute;n del ferrocarril (ubicada sobre la 25 entre las carrera 1&ordf; y 4&ordf;) aglutinaba a su alrededor cierta actividad comercial, hasta cuando fue destruida por la tr&aacute;gica explosi&oacute;n del 7 de agosto de 1956. Unas cuadras m&aacute;s al sur crec&iacute;a la Zona de Tolerancia, &quot;El Barrio&quot;, donde se concentrar&iacute;a la recepci&oacute;n y el baile de la vieja m&uacute;sica cubana, el bolero, el mambo y la guaracha, el fox trot, el tango y la milonga.</p>
    
    <figure class="imgParrafo">
		<img src="Cali/Juanchito/Salsa/Imagenes/Textos/brisas.png">
		<figcaption>Kiosko Brisas del Cauca. Juanchito.</figcaption>
    </figure>
    
    <figure class="imgParrafo">
		<img src="Cali/Juanchito/Salsa/Imagenes/Textos/agapito.png">
		<figcaption>Agapito en Juanchito.</figcaption>
    </figure>
    
    <figure class="imgParrafo">
		<img src="Cali/Juanchito/Salsa/Imagenes/Textos/agapito_original.png">
		<figcaption>Imagen original de Agapito.</figcaption>
    </figure>
    
    <p>La carrera 8&ordf; fund&oacute; su importancia en el hecho de haber sido uno de los ejes m&aacute;s importantes para el intercambio comercial de la ciudad a lo largo del siglo XX. El otro eje, el r&iacute;o Cauca, sufri&oacute; las consecuencias fatales del &ldquo;progreso&rdquo; y la industrializaci&oacute;n: la contaminaci&oacute;n de sus aguas, la destrucci&oacute;n de la fauna y de la vida, lo han convertido en la cloaca m&aacute;s grande de Cali. La miseria creci&oacute; en sus orillas, invadiendo las que antes eran f&eacute;rtiles vegas; el deterioro ecol&oacute;gico de sus riberas es igual al que han padecido todos los recursos naturales de la regi&oacute;n. La red de organizaciones de base del norte del Cauca lo ha expresado musicalmente: /&quot;...R&iacute;o Cauca/ t&uacute; que sabes de una tierra/ que ayer fue hermoso Valle/ que ha llenado de tristeza/ el cultivo de la ca&ntilde;a/ r&iacute;o del Cauca/ Valle del Cauca/ con pueblos de cart&oacute;n/ pero gigante el coraz&oacute;n...&quot;/</p>
    <p>En menos de 100 a&ntilde;os, Puerto Mallarino pas&oacute; de aldea a centro suburbano y despu&eacute;s a barrio popular de la ciudad. Juanchito por su parte, se convirti&oacute; en corregimiento del municipio de Candelaria. Ambos se acercaron a Cali cuando en los potreros intermedios la antigua hacienda fue urbanizada y crecieron los barrios Villacolombia, Salomia, La Base, Alfonso L&oacute;pez, El Troncal....</p>
    <p>Las dos orillas que se poblaron al ritmo de la navegaci&oacute;n y el comercio, terminaron siendo el cementerio natural de los buques a vapor. La pesca y el mercado campesino desaparecieron en Puerto Mallarino y en su lugar se impusieron la extracci&oacute;n y compraventa de arena, guadua y esterilla. La otra orilla, la &quot;del puente para all&aacute;&quot;, devino en epicentro de la fiesta, para nativos y turistas, en medio de la pobreza que a&uacute;n subsiste. Sus quioscos m&aacute;s representativos eran parte de un paisaje arquitect&oacute;nico propio. Agapito, Brisas del Cauca y El Pail&oacute;n, eran los m&aacute;s reconocidos, hasta cuando fueron derrumbados, con excepci&oacute;n de Agapito, fundado en 1955 y preservado hasta la actualidad.</p>
    <p>Juanchito no fue ajeno a los &ldquo;Dineros Calientes&rdquo; de la bonanza que inund&oacute; de d&oacute;lares la ciudad desde el inicio de los a&ntilde;os 80 y con los cuales se contrataron tambi&eacute;n muchas orquestas de salsa. De las humildes casetas de esterilla y los ancestrales quioscos de guadua y paja se pas&oacute; progresivamente a las discotecas de lujo. </p>
    <p>El cristal rutilante, las luces que encandilan y el m&aacute;rmol importado en medio de un sofisticado mobiliario, desplazaron las butacas de madera, las sillas met&aacute;licas y el tradicional dise&ntilde;o arquitect&oacute;nico de los establecimientos locales, caracter&iacute;sticos de Juanchito antes de que se &rdquo;internacionalizara&rdquo; como centro de atracci&oacute;n para nativos y for&aacute;neos. En menos de una d&eacute;cada, sus dos calles principales se llenaron de discotecas cada vez m&aacute;s glamorosas. Al Abuelo Pachanguero, (inicialmente llamado El Rodadero), Tropicana y Monterrey, las m&aacute;s cotizadas al comenzar esa d&eacute;cada, les sigui&oacute; Juan Pachanga, la m&aacute;s exclusiva de todas. Su inauguraci&oacute;n en 1982 fue por todo lo alto, con la presentaci&oacute;n de Charlie y Eddie Palmieri, Ismael Quintana y el resto de la banda. Por all&iacute; pasaron despu&eacute;s Daniel Santos, H&eacute;ctor Lavoe, el Grupo Niche, Joe Cuba, Jhonny Pacheco y Ray Reyes, Ray de la Paz, El Conjunto Cl&aacute;sico, entre los m&aacute;s importantes m&uacute;sicos salseros del momento. Con El carnaval de Juanchito, creado por Larry Landa hacia la misma &eacute;poca, esta orilla del r&iacute;o Cauca lleg&oacute; a ser el epicentro m&aacute;s importante de la rumba salsera cale&ntilde;a a lo largo de esa d&eacute;cada.</p>
    <p>Luego vendr&iacute;an, bajo otras condiciones, El Concorde, Baracoa, Don Jos&eacute;, Chang&oacute;, hasta los establecimientos inaugurados despu&eacute;s del a&ntilde;o 2000, (Guarar&eacute;, Samba Caramba, Citr&oacute;n y otros) donde a&uacute;n contin&uacute;an present&aacute;ndose las orquestas y los m&uacute;sicos del momento.</p>
    <p>Por ser asentamiento de comunidades negras descendientes de esclavos de la antigua hacienda vallecaucana, Puerto Mallarino y Juanchito concentraron en sus orillas el mulataje cultural que caracteriza a Cali, en medio de la pobreza y la segregaci&oacute;n. Pero Juanchito trascendi&oacute; como n&uacute;cleo de una imagen urbana que desde finales del siglo XX identifica a la ciudad. Y fue la salsa, la m&uacute;sica con que se proyect&oacute; esa imagen y puso a Juanchito en el mapa del circuito internacional de esta m&uacute;sica, hasta donde ha llegado sus artistas m&aacute;s representativos.</p>
    
    
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>

</div>
