<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">&quot;Ricardo Ray invent&oacute; el Mito&quot;</h3>
</div>
<div class="modal-body" style="text-align: justify;">
    <!--    	<figure class="imgParrafo">
                    <img src="Cali/Juanchito/Salsa/Imagenes/Textos/ricardo_rey.png">
                    <figcaption>Ricardo Ray, de blanco. Jackie Dillomis &ldquo;El Conde&rdquo; y Pedro Chaparro. Atr&aacute;s, Bobby Cruz. Aeropuerto de Cali, diciembre de 1968 - Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
        </figure>
        
        <figure class="imgParrafo">
                    <img src="Cali/Juanchito/Salsa/Imagenes/Textos/bobby_cruz.png">
                    <figcaption>A la izquierda C&aacute;ndido Rodr&iacute;guez, en el centro Bobby Cruz y Ricardo Ray, a la derecha, Pedro R. Chaparro. Aeropuerto de Cali, diciembre de 1968- Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
        </figure>
        
        <figure class="imgParrafo">
                    <img src="Cali/Juanchito/Salsa/Imagenes/Textos/cheatam.png">
                    <figcaption>&ldquo;Doc&rdquo; Cheatam, el &ldquo;Indio Cherokee&rdquo;, trompetista de la orquesta de Richie Ray a su llegada a Cali en diciembre de 1968. Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
        </figure>
        
        <figure class="imgParrafo">
                    <img src="Cali/Juanchito/Salsa/Imagenes/Textos/rusell.png">
                    <figcaption>A la izquierda, Rusell &ldquo;Skee&rdquo; Farnsworth, bajista de la orquesta de Ricardo Ray. A la derecha, Mike Collazo, el timbalero. Aeropuerto de Cali, diciembre de 1969.</figcaption>
        </figure>
        
        <figure class="imgParrafo">
                    <img src="Cali/Juanchito/Salsa/Imagenes/Textos/mike.png">
                    <figcaption>Mike Collazo, timbalero, &ldquo;Doc&rdquo; Cheatam, trompetista y Rusell Farnsworth, bajista, en su arrivo a Cali con la orquesta de Richie Ray en diciembre de 1969. Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
        </figure>
        
        <p>Si hasta ese momento, la Sonora Matancera y la m&uacute;sica antillana eran la voz cantante en la banda sonora de algunos sectores subalternos de Cali, a partir de Richie Ray y Bobby Cruz, la historia ser&iacute;a otra. Con sus obras rubricaron el sello de la salseridad que en adelante ostentar&iacute;a Cali, un sello que continu&oacute; creciendo vertiginosamente, porque con ellos la historia musical de esta ciudad se parti&oacute; en dos. Su emotiva presencia durante consecutivas versiones de la Feria, dividi&oacute; la opini&oacute;n p&uacute;blica. Por un lado, los j&oacute;venes de los barrios populares que aclamaron sus descargas con delirio y sin reservas. Por el otro, las &eacute;lites, y parte del pueblo tambi&eacute;n, prefer&iacute;an el sonido tropical de los Graduados y Los Hispanos, tan lejos de la mejor cumbia colombiana que hab&iacute;a logrado sus mayores expresiones en la d&eacute;cada del 50.</p>
        
        <figure class="imgParrafo">
                    <img src="Cali/Juanchito/Salsa/Imagenes/Textos/hernan_toro.png">
                    <figcaption>A la izquierda, inclinado y de bigote, Hern&aacute;n Toro; en el centro, Ricardo Ray alza la copa; a su izquierda, el empresario Ray Avil&eacute;s, rodeados de mel&oacute;manos en el Bar Metropole, Barrio Alameda, Cali diciembre 1968.</figcaption>
        </figure>
        
    
    
        <figure class="imgParrafo">
                    <img src="Cali/Juanchito/Salsa/Imagenes/Textos/bobby_cruz2.png">
                    <figcaption>Bobby Cruz en primer plano; &ldquo;El Pecas&rdquo;, due&ntilde;o del establecimiento, y Ricardo Ray, sonriendo, durante su visita al Bar Metropole en el barrio Alameda. Cali diciembre 27 de 1968.</figcaption>
        </figure>
        
    
    
    
        <figure class="imgParrafo">
                    <img src="Cali/Juanchito/Salsa/Imagenes/Textos/cheatam2.png">
                    <figcaption>Sentado, en el centro, el trompetista &ldquo;Doc&rdquo; Cheatam; a su derecha Horacio Henao &ldquo;L&aacute;piz&rdquo;, reconocido bailar&iacute;n; de perfil, con gafas y patillas, Rusell &ldquo;Skee&rdquo; Farnsworth, el bajista de la orquesta de Ricardo Ray. Bar Metropole Cali diciembre 27 de 1968.</figcaption>
        </figure>
        
        <figure class="imgParrafo">
                    <img src="Cali/Juanchito/Salsa/Imagenes/Textos/hernan_toro2.png">
                    <figcaption>En el centro Hern&aacute;n Toro abraza a Ricardo Ray y Bobby Cruz, rodeados por un grupo de salseros en el Bar Metropole. Cali diciembre 27 de 1968.</figcaption>
        </figure>-->



    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img style="width: 25em; " src="Cali/Juanchito/Salsa/Imagenes/Textos/hernan_toro2.png" alt="">

                <div class="carousel-caption">


                    <h4>Ricardo Ray
                        y Bobby Cruz </h4>
                    <p>

                        En el centro Hern&aacute;n Toro abraza a Ricardo Ray
                        y Bobby Cruz, rodeados por un grupo de salseros
                        en el Bar Metropole. Cali diciembre 27 de 1968.

                    </p>

                </div>
            </div>
            <div class="item">

                <img style="width: 25em; " src="Cali/Juanchito/Salsa/Imagenes/Textos/cheatam2.png" alt="">

                <div class="carousel-caption">


                    <p>
                        Sentado, en el centro, el trompetista &ldquo;Doc&rdquo; Cheatam; a su derecha Horacio Henao &ldquo;L&aacute;piz&rdquo;, reconocido bailar&iacute;n; de perfil, con gafas y patillas, Rusell &ldquo;Skee&rdquo; Farnsworth, el bajista de la orquesta de Ricardo Ray. Bar Metropole Cali diciembre 27 de 1968.
                    </p>

                </div>
            </div>
            <div class="item"> 
                <img  style="width: 25em; " src="Cali/Juanchito/Salsa/Imagenes/Textos/bobby_cruz2.png" alt="">

                <div class="carousel-caption">


                    <p>Bobby Cruz en primer plano; &ldquo;El Pecas&rdquo;, due&ntilde;o del establecimiento, y Ricardo Ray, sonriendo, durante su visita al Bar
                        Metropole en el barrio Alameda. Cali diciembre 27 de 1968.</p>

                </div>

            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>




    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/ricardo_rey.png">
        <figcaption>Ricardo Ray, de blanco. Jackie Dillomis &ldquo;El Conde&rdquo; y Pedro Chaparro. Atr&aacute;s, Bobby Cruz. Aeropuerto de Cali, diciembre de 1968 - Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
    </figure>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/bobby_cruz.png">
        <figcaption>A la izquierda C&aacute;ndido Rodr&iacute;guez, en el centro Bobby Cruz y Ricardo Ray, a la derecha, Pedro R. Chaparro. Aeropuerto de Cali, diciembre de 1968- Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
    </figure>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/cheatam.png">
        <figcaption>&ldquo;Doc&rdquo; Cheatam, el &ldquo;Indio Cherokee&rdquo;, trompetista de la orquesta de Richie Ray a su llegada a Cali en diciembre de 1968. Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
    </figure>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/rusell.png">
        <figcaption>A la izquierda, Rusell &ldquo;Skee&rdquo; Farnsworth, bajista de la orquesta de Ricardo Ray. A la derecha, Mike Collazo, el timbalero. Aeropuerto de Cali, diciembre de 1969.</figcaption>
    </figure>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/mike.png">
        <figcaption>Mike Collazo, timbalero, &ldquo;Doc&rdquo; Cheatam, trompetista y Rusell Farnsworth, bajista, en su arrivo a Cali con la orquesta de Richie Ray en diciembre de 1969. Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
    </figure>

    <p>Si hasta ese momento, la Sonora Matancera y la m&uacute;sica antillana eran la voz cantante en la banda sonora de algunos sectores subalternos de Cali, a partir de Richie Ray y Bobby Cruz, la historia ser&iacute;a otra. Con sus obras rubricaron el sello de la salseridad que en adelante ostentar&iacute;a Cali, un sello que continu&oacute; creciendo vertiginosamente, porque con ellos la historia musical de esta ciudad se parti&oacute; en dos. Su emotiva presencia durante consecutivas versiones de la Feria, dividi&oacute; la opini&oacute;n p&uacute;blica. Por un lado, los j&oacute;venes de los barrios populares que aclamaron sus descargas con delirio y sin reservas. Por el otro, las &eacute;lites, y parte del pueblo tambi&eacute;n, prefer&iacute;an el sonido tropical de los Graduados y Los Hispanos, tan lejos de la mejor cumbia colombiana que hab&iacute;a logrado sus mayores expresiones en la d&eacute;cada del 50.</p>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/hernan_toro.png">
        <figcaption>A la izquierda, inclinado y de bigote, Hern&aacute;n Toro; en el centro, Ricardo Ray alza la copa; a su izquierda, el empresario Ray Avil&eacute;s, rodeados de mel&oacute;manos en el Bar Metropole, Barrio Alameda, Cali diciembre 1968.</figcaption>
    </figure>
    <p>En diciembre de 1968, Ricardo Ray y Bobby Cruz vinieron por primera vez a Cali, para la feria de ese a&ntilde;o. (En febrero hab&iacute;an estado en los carnavales de Barranquilla). La orquesta la conformaban adem&aacute;s el bajista Russell &ldquo;Skee&rdquo; Farnsworth, el conguero Joaqu&iacute;n &ldquo;Jackie&rdquo; Dillomis &ldquo;El Conde&rdquo;; C&aacute;ndido Rodr&iacute;guez, (timbalero); Harry Rodr&iacute;guez (bongosero);Pedro Rafael Chaparro, (trompetista venezolano) y Adolphus &ldquo;Doc&rdquo; Cheatam,(el &ldquo;Indio Cherokee&rdquo;) trompetista norteamericano con una larga trayectoria en el jazz. Al a&ntilde;o siguiente volvieron de nuevo, para la feria de 1969. Esta vez, el timbalero era Mike Collazo y el bongosero Manolito Gonz&aacute;lez, con los que la banda hab&iacute;a fortalecido su estilo. Gracias a Ricardo Ray, Bobby Cruz y su orquesta, la salsa se consolid&oacute; en Cali como si fuera un ritmo nacido de sus entra&ntilde;as. Desde entonces, ella y su baile modelaron el cuerpo y la memoria de una generaci&oacute;n que lo leg&oacute; a sus descendientes hasta convertirse en el &iacute;cono que hoy es.</p>


    <p>Las largas improvisaciones en el piano, las vigorosas descargas y los sofisticados solos de trompeta que mostraba la orquesta, eran una verdadera novedad para el p&uacute;blico en la caseta Panamericana. Pero los peri&oacute;dicos redujeron todo al boogaloo. El son montuno, el bolero, el guaguanc&oacute;, la guajira, el mambo, la pachanga, el jalajala, y la mezcla entre ellos, hac&iacute;an parte de su repertorio, en medio del furor del boogaloo que tambi&eacute;n hab&iacute;an creado.</p>
    <p>A diferencia de otras agrupaciones que adoptaron los trombones como instrumento mel&oacute;dico, esta banda, creada hacia 1964, ten&iacute;a apenas dos trompetas para la melod&iacute;a y los mambos. Con sus descargas arrebataron al bailador cale&ntilde;o que encontr&oacute; en Richie Ray y su orquesta, algo distinto en qu&eacute; creer. La forma de bailar predominante de la m&uacute;sica tropical, arrastrando los pies con dos pasos adelante y dos pasos atr&aacute;s, se rompi&oacute; a&uacute;n m&aacute;s en nuevas figuras, saltos y coreograf&iacute;as que el bailar&iacute;n cale&ntilde;o fue imponiendo en fiestas de cuota, discotecas y aguaelulos. El estilo de baile que se desarroll&oacute; con las guarachas de la Sonora Matancera a mediados del siglo, continu&oacute; con la pachanga al comenzar los 60 y se intensific&oacute; con el boogaloo unos a&ntilde;os despu&eacute;s.Todo empez&oacute; cuando alguien descubri&oacute; que en 45 revoluciones, un disco grabado en 33 pod&iacute;a tambi&eacute;n bailarse acelerando los pies. El hallazgo, que se reg&oacute; como p&oacute;lvora, se convirti&oacute; en un fen&oacute;meno cuando algunos boogaloos, generalmente lentos, fueron apresurados para el gusto de los bailadores. Como lo describi&oacute; Andr&eacute;s Caicedo en su novela, &quot;El 33 vuelto 45 es como si lo flagelaran a uno mientras baila, con esa necesidad de decirlo todo, para que haya tiempo de volver a decirlo 16 veces m&aacute;s, y a ver quien nos aguanta, quien nos baila&rdquo;.</p>
    <p>Ricardo Ray retomaba la mitolog&iacute;a africana y a trav&eacute;s de sus interpretaciones invocaba a Chang&oacute; y a los orichas en pregones que Boby Cruz vocalizaba con estilo y sabor propios. El polite&iacute;smo ancestral, el ritual sagrado y la poliritmia percusiva, fuentes primarias de la m&uacute;sica afrocubana, eran recreados ahora por &quot;El embajador&quot; Ricardo Ray. Su orquesta promov&iacute;a viejas tradiciones bajo un nuevo impacto que no todos pod&iacute;an asimilar. Cuando vino por segunda vez, un diario local subestim&oacute; su obra: &quot;La mula rusia pate&oacute; al bugal&uacute;&quot;, t&iacute;tul&oacute; el peri&oacute;dico Occidente en una cr&oacute;nica alusiva a una canci&oacute;n de Los Graduados, incapaces de competir con Richie Ray, porque no ten&iacute;an el vuelo para hacerlo, cuando &eacute;ste los invit&oacute; a descargar en la tarima. &quot;Con Richie y su orquesta bailan cierta parte de la gente, que asiste a la caseta, que gusta de esa m&uacute;sica, los cuales han dado en llam&aacute;rseles sans&oacute;manos (sic)...&quot;, escribi&oacute; el cronista. Lo que &eacute;ste no percibi&oacute; es que la mayor&iacute;a de la gente, asombrada por algo nunca visto, prefer&iacute;a deleitarse observando los solos del maestro en el piano, las descargas de Mike Collazo en el timbal, los juegos del &ldquo;Conde&rdquo; en las Tumbadoras, los fraseos insuperables de las trompetas y las vibraciones del bajo que armonizaban la orquesta. Algo que, ni Los Graduados, ni &ldquo;La mula rusia&rdquo;, podr&iacute;an hacer jam&aacute;s.</p>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/candido_rodriguez.png">
        <figcaption>C&aacute;ndido Rodr&iacute;guez toca la campana; tras &eacute;l, Bobby Cruz, en la Caseta Panamericana, Cali diciembre 1968. Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
    </figure>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/timbalero.png">
        <figcaption>A la izquierda, el timbalero C&aacute;ndido Rodr&iacute;guez; a la derecha Jackie Dillomis, &ldquo;El Conde&rdquo;, con su tumbadora. Caseta Panamericana, Cali diciembre de 1968. Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
    </figure>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/cherokee.png">
        <figcaption>Al fondo &ldquo;El Indio Cherokee&rdquo; en la trompeta. En el medio, C&aacute;ndido Rodr&iacute;guez y en primer plano Jackie Dillomis, &ldquo;El Conde&rdquo;- Caseta Panamericana, Cali diciembre de 1968. Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
    </figure>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/candido_rodriguez2.png">
        <figcaption>C&aacute;ndido Rodr&iacute;guez, descargando en el timbal con la Orquesta de Ricardo Ray. Caseta Panamericana, Cali diciembre de 1968. Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
    </figure>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/bobby_cruz3.png">
        <figcaption>Bobby Cruz en medio de C&aacute;ndido Rodr&iacute;guez, al fondo, y Harry &ldquo;bong&oacute;&rdquo; Rodr&iacute;guez, de lado. <br /> Caseta Panamericana, Cali diciembre de 1968. Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
    </figure>

    <p>Para los populares y unos cuantos j&oacute;venes de clase media, Richie y Bobby eran mensajeros de una sonoridad revolucionaria, como s&iacute; lo capt&oacute; Andr&eacute;s Caicedo al recrearlos literariamente. M&uacute;sica para abir la mente y arrebatar el cuerpo. Eran portadores de un mensaje provocador que pregonaba Bobby Cruz al cantar: /&ldquo;A m&iacute; lo mismo me da / que me quieran o no&hellip; / yo no soy de las masas / yo soy de mi guaguanc&oacute; / este guaguanc&oacute; que traigo / es un guaguanc&oacute; bien raro / pa&acute; guarandabia con su labia yere m&iacute; / este guaguanc&oacute; sarc&aacute;stico&hellip; / &hellip;Este guaguanc&oacute; no es raro / simplemente es la verdad / la hip&oacute;crita humanidad / que siempre al lodo te tira / por el frente son sonrisas / mientras por detr&aacute;s te queman / y es por eso que le pido / a L&aacute;zaro que me libre / de la traici&oacute;n del amigo / que yo velo a mi enemigo / Ay que guaguanc&oacute; m&aacute;s bravo&hellip;/ m&aacute;s vale que tengas cuidado / que ahora vengo de frente / que Richie Ray se levant&oacute; / y eso lo sabe la gente&hellip;&rdquo;/.</p>
    <p>Cuando llegaron a Cali, sus canciones ya eran ampliamente conocidas en los barrios bajos, se escuchaban en varias emisoras, se danzaban fren&eacute;ticamente en bailes de cuota, aguelulos y en las discotecas de entonces, hasta donde llegaban sus desaf&iacute;os polir&iacute;tmicos y verbales&hellip;/ &ldquo;aqu&iacute; donde usted me ve / yo soy el negro m&aacute;s bravo / yo no reconozco guapos / ni me dejo amenazar / a mi nadie puede decirme / que yo estuve aqu&iacute; primero/ o que yo tengo dinero / o que soy m&aacute;s blanco que t&uacute; / porque formo un &ldquo;vente t&uacute;&rdquo; / y con el sitio me quedo / yo se lo digo/ bomba camar&aacute; / mira qu&eacute; rico est&aacute; / aqu&iacute; donde usted me ve / yo soy un negro decente / yo s&eacute; respetar la gente / si respeto se merece / pero no digas sandeces / que eso si que no lo aguanto / yo temprano me levanto / para estar bien enterado / y para el que no lo crea / traigo el &ldquo;vente t&uacute;&rdquo; formado / yo se lo digo / bomba camar&aacute;&hellip;/.</p>
    <p>Influenciados por la m&uacute;sica cl&aacute;sica, el jazz, el blues, el soul y los ritmos puertorique&ntilde;os, Richie y Bobby asumieron la clave cubana, los tambores afrocaribe&ntilde;os y los rituales con los que se invocaba a los Orichas, bajo otra cosmovisi&oacute;n religiosa y una distinta concepci&oacute;n del mundo que las &eacute;lites no pod&iacute;an soportar. / &ldquo;Vete a la escuela te digo / que t&uacute; conmigo no puedes / m&aacute;s vale que dejes el tirameneje / que a mi Chang&oacute; me proteje&hellip;&rdquo;/ Chang&oacute; con sus siete tiros / a m&iacute; siempre me proteje&hellip;&rdquo;/.</p>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/richie_ray.png">
        <figcaption>Richie Ray en el piano. Caseta Panamericana, Cali diciembre de 1968.<br /> Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
    </figure>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/afiche.png">
        <figcaption>Afiche de la Caseta Panamericana &ndash;Cali, diciembre 1969.</figcaption>
    </figure>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/henry_yanguas.png">
        <figcaption>Henry Yanguas (a la derecha) con un grupo de amigos en la Caseta Panamericana durante uno de los conciertos de Ricardo Ray. Cali diciembre 1969.</figcaption>
    </figure>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/bobby_cruz4.png">
        <figcaption>Bobby Cruz con la orquesta de Ricardo Ray en la Caseta Panamericana, Cali diciembre de 1968. Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
    </figure>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/ricardo_ray2.png">
        <figcaption>Ricardo Ray en el piano, durante una de sus presentaciones en la Caseta Panamericana. Cali diciembre 1968 - Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
    </figure>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/ricardo_ray3.png">
        <figcaption>Ricardo Ray en el piano, durante una de sus presentaciones en la Caseta Panamericana. Cali diciembre 1968 - Fot&oacute;grafo, Hern&aacute;n Aguirre.</figcaption>
    </figure>

    <p>Para las clases hegem&oacute;nicas en Cali, aquello no era m&aacute;s que m&uacute;sica arrebatada de &ldquo;negros escandalosos y muchachos alborotados&rdquo; como lo afirmaban ciertos discursos de la &eacute;poca. M&uacute;sica de la plebe marginal que amenazaba sus gustos, su moral, su religi&oacute;n. As&iacute; se reproduc&iacute;an el estigma social y los prejuicios raciales incubados desde tiempos coloniales en el pa&iacute;s y en la ciudad que se transformaba aceleradamente.</p>
    <p>Pero si Richie Ray con su orquesta impact&oacute; en Cali, &eacute;sta a su vez impact&oacute; en ellos. Para la feria de 1969 estrenaron &ldquo;Amparo Arrebato&rdquo;, publicado en 1970 por el sello Alegre que fue todo un acontecimiento durante ese a&ntilde;o. En ella cuentan la breve historia de una voluptuosa mulata bailarina que los acompa&ntilde;&oacute; durante sus noches de rumba, en sus paseos por Juanchito y el resto de la ciudad. Una canci&oacute;n que dio lugar a un mito porque a cambio de una surgi&oacute; otra bailarina como destinataria de la tonada y la adopt&oacute; como nombre art&iacute;stico con el que vivi&oacute; hasta su muerte.</p>
    <p>Con su l&iacute;rica, &ldquo;Amparo Arrebato&rdquo; no s&oacute;lo homenajeaba a la(s) bailarina(s) y la ciudad, sino que daba a conocer a Juanchito, el puerto fluvial sobre el r&iacute;o Cauca convertido en el referente espacial m&aacute;s importante de la fiesta salsera, de ah&iacute; en adelante. Con &ldquo;Amparo Arrebato&rdquo;, al comenzar la d&eacute;cada, Ricardo Ray y Bobby Cruz pusieron a Cali y a Juanchito en el mapa internacional de la salsa, indiscutiblemente.</p>
    <p>La canci&oacute;n, conocida tambi&eacute;n en Nueva York y Puerto Rico, terminaba con la reiteraci&oacute;n de un estribillo tomado de un refr&aacute;n popular al que le pusieron melod&iacute;a: &ldquo;Que viva Cali, Cali, Chipichape y Yumbo&hellip;&rdquo;. Con ella- y su &eacute;xito asegurado - se inicaba una nueva representaci&oacute;n de Cali; se inauguraba el imaginario colectivo que la asociaba con la salsa en el &aacute;mbito internacional. Por otro lado, los conciertos de Ricardo Ray y Bobby Cruz en la Caseta Panamericana, antes de volverse cristianos, no s&oacute;lo marcaron un hito inolvidable en la historia de la feria, sino que trascendieron a la literatura al ser incorporados por el joven escritor Andr&eacute;s Caicedo, en la primera novela urbana creada en esta regi&oacute;n del pa&iacute;s.</p>
    <p>&ldquo;QUE VIVA LA M&Uacute;SICA&rdquo;, capitaliz&oacute; la efervescencia generacional de la salseridad que se expresaba en ritmo, cuerpo y baile, y recre&oacute; esa energ&iacute;a en una propuesta narrativa que hoy hace parte del canon literario en Colombia. Con la orquesta de Ricardo Ray, &ldquo; Amparo Arrebato&rdquo; y&rdquo; Que viva la m&uacute;sica&rdquo;, se gener&oacute; una sensual simbolizaci&oacute;n de la ciudad, que a&ntilde;os despu&eacute;s se convirti&oacute;, en el coraz&oacute;n de su identidad contempor&aacute;nea.</p>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/trompetistas.png">
        <figcaption>Los trompetistas de Ricardo Ray y su orquesta: Pedro Chaparro y &ldquo;Doc&rdquo; Cheatam el &ldquo;indio Cherokee&rdquo;. Caseta Panamericana, Cali diciembre 1968.</figcaption>
    </figure>

    <figure class="imgParrafo">
        <img src="Cali/Juanchito/Salsa/Imagenes/Textos/hernan_aguirre.png">
        <figcaption>Hern&aacute;n Aguirre, de gafas, deportista vallecaucano; Bobby Cruz, Ray Avil&eacute;s, el empresario y Ricardo Ray con el cigarrillo en la boca. Hotel Nueva York, Cali diciembre 1968.</figcaption>
    </figure>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
