
<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="Cali/CallesSalsa/Salsa/Imagenes/Escenario/maqueta.png" class="hidden-phone fondo">-->
    <img  src="Cali/CallesSalsa/Salsa/Imagenes/Escenario/fondo_calles_salsa.jpg" class="hidden-phone fondo">
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Amparo Arrebato">
        <img id="amparoArrebato"  src="Cali/CallesSalsa/Salsa/Imagenes/Escenario/amparo_arrebato.png" class="hidden-phone  positionItem"  
             style="width :7.5%; height:47%; top:63%; left:28%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Bailar&iacute;n">
        <img id="bailarin"  src="Cali/CallesSalsa/Salsa/Imagenes/Escenario/bailarin.png" class="hidden-phone  positionItem"  
             style="width :4%; height:23%; top:71.5%; left:81.2%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="El club">
        <img id="elClub"  src="Cali/CallesSalsa/Salsa/Imagenes/Escenario/el_club.png" class="hidden-phone  positionItem"  
             style="width :11.1%; height:7.6%; top:53%; left:30.1%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Gente son paranoico">
        <img id="genteSonParanoico"  src="Cali/CallesSalsa/Salsa/Imagenes/Escenario/gente_son_paranoico.png" class="hidden-phone  positionItem"  
             style="width :6.4%; height:15%; top:66.6%; left:92.2%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Grill">
        <img id="grill"  src="Cali/CallesSalsa/Salsa/Imagenes/Escenario/grill.png" class="hidden-phone  positionItem"  
             style="width :8%; height:6.6%; top:51%; left:3%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="La rumba">
        <img id="laRumba"  src="Cali/CallesSalsa/Salsa/Imagenes/Escenario/la_rumba.png" class="hidden-phone  positionItem"  
             style="width :11%; height:11%; top:53.2%; left:89%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Latinos">
        <img id="latinos"  src="Cali/CallesSalsa/Salsa/Imagenes/Escenario/latinos.png" class="hidden-phone  positionItem"  
             style="width :4.4%; height:6.2%; top:59.9%; left:73%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Salso TK">
        <img id="salsoTK"  src="Cali/CallesSalsa/Salsa/Imagenes/Escenario/salso_tk.png" class="hidden-phone  positionItem"  
             style="width :7.6%; height:17%; top:49%; left:47.8%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Taberna">
        <img id="taberna"  src="Cali/CallesSalsa/Salsa/Imagenes/Escenario/taberna.png" class="hidden-phone  positionItem"  
             style="width :5.8%; height:5.1%; top:58.1%; left:80%;">
    </a>

    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/CallesSalsa/Salsa/textoJoeArroyo.html')" 
        data-toggle="tooltip" data-placement="left" title="Joe Arroyo">
        <span class="hidden-tablet hidden-desktop ">Joe Arroyo</span>
        <img id="joe"  src="Cali/CallesSalsa/Salsa/Imagenes/Escenario/joe.png" class="hidden-phone  positionItem"  
             style="width:17.4%; height:73.9%; top:47.5%; left:5.5%;">
        <img id="joeMovil" src="Cali/CallesSalsa/Salsa/Imagenes/Movil/joe_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/CallesSalsa/Salsa/textoPeriquitoPinPin.html')" 
        data-toggle="tooltip" data-placement="left" title="Periquito Pin Pin">
        <span class="hidden-tablet hidden-desktop ">Periquito Pin Pin</span>
        <img id="periquito"  src="Cali/CallesSalsa/Salsa/Imagenes/Escenario/periquito.png" class="hidden-phone  positionItem"  
             style="width:7.6%; height:24%; top:69.9%; left:52%;">
        <img id="periquitoMovil" src="Cali/CallesSalsa/Salsa/Imagenes/Movil/periquito_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/CallesSalsa/Salsa/textoPiperPimienta.html')" 
        data-toggle="tooltip" data-placement="left" title="Piper Pimienta">
        <span class="hidden-tablet hidden-desktop ">Piper Pimienta</span>
        <img id="piper"  src="Cali/CallesSalsa/Salsa/Imagenes/Escenario/piper.png" class="hidden-phone positionItem"             
             style="width :19.8%; height:74%; top:46%; left:57%;">        
        <img id="piperMovil" src="Cali/CallesSalsa/Salsa/Imagenes/Movil/piper_movil.png"
             class ="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
</div>


<script>
    $("a[rel=popover]").popover();
</script>
