<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Ra&uacute;l Marrero en Cali</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<figure class="imgParrafo">
		<img src="Cali/CallesSalsa/Salsa/Imagenes/Textos/raul.png">
		<figcaption>Ra&uacute;l Marrero compositor de boleros (&ldquo;Que lo sepa qui&eacute;n lo sepa&rdquo;) y temas de Salsa ampliamente conocidos como: &ldquo;Periquito Pin Pin&rdquo;, &ldquo;Y c&oacute;mo lo hacen&rdquo;, bailados por los salseros desde los a&ntilde;os 80. Aqu&iacute; aparece durante una de sus presentaciones en Cali en 1986.</figcaption>
    </figure>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>






