﻿

/* =Your Generated css 
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.carroMoviendose {
animation: myfirst 5s;
-webkit-animation: myfirst 5s; /* Safari and Chrome */
} 


@keyframes myfirst{
from {
/*transform: rotate(0deg);*/
top:60%;
left:-5%;
}
to {
/*transform: rotate(90deg);*/
top:120%;
left:20%;
}
}



@-webkit-keyframes myfirst {
from { 
/*-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); */
top:60%;
left:-5%;
}
to { 
/*-webkit-transform: rotate(80deg) scale(1) skew(1deg) translate(0px); */
top:120%;
left:40%;


}
}


.botonConMusic{
    
    background: none;/*fue importante para firefox*/
   
animation: musicAnimation 1s;
animation-iteration-count: infinite;
-webkit-animation: musicAnimation 1s; /* Safari and Chrome */
-webkit-animation-iteration-count: infinite;

} 

@keyframes musicAnimation
{
from {background: green ;}
to {background: yellow ;}
}

@-webkit-keyframes musicAnimation /* Safari and Chrome */
{
from {background: green;}
to {background: yellow;}
}




