
/*marcoMultimedia es una clase utilizada para definir los estilos especificos que debe tener en
general el div donde se van a presentar las animaciones*/
.marcoMultimedia{

    overflow: hidden; /*cuando una imagen se salga del div se hará invisible*/
    position: relative; /*no se sobrepone a otros divs se establece como el lienzo de la animacion asi las posiciones relativas dentro de este div son con respecto a este div */
    width:100%; 

    margin: 0 0 0 0;



    background:orange;
    /*-moz-box-shadow: -10px 15px 35px #000000;                       
    -webkit-box-shadow: -10px 15px 35px #000000;                        
    box-shadow: -10px 15px 35px #000000;*/



}

.imagenTipoArticulo{
    float:left;
    margin-right: 5px; 
    max-width: 20.5em;

}


body{

    font-size: 18px;
    /*    font: normal 20px "verdana", sans-serif;*/
}

.modal-header{

    background-color: #e3a326;
    background-image: -moz-linear-gradient(top, #d4a13d, #faa703);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d4a13d), to(#faa703));
    background-image: -webkit-linear-gradient(top, #d4a13d, #faa703);
    background-image: -o-linear-gradient(top, #d4a13d, #faa703);
    background-image: linear-gradient(to bottom, #d4a13d, #faa703);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd4a13d', endColorstr='#fffaa703', GradientType=0);
    border: 1px solid #be7f02;

    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    *zoom: 1;

}
/*
.modal-body{
    background-color: #faf4a0;
    font-family: 'Lobster';
    font-size: 1.2em;

}
.modal-footer{

    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e3a326;
    background-image: -moz-linear-gradient(top, #d4a13d, #faa703);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d4a13d), to(#faa703));
    background-image: -webkit-linear-gradient(top, #d4a13d, #faa703);
    background-image: -o-linear-gradient(top, #d4a13d, #faa703);
    background-image: linear-gradient(to bottom, #d4a13d, #faa703);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd4a13d', endColorstr='#fffaa703', GradientType=0);
    border: 1px solid #be7f02;

    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    *zoom: 1;


}*/

/*#myModal{
   width: 790px;
    
    
}*/
.modal-footer{
    display: none;
}
.modal-header button{
    color: red;

}


/*jquery components*/


#loading-indicator {
    position: absolute;
    left: 50%;
    top: 50%;



    opacity: 0.8;
}


.playerStyle{   
    max-width: 165px;

    background-image: url('../img/kcmsound.png') ;
    background-repeat: no-repeat;
    background-size: 60px;

}

.playerStyle .btn{   
    margin: 1px;

}

.playerStyle section {
    height: 100%;
}

.imgParrafo{


    float:left; 

    max-width:70%;


    /*    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1), inset 0 2px 1px rgba(255,255,255,.5), inset 0 -9px 2px rgba(0,0,0,.6), inset 0 -12px 2px rgba(255,255,255,.3);
        -moz-box-shadow: inset 0 0 2px rgba(0,0,0,1), inset 0 2px 1px rgba(255,255,255,.5), inset 0 -9px 2px rgba(0,0,0,.6), inset 0 -12px 2px rgba(255,255,255,.3);
        box-shadow: inset 0 0 2px rgba(0,0,0,1), inset 0 2px 1px rgba(255,255,255,.5), inset 0 -9px 2px rgba(0,0,0,.6), inset 0 -12px 2px rgba(255,255,255,.3);*/

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.imgParrafo img{
    min-width: 100%;

}
.imgParrafo figcaption{
    color: #5d5858;
    font-size: 0.8em;

}


/*.polaroid {
  position: relative;
}
 
.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
 
.polaroid em {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}*/

p{
    /*    font: normal 17px/28px "verdana", sans-serif;*/
    font-family:Arial, Helvetica, sans-serif;
    color:#808080;
    /*line-height:28px;

    /*font-family: 'verdana';*/
}

/*
.buttonItem span{
    width: 80%;
 
}*/
.iconoMovil{
    width: 30px;
    height: 30px;
    position: absolute;
    top:2%;
   
}
