/*@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);*/
.container{
    position: relative;

    background: red;
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    max-height: 500px;

}
.container * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    /*position: relative;*/
}



.csstransforms .cn-wrapper {



    font-size: 1.0em;
    width: 26em;
    height: 26em;
    overflow: hidden;
    position: absolute;
    z-index: 1;


    vertical-align: middle;
    

     bottom:50%;
     margin-bottom: -13em;
    /* bottom:-moz-calc(50% - 150px);
     bottom:calc(50% - 150px);*/


    left:40%;
   /* margin-top:2em;*/

    border-radius: 50%;
    margin-left: -13em;

    /*pointer-events: none;*/
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.csstransforms .opened-nav {


    /*Chrome, Safari*/
    left:0%;

    pointer-events: auto;

}

.cn-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 2;
}

.cn-overlay.on-overlay {
    visibility: visible;
    opacity: 1;
}

.cn-button {
    border: none;
    background: none;
    color: #f06060;
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 1em;
    height: 3.5em;
    width: 3.5em;
    background-color: #fff;
    /* position: fixed;*/
    left: 50%;
    margin-left: -1.75em;
    bottom: -1.75em;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
}

.cn-button:hover,
.cn-button:active,
.cn-button:focus {
    color: #aa1010;
}

.csstransforms .cn-wrapper li {
    position: absolute;
    font-size: 1.5em;
    width: 10em;
    height: 10em;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    overflow: hidden;
    left: 50%;
    top: 0%;
    margin-top: -1.3em;
    margin-left: -10em;
    -webkit-transition: border .3s ease;
    -moz-transition: border .3s ease;
    transition: border .3s ease;
    cursor: pointer;
}

.csstransforms .cn-wrapper li a {
    /*display: block;*/
    font-size: 1.10em;
    height: 14.5em;
    width: 14.5em;
    position: absolute;
    bottom: -7.25em;
    right: -7.25em;
    border-radius: 50%;
    text-decoration: none;
    color: brown;
    padding-top: 1.8em;
    text-align: center;
    -webkit-transform: skew(-30deg) rotate(-60deg) scale(1);
    -ms-transform: skew(-30deg) rotate(-60deg) scale(1);
    -moz-transform: skew(-30deg) rotate(-60deg) scale(1);
    transform: skew(-30deg) rotate(-60deg) scale(1);
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, color 0.3s;
    -moz-transition: opacity 0.3s, color 0.3s;
    transition: opacity 0.3s, color 0.3s;
}

.csstransforms .cn-wrapper li a h1 {
   font-size: 1.0em;
/*    opacity: 0.7;*/

   margin-top: 1.5em;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg) ;
    writing-mode: tb-rl;

}

/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */

.csstransforms .cn-wrapper li:first-child {
    -webkit-transform: rotate(0deg) skew(30deg);
    -ms-transform: rotate(0deg) skew(30deg);
    -moz-transform: rotate(0deg) skew(30deg);
    transform: rotate(0deg) skew(30deg);
}

.csstransforms .cn-wrapper li:nth-child(2) {
    -webkit-transform: rotate(60deg) skew(30deg);
    -ms-transform: rotate(60deg) skew(30deg);
    -moz-transform: rotate(60deg) skew(30deg);
    transform: rotate(60deg) skew(30deg);
}

.csstransforms .cn-wrapper li:nth-child(3) {
    -webkit-transform: rotate(120deg) skew(30deg);
    -ms-transform: rotate(120deg) skew(30deg);
    -moz-transform: rotate(120deg) skew(30deg);
    transform: rotate(120deg) skew(30deg);
}

.csstransforms .cn-wrapper li:nth-child(4) {
    -webkit-transform: rotate(110deg) skew(30deg);
    -ms-transform: rotate(110deg) skew(30deg);
    -moz-transform: rotate(110deg) skew(30deg);
    transform: rotate(110deg) skew(30deg);
}

.csstransforms .cn-wrapper li:nth-child(5) {
    -webkit-transform: rotate(150deg) skew(50deg);
    -ms-transform: rotate(150deg) skew(50deg);
    -moz-transform: rotate(150deg) skew(50deg);
    transform: rotate(150deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(odd) a {
    background-color: #ffe957;

}

.csstransforms .cn-wrapper li:nth-child(even) a {
    background-color: #f0be05;

}

/* active style */
.csstransforms .cn-wrapper li.active a {
    background-color: #fae07c;

}


/* hover style */
.csstransforms .cn-wrapper li:not(.active) a:hover,
.csstransforms .cn-wrapper li:not(.active) a:active,
.csstransforms .cn-wrapper li:not(.active) a:focus {
    background-color: #ecd370;

}

/* fallback */
.no-csstransforms .cn-button {
    display: none;
}

.no-csstransforms .cn-wrapper li {
    position: static;
    float: left;
    font-size: 1em;
    height: 5em;
    width: 5em;
    background-color: brown;
    text-align: center;
    line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
    border-right: 1px solid #ddd;
}

.no-csstransforms .cn-wrapper li a:last-child {
    border: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
    background-color: white;
}

.no-csstransforms .cn-wrapper li.active a {
    background-color: #6F325C;
    color: #fff;
}

.no-csstransforms .cn-wrapper {
    font-size: 1em;
    height: 5em;
    width: 25.15em;
    bottom: 0;
    margin-left: -12.5em;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    left: 50%;
    border: 1px solid #ddd;
}




@media (min-width: 1200px) {
    
    .csstransforms .cn-wrapper {
        font-size: 1.3em;
        
        
    }

}
 
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 1000px) { 
    .csstransforms .cn-wrapper {
        font-size:0.8em;
        
        
    }
  
}

 /*Landscape phone to portrait tablet*/ 

@media (min-width: 481px) and (max-width: 767px) {

    .csstransforms .cn-wrapper {
        font-size: 0.60em;

    }

    
    
}

/* Landscape phones and down*/ 

@media (max-width: 480px) {


    .csstransforms .cn-wrapper {
        font-size: .40em;

    }

 
   
}


/* Landscape phones and down*/ 

@media (max-width: 320px) { 
    .no-csstransforms .cn-wrapper {


        width: 10.15px;
        margin-left: -7.5em;
    }

    .no-csstransforms .cn-wrapper li {
        height: 1em;
        width: 1em;
    }
}



