.blur{


    -webkit-filter: blur(1px);
    /*filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=1);*/
    filter: blur(1px);
} 

.sepia{

    -webkit-filter: sepia(0.8); /* 50% sepia *//* Chrome y Safari */
    -moz-filter: sepia(0.8); /* 50% sepia *//* Mozilla */
    -ms-filter: sepia(0.8); /* 50% sepia *//* Internet Explorer */
    -o-filter: sepia(0.8); /* 50% sepia *//* Opera */


    filter: sepia(0.8);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'  0.14 0.45 0.05 0 0 0.12 0.39 0.04 0 0 0.08 0.28 0.03 0 0 0 0 0 1 0 \'/></filter></svg>#grayscale"); /* Firefox 3.5+ */


}

.opacidad{

    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
}


