
.positionItem{
    position: absolute;
}
.positionItem:hover{
    
    -webkit-transform:  scale(1.1);
    -ms-transform:  scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    
}

.positionItemInicio{
    position: absolute;
}


/* Large desktop 
@media (min-width: 1200px) { 

    body{
        font-size: 18px;
    }

 body{
        font-size: 22px;
    }

}*/

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    body{
        font-size: 15px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {


    body{
        font-size: 12px;
    }


    .buttonItem{

        border-top:  5px darkgray solid ;
        border-bottom:   1px darkgray solid ;
        border-left:    1px darkgray solid ;
        border-right:    1px darkgray solid ;

        margin-bottom: 5px;

        text-align: center;


        /*btn class*/

        display: inline-block;
        padding: 4px 12px;


        line-height: 20px;
        color: #333333;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        vertical-align: middle;
        cursor: pointer;
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
        background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
        background-repeat: repeat-x;


        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);


        /*btn large*/
        padding: 11px 19px;
        font-size: 17.5px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;

        /*btn block*/
        display: block;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        
        position: relative !important;


    }
    .positionItem{

        position: inherit;





    }

    .marcoMultimedia{
        background: transparent;
        box-shadow: none;


    }




}

/* Landscape phones and down */
@media (max-width: 480px) {
    
    body{
        font-size: 12px;
    }


    .buttonItem{

        border-top:  5px darkgray solid ;
        border-bottom:   1px darkgray solid ;
        border-left:    1px darkgray solid ;
        border-right:    1px darkgray solid ;

        margin-bottom: 5px;

        text-align: center;


        /*btn class*/

        
        padding: 4px 12px;


        line-height: 20px;
        color: #333333;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        vertical-align: middle;
        cursor: pointer;
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
        background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
        background-repeat: repeat-x;


        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);


        /*btn large*/
        padding: 11px 19px;
        font-size: 17.5px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;

        /*btn block*/
/*        display: inline-table;*/
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        
        position: relative !important;


    }
    .positionItem{

        position: inherit;





    }

    .marcoMultimedia{
        background: transparent;
        box-shadow: none;


    }

}