<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="NuevaYork/Bronx/Presalsa//Imagenes/Escenario/maqueta.jpg" class="hidden-phone fondo">-->
    <img  src="NuevaYork/Bronx/Presalsa//Imagenes/Escenario/ny_bronx_fondo.jpg" class="hidden-phone fondo">

    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Bronx/Presalsa//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="andyGonzalez"  src="NuevaYork/Bronx/Presalsa//Imagenes/Escenario/andy_gonzalez.png" class="hidden-phone  positionItem"  
             style="width:8.7%; height:31.8%; top:68%; left:2.6%;">
        <img id="andyGonzalezMovil" src="NuevaYork/Bronx/Presalsa//Imagenes/Movil/andy_gonzalez_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Bronx/Presalsa//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="charliePalmieri"  src="NuevaYork/Bronx/Presalsa//Imagenes/Escenario/charlie_palmieri.png" class="hidden-phone  positionItem"  
             style="width:8.4%; height:29.4%; top:70.4%; left:14.5%;">
        <img id="charliePalmieriMovil" src="NuevaYork/Bronx/Presalsa//Imagenes/Movil/charlie_palmieri_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Bronx/Presalsa//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="eddiePalmieri"  src="NuevaYork/Bronx/Presalsa//Imagenes/Escenario/eddie_palmieri.png" class="hidden-phone  positionItem"  
             style="width:10.7%; height:29.7%; top:70.5%; left:26.6%;">
        <img id="eddiePalmieriMovil" src="NuevaYork/Bronx/Presalsa//Imagenes/Movil/eddie_palmieri_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Bronx/Presalsa//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="maniOquendo"  src="NuevaYork/Bronx/Presalsa//Imagenes/Escenario/mani_oquendo.png" class="hidden-phone  positionItem"  
             style="width:10%; height:26.5%; top:73.5%; left:66.9%;">
        <img id="maniOquendoMovil" src="NuevaYork/Bronx/Presalsa//Imagenes/Movil/mani_oquendo_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Bronx/Presalsa//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="titoRodriguez"  src="NuevaYork/Bronx/Presalsa//Imagenes/Escenario/tito_rodriguez.png" class="hidden-phone  positionItem"  
             style="width:8.8%; height:29.7%; top:70.5%; left:79.1%;">
        <img id="titoRodriguezMovil" src="NuevaYork/Bronx/Presalsa//Imagenes/Movil/tito_rodriguez_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

</div>

<script>
    $("a[rel=popover]").popover();
</script>
