

<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <img  src="PuertoRico/SanJuan/Salsa/Imagenes/Escenario/fondo.jpg" class="hidden-phone fondo">
<!--    <img  src="Cali/Barrio1/Presalsa/Imagenes/Escenario/cali_barrio1_presalsa.jpg" class="hidden-phone fondo">
-->

    <a  href="#" class="buttonItem  "  
        
        onclick ="modalOpen('PuertoRico/SanJuan/Presalsa/videoIsmaelRivera.html')"
        data-toggle="tooltip" data-placement="left" title="Ismael Rivera">
        <span class="hidden-tablet hidden-desktop ">Ismael Rivera</span>
        <img  src="PuertoRico/SanJuan/Salsa/Imagenes/Escenario/ismael_rivera.png" class="hidden-phone  positionItem "  
             style="width :18%; height:55%; top:45%; right:0%;">
        <img  src="PuertoRico/SanJuan/Salsa/Imagenes/Movil/ismael_rivera_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    <a  href="#" class="buttonItem  " 
        data-toggle="tooltip" data-placement="left" title="No a la guerra">
        <span class="hidden-tablet hidden-desktop ">No a la guerra</span>
        <img  src="PuertoRico/SanJuan/Salsa/Imagenes/Escenario/no_guerra.png" class="hidden-phone  positionItem "  
             style="width :11%; height:16%; top:47.5%; left:36.5%;">
        <img src="PuertoRico/SanJuan/Salsa/Imagenes/Movil/no_guerra_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

  
    <a  href="#" class="buttonItem  " 
        data-toggle="tooltip" data-placement="left" title="Bandera">
        <span class="hidden-tablet hidden-desktop ">Bandera</span>
        <img  src="PuertoRico/SanJuan/Salsa/Imagenes/Escenario/bandera.png" class="hidden-phone  positionItem "  
             style="width :7%; height:20%; top:16%; right:56.5%;">
        <img src="PuertoRico/SanJuan/Salsa/Imagenes/Movil/bandera_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>


<a  href="#" class="buttonItem  " 
        data-toggle="tooltip" data-placement="left" title="Bacalao">
        <span class="hidden-tablet hidden-desktop ">Bacalao</span>
        <img  src="PuertoRico/SanJuan/Salsa/Imagenes/Escenario/bacalao.png" class="hidden-phone  positionItem "  
             style="width :9%; height:40%; bottom: -4%; left:5%;">
        <img src="PuertoRico/SanJuan/Salsa/Imagenes/Movil/bacalao_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

<a  href="#" class="buttonItem  " 
        data-toggle="tooltip" data-placement="left" title="Pasacalle">
        <span class="hidden-tablet hidden-desktop ">Pasacalle</span>
        <img  src="PuertoRico/SanJuan/Salsa/Imagenes/Escenario/pasacalle.png" class="hidden-phone  positionItem "  
             style="width :35%; height:18%; top:34%; left:7%;">
        <img src="PuertoRico/SanJuan/Salsa/Imagenes/Movil/pasacalle_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

   
    

<a  href="#" class="buttonItem  "
        data-toggle="tooltip" data-placement="left" title="Willie Rosario">
        <span class="hidden-tablet hidden-desktop ">Willie Rosario</span>
        <img  src="PuertoRico/SanJuan/Salsa/Imagenes/Escenario/willie_rosario.png" class="hidden-phone  positionItem "  
             style="width :9%; height:39%; bottom: 0; left:11%;">
        <img src="PuertoRico/SanJuan/Salsa/Imagenes/Movil/willie_rosario_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
</div>
