<div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">El camaj&aacute;n</h3>

</div>
<div class="modal-body" style="text-align: justify;">

<p>En el habla popular de los cale&ntilde;os el t&eacute;rmino camaj&aacute;n&nbsp; designa un tipo &quot;vivo&quot; (astuto),  goz&oacute;n, amigo del licor &uacute; otras adicciones y enemigo del trabajo. Como figura  social de extracci&oacute;n popular a&uacute;n vigente, el camaj&aacute;n deambulaba por la zona de  tolerancia en Cali, rebusc&aacute;ndose y sobreviviendo del cuento, &ldquo;a costillas de  los dem&aacute;s&rdquo;.</p>

<p>Probablemente la palabra nos lleg&oacute; de Cuba, igual que otros  vocablos como &ldquo;ch&eacute;vere&rdquo;, &ldquo;niche&rdquo; o &ldquo;rumba&rdquo;.&nbsp;  Existe una canci&oacute;n de los Hermanos Palau (orquesta cubana de mediados  del siglo XX) donde se describe este personaje urbano y callejero, producto de  cierta marginalidad social, que en la canci&oacute;n es adem&aacute;s, un negro del barrio de  Bel&eacute;n, tradicional asentamiento de afro descendientes habaneros, cuna de la  rumba y el guaguanc&oacute;.&nbsp; Dice as&iacute;:</p>

<p><em>/&quot;Camaj&aacute;n, camaj&aacute;n,  camaj&aacute;n / no seas tan harag&aacute;n / camaj&aacute;n, camaj&aacute;n, camaj&aacute;n / busca trabajo  camaj&aacute;n / hay un tipo popular / en el barrio de Bel&eacute;n / que le gusta vivir bien  / y no quiere trabajar / no sabe m&aacute;s que picar / al amigo y al pariente /y  est&aacute;s hecho un indigente / por no querer trabajar / vive de lo que le dan / con  el cuento y la rutina / cuando lo ven en la esquina / todos gritan camaj&aacute;n! / y  por ser tan harag&aacute;n / en el barrio de Bel&eacute;n / le gritan cuando lo ven / a  trabajar camaj&aacute;n / Ese niche no quiere hacer na' / vive de lo que le dan / con  el cuento y la rutina / y total no quiere hacer na' / Camaj&aacute;n, camaj&aacute;n, camaj&aacute;n  / no seas tan harag&aacute;n / Camaj&aacute;n, camaj&aacute;n, camaj&aacute;n / busca trabajo camaj&aacute;n&rdquo; /.</em></p>

<p>El mismo personaje aparece en la salsa de Nueva York, unos veinte  a&ntilde;os despu&eacute;s con el nombre de &ldquo;Bacalao&rdquo;. Se refiere a un sujeto del Barrio  Latino con caracter&iacute;sticas semejantes, aunque sin la alusi&oacute;n racial, seg&uacute;n el  relato de Willie Col&oacute;n y H&eacute;ctor Lavoe:</p>

<p>&ldquo;Te Conozco&rdquo; (Bacalao)<br />
Letra y M&uacute;sica: Willie Col&oacute;n y H&eacute;ctor Lavoe</p>

<p><em>/ &ldquo;Bacalao ja ja ja salao  / yo te conozco bacalao / no vengas con pugilatos / que tu vienes cada rato /  pidi&eacute;ndome una peseta / te conozco bacalo / conmigo tu no te metas /te conozco  bacalao / no trates de persuadirme / siempre que te veo me dices / mi pana  estoy arrancao / conmigo tu no te metas / te conozco bacalao / salao / tengo  que cerrar las puertas / y ventanas de mi casa / cuando te veo caminar / y pegadito  la pasas / que muchacho tan incordio / que tipo m&aacute;s agarrao / no me vengas con  boberas / te conozco est&aacute;s salao / berembembem bem bao / te conozco bacalao /  aunque vengas disfrazao / te conozco bacalao / aunque vengas disfrazao / eh...  te conozco bacalao / te conozco est&aacute;s salao / te conozco bacalao / aunque  vengas disfrazao / en la parada 25 / se ha montado un bacalao / te conozco  bacalao / aunque vengas disfrazao /&nbsp; un  bacalao / dos bacalaos / tres bacalaos/ cuatro bacalaos / te conozco bacalao /  aunque vengas disfrazao / eh...cuando yo te veo me dices / vete con la mo&ntilde;a a  otro lao / te conozco bacalao / aunque vengas disfrazao /&hellip; /Ayy ten cuidao ten  cuidao / que all&aacute; viene el bacalao / salao / te conozco bacalao / aunque vengas  disfrazao / a patacum cum....bacalao / pata pumpum.... tas salao / te conozco  bacalao/ aunque vengas disfrazao / </em><br />
  <em>eeeh que esa ropa que tu  tienes / es prest&aacute; &acute; de tu cu&ntilde;ao / </em><br />
  <em>te conozco bacalao /  aunque vengas disfrazao / eh...tu no tienes ni un billete / y siempre est&aacute;s  arrancao / te conozco bacalao / aunque vengas disfrazao / te conozco bacalao  /&nbsp; aunque vengas disfrazao / </em><br />
  <em>aay ten cuidao mi bacalao  / que te van allevar arrestao / </em><br />
  <em>te conozco bacalao /  aunque vengas disfrazao / </em><br />
  <em>siempre arrancao / el  bacalao / siempre arrebatao / siempre pelao / te conozco bacalao / aunque  vengas disfrazao / </em><br />
  <em>eeh... ya con tanto  cuento / ya tu me tienes cansao / te conozco bacalao / aunque vengas disfrazao  /aaay dale bacalao / toma bacalao / viene bacalao / cuidado el bacalao /  salao.&rdquo;/</em></p>

<p>Hay una variante del personaje en la&nbsp; canci&oacute;n &ldquo; El T&iacute;tere&rdquo;&nbsp; que alude a otra figura social del Barrio en  Puerto Rico,&nbsp; por lo menos en Ponce donde  se le conoce como &ldquo;T&iacute;tere&rdquo;,&nbsp; aunque con  otras connotaciones relativas a la guaper&iacute;a y la violencia. Es una especie de  vago presumido que alardea de peliador y mujeriego, cuya imagen se repite en  Nueva York,&nbsp; seg&uacute;n la composici&oacute;n de  Louie Ram&iacute;rez:</p>

<p><em>El T&iacute;tere</em></p>

<p><em>/ &ldquo;Yo soy el t&iacute;tere / yo  soy el t&iacute;tere / voy buscando pelea y jeva y to&acute; lo dem&aacute;s / yo soy el t&iacute;tere /  yo soy el t&iacute;tere / soy un tipo atrevido, muy lindo y tambi&eacute;n guapet&oacute;n / yo soy  el t&iacute;tere / bravo soy yo / tengan cuidado / &eacute;chense todos pa&acute;un lado / porque  el t&iacute;tere soy yo / a m&iacute; me dicen guapet&oacute;n / tengo jevas por mont&oacute;n / doy palo,  pu&ntilde;o y bofet&oacute;n / t&iacute;tere, t&iacute;tere, t&iacute;tere&hellip;/ el t&iacute;tere soy yo&hellip;&rdquo;/</em></p>

<p>En las tres formas de representaci&oacute;n se trata de una figura  masculina ligada al barrio popular urbano que bien puede estar en la Habana,  Ponce, Nueva York o en otras ciudades como Cali.</p>


</div>

<div class="modal-footer">

</div>







