<!--<link rel="stylesheet" href="carousel/css/carousel.css" type="text/css"/>-->
<!--<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>				
<script src="js/jquery.mobile-1.0a2.js" type="application/x-javascript" charset="utf-8"></script>-->

<script src="Carousel/js/carousel.js"></script>		

<script src='Carousel/js/jquery.touchSwipe.min.js' ></script>
<!-- start carousel widget html --> 
<!--<div style="height:460px;width:300px;">-->



<div  id="carousel"  class="carousel-content-scroller" >

    <div class="arrow-left"  onclick="carousel.getNext();">  </div>
    <div class="arrow-right" onclick="carousel.getPrevious();">  </div> 

    <div  id="carousel_content"  class="carousel-content" >  </div>
    <img src="Carousel/images/SALSA.jpg" class="imagenMaximos" >

</div>








<!--</div><!-- end carousel widget html -->
<!-- template used for the carousel items -->
<div id="carousel_template" style="display:none ">
    <div class="carousel-item"  style="width: @{ancho}; position:relative; ">


        <div class="component " >
            <!-- Start Nav Structure -->
            <div class="cn-wrapper " >
                <ul>
                    <li><a href="#">  <h1> Presalsa</h1> </a></li>
                    <li><a href="#">  <h1> Salsa  </h1></a></li>
                    <li> <a href="#">  <h1> Siglo 21  </h1> </a></li>

                </ul>
            </div>

            <!-- End Nav Structure -->
        </div>

        @{contenido}



    </div>


</div>


<script>


    
     
    var fondosCarouselItems= new Array();
    function contruirNavigationCarousel() {
        
        
        
        for (x in Navegation.subs){
            
            var ciudad = Navegation.subs[x];
            
            var fondo= "<img class='fondoItemCarousel'   src='"+ciudad.srcCarouselFondo+"' >" ;
            
            var countLugar=1;
            
            
            var botonesCaratulas="";
            for (x2 in ciudad.subs) {
                var lugares = ciudad.subs[x2];
                
                var top =  (countLugar * 11)+5;
               
               
                var linkSalsa="", linkPreSalsa="", linkSigloXXI="";
                for (x3 in lugares.subs) {

                    var etapaSalsa = lugares.subs[x3];
                    
                    
                    if (etapaSalsa.label=="Presalsa" ){
                        linkPreSalsa= etapaSalsa.url;
                        
                    }
                    
                    else if(etapaSalsa.label=="Salsa"){
                        
                        
                        linkSalsa= etapaSalsa.url;
                    } 
                    else if(etapaSalsa.label=="Siglo XXI"){
                        
                        linkSigloXXI= etapaSalsa.url;
                        
                    }
            
                }
                
                
                
                botonesCaratulas = botonesCaratulas +  "<button linkPresalsa='"+linkPreSalsa+"' linkSalsa='"+linkSalsa+"' linkSiglo21='"+linkSigloXXI+"'"+
                    " class ='button_open_navCir  '  style=' top:"+top+"% ; '>"+lugares.label+
                    "</button>";
     
                countLugar++;
                
                
                
                
     
        
            }
    
            fondosCarouselItems.push({
                "title": "",
                "contenido": fondo+botonesCaratulas
            
            });
          
            
           
    
            
     
        
        }
    }
     
    contruirNavigationCarousel();
      
    var carousel = new $.widgets.Carousel({
        uuid: "carousel",
        value: fondosCarouselItems
    });
    
    
    for (x in fondosCarouselItems){
    
        buildNavCircular($("#carousel_item_"+x+" .button_open_navCir"));
    }
    
    
    
    $("#carousel_content .cn-wrapper").css({
        '-moz-transform': 'rotate(-' + 90 + 'deg)',
        '-webkit-transform': 'rotate(-' + 90 + 'deg)',
        '-o-transform': 'rotate(-' + 90 + 'deg)',
        '-ms-transform': 'rotate(-' + 90 + 'deg)',
        'transform': 'rotate(-' + 90 + 'deg)'
    });
    
    /*$(".button_open_navCir").click(function (){
        
        var padre= $(this).parent();
        console.log(padre);
        console.log("click"+padre.find("cn-button").click());
        
        
    });*/
</script>		
<!-- end item template -->								
<!-- content -->


</body>
</html>