<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="Cali/Barrio3/SigloXXI/Imagenes/Escenario/maqueta.jpg" class="hidden-phone fondo">-->
    <img  src="Cali/Barrio3/SigloXXI/Imagenes/Escenario/fondo_cali_barrio3_sigloXXI.jpg" class="hidden-phone fondo">
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio3/SigloXXI/textoFALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="mujer"  src="Cali/Barrio3/SigloXXI/Imagenes/Escenario/mujer.png" class="hidden-phone  positionItem"  
             style="width:5.8%; height:19%; top:57%; left:20.3%;">
        <img id="mujerMovil" src="Cali/Barrio3/SigloXXI/Imagenes/Movil/mujer_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio3/SigloXXI/textoFALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="andresViafara"  src="Cali/Barrio3/SigloXXI/Imagenes/Escenario/andres_viafara.png" class="hidden-phone  positionItem"  
             style="width:11.7%; height:42%; top:57.7%; left:0%;">
        <img id="andresViafaraMovil" src="Cali/Barrio3/SigloXXI/Imagenes/Movil/andres_viafara_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio3/SigloXXI/textoFALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="jimmySaa"  src="Cali/Barrio3/SigloXXI/Imagenes/Escenario/jimmy_saa.png" class="hidden-phone  positionItem"  
             style="width:17.7%; height:39.4%; top:60%; left:11.5%;">
        <img id="jimmySaaMovil" src="Cali/Barrio3/SigloXXI/Imagenes/Movil/jimmy_saa_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio3/SigloXXI/textoFALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="davidGallego"  src="Cali/Barrio3/SigloXXI/Imagenes/Escenario/david_gallego.png" class="hidden-phone  positionItem"  
             style="width:16%; height:43%; top:56.7%; left:58.6%;">
        <img id="davidGallegoMovil" src="Cali/Barrio3/SigloXXI/Imagenes/Movil/david_gallego_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio3/SigloXXI/textoFALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="denilsonIbarguen"  src="Cali/Barrio3/SigloXXI/Imagenes/Escenario/denilson_ibarguen.png" class="hidden-phone  positionItem"  
             style="width:15.4%; height:46%; top:53.7%; left:84.5%;">
        <img id="denilsonIbarguenMovil" src="Cali/Barrio3/SigloXXI/Imagenes/Movil/denilson_ibarguen_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio3/SigloXXI/textoFALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="elBrujo"  src="Cali/Barrio3/SigloXXI/Imagenes/Escenario/el_brujo.png" class="hidden-phone  positionItem"  
             style="width:11.3%; height:44%; top:56%; left:47.5%;">
        <img id="elBrujoMovil" src="Cali/Barrio3/SigloXXI/Imagenes/Movil/el_brujo_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio3/SigloXXI/textoFALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="timbiqui"  src="Cali/Barrio3/SigloXXI/Imagenes/Escenario/timbiqui.png" class="hidden-phone  positionItem"  
             style="width:24%; height:45%; top:55%; left:24%;">
        <img id="timbiquiMovil" src="Cali/Barrio3/SigloXXI/Imagenes/Movil/timbiqui_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio3/SigloXXI/textoFALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="wilsonViveros"  src="Cali/Barrio3/SigloXXI/Imagenes/Escenario/wilson_viveros.png" class="hidden-phone  positionItem"  
             style="width:11.5%; height:46.2%; top:54.2%; left:73.4%;">
        <img id="wilsonViverosMovil" src="Cali/Barrio3/SigloXXI/Imagenes/Movil/wilson_viveros_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
</div>


<script>
    $("a[rel=popover]").popover();
</script>
