<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="NuevaYork/Barrio/Salsa/Imagenes/Escenario/maqueta.jpg" class="hidden-phone fondo">-->
    <img  src="NuevaYork/Barrio/Salsa/Imagenes/Escenario/new_york_salsa_fondo.jpg" class="hidden-phone fondo">

    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Salsa/textoBacalao.html')" 
        data-toggle="tooltip" data-placement="left" title="Bacalao">
        <span class="hidden-tablet hidden-desktop ">Bacalao</span>
        <img id="bacalao"  src="NuevaYork/Barrio/Salsa/Imagenes/Escenario/bacalao.png" class="hidden-phone  positionItem"  
             style="width:5%; height:17.5%; top:83.2%; left:58.4%;">
        <img id="bacalaoMovil" src="NuevaYork/Barrio/Salsa/Imagenes/Movil/bacalao_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Salsa/audioEntrevistaHenryFiol.html')" 
        data-toggle="tooltip" data-placement="left" title="Entrevista Henry Fiol 1986">
        <span class="hidden-tablet hidden-desktop ">Entrevista Henry Fiol 1986</span>
        <img id="bodegaLatina"  src="NuevaYork/Barrio/Salsa/Imagenes/Escenario/bodega_latina.png" class="hidden-phone  positionItem"  
             style="width:14%; height:9.2%; top:67.2%; left:62.7%;">
        <img id="bodegaLatinaMovil" src="NuevaYork/Barrio/Salsa/Imagenes/Movil/bodega_latina_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Salsa/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="eastHarlemCartel"  src="NuevaYork/Barrio/Salsa/Imagenes/Escenario/east_harlem_cartel.png" class="hidden-phone  positionItem"  
             style="width:2%; height:18.5%; top:51.6%; left:38.4%;">
        <img id="eastHarlemCartelMovil" src="NuevaYork/Barrio/Salsa/Imagenes/Movil/east_harlem_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Salsa/videoPeriquitoPinPin.html')" 
        data-toggle="tooltip" data-placement="left" title="Periquito Pin Pin">
        <span class="hidden-tablet hidden-desktop ">Periquito Pin Pin</span>
        <img id="periquitoPinpin"  src="NuevaYork/Barrio/Salsa/Imagenes/Escenario/periquito_pinpin.png" class="hidden-phone  positionItem"  
             style="width:11.2%; height:9.5%; top:81.2%; left:30.7%;">
        <img id="periquitoPinpinMovil" src="NuevaYork/Barrio/Salsa/Imagenes/Movil/periquito_pinpin_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Salsa/textoCeliaCruz.html')" 
        data-toggle="tooltip" data-placement="left" title="Celia Cruz">
        <span class="hidden-tablet hidden-desktop ">Celia Cruz</span>
        <img id="celiaCruz"  src="NuevaYork/Barrio/Salsa/Imagenes/Escenario/celia_cruz.png" class="hidden-phone  positionItem"  
             style="width:11%; height:38.3%; top:62.2%; left:1.7%;">
        <img id="celiaCruzMovil" src="NuevaYork/Barrio/Salsa/Imagenes/Movil/celia_cruz_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Salsa/textoIsmaelRivera.html')" 
        data-toggle="tooltip" data-placement="left" title="Ismael Rivera">
        <span class="hidden-tablet hidden-desktop ">Ismael Rivera</span>
        <img id="ismaelRivera"  src="NuevaYork/Barrio/Salsa/Imagenes/Escenario/ismael_rivera.png" class="hidden-phone  positionItem"  
             style="width:9.4%; height:37.9%; top:61.6%; left:10.3%;">
        <img id="ismaelRiveraMovil" src="NuevaYork/Barrio/Salsa/Imagenes/Movil/ismael_rivera_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Salsa/videoJhonnyPacheco.html')" 
        data-toggle="tooltip" data-placement="left" title="Jhony Pacheco">
        <span class="hidden-tablet hidden-desktop ">Jhony Pacheco</span>
        <img id="johnnyPacheco"  src="NuevaYork/Barrio/Salsa/Imagenes/Escenario/johnny_pacheco.png" class="hidden-phone  positionItem"  
             style="width:8.8%; height:47.2%; top:53.5%; left:26.8%;">
        <img id="johnnyPachecoMovil" src="NuevaYork/Barrio/Salsa/Imagenes/Movil/jhonny_pacheco_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Salsa/videoWillieColon.html')" 
        data-toggle="tooltip" data-placement="left" title="Willie Col&oacute;n">
        <span class="hidden-tablet hidden-desktop ">Willie Col&oacute;n</span>
        <img id="willieColon"  src="NuevaYork/Barrio/Salsa/Imagenes/Escenario/willie_colon.png" class="hidden-phone  positionItem"  
             style="width:8.7%; height:38.4%; top:62.2%; left:44.9%;">
        <img id="willieColonMovil" src="NuevaYork/Barrio/Salsa/Imagenes/Movil/willie_colon_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Salsa/textoHectorLavoe.html')" 
        data-toggle="tooltip" data-placement="left" title="Hector Lavoe">
        <span class="hidden-tablet hidden-desktop ">Hector Lavoe</span>
        <img id="hectorLavoe"  src="NuevaYork/Barrio/Salsa/Imagenes/Escenario/hector_lavoe.png" class="hidden-phone  positionItem"  
             style="width:11.7%; height:40.5%; top:60.5%; left:50.6%;">
        <img id="hectorLavoeMovil" src="NuevaYork/Barrio/Salsa/Imagenes/Movil/hector_lavoe_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Salsa/textoEddiePalmieri.html')" 
        data-toggle="tooltip" data-placement="left" title="Eddie Palmieri">
        <span class="hidden-tablet hidden-desktop ">Eddie Palmieri</span>
        <img id="eddiePalmieri"  src="NuevaYork/Barrio/Salsa/Imagenes/Escenario/eddie_palmieri.png" class="hidden-phone  positionItem"  
             style="width:8%; height:39%; top:61.2%; left:74.7%;">
        <img id="eddiePalmieriMovil" src="NuevaYork/Barrio/Salsa/Imagenes/Movil/eddie_palmieri_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Salsa/textoCharliePalmieri.html')" 
        data-toggle="tooltip" data-placement="left" title="Charlie Palmieri">
        <span class="hidden-tablet hidden-desktop ">Charlie Palmieri</span>
        <img id="charliePalmieri"  src="NuevaYork/Barrio/Salsa/Imagenes/Escenario/charlie_palmieri.png" class="hidden-phone  positionItem"  
             style="width:9.6%; height:39.7%; top:61.2%; left:80.6%;">
        <img id="charliePalmieriMovil" src="NuevaYork/Barrio/Salsa/Imagenes/Movil/charlie_palmieri_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Salsa/textoRubenBlades.html')" 
        data-toggle="tooltip" data-placement="left" title="Rub&eacute;n Blades">
        <span class="hidden-tablet hidden-desktop ">Rub&eacute;n Blades</span>
        <img id="rubenBlades"  src="NuevaYork/Barrio/Salsa/Imagenes/Escenario/ruben_blades.png" class="hidden-phone  positionItem"  
             style="width:8.8%; height:39.5%; top:60.4%; left:90.4%;">
        <img id="rubenBladesMovil" src="NuevaYork/Barrio/Salsa/Imagenes/Movil/ruben_blades_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
</div>

<script>
    $("a[rel=popover]").popover();
</script>
