<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Eddie Palmieri en Cali: El tiempo ser&aacute; testigo</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p><strong>Por: Alejandro Ulloa S.</strong></p>
	<p>Para quienes hab&iacute;amos esperado con la fe del creyente que procura una revelaci&oacute;n en el ritual sagrado, el concierto de Eddie Palmieri y La Perfecta II era una bendici&oacute;n anunciada. Aunque muchos se preguntaban si ser&iacute;a realidad, el concierto inaugural de la Feria de Cali significaba el encuentro cara a cara de la capital de la salsa con el creador m&aacute;s importante que a&uacute;n permanece vivo. Cuando un sector del p&uacute;blico empez&oacute; a irse, comenz&oacute; lo mejor. O no sab&iacute;an quien era Palmieri o no les interesaba. La amenaza de lluvia espant&oacute; a quienes abandonaron el estadio, mientras sus fieles adeptos permanec&iacute;amos en pie. Pod&iacute;a venirse el cielo encima que no nos mover&iacute;amos. Poco a poco fueron llegando las canciones: &ldquo;Mu&ntilde;eca&rdquo;, &ldquo;Oye lo que te conviene&rdquo;, &ldquo;Suj&eacute;tate la lengua&rdquo;&hellip; y una parte del repertorio que grab&oacute; con La Perfecta entre 1961 y 1968. Aunque no eran los mismos m&uacute;sicos de aquel entonces, s&iacute; eran tan importantes como ellos y de igual calidad. Una n&oacute;mina de lujo encabezada por Herman Olivera, &ldquo;El sonero del siglo XXI&rdquo;, acompa&ntilde;ado por Ray Viera en los coros y el resto de la banda que respondi&oacute; con creces a las expectativas de los salseros.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/eddie_palmieri.png">
		<figcaption>El Maestro Eddie Palmieri con toda su dignidad&hellip; durante el concierto con La Perfecta II en el Parque de la M&uacute;sica. Cali, diciembre 26 de 2009.</figcaption>
	</figure>
	
	<p><strong>Lluvia de tu cielo</strong></p>
	<p>Despu&eacute;s de un hurac&aacute;n de melod&iacute;a, la Orquesta decidi&oacute; complacer a unos cuantos seguidores que en primera fila ped&iacute;an con vehemencia &rdquo;Un cachito pa&acute;huel&eacute;&rdquo;. De tanto insistir, y cuando ya no lo esperaban, sonaron los primeros acordes. Con la maestr&iacute;a del sonero que est&aacute; en clave, Herm&aacute;n Olivera enton&oacute; la frase irreverente: &ldquo;Ahora que mama no est&aacute; aqu&iacute;, Dame un cachito pa&acute;huel&eacute;&rdquo;. Y a medida que galopaba en el montuno, del cielo empezaron a caer nuevas bendiciones. Gruesas gotas transparentes descend&iacute;an vertiginosas sobre nuestros cuerpos henchidos de ritmo.</p>
	<p>Una tormenta diluvial cay&oacute; sobre Cali, como si toda la orquesta hubiera sacudido el firmamento, y los trombones de ConradHerwig y Jimmy Bosch hubieran convocado a las nubes; y el piano de Eddie hubiera atra&iacute;do todos los rayos que Chang&oacute; ten&iacute;a reservados para nosotros; y el peque&ntilde;o Jhonny hubiera tocado las puertas del m&aacute;s all&aacute; con sus tumbadoras; y Bryan Lynch abriera las puertas del m&aacute;s ac&aacute; con su trompeta, para que Karen Joseph entrara con su melodiosa flauta a improvisar. La notas ascend&iacute;an al cielo en espiral, en contrav&iacute;a de una lluvia que arreciaba. Truenos y rel&aacute;mpagos fulguraban m&aacute;s all&aacute; del horizonte. &ldquo;Zarabanda, Chang&oacute; ta&acute;ven&iacute;&rdquo;. &ldquo;Ahora que mama no est&aacute; aqu&iacute;, dame un cachito pa&acute;huel&eacute;&hellip;&rdquo; Kabiosilepa&acute;Chang&oacute;.</p>	
		
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/eddie_palmieri2.png">
		<figcaption>Eddie Palmieri y  Nelson Gonz&aacute;lez en un di&aacute;logo mel&oacute;dico y percusivo entre el piano y el tres.  Parque de la M&uacute;sica. Cali, diciembre 26 de 2009.</figcaption>
	</figure>
	
	<p>Despu&eacute;s de todo, los que permanecimos hasta el final, fuimos redimidos por la m&uacute;sica de La Perfecta II y la intensa lluvia fresca sobre Cali. Ambas ven&iacute;an del mismo cielo. Los que se fueron nunca sabr&aacute;n lo que se perdieron. Al fin y al cabo, al d&iacute;a siguiente un nuevo concierto les dar&iacute;a la oportunidad de desquitarse en el Parque de la M&uacute;sica, donde estar&iacute;an todos los que son&hellip;y los que pudieron asistir. Era el s&aacute;bado 26 de diciembre de 2009. El Encuentro de Mel&oacute;manos y Coleccionistas creado en Cali por Gary Dom&iacute;nguez en 1991 llegaba ahora a su punto culminante, con Eddie Plamieri y La Perfecta Dos, tra&iacute;dos por Corfecali como un regalo para los salseros de la ciudad que ve&iacute;an cumplir un sue&ntilde;o. Un regalo de navidad y a&ntilde;o nuevo que la alcald&iacute;a entregaba generosamente para la feria de este a&ntilde;o.</p>
	<p>A las diez de la noche ya era imposible llegar al parque. Una inmensa alegr&iacute;a desbordaba todo lo previsto. Una poderosa energ&iacute;a se multiplicaba en cada aliento, mientras los m&uacute;sicos ocupaban la tarima. Cientos de campaneros lo recibieron aplaudiendo con el hierro, tocando una clave colectiva. Primero fue &ldquo;El molestoso&rdquo;, &ldquo;Yo quisiera saber, lo que te molesta de m&iacute;&hellip;&rdquo; Luego, &ldquo;C&uacute;idatecompay, no creas en nadie&hellip;&rdquo; Un mensaje duro, del m&aacute;s puro escepticismo, el de los incr&eacute;dulos radicales. Hay ya tan poco en que creer&hellip;pero todav&iacute;a vale la pena amar. Palmieri sostiene el tumbao con la base r&iacute;tmica que le acompa&ntilde;a y el bajo de Luques Curtis. Nelson Gonz&aacute;lez tresea frente al piano en un contrapunto de miradas y sonrisas c&oacute;mplices que la audiencia disfruta plenamente. Las cuerdas, al igual que las teclas y los cueros, bailan de mano en mano, ante un p&uacute;blico absorto. Esa noche, Eddie Palmieri nos regal&oacute; el alma.</p>	
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/eddie_palmieri3.png">
		<figcaption>En el centro el maestro Eddie Palmieri. A la izquierda el autor y a la derecha Gary Dom&iacute;nguez. Foto: Gilberto C&aacute;rdenas.</figcaption>
	</figure>
	
	<p><strong>&ldquo;Oye lo que te conviene&hellip;&rdquo;</strong></p>
	<p>La noche avanza y la temperatura sube, como en la canci&oacute;n de los Lebr&oacute;n&hellip; &ldquo;Oye lo que te conviene&hellip;&rdquo; sonea Olivera, Ray Viera corea a su lado. Jimmy Bosch trombonea como si tocara el bong&oacute;, prapraprapr&aacute;&hellip; cutucupr&aacute;cupr&aacute;&hellip;&rdquo;tienes que bailarlo al comp&aacute;s de la clave&hellip;Oiga mire vea &ndash; canta Olivera &ndash; del puente para ac&aacute; est&aacute; Cali&hellip; del puente para all&aacute; es Juanchito&rdquo;. Luego la descarga del peque&ntilde;o Jhonny en las congas que se agitan con el timbal de Jos&eacute; Clausell antes de que ConradHerwig empuje la vara del tromb&oacute;n. Conrad ataca y Jimmy Bosch le responde con un registro menos grave. La briosa trompeta de Bryan Lynch entra en el juego. Es su turno y no puede quedarse atr&aacute;s, aunque est&eacute; atr&aacute;s en la &uacute;ltima fila de la orquesta. En el primer comp&aacute;s, se recuerda acompa&ntilde;ando a H&eacute;ctor Lavoe en los 80, tocando en Juan Pachanga cuando Juanchito era Juanchito&hellip;Lynch lo recuerda malicioso, pero el tr&iacute;o de vientos se atraviesa en la memoria con una mo&ntilde;a ahora m&aacute;s intensa. Trombones, trompeta y flauta dise&ntilde;an su propia ruta melodiosa. Otra vez se soltaron los caballos. Polifon&iacute;a celestial.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/eddie_palmieri4.png">
		<figcaption>&ldquo;Oye lo que te conviene&hellip;&rdquo; Parque de la M&uacute;sica. Cali, diciembre 26 de 2009.</figcaption>
	</figure>
	
	<p>El p&uacute;blico en el parque se apretuja. Lo vendedores de m&uacute;sica ya no tienen clientes ni curiosos merodeando sus puestos. S&oacute;lo hay atenciones para Palmieri y la Perfecta Dos. Todos los mel&oacute;manos est&aacute;n en su salsa. A quien no le gusta esa malanga&hellip;&ldquo;Est&aacute; caliente el ajiaco, la sopa quema la boca&hellip;&rdquo; Otra vez resuenan los trombones, Barry Rogers debe estar feliz, Mark Weinstein, Jos&eacute; Rodr&iacute;guez y Joe Donato tambi&eacute;n. Sus colegas de hoy son tan buenos como ellos hace 50 a&ntilde;os, aunque tengan su propio estilo. &ldquo;Esa malanga, quema la boca, enfr&iacute;ala un poco para comerla sabrosa&hellip;.&rdquo;Ay que buena est&aacute;&rdquo;, dice Olivera&hellip;&rdquo;Malanga&rdquo;, canta el coro multitudinario liderado por Ray Viera&hellip;El sonero contin&uacute;a: &ldquo;a qui&eacute;n no le gusta esa malanga&hellip;barriguita llena, coraz&oacute;n contento.&rdquo; EL obligado de bajo pasa a primer plano. Luques Curtis sostiene la armon&iacute;a, sus dedos recorren el bajo con determinaci&oacute;n, como el que acaricia una mujer en lo m&aacute;s &iacute;ntimo. El bong&oacute; acompa&ntilde;a la mo&ntilde;a, la campana retumba al lado del tromb&oacute;n, campanea bongosero que la polirritmia te llama. En el climax del ritmo la flauta de Karen Joseph se recrea como un jilguero en lo m&aacute;s alto del &aacute;rbol. &ldquo;Tir&aacute;ndote flores, Tir&aacute;ndote flores&hellip; que yo te tiro mis flores&hellip;&rdquo; y el p&uacute;blico corea el montuno en un son afincao que nos recuerda al Bobby Valent&iacute;n. Otra vez ConradHerwig con su vara y su tromb&oacute;n, los tres en uno. Como un cami&oacute;n en la avenida, las notas del tromb&oacute;n rompen el horizonte y sus secretos. Parecen los vientos del apocal&iacute;psis. Con la potencia de un tromb&oacute;n, no hay virgen que se salve. Jos&eacute; Claussell apenas baila con sus brazos largos y su pelo ensortijado como los brujos de la tribu. El cascareo del timbal avanza en medio de los cortes y repiques que improvisan sus manos. El piano de Palmieri, el bajo de Curtis y el tres de Nelson Gonz&aacute;lez conversan frente a un p&uacute;blico incapaz de bailar. No hay espacio ni tiempo para hacerlo. Este es un concierto para mirar y escuchar con todos los sentidos. Es la Perfecta y verdadera audici&oacute;n de los mel&oacute;manos. Vista hace fe. Un bong&oacute; suelto se acelera como llamando la atenci&oacute;n contra el olvido. El muchacho no tiene cara de ser un m&uacute;sico celestial. Orlando Vega en el bong&oacute; parece apenas lo que es: un joven mulato como cualquiera del Caribe, o del Pac&iacute;fico, o de Cali. &ldquo;Y yo tir&aacute;ndote&rdquo;, pregona el sonero&hellip;&rdquo;y yo tir&aacute;ndote&rdquo;, replica el coro, antes del interludio. ConradHerwig sacude su pierna izquierda, levanta su brazo derecho y dispara un ca&ntilde;onazo contra los piratas del mal gusto. Jimmy Bosch le riposta y Brian Lynch se mete en la controversia. El mambo diablo de Arsenio nunca hab&iacute;a sido tan especial. Un mambo inolvidable, una mo&ntilde;a inmortal. Eddie Palmieri en Cali. El tiempo ser&aacute; testigo.</p>
	<p>El s&oacute;lo de piano invoca la solemnidad del rito colectivo. El maestro est&aacute; en lo suyo, mira de paso al p&uacute;blico que lo mira y las miradas se multiplican. Las teclas r&iacute;en y lloran a la vez con una improvisaci&oacute;n que viene de lo m&aacute;s profundo. Con Nelson Gonz&aacute;lez rinden homenajes a tantos m&uacute;sicos que ya no est&aacute;n. Es una larga rapsodia hecha de fragmentos que todos llevamos en la memoria. Claussell y el cascareo discreto en los costados del timbal, tambi&eacute;n homenajean al piano cuando est&aacute; en el centro del concierto. El p&uacute;blico responde agradecido&hellip; estupefacto. &ldquo;Y yo tir&aacute;ndote&rdquo; - dice Olivera &ndash; &ldquo;Quiero comprarte una casa en Cali o en Palmira&hellip;&rdquo; &iquest;A qui&eacute;n le estar&aacute; cantando?.</p>
	<p>Una suite sutil y delicada brota de los dedos de Palmieri, como un preludio a su &ldquo;Mu&ntilde;eca&rdquo;. Es la introducci&oacute;n de &ldquo;Colombia te canto&rdquo;, compuesto por &eacute;l y su hermano Charlie e interpretado por ambos. Una canci&oacute;n que tiene a Cali como protagonista, con sus bailaderos de los a&ntilde;os 70 y sus bailadores de siempre. La suite es un homenaje a su hermano que tambi&eacute;n anda muy campante por el parque. Siempre aparece en sus conciertos sin que Eddie lo advierta, y cuando lo siente no queda m&aacute;s remedio que dejarlo tocar como &eacute;l lo hac&iacute;a. &ldquo;Ay mi mu&ntilde;eca perd&oacute;name&rdquo;, canta Olivera&hellip;&rdquo;Me encontraste en los brazos de otra nena&hellip;y yo te juro que no lo hago m&aacute;s&hellip; Ay mi mu&ntilde;eca perd&oacute;name&hellip;quiero besar tu boquita, decirte tantas cositas&hellip;&rdquo; Es amor del bueno, del que tanto necesita la humanidad, sobretodo este pa&iacute;s&hellip; y esta ciudad. Jimmy Bosch ha vuelto al frente, es peque&ntilde;o pero se agiganta con el tromb&oacute;n, jugando a nuevas melod&iacute;as con sus compa&ntilde;eros de mesa. Olivera vuelve a pedir perd&oacute;n, pero &eacute;l ya est&aacute; perdonado, en esta vida y en la otra&hellip; &ldquo;Te quiero m&aacute;s que a mi vida, m&aacute;s que a mi vida te quiero pero m&aacute;s quiero a mi vida porque sin ella me muero&hellip;Ay mi mu&ntilde;eca perd&oacute;name&hellip;&rdquo; Algo nos evoca a Ismael Quintana, pero no es hora de hacer comparaciones. Interludio de bajo y piano, campanea bongosero, conguea tumbador que la mu&ntilde;eca ya te perdon&oacute;. La mu&ntilde;eca est&aacute; feliz y nosotros tambi&eacute;n. El di&aacute;logo no se detiene, piano con bajo, bajo con piano. Es un intercambio fraterno que parece de padre a hijo, de abuelo a nieto. Palmieri con setenta y tres diciembres encima y Curtis con apenas veintitr&eacute;s. Hay 50 almanaques de por medio pero un solo esp&iacute;ritu en la m&uacute;sica que los une. Es &ldquo;la buena noche con la Perfecta&rdquo;, dice Olivera. Ahora Jos&eacute; Claussell se suelta con sus baquetas bailando sobre los timbales, mientras Eddie Palmieri inicia un solo de piano antes de que Olivera contin&uacute;e: &ldquo;Siento tanta alegr&iacute;a, me siento sabroso, s&iacute; Cali, con la Perfecta, la predilecta, L&aacute;zaro y su micr&oacute;fono&hellip;&rdquo; Ya viene el danz&oacute;n y Karen Joseph enflautada, porque ella y su flauta son una sola, como el roc&iacute;o y la flor a la hora del encuentro.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/eddie_palmieri5.png">
		<figcaption>&ldquo;Oye lo que te conviene&hellip;&rdquo; Parque de la M&uacute;sica. Cali, diciembre 26 de 2009.</figcaption>
	</figure>
	
	<p><strong>&ldquo;Az&uacute;car pa&acute;ti&hellip;&rdquo; </strong></p>
	<p>Se acerca el final y &ldquo;el ritmo que traigo es az&uacute;car, az&uacute;car pa&acute;ti&rdquo;. Az&uacute;car pa&acute;Cali canta el tromb&oacute;n, y Karen que baila, y Olivera que pregona: &ldquo;melaopa&acute;l sapo, el sapo quiere melao, chumba la cateram&aacute;quinolandera, oye c&oacute;mo va, mi ritmo, bueno pa&acute;gozar&hellip;&rdquo; y m&aacute;s az&uacute;car pa&acute;ti y m&aacute;s az&uacute;car pa&acute;Cali. Esto s&iacute; es salsa caballero. El sapo quiere melao y Bryan Lynch se lo sirve en los riffs de la trompeta. B&aacute;barabatiri, Azuquita pa&acute;ti&hellip;&rdquo; Batakumta - ta, &ldquo;v&aacute;monos pa&acute;l monte que el monte me gusta m&aacute;s, aqu&iacute; en las grandes ciudades se acerca la depresi&oacute;n, aqu&iacute; en las grandes ciudades se acerca la represi&oacute;n&hellip;&rdquo;. Prapraprapra, retumba el tromb&oacute;n de Conrad. Prapraprapra, una bomba va a estallar, pero no se preocupen los de la seguridad democr&aacute;tica, que esta es una bomba de alegr&iacute;a, no de las que matan por matar. Salsa y placer hasta vencer.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/la_perfecta.png">
		<figcaption>La Perfecta II: Palmieri en el piano, Nelson Gonz&aacute;lez en el tres, Herman Olivera soneando - al centro - y Ray Viera en la maracas. A la derecha y de espalda, Karen Joseph en la flauta. Atr&aacute;s el peque&ntilde;o Jhonny en las congas y Jos&eacute; Claussell en el timbal.</figcaption>
	</figure>
	
	<p><strong>&ldquo;V&aacute;monos pa&acute;l monte&hellip;&rdquo;</strong></p>
	<p>&ldquo;V&aacute;monos pa&acute;l monte que el monte me gusta m&aacute;s&hellip;&rdquo; Y pa&acute;los que les gusta el monte, &iexcl;que viva la personal !. Ahora siguen los mambos, el mambo diablo de Arsenio, una mo&ntilde;a pa&acute; guarachar. El tromb&oacute;n de Conrad y luego Bosch, &ldquo;este mundo est&aacute; travieso&hellip; y peligroso&rdquo;, sonea Olivera, &ldquo;dicen que poquito a poco se acerca la represi&oacute;n&rdquo;, nuevos vientos al un&iacute;sono, buenos vientos buena mar. El parque est&aacute; que se cae, pero no tiene donde caer. Es el templo sagrado de la salsa en Cali. De nuevo un corte para que ataque el maestro, m&aacute;s piano en memoria de Charlie, y una descarga de Jimmy Bosch para que el p&uacute;blico enloquezca. Y luego Herwig, y luego Lynch, alternando las notas graves y las agudas, con los registros medios, mientras Nelson Gonz&aacute;lez con su tres parece un cuatro en la tarima. Es Eddie Palmieri y la Perfecta Dos. Palmieri y su banda est&aacute;n en trance, el p&uacute;blico tambi&eacute;n. Al final, un solo de Jos&eacute; Claussell, a manera de despedida en los timbales. Y por &uacute;ltimo, una descarga inolvidable del peque&ntilde;o Jhonny volando muy alto sobre las tres tumbadoras. Son los vientos del apocal&iacute;psis, el mundo se va a acabar, que bueno que acabe as&iacute;, porque despu&eacute;s de ver esto, uno puede morirse, tranquilamente feliz.</p>
	<p>Nadie quiere moverse de su sitio. Las diez mil personas que se abarrotaron para este bautizo colectivo de la salseridad est&aacute;n plenamente satisfechas. Dicen que la m&uacute;sica es lo m&aacute;s parecido a Dios. Despu&eacute;s de ver a Eddie Palmieri en Cali, la gente puede creer en &eacute;l. Nosotros seguimos confiando en los orichas.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/brian_lynch.png">
		<figcaption>Brian Lynch en la trompeta. Parque de la M&uacute;sica. Cali, diciembre 26 de 2009.</figcaption>
	</figure>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/jimmy_bosch.png">
		<figcaption>immy Bosch en el tromb&oacute;n, complementa la cuerda de vientos&hellip; Parque de la M&uacute;sica. Cali, diciembre 26 de 2009.</figcaption>
	</figure>	

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
