<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">DE LA PRE-SALSA A La Salsa: entre Cuba, Nueva York y Puerto  Rico</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>Alimentada desde Cuba y Puerto Rico, la salsa surgi&oacute; en el Barrio Latino, entre el Harlem Hispano y el sur del Bronx. El Barrio Latino, Spanish Harlem, es producto de la migraci&oacute;n puertorrique&ntilde;a a Nueva York, iniciada a comienzos del siglo XX e incrementada despu&eacute;s de 1917 cuando E.U. otorg&oacute; la ciudadan&iacute;a norteamericana a los puertorrique&ntilde;os que lo desearan. Una parte del Barrio hab&iacute;a sido colonizada entre 1880 y 1910 por italianos, que hacia los a&ntilde;os treinta era la comunidad m&aacute;s grande de inmigrantes en la ciudad. Otra &aacute;rea fue colonizada por inmigrantes caribe&ntilde;os desde los a&ntilde;os 20, principalmente puertorrique&ntilde;os, lo que dio origen al nombre del barrio &laquo;Spanish Harlem&raquo;, o Barrio Latino, en la d&eacute;cada del 40.</p>
	<p>La inmigraci&oacute;n italiana y puertorrique&ntilde;a llegaba hasta el South Bronx, a donde continuaban arribando pobladores del Caribe. De ese cruce afortunado saldr&iacute;an los hermanos Palmieri, hijos de padre puertorrique&ntilde;o descendiente de italianos que emigr&oacute; a Nueva York donde nacieron sus dos hijos, Charlie y Eddie Palmieri. Ambos se destacaron como l&iacute;deres de la generaci&oacute;n vanguardista que cre&oacute; la salsa, influenciados por la m&uacute;sica cubana en la capital del mundo. En el South Bronx, los Palmieri hac&iacute;an parte de una comunidad donde viv&iacute;an adem&aacute;s otros m&uacute;sicos, entre ellos, Tito Rodr&iacute;guez, Orlando Mar&iacute;n, Joe Quijano, Manny Oquendo, Willie Rosario, Machito y el &ldquo;Ciego Maravilloso&rdquo; Arsenio Rodr&iacute;guez. Tambi&eacute;n moraban en el Bronx el productor Al Santiago creador de la Alegre All Stars, con que se inicia la salsa, y los cronistas Ren&eacute; L&oacute;pez y Max Salazar, que documentar&iacute;an el proceso con el correr de los a&ntilde;os.</p>
	<p>Alternando el quehacer musical con el juego de stick ball, los muchachos sol&iacute;an pasar sus ratos libres en alguna calle que qued&oacute; grabada en una esquina de la memoria. Varios de ellos evocan la tienda de dulces &laquo;El Mambo&raquo; de la familia Palmieri en la calle Kelly con avenida Longwood, a finales de los a&ntilde;os 40. All&iacute;, desde una victrola, sal&iacute;a el fren&eacute;tico ritmo que los j&oacute;venes bailaban al aire libre, mientras hac&iacute;an del lugar un punto de encuentro. &laquo;La tienda era dirigida por el padre de Eddie Palmieri y pas&aacute;bamos mucho tiempo all&iacute;&hellip;siempre ten&iacute;an los mejores discos&hellip;sol&iacute;amos bailar en esa tiendecita. Jug&aacute;bamos pelota callejera en la calle Kelly y bail&aacute;bamos todas las noches&raquo;, cuenta Louie Mercado, citado por. Roberta S&iacute;nger y Elena Mart&iacute;nez en su estudio sobre &laquo;El panorama en el sur del Bronx y los primeros a&ntilde;os en el Este del Harlem. Una historia musical latina en el sur del Bronx&raquo;.</p>

	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/palmieri_brothers.png">
		<figcaption>The Palmieri brothers.</figcaption>
	</figure>
	
	<p>El South Bronx hab&iacute;a sido colonizado inicialmente por italianos, jud&iacute;os y algunos irlandeses, que al desplazarse a otros enclaves, dejaron el campo a los inmigrantes puertorrique&ntilde;os. Estos convivieron con los afroamericanos nativos, separados por el idioma pero unidos por la discriminaci&oacute;n de que eran v&iacute;ctimas y por el nombre con que eran identificados: Bronxites. Los proyectos de vivienda y renovaci&oacute;n urbana, al igual que la movilidad social y los desplazamientos internos de inmigrantes blancos a otros espacios, estimularon los asentamientos de los caribe&ntilde;os que arribaban a Nueva York, al promediar el Siglo XX.</p>
	<p>La migraci&oacute;n puertorrique&ntilde;a fue consecuencia de la pobreza en el sector rural de la isla, la falta de trabajo, pero tambi&eacute;n por las nuevas oportunidades de empleo calificado y no calificado que surg&iacute;an en la costa este de los Estados Unidos, sobretodo despu&eacute;s de la segunda guerra mundial. Esa experiencia n&oacute;mada, se expresa salseramente en la canci&oacute;n &laquo;El migrante&raquo;, interpretada por Ernie Agosto y La Conspiraci&oacute;n:</p>
	<p> /&raquo;Ayer / muy de ma&ntilde;anita / tuve que dejar mi tierra / con el alma hecha pedazos / me desped&iacute; de mi vieja / le dije no sufras madre / que muy pronto he de volver / me voy a ganar dinero / para poderlos mantener / a un exilio involuntario / me conden&oacute; la pobreza / siendo mi patria tan rica / tuve que irme a otra tierra / siempre viviendo escondido / por miedo a la autoridad / y con mucho sacrificio / tuve que ganarme el pan /&hellip; /Dej&eacute; mi tierra tan querida / me fui en busca de fortuna /&hellip; Emigrante soy&hellip;&raquo;/.</p>
	<p>Ernie Agosto, Director de La Conspiraci&oacute;n, una de las bandas j&oacute;venes con sabor a Barrio surgida al comenzar los 70&acute;s. El esp&iacute;ritu contestatario se evidenci&oacute; en sus canciones:&ldquo;La juventud que no quiere al establecimiento... &ldquo;Yo tengo poder, poder para vencer&hellip;&rdquo;</p>
	<p>Negros, mulatos y mestizos pobres, muchos de ellos trabajadores agr&iacute;colas, o campesinos rasos (jibaritos) terminaron como obreros en f&aacute;bricas norteamericanas. Otros inmigrantes, o sus hijos, fueron al ej&eacute;rcito, incluidos los m&uacute;sicos (Daniel Santos, Tito Puente, H&eacute;ctor Rivera, Ray Barretto, Willie Rosario, Nacho Sanabria&hellip;) y muchos sobrevivieron en el rebusque cotidiano, tanto en Brooklin como en Harlem y en el Bronx.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/musico.png">
		<figcaption></figcaption>
	</figure>
	
	<p>Aunque la denominaci&oacute;n de Barrio Latino se refiere espec&iacute;ficamente al Harlem Hispano, para nuestro an&aacute;lisis, el &laquo;Barrio Latino&raquo; abarca tanto el Spanish Harlem al este de Manhattan, como el South Bronx, al otro lado del Harlem River. Hay entre estos dos espacios una continuidad sociocultural que propicia las condiciones para la creaci&oacute;n y el desarrollo de la salsa en Nueva York.</p>
	<p>La comunidad latina se expand&iacute;a por ambos barrios hasta donde llegaban los inmigrantes Caribe&ntilde;os con su maleta de ilusiones buscando el sue&ntilde;o americano. Y es all&iacute; donde la salsa germina y crece como un discurso musical rico en textos, melod&iacute;as, ritmos y armon&iacute;as. La marginalidad y la segregaci&oacute;n, el racismo y el estigma social, con todos los problemas derivados de la pobreza, son el caldo de cultivo para que surja la salsa como una expresi&oacute;n musical que representa el sentimiento del Barrio, sus dramas, personajes e historias. Es la manifestaci&oacute;n est&eacute;tico musical de una comunidad culturalmente distinta de la sociedad dominante, anglosajona, blanca y protestante. Y esta diferencia de la otredad se proyect&oacute; sonoramente cantando en espa&ntilde;ol y en spanglish, esa lengua h&iacute;brida creada durante el mismo proceso en que se cre&oacute; la salsa, como una hibridaci&oacute;n musical surgida de la misma comunidad.</p>
	<p>El trombonista Marco Katz recuerda al gigante Charlie Palmieri cuando grab&oacute; con &eacute; l The Heavy Weight.</p>
	
	<video id="videoTitoRodriguez">
		<source src="NuevaYork/Barrio/Salsa/Videos/charlie_parmieri.mp4" type="video/mp4">
		<source src="NuevaYork/Barrio/Salsa/Videos/charlie_parmieri.ogg" type="video/ogg">
		Your browser does not support HTML5 video.
	</video>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/salsiology.png">
		<figcaption>Salsiology.</figcaption>
	</figure>
	
	<p><strong>Charlie Palmieri: El Gigante de la Salsa.</strong></p>
	<p>Uno de los l&iacute;deres en la creaci&oacute;n de la salsa en Nueva York fue el pianista Charlie Palmieri, quien, hacia 1960 dirig&iacute;a simult&aacute;neamente su charanga La Duboney y la Alegre All Stars. Los dos grupos eran paralelos pero diferentes en estilos, en realizaciones y resultados. En ambos procesos pelechaba la salsa, una criatura juguetona y alegre, como lo reconocen los mismos artistas, que la bautizaron reci&eacute;n nacida. El t&eacute;rmino salsa estaba ya en boga, al menos entre los m&uacute;sicos que la crearon, como lo evidencian las siguientes canciones grabadas entonces para el sello Alegre:</p>
	<p>1-&ldquo;Ritmo caliente&rdquo; Eddie Palmieri y La Perfecta (1961), canta Ismael Quintana. El &laquo;n&uacute;mero&raquo; comienza con el piano de Palmieri y la voz de Ismael Quintana: /&rdquo;El ritmo caliente/ me gusta el ambiente/ mi ritmo con salsa/ con tromb&oacute;n y flauta/ Palmieri y la Perfecta/ tocando la fiesta&hellip;&raquo; LP Eddie Palmieri and his Conjunto &laquo;La Perfecta&raquo; - Volcals by: Ismael Quintana - Alegre Records LPA 817 Eddie Palmieri Vol. 1 Al Santiago.</p>
	<p>2-&ldquo;No hace falta papel&rdquo; Alegre All Stars, dirigida por Charlie Palmieri. Canta Cheo Feliciano (1962).</p>
	<p>3- En 1963 Charlie Palmieri produce su LP &laquo;Salsa na&acute; m&aacute;&raquo; para el mismo sello Alegre Records pero no con la All Stars sino con La Duboney. El larga duraci&oacute;n es presentado por Al Santiago explicando el porqu&eacute; del t&eacute;rmino salsa; y en la canci&oacute;n que interpreta Henny Alvarez con el mismo t&iacute;tulo, el coro alude a la salsa como el sabor musical del baile y el goce del ritmo. 4- Probablemente en el mismo a&ntilde;o, en el tema &laquo;Guajira in F minor&raquo;, cantada por V&iacute;ctor Vel&aacute;squez, se pronuncia la misma frase cuando Charlie Palmieri le entra al piano: &laquo;Salsa na&acute;m&aacute;&acute;&raquo;. Y dice: /&rdquo;Mi guajira/ te traigo mi son/que tiene salsa/ y es juguet&oacute;n&hellip;&rdquo;/ (Alegre, All Stars - Volumen 3 ).</p>
	<p>5- La palabra aparece tambi&eacute;n en el t&iacute;tulo de otra canci&oacute;n:Salsa y Bemb&eacute;, composici&oacute;n de Jimmy Sabater grabada por el Sexteto de Joe Cuba en 1962 y cantada por Cheo Feliciano. ( LP Steppin Out - Seeco Records) &laquo;- Us&eacute; la palabra salsa para describir la m&uacute;sica, no la comida&raquo; - dijo alguna vez Jimmy Sabater. Ver :Max Salazar, Salsa Origins, en Latin Beat - Volume 1 number 10, Gardena, California, november 1991 - p&aacute;g. 9.).</p>
	<p>6- Finalmente, en 1964, el vibrafonista Cal Tjader grab&oacute; el &aacute;lbum Soul Sauce utilizando el t&eacute;rmino en ingl&eacute;s aunque con un sentido semejante.</p>
	<p><strong>Charlie Palmieri y El Manicero: Los pasos de un &laquo;Gigante&raquo;.</strong></p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/charlie_palmieri.png">
		<figcaption>Charlie Palmieri y su charanga &ldquo;La Duboney&rdquo;.</figcaption>
	</figure>
	
	<p>El proceso de continuidad y ruptura de la salsa con respecto a la m&uacute;sica cubana en Nueva York, prosigue con las innovaciones de Charlie Palmieri, que ataca en dos frentes simult&aacute;neos: con su charanga La Duboney y con las Estrellas Alegre que tambi&eacute;n dirige. Por un lado, La Duboney creada en 1958-59 acompa&ntilde;ado por Johnny Pacheco, probablemente influenciados por el flautista cubano Jos&eacute; Fajardo quien se present&oacute; ese a&ntilde;o en el Hotel Waldorf Astoria de Nueva York. La Duboney contaba con cuatro violines y flauta para tocar sones, pachangas, danzones y sus eventuales fusiones inter-gen&eacute;ricas. Pero el binomio entre Palmieri y Pacheco no dur&oacute; mucho porque al poco tiempo se separaron y cada uno organiz&oacute; su propia agrupaci&oacute;n.</p>
	<p>En 1961 Charlie Palmieri grab&oacute; su primer larga duraci&oacute;n con la Charanga Duboney, en homenaje al Club Caravana, en el Bronx. Debido a las presentaciones en El Caravana, este primer Lp se titul&oacute; &laquo;Pachanga en el Caravana&raquo;, y producido por el sello Alegre.</p>
	<p>La Charanga Duboney dur&oacute; hasta 1965 cuando Palmieri crea la Orquesta Duboney asumiendo otra organolog&iacute;a con tromb&oacute;n y trompetas, y por supuesto otros m&uacute;sicos. Charlie Palmieri cambi&oacute; el formato de charanga por una orquesta, pero conserv&oacute; el nombre y con ella grab&oacute; Tengo M&aacute;quina y voy a Sesenta. Por otro lado, dirige la Alegre All Stars desde 1960 para descargar, improvisar, experimentar con todas las influencias posibles pero no para tocar pachanga. Como si fuera poco, Charlie le colabora a su hermano Eddie, trabaja con &eacute;l, le acompa&ntilde;a en la producci&oacute;n de su primer LP y hasta lo presenta en sociedad.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/all_stars.png">
		<figcaption>The Cesta All-Stars.</figcaption>
	</figure>
	
	<p><strong>Descargar o no descargar: esa era la cuesti&oacute;n.</strong></p>
	<p>Los 5 LP&acute;s producidos con la Alegre All Stars &ndash; sin contar los de la Cesta - revelan gran creatividad, experimentaci&oacute;n e innovaci&oacute;n. Palmieri lideraba una cantidad de j&oacute;venes pioneros que estaban revolucionando no s&oacute;lo&raquo;una manera de hacer m&uacute;sica&raquo; popular, si no la m&uacute;sica misma, al tocar todos los g&eacute;neros cubanos, fusionarlos y transgredirlos como no se hab&iacute;a hecho hasta entonces. Las descargas, verdaderos talleres de improvisaci&oacute;n y virtuosismo, eran el laboratorio donde se fraguaba la nueva sonoridad urbana. Eran el espacio necesario para el acople de lo que ser&iacute;an luego las grandes orquestas donde se transformar&iacute;a la m&uacute;sica cubana bajo las influencias del Jazz y de la m&uacute;sica Puertorrique&ntilde;a. &iquest;C&oacute;mo ignorar los cambios, los matices y los &eacute;nfasis que resultaban de esa experimentaci&oacute;n?. Basta escuchar las canciones que quedaron en la historia para sentir la camarader&iacute;a y la solidaridad entre los artistas, y la frescura de la buena salsa germinando. Ah&iacute; estaban, bajo la direcci&oacute;n de Charlie Palmieri, Willie Rosario, Bobby Valent&iacute;n, Joe Quijano, Bobby Rodr&iacute;guez, Orlando Mar&iacute;n, Kako Bastar, Jhonny Pacheco, cada uno de los cuales saldr&iacute;a de all&iacute; para ser director de su propia orquesta, si ya no lo eran&hellip;Tambi&eacute;n Barry Rogers, V&iacute;ctor Paz, Ray Maldonado, &laquo;Puchi&raquo; Boulong, Patato Valdez y &laquo;Chombo&raquo; Silva &ndash;para no mencionarlos a todos &ndash; que lucen sus mejores galas con su respectivo instrumento. Y entre los vocalistas: &laquo;Chivirico&raquo; D&aacute;vila, Cheo Feliciano, Chamaco Ram&iacute;rez, V&iacute;ctor Vel&aacute;squez, Willie Torres, Rudy Calzado, Dioris Valladares y Yayo el Indio, que igual soneaban un montuno, pregonaban un guaguanc&oacute; o cantaban un bolero.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/alegre_all_stars.png">
		<figcaption>Alegre All-Stars.</figcaption>
	</figure>
	
	<p>En conjunto, ellos representaban la di&aacute;spora caribe&ntilde;a, pues aparte de los neyorricans, los dem&aacute;s proven&iacute;an de Cuba, Puerto Rico, Rep&uacute;blica Dominicana, Panam&aacute; y del mismo Nueva York, donde viv&iacute;an. Seg&uacute;n las condiciones, los m&uacute;sicos variaban de una producci&oacute;n a otra, a pesar de tener un grupo de base que permanec&iacute;a estable. As&iacute;, en la primera intervienen Ch. Palmieri, J. Pacheco, Kako, Barry Rogers, Chombo Silva, Bobby Rodr&iacute;guez, Patato Vald&eacute;s y los cantantes Dioris Valladares, Rudy Calzado y Yayo el Indio. (&laquo;The Alegre All Stars&raquo;. Vol.1 &ndash; 1961). En la segunda aparecen adem&aacute;s Joe Quijano, Chivirico D&aacute;vila y Orlando Mar&iacute;n; y en la tercera &ndash;que en realidad fue la cuarta producci&oacute;n - figuran: Puchi Boulong y Ray Maldonado en las trompetas; Frankie Malabe en las congas y como cantantes Cheo Feliciano, Willie Torres, V&iacute;ctor Vel&aacute;zquez y Heny Alvarez. (The Alegre All-Stars Vol. 3 &laquo;Lost and Found&raquo;).</p>
	<p>En la siguiente producci&oacute;n &ndash; que en realidad fue la tercera - participan tambi&eacute;n Luis Chicky P&eacute;rez en el bong&oacute;, Tommy L&oacute;pez en las congas, Willie Rosario en el timbal, Roy Colindres en el bajo, Rod S&aacute;nchez en el saxo alto, Al Santiago en el saxo tenor y Chamaco Ram&iacute;rez como vocalista. (&laquo;way out&raquo; the alegre all &ndash; stars vol. 4). Seg&uacute;n Al Santiago, por estrategia publicitaria acordada con Izzy Zanabria, el volumen 4 fue grabado primero que el 3, el cual fue declarado perdido para generar expectativa antes de publicarse. El hecho gener&oacute; confusi&oacute;n y pol&eacute;mica porque se alter&oacute; la secuencia real de estos discos y los siguientes. (En: Vernon Boggs, &ldquo;Al Santiago, Alegre Super Star&rdquo;. Entrevista - Versi&oacute;n web Herencia Latina, p&aacute;g. 30).</p>
	<p>Otra de las huellas de ese proceso transformador, de continuidad y ruptura de la salsa con respecto a la m&uacute;sica cubana en Nueva York, se evidenci&oacute; en la versi&oacute;n de &laquo;El Manisero&raquo; grabada por la Alegre All Stars en su segundo LP 1962, y vocalizada por Chivirico D&aacute;vila. Con esta nueva versi&oacute;n de &laquo;El Manisero&raquo; se da otra vuelta de tuerca al giro que representa la salsa: el acelere del ritmo y la velocidad de la ejecuci&oacute;n musical en su conjunto, son la impronta sonora de los nuevos tiempos del agite y el ruido, que caracterizan la vida moderna, sobretodo en Nueva York. Como bien lo ha dicho Izzy Sanabria, los j&oacute;venes de Puerto Rico y los newyoricans mantuvieron viva la m&uacute;sica cubana y la desarrollaron siguiendo el ritmo de la ciudad, &laquo;cargado de una energ&iacute;a altamente acelerada&raquo;.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/con_salsa_y_sabor.png">
		<figcaption>Con salsa y sabor, Charlie Palmieri y Me&ntilde;ique.</figcaption>
	</figure>
	
	<p>Fusionar g&eacute;neros cubanos entre s&iacute; o con otros caribe&ntilde;os y no caribe&ntilde;os, incorporar influencias del jazz, del blues, del Rythm and Blues, poner la percusi&oacute;n adelante, cambiar la organolog&iacute;a, crear otra t&iacute;mbrica, acelerar el ritmo (el Up Tempo), sustituir acordes, proponer armon&iacute;as diferentes, cantar con otros giros mel&oacute;dicos, pregonar en otra habla, a&uacute;n trat&aacute;ndose de la misma lengua, enfatizar en el Barrio, todos estos son cambios significativos que definen la identidad musical de la salsa y la hacen una m&uacute;sica distinta a la cubana. En conjunto, cambi&oacute; el modo de tocarla, de percibirla y de (bailarla), a&uacute;n siguiendo el patr&oacute;n r&iacute;tmico de la clave, para quienes bailaban con ella.</p>
	<p>A medida que estos cambios se fueron generalizando, afectaron globalmente la tradici&oacute;n cubana y afrocaribe&ntilde;a, sus g&eacute;neros, sus cancioneros, sus interpretaciones. Dichos cambios definieron una nueva manera de hacer y de tocar, pero tambi&eacute;n de crear y recrear viejos y nuevos ritmos, cubanos y no cubanos, caribe&ntilde;os y no caribe&ntilde;os. Esos cambios caracterizaron una &eacute;poca, representaron una comunidad urbana, barrial y popular. Y Charlie Palmieri estuvo al frente de ellos, con la autoridad que le confer&iacute;an su origen barrial en el Bronx, como nuyorrican, sus calidades art&iacute;sticas y humanas, su formaci&oacute;n musical como pianista y el conocimiento que ten&iacute;a de los dem&aacute;s j&oacute;venes m&uacute;sicos del Barrio; pero adem&aacute;s, porque hizo el puente entre la vieja generaci&oacute;n de Machito, Bauz&aacute;, Tito Puente, Arsenio Rodr&iacute;guez y otros mayores que &eacute;l, con la nueva generaci&oacute;n que crec&iacute;a a su lado, empezando por su hermano Eddie. Como si fuera poco, hizo tambi&eacute;n el puente entre el jazz y los jazzistas de Nueva York, con los que se codeaba, con la m&uacute;sica latina a la que pertenec&iacute;a, en el entorno del Barrio, y por la influencia a familiar de su padre puertorrique&ntilde;o, oriundo de Ponce e inmigrante desde los a&ntilde;os 20 en la capital del mundo.</p>
	<p>En &laquo;la ciudad de las ciudades&raquo;, la &laquo;aceleraci&oacute;n del tiempo&raquo; se traduc&iacute;a en la m&uacute;sica, particularmente en la salsa con su sonora ebullici&oacute;n entre los j&oacute;venes del Barrio. Al comparar &laquo;El Manisero&raquo; de la Alegre con anteriores grabaciones de la misma canci&oacute;n hechas en Cuba, percibimos la diferencia y la ruptura que se estaban produciendo. En la versi&oacute;n de Cachao y sus descargas (1957-58 ) se trata de un son lento, con el sonido t&iacute;pico cubano, la clave impl&iacute;cita en el cascareo de la paila y la presencia del tres que conduce la melod&iacute;a desde el comienzo, para no dejar dudas sobre su origen. El que interpreta Charlie para la Alegre con Chivirico D&aacute;vila al frente, tiene todas las virtudes de la mejor salsa: para empezar, una clave expl&iacute;cita y m&aacute;s r&aacute;pida; un piano, el de Charlie, que se mantiene casi invariable, con el tumbao de principio a fin, para que se luzcan sus compa&ntilde;eros: Desde la impecable vocalizaci&oacute;n en el soneo y el montuno de Chivirico hasta la &aacute;gil improvisaci&oacute;n de Puchi Boulong en un solo de trompeta y en los mambos con tromb&oacute;n y trompeta, como para no dejar dudas que el sonido es otro y la m&uacute;sica tambi&eacute;n, aunque se trate del mismo tema. La entrada de la campana, otro de los rasgos que definir&aacute; la salsa; y el s&oacute;lo del bajo, a cargo de Bobby Rodr&iacute;guez antes del cierre, reafirman el desaf&iacute;o y la propuesta.</p>
	<p>Se nota la diferencia no s&oacute;lo en la instrumentaci&oacute;n que conserv&oacute; (el piano y parte de la percusi&oacute;n) sino en la que modific&oacute; - la trompeta (Puchi Boulong), el tromb&oacute;n (Mark Weisntein) &ndash; y en la forma de tocarlos, que superan los fraseos mel&oacute;dicos del tres y las trompetas, en la versi&oacute;n de Cachao. La potencia del tromb&oacute;n en la Alegre le imprime una agresividad que en la versi&oacute;n de Cachao no existe. Y esa agresividad no es otra que la de la calle del barrio y la vida urbana, convertida en melod&iacute;a y ritmo. En el arreglo, Charlie Palmieri alter&oacute; el tempo, aceler&aacute;ndolo, con lo cual introdujo un ingrediente primordial para la excitaci&oacute;n del bailador.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/charlie_palmieri2.png">
		<figcaption>Adelante Gigante, Charlie Palmieri y su orquesta.</figcaption>
	</figure>
	
	<p>Si bien, Charlie grab&oacute; m&uacute;sica standard norteamericana con adaptaciones &laquo;mambeadas&raquo; de temas exitosos en el mercado para la audiencia gringa, ello fue la excepci&oacute;n y no lo m&aacute;s importante de su obra.. Esos ejercicios probablemente buscaban aproximar dicha audiencia a la sensibilidad de la m&uacute;sica latina, pero nunca en detrimento de &eacute;sta ni renunciando al sentimiento genuino que la caracteriza, ni a la fuerza que impuls&oacute; la salsa en la ciudad de los rascacielos. Como prueba de ello est&aacute; el tema &laquo;Darn that dream&raquo;, un standard americano de J. Van Heusen, que Charlie boleriz&oacute; en un magistral arreglo para la voz de V&iacute;ctor Vel&aacute;squez, su principal cantante. Palmieri recre&oacute; la l&iacute;rica en espa&ntilde;ol y puso toda su banda al servicio de lo que se puede considerar una obra maestra en el g&eacute;nero. Apelando a una cuerda de saxos y trompetas salserijazzeados, el piano maestro de Charlie ejecuta un fraseo al un&iacute;sono con los vientos, dif&iacute;cil de igualar, como sus solos, o los contrapuntos que se alternan en la interpretaci&oacute;n.</p>
	<p>el LP Charlie Palmieri, producido por Mary Lou Records que incluye el est&aacute;ndar citado, al lado de &laquo;Aunque mami no quiera&raquo; (de Lil&iacute; Mart&iacute;nez Gri&ntilde;&aacute;n&raquo;), &laquo;No est&aacute; en na&acute;&raquo; (de Al de Mercado), &laquo;Estoy frizao&raquo;, &laquo;Porque me enga&ntilde;as&raquo; ( de Ra&uacute;l Marrero) &laquo;Dame tu coraz&oacute;n&raquo; y &laquo;Comel&oacute;n&raquo; (de Rafael Lay) evidencia con creces el v&iacute;nculo entre el jazz y la m&uacute;sica latina, as&iacute; como el puente entre los m&uacute;sicos veteranos con la nueva generaci&oacute;n creadora de la salsa.</p>
	<p>No podemos pasar por alto otras obras maestras del &laquo;Gigante&raquo;, producidas a&ntilde;os despu&eacute;s como lo que hizo con Cal Tjader en 1973 en el LP &laquo;Primo&raquo; para el sello Fantasy (Cal Tjader - Primo arranged and conducted by Charlie Palmieri and Tito Puente). No podemos pasar por alto tampoco &laquo;El mundo est&aacute; bien&raquo;, donde expresa su posici&oacute;n contra la guerra. O temas como &laquo;Chaleco&raquo; y ese bello himno a Cali, compuesto y grabado en compa&ntilde;&iacute;a de su hermano Eddie, luego de su visita a esta ciudad: &laquo;Colombia te canto&raquo;. La mayor&iacute;a de ellas de su autor&iacute;a, donde tambi&eacute;n fue original. Basta escuchar sus letras para ver c&oacute;mo la l&iacute;rica se integra plenamente con el arreglo, la voz y la ejecuci&oacute;n instrumental en la que fue genio y figura. Tanto en el piano, como en el &oacute;rgano y la mel&oacute;dica, una triada de instrumentos que ning&uacute;n otro m&uacute;sico salsero ha osado interpretar. En estos dos &uacute;ltimos teclados, aparentemente extra&ntilde;os al mundo de la salsa, Charlie demostr&oacute; que ten&iacute;an cabida si se conoc&iacute;an bien y se tocaban mejor, como &eacute;l lo hizo en la grabaci&oacute;n THE HEAVYWEIGHT en 1978 para el sello Alegre. Lo logr&oacute; con la mel&oacute;dica en temas duros como &laquo;Chaleco&raquo;, en una improvisaci&oacute;n de un minuto, donde las dulces notas de este instrumento se dejan sentir con fluidez alternando con el brass. O en &laquo;Mel&oacute;dica in F&raquo;, una composici&oacute;n suya que &laquo;empieza con un clima sorprendentemente solemne&raquo; &ndash; al decir de Ernesto Lechner. &ndash; &laquo;Charlie interpreta una melod&iacute;a parecida a una marcha en la mel&oacute;dica, rodeado de fogosos riffs de la secci&oacute;n de vientos. Despu&eacute;s de un breve interludio de la mano de un tres, llega el hipn&oacute;tico coro de la canci&oacute;n: /&raquo;para bailar / el danzoncito/ hay que tener/ mucho comp&aacute;s&raquo;/. Y el tema cobra vida&hellip; Charlie nos regala uno de sus impresionantes solos de piano, estremecedor y elegante&hellip;&raquo;. Aqu&iacute;, la mel&oacute;dica cumple dos funciones: una, liderando la melod&iacute;a con el piano al fondo; la otra, en la improvisaci&oacute;n con que Charlie juega permanentemente, en su mejor estilo. Y el piano, siempre ah&iacute;, generoso en las manos del Gigante, que en esta canci&oacute;n improvisa durante dos largos minutos, con variaciones libres sobre el motivo central de la composici&oacute;n.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/heavy_weight.png">
		<figcaption>The heavy weight.</figcaption>
	</figure>
	
	<p>Con respecto al &oacute;rgano, un instrumento aparentemente m&aacute;s apto para el recogimiento en la iglesia que para la dureza de la calle, o las rudezas de la prisi&oacute;n, Charlie supo sacarle partido, como lo hizo a d&uacute;o con su hermano tocando &laquo;V&aacute;monos pal&acute; monte&raquo;, en pleno Central Park, de Nueva York, y luego grabado en vivo en la c&aacute;rcel de Sing Sing. Una vez m&aacute;s, Charlie despliega su sabidur&iacute;a en el teclado, a manos llenas, en este caso en el &oacute;rgano, mientras Eddie lo segundea en el piano.</p>
	<p>Si bien, tanto el &oacute;rgano como la mel&oacute;dica fueron casos aislados y no un fen&oacute;meno sistem&aacute;tico dentro de la salsa, no por ello carecen de creatividad en las manos y los arreglos del &laquo;Gigante&raquo;. Y siendo la salsa &laquo;una forma abierta&raquo; para asumir la m&uacute;sica popular afrolatinoamericaribe&ntilde;a, mal podr&iacute;a negarse la presencia de estos teclados, si se utilizan de la mejor manera posible. Muchos instrumentos han sido usados y abusados bajo el predominio de f&oacute;rmulas comercialmente exitosas como lo hizo Pacheco con las trompetas en &laquo;la onda matancerizante&raquo;. Si algo distingui&oacute; art&iacute;sticamente a Charlie Palmieri, fue estar lejos de cualquier f&oacute;rmula. Por eso, ni las reprodujo, ni las cre&oacute; para acomodarse a las exigencias de las modas que trampean la salseridad. Tal vez por su condici&oacute;n de artista pleno, innovador y vanguardista, Charlie qued&oacute; al margen del gran mercado. Pero si ese es el precio que tiene que pagarse por no tener &eacute;xito en el negocio, no puede ser &eacute;ste el &uacute;nico valor a considerar para trascender en la historia.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/alejandro_ulloa.png">
		<figcaption>Alejandro Ulloa y Romero Cano en la Casa Latina en el Barrio, el almac&eacute;n m&aacute;s importante de M&uacute;sica Latina en NY durante muchos a&ntilde;os.</figcaption>
	</figure>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
