<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Rub&eacute;n Blades: El poeta de  la salsa</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>&ldquo;Ay ya t&uacute; ves, c&oacute;mo el que nada sabe</p>
	<p>conoce m&aacute;s, que aquel que cree que sabe.&rdquo;</p>
	<p>Hay muchos compositores, cantantes, instrumentistas, directores y arreglistas, pero pocos poetas en la salsa. Y Rub&eacute;n Blades los representa a todos, como cantor, compositor, director musical, actor de cine, narrador del Barrio, contador de historias cantadas por &eacute;l y por otros. Pero tambi&eacute;n como poeta. En esa diversidad creativa, Rub&eacute;n Blades conjuga la frescura y la espontaneidad de la oralidad callejera, con la mirada cr&iacute;tica del intelectual, la maestr&iacute;a literaria para estructurar relatos, el rigor del artista para pulir su obra, la sensibilidad del poeta para develar el mundo en una met&aacute;fora. &ldquo;Son p&aacute;ginas estas calles que se cogen con los a&ntilde;os, escritas en un idioma, que no entienden los extra&ntilde;os.&rdquo;</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/ruben_blades.png">
		<figcaption>Rub&eacute;n Blades durante su visita a Cali en 1980, con la FaniaAllStars. (Foto de Pepe Bayona).</figcaption>
	</figure>
	
	<p>&ldquo;Soy de aqu&iacute;, de los que sobrevivieron, soy de aqu&iacute;, de esa esquina chiquita, bonita, bendita, de los que nunca se fueron&hellip;Soy de all&iacute;, de los que sobrevivieron, de los que enfrentando la adversidad, cogieron herida y golpe en cantidad, y no se rindieron&hellip; Soy de all&iacute;, de los que sobrevivieron.&rdquo;</p>
	<p>Sus versos, como los dichos populares en sus canciones, son parte de la inventiva que marca la diferencia a la hora de componer. &ldquo;Todo es seg&uacute;n el color, del cristal con que se mira&hellip;&rdquo; &ldquo;Agua con sol, l&iacute;branos de todo mal&hellip;&rdquo; Su estrecho v&iacute;nculo con la calle, con el Barrio, y sus estudios universitarios, se complementan en una vida signada por grandes aspiraciones que lo llevan a emigrar de su pa&iacute;s natal en busca de una oportunidad en la capital del mundo. &ldquo;A puro coraz&oacute;n, me fui de Panam&aacute; a Col&oacute;n, caminando con Maelo, pa&acute; llegar a Portobelo y saludar al Nazareno&hellip;&rdquo; &ldquo;Ojos de perro azul, saltando de rostro en rostro, su soledad, deseando encontrar su casa en lo que no es ya, midiendo al miedo en distancias por caminar. Ojos de perro azul, encadenado a un pasado sin voluntad, sin ser esclavo tampoco est&aacute; en libertad, con sue&ntilde;os que no recuerda al despertar&hellip;&rdquo;</p>
	<p>Apadrinado por <a href="#"  onclick ="modalOpen('NuevaYork/Barrio/Salsa/videoRubenBlades.html')">Ricardo Ray y Bobby Cruz</a> a quienes vio en su natal Panam&aacute; y a los que ofreci&oacute; una de sus m&aacute;s bellas composiciones, Rub&eacute;n Blades logr&oacute; ingresar a la &eacute;lite salsera de Nueva York cuando RayBarretto lo present&oacute; con su orquesta en el LP de 1975. Y a partir de ah&iacute; se dio a conocer como cantante, pero sobretodo como el m&aacute;s grande compositor de la salsa (junto a TiteCuret Alonso) con sus creaciones, interpretadas por &eacute;l, u otros artistas.</p>

	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/ruben_blades2.png">
		<figcaption>Rub&eacute;n Blades.</figcaption>
	</figure>	
	
	<p>Despu&eacute;s de haber comenzado imitando a Cheo Feliciano en sus primeras grabaciones (en Panam&aacute; 1965 -1968), Rub&eacute;n graba su &ldquo;Descarga Caliente&rdquo; con la banda de Pete Rodr&iacute;guez en Nueva York, 1970. El sencillo, en 45 rpm, inclu&iacute;a por el lado B el relato de Juan Gonz&aacute;lez, la historia de un guerrillero &ldquo;basada en hechos ficticios&rdquo;, como dice el narrador, pero que evoca en ese momento la imagen del &ldquo;guerrillero heroico&rdquo;, muerto tres a&ntilde;os antes en circunstancias parecidas a las de la canci&oacute;n.</p>
	<p>Con una proclama desafiante, la &ldquo;Descarga Caliente&rdquo; anticipaba con &ldquo;orgullosa independencia&rdquo; su propuesta est&eacute;tica, colmada de pregones aguerridos con los que ha sido consecuente a lo largo de su carrera. Y aunque comercialmente el Lp con Pete Rodr&iacute;guez, &ldquo;De Panam&aacute; a Nueva York&rdquo; no tuvo &eacute;xito, (incluidos los dos temas del sencillo), esta experiencia le sirvi&oacute; para retornar con nuevos br&iacute;os y entrar pisando duro en el coraz&oacute;n de la salsa, cuando volvi&oacute; a &ldquo;la ciudad de los rascacielos&rdquo; en 1974, para grabar con Barretto.</p>
	<p>Con un arreglo al mejor estilo de la salsa brava de los 70, y una cuerda de tromb&oacute;n y trompetas, Rub&eacute;n Blades pregona en su &ldquo;Descarga&rdquo; con Pete Rodr&iacute;guez: &ldquo;(&hellip;) En el mundo no hay ninguno, que en m&iacute; pueda encaramarse, y a quien trate de obligarme, conversa con mi pu&ntilde;al, para bien o para mal, a m&iacute; me pari&oacute; mi madre(&hellip;) Cu&aacute;nto tienes cu&aacute;nto vales, ese es tu pensar de ahora, pero va a llegar la hora, de establecer la verdad, entonces comprender&aacute;s, lo inmenso de tus errores( &hellip;) Y aunque te cre&iacute;as candela, nadie puede con la muerte, que de la tierra saliste y al final para ella vuelves (&hellip;) Juega Sabater&hellip;&rdquo;</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/ruben_blades3.png">
		<figcaption>Rub&eacute;n Blades.</figcaption>
	</figure>
	
	<p>Su &ldquo;Descarga&rdquo;, y el &ldquo;Guaguanc&oacute; Triste&rdquo; interpretado por Ricardo Ray y Bobby Cruz en 1971, le abrieron las puertas a una trayectoria que se renueva en cada producci&oacute;n y se enriquece con el tiempo. Porque Rub&eacute;n Blades ha sido el m&aacute;s experimental de los m&uacute;sicos salseros; experimental con el ritmo y con el verso, igual con el canto y con la prosa que integran su po&eacute;tica, en la que lo acompa&ntilde;o tambi&eacute;n Willie Col&oacute;n. &ldquo;Maestra vida camar&aacute;, te da y te quita, te quita y te da&hellip;&rdquo;.</p>
	<p>El relato urbano, la cr&oacute;nica hist&oacute;rica, el verso libre y depurado, o la rima consonante, evocan las tragedias de los despose&iacute;dos o recrean la memoria de los olvidados, pero tambi&eacute;n avivan los colores de la esperanza en las v&iacute;ctimas de la agresi&oacute;n.</p>
	<p>Apelando a los mejores recursos verbales de la literatura, Rub&eacute;n Blades nos ha recordado que, &ldquo;quien jam&aacute;s pec&oacute;, jam&aacute;s vivi&oacute;&rdquo;; y que, &ldquo;quien no perdon&oacute;, jam&aacute;s am&oacute;&rdquo;. Nos ense&ntilde;&oacute; asimismo, que &ldquo;hay que respirar tambi&eacute;n por los dem&aacute;s&rdquo;, que &ldquo;nadie escapa al encuentro con la verdad&rdquo;, y que &ldquo;si la muerte no discrimina, que la vida tampoco lo haga&rdquo;.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/siembra.png">
		<figcaption>Siembra. Willie Col&oacute;n y Rub&eacute;n Blades.</figcaption>
	</figure>
	
	<p>Como maestro de la metonimia y la met&aacute;fora, hacedor de im&aacute;genes y creador de personajes, Rub&eacute;n Blades puso la salsa en otra dimensi&oacute;n. All&iacute; donde se encuentran los ancestrales ritmos del tambor y los tiempos de la clave, con un tipo de sentimiento popular que se transforma en m&uacute;sica&hellip; &ldquo;Cajeta de cigarrillos, ansia y nudo en la garganta, para d&oacute;nde se habr&aacute; ido, dime trago con qui&eacute;n anda&hellip; Si el pasado no perdona, hoy c&uacute;rate llorando. Amargura su&eacute;ltame&hellip; C&oacute;mo duele haber fallado. Si el pasado no perdona, hoy c&uacute;rate llorando&hellip;&rdquo;</p>
	<p>Con Rub&eacute;n Blades, la salsa y la cultura popular que representa, trascienden el estereotipo de vulgaridad y simpleza con que son calificadas. Porque en sus canciones, el pensamiento profundo no se opone al placer de la m&uacute;sica y el baile; ni la poes&iacute;a es contraria a las contingencias de la vida cotidiana que atraviesan su obra. &ldquo;Ojos de perro azul, mirando gente que se ha dado a la fuga, pueblos huyendo en confusas retiradas, viendo su hu&iacute;da convertirse en cita, pues del encuentro con la verdad nadie se escapa. Aunque te escondas tras la promesa de un ma&ntilde;ana, ya eso no alcanza. Ojos de perro azul tropezando por las calles con la maldad, riendo sarc&aacute;sticamente al comprobar, que hoy la mentira es m&aacute;s fuerte que la verdad&hellip;&rdquo;</p>
	<p>Abanderado de muchas resistencias, Rub&eacute;n Blades ha entrado y salido sin perder el rumbo que lo conduce al Barrio al que pertenecen &eacute;l y sus historias. El Barrio donde se cruzan los personajes de una narrativa que parece inagotable cuando los miramos de cerca: Pedro Navajas y su diente de oro, &ldquo;El Aguacate&rdquo; en su impostura, &ldquo;El Salado&rdquo; y su mala suerte, el tartamudo con su erecci&oacute;n enorme, &ldquo;El Sicario&rdquo; sin escr&uacute;pulos, y el &ldquo;guapo viejo&rdquo; que falt&oacute; a la cita. O figuras como el infaltable Juan Pachanga, macho y bohemio, que con la apariencia de su pinta, enmascara el dolor y la pena &hellip; &ldquo;Son las cinco de la ma&ntilde;ana y ya amanece, Juan Pachanga bien vestido aparece, todos en el barrio est&aacute;n descansando y Juan Pachanga en silencio va pensando, que aunque su vida es fiesta y ron, noche y rumba, su plante es falso, igual que aquel amor que lo enga&ntilde;&oacute;&hellip; Y la luz del sol se ve alumbrando y Juan Pachanga el mamito va penando, vestido a la &uacute;ltima moda y perfumado, los que encuentra en su camino los saluda, heymen, que feliz es Juan Pachanga todos juran, pero lleva en el alma el dolor de una traici&oacute;n, que solo calman los tragos, los tabacos y el tambor&hellip;y mientras la gente duerme, aparece Juan Pachanga con su pena y amanece&hellip; &Oacute;yeme Juan Pachanga olv&iacute;dala, porque nunca te ha querido, &oacute;yeme Juan Pachanga, dale tambi&eacute;n olvido&hellip;que el amor no se mendiga&rdquo;.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/ruben_blades4.png">
		<figcaption>RubenBlades y sus compa&ntilde;eros de la Fania durante su visita a Cali. Agosto de 1980.<br />(Foto de Fernando Solarte).</figcaption>
	</figure>
	
	<p>Y si la descripci&oacute;n y la narraci&oacute;n van de la mano, la econom&iacute;a de las palabras es suficiente para Caracterizar contextos y circunstancias o definir el mundo interior de los personajes, como hace Rub&eacute;n al pintar &ldquo;un joven cabizbajo, luciendo arrepentido&rdquo;, o describir dram&aacute;ticamente al vecino Ad&aacute;n Garc&iacute;a, cuando &ldquo;besaba a sus hijos mientras gritaba: Esto se acab&oacute;, vida, la ilusi&oacute;n se fue, vieja, y el tiempo es mi enemigo. En vez de vivir con miedo, mejor es morir sonriendo, con el recuerdo vivo&quot;.</p>
	<p>En esa galer&iacute;a de personajes, con Willie Col&oacute;n o con su agrupaci&oacute;n Seis del Solar, no pod&iacute;an faltar las mujeres, reivindicadas contra el se&ntilde;alamiento patriarcal y clasista. Ligia Helena en su desaf&iacute;o contra los prejuicios sociales por estar con su trompetista&hellip;&ldquo; &iexcl;Manuela, qu&eacute; mujer aquella! como una pantera, en cada esquina del barrio, dejando pedacitos de ilusi&oacute;n, en quien la am&oacute;&rdquo;&hellip; Y Paula C, &ldquo;tristeza vete lejos, para no perder la fe&rdquo;. En ese arco iris tienen cabida hasta mujeres m&iacute;ticas como Mar&iacute;a Lionza, cuyas &ldquo;paredes son hechas de vientos y su techo hecho de estrellas&hellip;&rdquo;.</p>
	<p>Generoso, a la hora de escribir para cantar, Rub&eacute;n Blades ha abarcado un amplio rango de temas que pocos compositores han asumido con convicci&oacute;n y compromiso. Desde el principio de su carrera en Nueva York desenmascar&oacute; al chico y a la chica pl&aacute;stica que se derriten si les da de lleno el sol; confront&oacute; el poder del monopolio Fania y retom&oacute; categor&iacute;as pol&iacute;ticas para convertirlas en personajes siniestros como el Tibur&oacute;n, una met&aacute;fora de la voracidad y la omnipresencia imperialista en el Caribe y Am&eacute;rica Latina: &ldquo;Con la majestad que el sol inspira, el peje guerrero va pasando, recorriendo el reino que domina, pobre del que caiga prisionero, hoy no habr&aacute; perd&oacute;n para su vida. Es el tibur&oacute;n que va buscando, es el tibur&oacute;n que nunca duerme, es el tibur&oacute;n que va asechando, es el tibur&oacute;n de mala suerte&hellip;Brillan las estrellas en la noche, la nube viajera va flotando, la luna reposa entre el silencio, de ese gran Caribe descansando. S&oacute;lo el tibur&oacute;n sigue despierto, s&oacute;lo el tibur&oacute;n sigue buscando, s&oacute;lo el tibur&oacute;n sigue intranquilo, s&oacute;lo el tibur&oacute;n sigue asechando&hellip;&rdquo;.</p>
	

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
