<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">H&eacute;ctor Lavoe: El cantante de los cantantes</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>Siempre se habl&oacute; de su vida desordenada o sus adicciones incoregibles, pero nunca se ha pensado en &eacute;l como compositor. En las habladur&iacute;as sobe su vida se ha destacado su irresponsabilidad por llegar tarde o no llegar, por cantar ebrio o irrespetar algunas veces al p&uacute;blico, todo lo cual hace parte del mito forjado en torno a &eacute;l.</p>
	<p>Pero pocas veces se menciona su creatividad como ser humano sensible y solidario, aunque fr&aacute;gil y vulnerable ante la agresi&oacute;n del mundo. Dotado con un talento especial para cantar sin inmutarse, H&eacute;ctor Lavoe fue a la vez compositor de m&aacute;s de veinte canciones, la mayor&iacute;a de ellas en coautor&iacute;a con su socio Willie Col&oacute;n. Dos, hechas por &eacute;l s&oacute;lo: Una es, &ldquo;Te Conozco&rdquo;, caracterizaci&oacute;n de un personaje urbano, barrial y callejero que trasega con su labia por ciudades de Am&eacute;rica Latina y el Caribe, queriendo vivir a expensas de los dem&aacute;s. (LP COSA NUESTRA, Fania 1972). Otra es, &ldquo;La Fama&rdquo;, una especie de perfil de s&iacute; sismo en su relaci&oacute;n con el p&uacute;blico que cree conocerlo. (LP REVENT&Oacute; &ndash;Inca Records, 1985).</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/joe_torres.png">
		<figcaption>El profesor Joe Torres en el piano; Santi Gonz&aacute;lez en el bajo; Milton Cardona en la conga y &ldquo;Timbalito&rdquo; Romero en el timbal. Al frente, Jos&eacute; Mangual Jr. en la campana, H&eacute;ctor Lavoe cantando y Willie Col&oacute;n en uno de los trombones. (Foto cortes&iacute;a de Jos&eacute; Mangual Jr.).</figcaption>
	</figure>
	
	<p>Hay diez y nueve creaciones con otros m&uacute;sicos: &ldquo;No hay quien te aguante&rdquo;, en parcer&iacute;a con Ram&oacute;n Rodr&iacute;guez; &ldquo;Que L&iacute;o&rdquo;, compartida con Joe Cuba y Willie Col&oacute;n, seg&uacute;n los cr&eacute;ditos de las producciones discogr&aacute;ficas. Otra con Kent G&oacute;mez y Willie Col&oacute;n (&ldquo;No me llores m&aacute;s&rdquo;). Las diez y seis restantes, las compuso H&eacute;ctor Lavoe con Willie Col&oacute;n s&oacute;lamente. Entre ellas: &ldquo;Ghana&uml; E&rdquo;, &ldquo;Abuelita&rdquo;, &ldquo;No cambiar&eacute;&rdquo;, &ldquo;Paname&ntilde;a&rdquo;, &ldquo;El Todopoderoso&rdquo;, &ldquo;Aguanile&rdquo;, &ldquo;Ausencia&rdquo;, &ldquo;Juana Pe&ntilde;a&rdquo;, &ldquo;T&uacute; no puedes conmigo&rdquo;, &ldquo;La murga&rdquo;, &ldquo;Guisando&rdquo;, &ldquo;El d&iacute;a de mi suerte&rdquo;&hellip;En total, veintiun composiciones reconocidas por las casas disqueras con las que grab&oacute;, y consagradas como &eacute;xitos por los salseros que le siguen rindiendo culto.</p>

	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/jose_mangual.png">
		<figcaption>A la izquierda Jos&eacute; Mangual Jr. con la campana y haciendo coro; en el centro, H&eacute;ctor Lavoe canta y se acompa&ntilde;a con las maracas; y a la derecha, Willie Col&oacute;n en los coros, con el tromb&oacute;n en la mano. (Foto cortes&iacute;a de Jos&eacute; Mangual Jr.).</figcaption>
	</figure>	
	
	<p>Porque Lavoe, al igual que Beny Mor&eacute;, Ismael Rivera o Daniel Santos, est&aacute;n en el pante&oacute;n de los h&eacute;roes bendecidos por la m&uacute;sica antillana y la salsa. A pesar de sus derrotas, o sus tragedias, pero tambi&eacute;n por ellas, se hicieron h&eacute;roes, pues encarnan como pocos, la profundidad de la condici&oacute;n humana, en las circunstancias hist&oacute;ricas que vivieron. Si algo caracteriza sus vidas, es la genialidad y la fragilidad unidas como las dos caras de una hoja al viento. La grandeza del que canta realmente con naturalidad y sentimiento profundo; la fragilidad del desarraigado que no encuentra su lugar en el mundo; la genialidad del creador que recrea su propia obra y se eterniza con ella; la debilidad del que huye de s&iacute; mismo para refugiarse en para&iacute;sos donde nunca se encuentra.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/piper_pimienta.png">
		<figcaption>Piper Pimienta, Ismael Rivera y H&eacute;ctor Lavoe. Foto Carlos Molina.</figcaption>
	</figure>
	
	<p>Las dos caras de esa hoja al viento contin&uacute;an vigentes en sus canciones y en su preg&oacute;n. Porque, con su voz, H&eacute;ctor Lavoe tuvo pleno dominio de los g&eacute;neros que cultiv&oacute;; desde el bolero y la guaracha, hasta el son montuno y el guaguanc&oacute;, pasando por la guajira, o las fusiones entre ellos, adem&aacute;s de la bomba y la plena de su Ponce natal. Todas esas condiciones juntas, en un cantante como &eacute;l, hicieron de Lavoe un s&iacute;mbolo que crece con el tiempo. Icono del Barrio y representante de la callejer&iacute;a musical, H&eacute;ctor Lavoe es mucho m&aacute;s que un cantante de salsa. Su m&uacute;sica, su vida y su voz, representan esa dimensi&oacute;n de la salsa, que no se agota en la rumba ni en el baile. /&ldquo;&hellip;Porque yo / soy la fama / soy aquel que la gente relama / pero nunca podr&aacute;n comprender&hellip;&rdquo;/.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/hector_lavoe2.png">
		<figcaption>Alfredo de la F&eacute;, HectorLavoe, Dario Mu&ntilde;oz y Ad&aacute;n Mart&iacute;nez &quot;Cucaracho&quot;, en Cali. A&ntilde;os 80.</figcaption>
	</figure>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Salsa/Imagenes/Textos/larry_landa.png">
		<figcaption>Larry Landa, Jairo Ca&ntilde;andonga, HectorLavoe y Pete Conde Rodriguez en la discoteca Ca&ntilde;andonga. Cali a&ntilde;os 80.</figcaption>
	</figure>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
