<div class="modal-header">
	
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Willie Col&oacute;n</h3>
    
</div>
<div class="modal-body" style="text-align: center;">
	
	<div  id="listaDeReproduccion" style="margin-bottom:1.2em; ">
	<video id="videoWillieColon" controls>
		<source src="NuevaYork/Barrio/Salsa/Videos/willie_colon.mp4" type="video/mp4">
		<source src="NuevaYork/Barrio/Salsa/Videos/willie_colon.ogg" type="video/ogg">
	Your browser does not support HTML5 video.
  </video>
  </div>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
