<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="PuertoRico/CalleCalma/SigloXXI//Imagenes/Escenario/maqueta.jpg" class="hidden-phone fondo">-->
    <img  src="PuertoRico/CalleCalma/SigloXXI//Imagenes/Escenario/calle_calma_fondo.jpg" class="hidden-phone fondo">

    <a  href="#" class="buttonItem  " onclick ="modalOpen('PuertoRico/CalleCalma/SigloXXI//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="ismaelRivera"  src="PuertoRico/CalleCalma/SigloXXI//Imagenes/Escenario/ismael_rivera.png" class="hidden-phone  positionItem"  
             style="width:9.7%; height:38.7%; top:62%; left:26.4%;">
        <img id="ismaelRiveraMovil" src="PuertoRico/CalleCalma/SigloXXI//Imagenes/Movil/ismael_rivera_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('PuertoRico/CalleCalma/SigloXXI//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="marvinSantiago"  src="PuertoRico/CalleCalma/SigloXXI//Imagenes/Escenario/marvin_santiago.png" class="hidden-phone  positionItem"  
             style="width:12.5%; height:39.4%; top:60.4%; left:41.3%;">
        <img id="marvinSantiagoMovil" src="PuertoRico/CalleCalma/SigloXXI//Imagenes/Movil/marvin_santiago_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('PuertoRico/CalleCalma/SigloXXI//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="monRivera"  src="PuertoRico/CalleCalma/SigloXXI//Imagenes/Escenario/mon_rivera.png" class="hidden-phone  positionItem"  
             style="width:18.5%; height:38.7%; top:61.1%; left:57.5%;">
        <img id="monRiveraMovil" src="PuertoRico/CalleCalma/SigloXXI//Imagenes/Movil/mon_rivera_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

</div>

<script>
    $("a[rel=popover]").popover();
</script>
