<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="PuertoRico/Santurce/Salsa/Imagenes/Escenario/maqueta.jpg" class="hidden-phone fondo">-->
    <img  src="PuertoRico/Santurce/Salsa/Imagenes/Escenario/santurce_salsa_fondo.jpg" class="hidden-phone fondo">

    <a  href="#" class="buttonItem  " onclick ="modalOpen('PuertoRico/Santurce/Salsa/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="robertoRoena"  src="PuertoRico/Santurce/Salsa/Imagenes/Escenario/roberto_roena.png" class="hidden-phone  positionItem"  
             style="width:13.3%; height:39.7%; top:60.7%; left:0.1%;">
        <img id="robertoRoenaMovil" src="PuertoRico/Santurce/Salsa/Imagenes/Movil/roberto_roena_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('PuertoRico/Santurce/Salsa/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="rafaelIthier"  src="PuertoRico/Santurce/Salsa/Imagenes/Escenario/rafael_ithier.png" class="hidden-phone  positionItem"  
             style="width:14.4%; height:37.4%; top:62.4%; left:13%;">
        <img id="rafaelIthierMovil" src="PuertoRico/Santurce/Salsa/Imagenes/Movil/rafael_ithier_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('PuertoRico/Santurce/Salsa/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="bobbyValentin"  src="PuertoRico/Santurce/Salsa/Imagenes/Escenario/bobby_valentin.png" class="hidden-phone  positionItem"  
             style="width:17.3%; height:39.7%; top:60.6%; left:26.4%;">
        <img id="bobbyValentinMovil" src="PuertoRico/Santurce/Salsa/Imagenes/Movil/bobby_valentin_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('PuertoRico/Santurce/Salsa/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="willieRosario"  src="PuertoRico/Santurce/Salsa/Imagenes/Escenario/willie_rosario.png" class="hidden-phone  positionItem"  
             style="width:14.6%; height:38.7%; top:61.1%; left:43.2%;">
        <img id="willieRosarioMovil" src="PuertoRico/Santurce/Salsa/Imagenes/Movil/willie_rosario_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('PuertoRico/Santurce/Salsa/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="sammyMarrero"  src="PuertoRico/Santurce/Salsa/Imagenes/Escenario/sammy_marrero.png" class="hidden-phone  positionItem"  
             style="width:15.5%; height:36.7%; top:63.1%; left:56.8%;">
        <img id="sammyMarreroMovil" src="PuertoRico/Santurce/Salsa/Imagenes/Movil/sammy_marrero_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('PuertoRico/Santurce/Salsa/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="rafitLeavitt"  src="PuertoRico/Santurce/Salsa/Imagenes/Escenario/rafit_leavitt.png" class="hidden-phone  positionItem"  
             style="width:12.3%; height:38.7%; top:61.1%; left:72.8%;">
        <img id="rafitLeavittMovil" src="PuertoRico/Santurce/Salsa/Imagenes/Movil/rafit_leavitt_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('PuertoRico/Santurce/Salsa/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="chocoOrta"  src="PuertoRico/Santurce/Salsa/Imagenes/Escenario/choco_orta.png" class="hidden-phone  positionItem"  
             style="width:14.3%; height:38.7%; top:61.8%; left:85.4%;">
        <img id="chocoOrtaMovil" src="PuertoRico/Santurce/Salsa/Imagenes/Movil/choco_orta_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

</div>

<script>
    $("a[rel=popover]").popover();
</script>
