
<div  id="marcoMultimedia" class="marcoMultimedia"  >  
	<!--<img  src="Cali/Barrio2/SigloXXI/Imagenes/Escenario/maqueta.jpg" class="hidden-phone fondo">-->
    <img  src="Cali/Barrio2/SigloXXI/Imagenes/Escenario/barrio_cali2.jpg" class="hidden-phone fondo">
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio2/SigloXXI/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="gente"  src="Cali/Barrio2/SigloXXI/Imagenes/Escenario/gente.png" class="hidden-phone  positionItem"  
             style="width :20.7%; height:26.3%; top:38%; left:35.7%;">
        <img id="genteMovil" src="Cali/Barrio2/SigloXXI/Imagenes/Movil/gente_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio2/SigloXXI/textoElDistritoDeAguaBlanca.html')" 
        data-toggle="tooltip" data-placement="left" title="El Distrito de Aguablanca">
        <span class="hidden-tablet hidden-desktop ">El Distrito de Aguablanca</span>
        <img id="herencia"  src="Cali/Barrio2/SigloXXI/Imagenes/Escenario/herencia.png" class="hidden-phone  positionItem"  
             style="width :8.8%; height:5.2%; top:31.3%; left:31%;">
        <img id="herenciaMovil" src="Cali/Barrio2/SigloXXI/Imagenes/Movil/herencia_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio2/SigloXXI/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="cantautora"  src="Cali/Barrio2/SigloXXI/Imagenes/Escenario/cantautora.png" class="hidden-phone  positionItem"  
             style="width :17.3%; height:52%; top:49.1%; left:64.6%;">
        <img id="cantautoraMovil" src="Cali/Barrio2/SigloXXI/Imagenes/Movil/cantautora_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio2/SigloXXI/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="estebanCopete"  src="Cali/Barrio2/SigloXXI/Imagenes/Escenario/esteban_copete.png" class="hidden-phone  positionItem"  
             style="width :13.5%; height:50.3%; top:50.4%; left:0.2%;">
        <img id="estebanCopeteMovil" src="Cali/Barrio2/SigloXXI/Imagenes/Movil/esteban_copete_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio2/SigloXXI/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="hugoCandelario"  src="Cali/Barrio2/SigloXXI/Imagenes/Escenario/hugo_candelario.png" class="hidden-phone  positionItem"  
             style="width :13%; height:47.5%; top:52.5%; left:51.7%;">
        <img id="hugoCandelarioMovil" src="Cali/Barrio2/SigloXXI/Imagenes/Movil/hugo_candelario_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio2/SigloXXI/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="lindaCaldas"  src="Cali/Barrio2/SigloXXI/Imagenes/Escenario/linda_caldas.png" class="hidden-phone  positionItem"  
             style="width :13%; height:50%; top:50%; left:79%;">
        <img id="lindaCaldasMovil" src="Cali/Barrio2/SigloXXI/Imagenes/Movil/linda_caldas_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio2/SigloXXI/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="marlynMurillo"  src="Cali/Barrio2/SigloXXI/Imagenes/Escenario/marlyn_murillo.png" class="hidden-phone  positionItem"  
             style="width :18%; height:48%; top:53%; left:32.3%;">
        <img id="marlynMurilloMovil" src="Cali/Barrio2/SigloXXI/Imagenes/Movil/marlyn_murillo_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio2/SigloXXI/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="mujer1"  src="Cali/Barrio2/SigloXXI/Imagenes/Escenario/mujer1.png" class="hidden-phone  positionItem"  
             style="width :17%; height:47%; top:53%; left:18%;">
        <img id="mujer1Movil" src="Cali/Barrio2/SigloXXI/Imagenes/Movil/mujer1_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>    

</div>





