<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Mario Mu&ntilde;oz &ldquo;Papaito&rdquo;, La Sonora Matancera en Nueva York 1986</h3>
</div>
<div class="modal-body" style="text-align: justify;">
		<!--onloadstart -->
    <audio  preload="none" controls data-info-att="Mario Mu&ntilde;oz &ldquo;Papaito&rdquo;, La Sonora Matancera en Nueva York 1986.">
        <source src="Cuba/Habana/Presalsa/Audios/mario_munoz.mp3" type="audio/mpeg" >
        Your browser does not support the audio element.
    </audio>
    
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>    
</div>







