<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">F&eacute;lix Escobar y los Guaracheros de Oriente 1986</h3>
</div>
<div class="modal-body" style="text-align: justify;">
		<!--onloadstart -->
    <audio  preload="none" controls data-info-att="Audio F&eacute;lix Escobar y los Guaracheros de Oriente 1986.">
        <source src="Cuba/Habana/Presalsa/Audios/felix_escobar.mp3" type="audio/mpeg" >
        Your browser does not support the audio element.
    </audio>
    
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>    
</div>







