<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="Cuba/Habana/Presalsa/Imagenes/Escenario/maqueta.jpg" class="hidden-phone fondo">-->
    <img  src="Cuba/Habana/Presalsa/Imagenes/Escenario/fondo_habana_presalsa.jpg" class="hidden-phone fondo">
    
        <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/Presalsa/audioCarlosManuel.html')" 
        data-toggle="tooltip" data-placement="left" title="Carlos Manuel D&iacute;az &ldquo;Ca&iacute;to&rdquo; y la Sonora Matancera 1986">
        <span class="hidden-tablet hidden-desktop ">Carlos Manuel D&iacute;az &ldquo;Ca&iacute;to&rdquo; y la Sonora Matancera 1986</span>
        <img id="bailarin"  src="Cuba/Habana/Presalsa/Imagenes/Escenario/bailarin.png" class="hidden-phone  positionItem"  
             style="width:3.1%; height:19.3%; top:45.5%; left:34.3%;">
        <img id="bailarinMovil" src="Cuba/Habana/Presalsa/Imagenes/Movil/bailarin_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/Presalsa/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="senor1"  src="Cuba/Habana/Presalsa/Imagenes/Escenario/senor_1.png" class="hidden-phone  positionItem"  
             style="width:2.6%; height:23.3%; top:44.8%; left:12%;">
        <img id="senor1Movil" src="Cuba/Habana/Presalsa/Imagenes/Movil/senor1_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/Presalsa/audioFelixEscobar.html')" 
        data-toggle="tooltip" data-placement="left" title="F&eacute;lix Escobar y los Guaracheros de Oriente 1986">
        <span class="hidden-tablet hidden-desktop ">F&eacute;lix Escobar y los Guaracheros de Oriente 1986</span>
        <img id="senor2"  src="Cuba/Habana/Presalsa/Imagenes/Escenario/senor_2.png" class="hidden-phone  positionItem"  
             style="width:3.8%; height:27.8%; top:43.9%; left:13.4%;">
        <img id="senor2Movil" src="Cuba/Habana/Presalsa/Imagenes/Movil/senor2_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/Presalsa/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="senora"  src="Cuba/Habana/Presalsa/Imagenes/Escenario/senora.png" class="hidden-phone  positionItem"  
             style="width:4.8%; height:31.2%; top:44%; left:1%;">
        <img id="senoraMovil" src="Cuba/Habana/Presalsa/Imagenes/Movil/senora_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/Presalsa/textoTropicanaCMQ.html')" 
        data-toggle="tooltip" data-placement="left" title="Tropicana CMQ y Radio Progreso">
        <span class="hidden-tablet hidden-desktop ">Tropicana CMQ y Radio Progreso</span>
        <img id="cartel"  src="Cuba/Habana/Presalsa/Imagenes/Escenario/cartel.png" class="hidden-phone  positionItem"  
             style="width:9.9%; height:27.7%; top:31.9%; left:70.3%;">
        <img id="cartelMovil" src="Cuba/Habana/Presalsa/Imagenes/Movil/cartel_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/Presalsa/audioMarioMunoz.html')" 
        data-toggle="tooltip" data-placement="left" title="Mario Mu&ntilde;oz &ldquo;Papaito&rdquo;, La Sonora Matancera en Nueva York 1986">
        <span class="hidden-tablet hidden-desktop ">Mario Mu&ntilde;oz &ldquo;Papaito&rdquo;, La Sonora Matancera en Nueva York 1986</span>
        <img id="senorDomino1"  src="Cuba/Habana/Presalsa/Imagenes/Escenario/senor_domino_1.png" class="hidden-phone  positionItem"  
             style="width:4.3%; height:16.4%; top:55.6%; left:46.8%;">
        <img id="senorDomino1Movil" src="Cuba/Habana/Presalsa/Imagenes/Movil/senor_domino1_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/Presalsa/audioRogelioMartinez.html')" 
        data-toggle="tooltip" data-placement="left" title="Rogelio Mart&iacute;nez &amp; Lucho Berm&uacute;dez; recuerdos de la Habana 1986">
        <span class="hidden-tablet hidden-desktop ">Rogelio Mart&iacute;nez &amp; Lucho Berm&uacute;dez; recuerdos de la Habana 1986</span>
        <img id="senorDomino2"  src="Cuba/Habana/Presalsa/Imagenes/Escenario/senor_domino_2.png" class="hidden-phone  positionItem"  
             style="width:3.8%; height:16%; top:55.7%; left:54.9%;">
        <img id="senorDomino2Movil" src="Cuba/Habana/Presalsa/Imagenes/Movil/senor_domino2_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/Presalsa/textoArgeliersLeon.html')" 
        data-toggle="tooltip" data-placement="left" title="Argeliers Le&oacute;n">
        <span class="hidden-tablet hidden-desktop ">Argeliers Le&oacute;n</span>
        <img id="senorPeriodico"  src="Cuba/Habana/Presalsa/Imagenes/Escenario/senor_periodico.png" class="hidden-phone  positionItem"  
             style="width:14.7%; height:41.9%; top:55.5%; left:70.3%;">
        <img id="senorPeriodicoMovil" src="Cuba/Habana/Presalsa/Imagenes/Movil/senor_periodico_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/Presalsa/textoMiguelitoValdes.html')" 
        data-toggle="tooltip" data-placement="left" title="Miguelito Vald&eacute;s">
        <span class="hidden-tablet hidden-desktop ">Miguelito Vald&eacute;s</span>
        <img id="miguelitoValdes"  src="Cuba/Habana/Presalsa/Imagenes/Escenario/miguelito_valdes.png" class="hidden-phone  positionItem"  
             style="width:13.7%; height:60.7%; top:39.9%; left:3.1%;">
        <img id="miguelitoValdesMovil" src="Cuba/Habana/Presalsa/Imagenes/Movil/miguelito_valdes_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem" onclick ="modalOpen('Cuba/Habana/Presalsa/textoBennyMore.html')" 
        data-toggle="tooltip" data-placement="left" title="Benny Mor&eacute;">
        <span class="hidden-tablet hidden-desktop ">Benny Mor&eacute;</span>
        <img id="benny"  src="Cuba/Habana/Presalsa/Imagenes/Escenario/benny.png" class="hidden-phone  positionItem"  
             style="width:13%; height:56.7%; top:42.6%; left:22.1%;">
        <img id="bennyMovil" src="Cuba/Habana/Presalsa/Imagenes/Movil/benny_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/Presalsa/textoCeliaCruz.html')" 
        data-toggle="tooltip" data-placement="left" title="Celia Cruz">
        <span class="hidden-tablet hidden-desktop ">Celia Cruz</span>
        <img id="celiaJoven"  src="Cuba/Habana/Presalsa/Imagenes/Escenario/celia_joven.png" class="hidden-phone  positionItem"  
             style="width:13.8%; height:56.7%; top:44.1%; left:34.4%;">
        <img id="celiaJovenMovil" src="Cuba/Habana/Presalsa/Imagenes/Movil/celia_joven_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/Presalsa/textoArsenioRodriguez.html')" 
        data-toggle="tooltip" data-placement="left" title="Arsenio Rodr&iacute;guez">
        <span class="hidden-tablet hidden-desktop ">Arsenio Rodr&iacute;guez</span>
        <img id="arsenioRodriguez"  src="Cuba/Habana/Presalsa/Imagenes/Escenario/arsenio_rodriguez.png" class="hidden-phone  positionItem"  
             style="width:15.4%; height:64.7%; top:35.7%; left:84.7%;">
        <img id="arsenioRodriguezMovil" src="Cuba/Habana/Presalsa/Imagenes/Movil/arsenio_rodriguez_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>


</div>

<script>
    $("a[rel=popover]").popover();
</script>
