<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Celia Cruz Reina  Rumba...</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>La inigualable e inmortal Celia Cruz represent&oacute; con dignidad suprema a todas las mujeres, a trav&eacute;s de su voz y su carisma, en un medio dominado por tantas veleidades masculinas&hellip;</p>
	<p>Como artista trascendi&oacute; de la pre-salsa en Cuba, donde vivi&oacute; la esplendorosa d&eacute;cada de los 50, a la salsa en Nueva York, donde fue reina indiscutible, hasta el final de sus d&iacute;as. En ambos periodos, como a lo largo de su vida, Celia Cruz fue genio y figura. Con su voz super&oacute; las diferencias de g&eacute;nero, a pesar de estar siempre entre los hombres que dominaban el campo de la m&uacute;sica latina. Pero tambi&eacute;n por su car&aacute;cter, con el que gan&oacute; el respeto que merec&iacute;a, al lado de sus cualidades art&iacute;sticas.</p>
	
	<figure class="imgParrafo">
		<img src="Cuba/Habana/Presalsa/Imagenes/Textos/novela_celia.png">
		<figcaption>Novela escrita  por Umberto Valverde sobre Celia Cruz.</figcaption>
	</figure>
	
	<p>Productores, directores, compositores y promotores del espect&aacute;culo, al igual que sus colegas m&uacute;sicos, fueron conscientes de su talento excepcional, con el que reparti&oacute; alegr&iacute;a por doquier. En Cali, donde estuvo muchas veces, fue reconocida y admirada, sobre todo por las mujeres que se sent&iacute;an orgullosas de ella. Como artista y mujer negra, lleg&oacute; a los m&aacute;s altos lugares que estaban s&oacute;lo reservados a los hombres. Y all&iacute; permaneci&oacute; siempre, inamovible, como permanece en el coraz&oacute;n y la memoria de sus seguidores.</p>
	<p>Celia, Bendita t&uacute; entre todas las mujeres y bendita es la m&uacute;sica que cantaste con todos, porque a tu lado estuvieron los mejores. Y a t&iacute;, como a ellos, que Dios los tenga en la rumba&hellip;</p>
	
	<figure class="imgParrafo">
		<img src="Cuba/Habana/Presalsa/Imagenes/Textos/celia_esposo.png">
		<figcaption>Celia Cruz con su esposo, el trompetista Pedro Knight - Foto cortes&iacute;a de Umberto Valverde.</figcaption>
	</figure>	

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
