<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">MIGUELITO VALD&Eacute;S MR. BABAL&Uacute;: De la Habana a Nueva York</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>Durante la primera mitad del siglo XX, la m&uacute;sica cubana tuvo un desarrollo extraordinario. Gracias a la confluencia entre la herencia cultural hispana y la herencia africana se produjo una decantaci&oacute;n de los ritmos folcl&oacute;ricos y populares que evolucionaron en las ciudades con el advenimiento de diferentes formatos orquestales. De sus pueblos y ciudades surg&iacute;an compositores,directores,instrumentistas y cantantes. Uno de ellos fue Miguelito Vald&eacute;s, Mr. Babal&uacute;, nacido en la Habana a comienzos del siglo quien se radic&oacute; en Nueva York en los a&ntilde;os 40.</p>
	<p>Simult&aacute;neamente con los grupos de son, los conjuntos y las charangas, existi&oacute; otro formato orquestal en la Cuba de esa &eacute;poca. Se trataba de la Jazz Band, agrupaci&oacute;n conformada por 4 &oacute; 5 saxos, cuatro trompetas, tromb&oacute;n, piano y contrabajo, complementada en la isla con la percusi&oacute;n cubana.</p>
	<p>Sobresalieron en el formato de jazz band, la Orquesta de los Hermanos Castro, Los Hermanos Palau, la Cosmopolita, la orquesta Casino de la Playa, la Riverside, la de P&eacute;rez Prado, la de Mariano Mercer&oacute;n, &quot;La tribu&quot; de Benny Mor&eacute; y la orquesta de Bebo Vald&eacute;s.</p>
	<p>La Casino de la Playa, dirigida por el violinista Guillermo Portela, tuvo entre sus integrantes al pianista Anselmo Sacasas, al saxofonista Liduvino Pereira y a los cantantes Miguelito Vald&eacute;s, &quot;Mr. Babal&uacute;&quot; y Orlando Guerra &quot;Cascarita&quot;. En 1939, la Casino de la Playa se present&oacute; en Cartagena de Indias, y desde entonces su imagen de gran orquesta prevaleci&oacute; tambi&eacute;n en Colombia. En ella se form&oacute; Miguelito Vald&eacute;s antes de ir a cantar con Xavier Cugat en Estados Unidos y de que se vinculara a la Sonora Matancera, con la que interpret&oacute; la guaracha &rdquo;Yo no soy guapo&rdquo;. Con la Casino de la Playa grab&oacute; &quot;Babal&uacute;&quot;, un afro de Margarita Lecuona que fue todo un suceso y del cual se deriv&oacute; su nombre art&iacute;stico: &quot;Mr. Babal&uacute;&quot;. Miguelito Vald&eacute;s introduc&iacute;a en su cantar frases en lengua lucum&iacute; acompasadas en ricas improvisaciones. A&uacute;n recordamos su imagen alegre dejada en Cali cuando volvi&oacute; en 1976 e interpret&oacute;, con la Sonora Matancera, su famoso &quot;Babal&uacute; Ay&eacute;&quot;, /&ldquo;est&aacute; empezando lo velorio /y qu&eacute; le hacemo&acute; a babal&uacute;/ dame 17 vela' (jajaja) /pa' ponerla' en Cru'/ y dame un cabo de tabaco Mayengue/ y un jarrito de aguardiente/ dame un poco de dinero mayengue /pa' que nos d&eacute; suerte/ Yo quiero ped&iacute;' /que mi negra me quiera/ que tenga dinero/ y que no se muera/ que yo le quiere ped&iacute;/ a babal&uacute; /ay una negra bembona/ como t&uacute;/ ay que no tenga otro negro/ pa' que no se fuera/ Babal&uacute; ay&eacute;/ babal&uacute; ay&eacute;&hellip;&rdquo;/</p>
	<p>Miguelito Vald&eacute;s, como tantos otros m&uacute;sicos cubanos del siglo XX aport&oacute; con su creaci&oacute;n y su voz a la construcci&oacute;n de la identidad cultural de la isla, dentro y fuera de ella. Como gran artista que fue, influy&oacute; en los cantantes de salsa en Nueva York, donde se radic&oacute; y desde donde viaj&oacute; a distintos pa&iacute;ses, entre ellos Colombia, donde falleci&oacute; una noche de noviembre de 1978 en plena presentaci&oacute;n en la ciudad de Bogot&aacute;. Dicen que sus &uacute;ltimas palabras fueron: &quot;Con permiso se&ntilde;ores...&quot;.</p>
	

	<figure class="imgParrafo">
		<img src="Cuba/Habana/Presalsa/Imagenes/Textos/celia_cruz.png">
		<figcaption>Celia Cruz, Miguelito Valdes y William Maya &quot;Mu&ntilde;eco&quot;. Almacen de Discos. Cali 1975.</figcaption>
	</figure>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
