<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">4. La Diaspora Afrocaribe&ntilde;a</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
