<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Yayo el Indio el corista de todos 1986</h3>
</div>
<div class="modal-body" style="text-align: justify;">
		<!--onloadstart -->
    <audio  preload="none" controls data-info-att="Audio Yayo el Indio el corista de todos 1986.">
        <source src="NuevaYork/Barrio/Presalsa/Audio/yayo_audio.mp3" type="audio/mpeg" >
        Your browser does not support the audio element.
    </audio>
    
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>    
</div>







