
<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="NuevaYork/Barrio/Presalsa/Imagenes/Escenario/maqueta.jpg" class="hidden-phone fondo">-->
    <img  src="NuevaYork/Barrio/Presalsa/Imagenes/Escenario/barrio_ny_presalsa_fondo.jpg" class="hidden-phone fondo">
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Presalsa/textoElBarrioLatino.html')" 
        data-toggle="tooltip" data-placement="left" title="El Barrio Latino">
        <span class="hidden-tablet hidden-desktop ">El Barrio Latino</span>
        <img id="boricuaLetrero"  src="NuevaYork/Barrio/Presalsa/Imagenes/Escenario/boricua_letrero.png" class="hidden-phone  positionItem"  
             style="width :4.2%; height:3.6%; top:68.9%; left:59.4%;">
        <img id="boricuaLetreroMovil" src="NuevaYork/Barrio/Presalsa/Imagenes/Movil/boricua_letrero_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Presalsa/videoLaMigracionCheoFeliciano.html')" 
        data-toggle="tooltip" data-placement="left" title="La Migraci&oacute;n Cheo Feliciano">
        <span class="hidden-tablet hidden-desktop ">La Migraci&oacute;n Cheo Feliciano</span>
        <img id="empire"  src="NuevaYork/Barrio/Presalsa/Imagenes/Escenario/empire.png" class="hidden-phone  positionItem"  
             style="width :2.9%; height:28.5%; top:38.2%; left:20.4%;">
        <img id="empireMovil" src="NuevaYork/Barrio/Presalsa/Imagenes/Movil/empire_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Presalsa/textoLaSalsaEnConceptos.html')" 
        data-toggle="tooltip" data-placement="left" title="La Salsa en Conceptos">
        <span class="hidden-tablet hidden-desktop ">La Salsa en Conceptos</span>
        <img id="musicLetrero"  src="NuevaYork/Barrio/Presalsa/Imagenes/Escenario/music_letrero.png" class="hidden-phone  positionItem"  
             style="width :3.2%; height:4%; top:68.6%; left:55.4%;">
        <img id="musicLetreroMovil" src="NuevaYork/Barrio/Presalsa/Imagenes/Movil/music_letrero_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Presalsa/textoLaSalsaEntreElBarrio.html')" 
        data-toggle="tooltip" data-placement="left" title="La Salsa entre el barrio">
        <span class="hidden-tablet hidden-desktop ">La Salsa entre el barrio</span>
        <img id="stickball"  src="NuevaYork/Barrio/Presalsa/Imagenes/Escenario/stickball.png" class="hidden-phone  positionItem"  
             style="width :11.4%; height:23%; top:75%; left:28.4%;">
        <img id="stickballMovil" src="NuevaYork/Barrio/Presalsa/Imagenes/Movil/stickball_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Presalsa/textoMiguelitoValdes.html')" 
        data-toggle="tooltip" data-placement="left" title="Miguelito Vald&eacute;s">
        <span class="hidden-tablet hidden-desktop ">Miguelito Vald&eacute;s</span>
        <img id="miguelitoValdes"  src="NuevaYork/Barrio/Presalsa/Imagenes/Escenario/miguelito_valdes.png" class="hidden-phone  positionItem"  
             style="width:9.8%; height:28.5%; top:71.8%; left:2.3%;">
        <img id="miguelitoValdesMovil" src="NuevaYork/Barrio/Presalsa/Imagenes/Movil/miguelito_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Presalsa/videoTitoRodriguez.html')" 
        data-toggle="tooltip" data-placement="left" title="Tito Rodr&iacute;guez">
        <span class="hidden-tablet hidden-desktop ">Tito Rodr&iacute;guez</span>
        <img id="titoRodriguez"  src="NuevaYork/Barrio/Presalsa/Imagenes/Escenario/tito_rodriguez.png" class="hidden-phone  positionItem"  
             style="width:10%; height:28%; top:72.4%; left:14.6%;">
        <img id="titoRodriguezMovil" src="NuevaYork/Barrio/Presalsa/Imagenes/Movil/tito_rodriguez_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Presalsa/textoArsenioRodriguez.html')" 
        data-toggle="tooltip" data-placement="left" title="Arsenio Rodr&iacute;guez">
        <span class="hidden-tablet hidden-desktop ">Arsenio Rodr&iacute;guez</span>
        <img id="arsenio"  src="NuevaYork/Barrio/Presalsa/Imagenes/Escenario/arsenio.png" class="hidden-phone  positionItem"  
             style="width:15.3%; height:26.6%; top:73.3%; left:39.2%;">
        <img id="arsenioMovil" src="NuevaYork/Barrio/Presalsa/Imagenes/Movil/arsenio_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Presalsa/audioYayoElIndioELCoristaDeTodos.html')" 
        data-toggle="tooltip" data-placement="left" title="Yayo el Indio el corista de todos 1986">
        <span class="hidden-tablet hidden-desktop ">Yayo el Indio el corista de todos 1986</span>
        <img id="inmigrantes"  src="NuevaYork/Barrio/Presalsa/Imagenes/Escenario/inmigrantes.png" class="hidden-phone  positionItem"  
             style="width:6.2%; height:12.6%; top:81.6%; left:54.4%;">
        <img id="inmigrantesMovil" src="NuevaYork/Barrio/Presalsa/Imagenes/Movil/inmigrantes_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Presalsa/textoTitoPuente.html')" 
        data-toggle="tooltip" data-placement="left" title="Tito Puente">
        <span class="hidden-tablet hidden-desktop ">Tito Puente</span>
        <img id="titoPuente"  src="NuevaYork/Barrio/Presalsa/Imagenes/Escenario/tito_puente.png" class="hidden-phone  positionItem"  
             style="width:8.9%; height:28%; top:72.7%; left:61.9%;">
        <img id="titoPuenteMovil" src="NuevaYork/Barrio/Presalsa/Imagenes/Movil/tito_puente_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Presalsa/textoJoeCuba.html')" 
        data-toggle="tooltip" data-placement="left" title="Joe Cuba">
        <span class="hidden-tablet hidden-desktop ">Joe Cuba</span>
        <img id="joeCuba"  src="NuevaYork/Barrio/Presalsa/Imagenes/Escenario/joe_cuba.png" class="hidden-phone  positionItem"  
             style="width:11.5%; height:25%; top:75.1%; left:76.5%;">
        <img id="joeCubaMovil" src="NuevaYork/Barrio/Presalsa/Imagenes/Movil/joe_cuba_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Presalsa/textoLaMarqueta.html')" 
        data-toggle="tooltip" data-placement="left" title="La Marqueta">
        <span class="hidden-tablet hidden-desktop ">La Marqueta</span>
        <img id="marqueta"  src="NuevaYork/Barrio/Presalsa/Imagenes/Escenario/marqueta.png" class="hidden-phone  positionItem"  
             style="width:9%; height:23%; top:74.8%; left:91.3%;">
        <img id="marquetaMovil" src="NuevaYork/Barrio/Presalsa/Imagenes/Movil/marqueta_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Barrio/Presalsa/textoCharliePalmieri.html')" 
        data-toggle="tooltip" data-placement="left" title="Charlie Palmieri">
        <span class="hidden-tablet hidden-desktop ">Charlie Palmieri</span>
        <img id="charliePalmieri"  src="NuevaYork/Barrio/Presalsa/Imagenes/Escenario/charlie_palmieri.png" class="hidden-phone  positionItem"  
             style="width:9.2%; height:27%; top:73%; left:85.2%;">
        <img id="charliePalmieriMovil" src="NuevaYork/Barrio/Presalsa/Imagenes/Movil/charlie_palmieri_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

</div>

<script>
    $("a[rel=popover]").popover();
</script>
