<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">El Barrio Latino entre Spanish Harlem y el South Bronx</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>El &laquo;Barrio&raquo; ten&iacute;a todo para ser una fuente de creaci&oacute;n cultural que se expresaba fundamentalmente por medio de la m&uacute;sica en los diferentes espacios donde se organizaron los grupos y se presentaban las orquestas. Calles, esquinas, clubes, salones de baile y hasta el Central Park donde hubo conciertos al aire libre, est&aacute;n registrados no s&oacute;lo como espacios f&iacute;sicos sino como escenarios mentales y espirituales ocupados por la m&uacute;sica y el baile, en tanto pr&aacute;cticas significativas en la vida cotidiana del Barrio y sus habitantes. Gracias a ellas se manten&iacute;a el v&iacute;nculo con las generaciones anteriores, con la m&uacute;sica y la cultura de sus padres que hab&iacute;an llegado desde el Caribe insular, movidos por distintas razones pero con una experiencia social en com&uacute;n. Al mismo tiempo, los j&oacute;venes reci&eacute;n llegados o hijos de inmigrantes, eran influenciados por las corrientes de la modernidad urbana, las tradiciones de otras culturas como la de los afroamericanos que ocupaban el mismo suelo aunque hablaban otra lengua y contaban con otras m&uacute;sicas, (el blues, el soul, el rhythm and blues, el jazz y el latin jazz) que conviv&iacute;an al lado de la m&uacute;sica latina, bajo un nuevo contexto. Las interacciones entre pares y los intercambios con la otredad, moldearon una nueva sensibilidad que sin dejar de ser del todo caribe&ntilde;a, no era del todo americana. Y en ese intersticio nacer&aacute; la salsa, en un punto liminal entre lo que hab&iacute;a sido y lo que habr&iacute;a de ser, entre el pasado de unas comunidades de ascendencia urbana, rural o pueblerina y el desaf&iacute;o de los tiempos modernos signados por la velocidad y el acelere de la capital del mundo. Todo se conjugaba para que fuera una m&uacute;sica diferente y no una reproducci&oacute;n calcada de la m&uacute;sica cubana, como se ha dicho tantas veces por quienes han ignorado este proceso.</p>
	<p>Porque fue sobretodo en el movimiento de ida y vuelta Puerto Rico - Nueva York, Nueva York - Puerto Rico, como se origin&oacute; la Salsa, hasta consolidar una m&uacute;sica urbana que hoy es universal. Vi&eacute;ndolo desde la otra orilla, &laquo;La Isla del encanto&raquo; aport&oacute; al nacimiento de la nueva criatura con artistas, g&eacute;neros e historias, surgidos en sus barriadas populares: La Parada 21, Villa Palmeras, Barrio Obrero y la Calle Calma en Santurce; la Perla y Puerta de Tierra en San Juan; y desde Ponce y Mayag&uuml;ez donde se teji&oacute; tambi&eacute;n otra historia socio musical cuyo eco resonaba al mismo tiempo en el Barrio Latino de Nueva York. En conjunto, se trataba de un proceso creativo en el que participaron tambi&eacute;n m&uacute;sicos cubanos, dominicanos, paname&ntilde;os, venezolanos y norteamericanos, sobre todo neoyorquinos y californianos.</p>
	<p>A partir de los 60, el &laquo;esp&iacute;ritu&raquo; del Barrio se prolong&oacute; con la m&uacute;sica hasta m&aacute;s all&aacute; de sus fronteras, dentro y fuera de Nueva York. Hacia afuera, por todo el Caribe y en algunas ciudades latinoamericanas como Cali. Aqu&iacute;, la salsa lleg&oacute; para quedarse entre los sectores populares de la poblaci&oacute;n, donde se hab&iacute;a arraigado antes, la m&uacute;sica de la pre-salsa.</p>
	
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
