<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Los M&uacute;sicos de la Presalsa</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>La salsa no hubiera sido posible sin el legado de los viejos m&uacute;sicos de la pre-salsa, que abrieron el camino, tanto en Cuba como en Puerto Rico y sobretodo en Nueva York, donde estaba el epicentro de la industria discogr&aacute;fica y el mercado m&aacute;s importante para ellos.</p>
	<p>Tito Puente, timbalero, vibrafonista, compositor y director musical, inici&oacute; su carrera hacia 1940, y fue uno de los que trascendi&oacute; de la pre-salsa a la salsa en los a&ntilde;os 60. Como director de una big band latina, comparti&oacute; con sus colegas cubanos, puertorrique&ntilde;os y neoyorquinos, los mejores momentos del Palladium, donde fue uno de las figuras m&aacute;s representativas, a lo largo de los a&ntilde;os 50. Posteriormente, lider&oacute; una de las orquestas de la salsa en Nueva York, con una extensa producci&oacute;n discogr&aacute;fica.</p>
	<p>Tito Puente hace parte de los aut&eacute;nticos maestros que legaron a las nuevas generaciones una vasta obra &ndash; la m&uacute;sica latina - y un conocimiento imprescindible para el surgimiento de la salsa como una sonoridad urbana consciente de su tiempo. La Generaci&oacute;n del 30, creadora de la salsa en Nueva York y Puerto Rico, hered&oacute; un extraordinario legado de melod&iacute;as, ritmos y armon&iacute;as; textos, g&eacute;neros musicales y formatos orquestales; composiciones, t&eacute;cnicas de interpretaci&oacute;n vocal e instrumental. En conjunto, un patrimonio simb&oacute;lico, cultural y musical construido por grandes artistas. Entre ellos, los cubanos, Alberto Socarr&aacute;s, Antonio Mach&iacute;n, Mario Bauz&aacute;, Frank Grillo &ldquo;Machito&rdquo;, Graciela P&eacute;rez, Chano Pozo, Miguelito Vald&eacute;s, Jos&eacute; Curbelo, Panchito Riset, D&aacute;maso P&eacute;rez Prado, Benny Mor&eacute;, Celia Cruz, Rogelio Mart&iacute;nez y la Sonora Matancera, Enrique Jorr&iacute;n, Bebo Vald&eacute;s, Vicentico Vald&eacute;s, Israel L&oacute;pez Cachao y su hermano Orestes L&oacute;pez, &Ntilde;ico Saquito, Mongo Santamar&iacute;a, Marcelino Guerra, Patato Vald&eacute;s, Gilberto Vald&eacute;s, Jos&eacute; Fajardo, Gonzalo Fern&aacute;ndez, Rolando Lozano, C&aacute;ndido Camero, Armando Peraza, Alfredo &ldquo;Chocolate&rdquo; Armenteros, y Arsenio Rodr&iacute;guez, quiz&aacute;s el que m&aacute;s influencia tuvo en la generaci&oacute;n de salseros neoyorquinos.</p>

	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/jose_mangual.png">
		<figcaption>Jos&eacute; Mangual Sr. &quot;Buy&uacute;&quot;, percusionista puertorrique&ntilde;o, fue durante muchos a&ntilde;os el bongosero de Frank Grillo Machito y su orquesta, cuando el apogeo del Palladium Ball Room en Nueva York en la d&eacute;cada del 50. En la imagen, &quot;Buy&uacute;&quot; afina el bong&oacute; con un candil, como se hac&iacute;a antes. (Foto cortes&iacute;a de Jos&eacute; Mangual Jr.).</figcaption>
	</figure>
	
	<p>Varios de ellos hab&iacute;an llegado a Nueva York en las d&eacute;cadas del 30 al 50; otros salieron de Cuba luego de la revoluci&oacute;n en 1959, y unos m&aacute;s permanecieron en la isla, bajo el nuevo r&eacute;gimen pol&iacute;tico. Algunos veteranos como Chocolate Armenteros, Machito, Patato Vald&eacute;s y Celia Cruz, transitaron hacia la salsa sin inconvenientes. Otros m&aacute;s j&oacute;venes como Pupy Legarreta, Roberto Torres, Orestes Vilat&oacute;, Miguel Quintana y Chombo Silva, se integraron a la nueva generaci&oacute;n de salseros en Nueva York y compartieron con ellos y con los puertorrique&ntilde;os el nacimiento de la nueva criatura.</p>
	<p>Al mismo tiempo que los cubanos, hubo una camada de m&uacute;sicos puertorrique&ntilde;os durante la Pre-salsa. Muchos de ellos vivieron en el Barrio, desde los a&ntilde;os 20 y 30; otros despu&eacute;s de la segunda guerra mun dial y a lo largo de los a&ntilde;os 50. Algunos iban y ven&iacute;an de Puerto Rico a Nueva York o viceversa, seg&uacute;n las ofertas y demandas del espect&aacute;culo, o las posibilidades de quedarse en uno y otro lugar. Desde su sede permanente incursionaban en otros pa&iacute;ses latinoamericanos como M&eacute;xico, Cuba y Venezuela, donde dejaron tambi&eacute;n sus influencias. Varios de ellos trascendieron hasta la salsa, a la que aportaron en su momento.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/jam_session.png">
		<figcaption>Jam Session en el Palladium cuando se juntaron las orquestas de Frank Grillo Machito, Tito Puente y Tito Rodr&iacute;guez, dirigidos por el primero. A la derecha, Tito Rodr&iacute;guez al lado de Graciela Grillo. Frente a Machito el timbalero Ubaldo Nieto y los congueros, de izquierda a derecha, &quot;Chonguito&quot;, Luis Miranda y &quot;Patato&quot; Vald&eacute;s. A la izquierda de Machito, Monchito Mu&ntilde;oz en el timbal y tras &eacute;l Mario Bauz&aacute; con la trompeta hacia arriba. Al fondo, Tito Puente frente a otro de los trompetistas.<br /> (Foto cortes&iacute;a de Jos&eacute; Mangual Jr.).</figcaption>
	</figure>
	
	<p>Entre los puertorrique&ntilde;os figuran Rafael Hern&aacute;ndez, Juan Tizol, Pl&aacute;cido Acevedo, Fernando Arbello, Ralph Escudero, Augusto Cohen, hermanos Miguel y Rafael Duchesne, Fausto Delgado, Pepito Monserrat&raquo;Pedro Flores, Daniel Santos, Pedro Ortiz &laquo;Davilita&raquo;, Jos&eacute; Armengol D&iacute;az, Heriberto Torres, Pedro &laquo;Piquito&raquo; Marcano, Moncho Usera, Noro Morales, Paquito L&oacute;pez Cruz, Manuel Jim&eacute;nez &ldquo;Canario&rdquo;, Jos&eacute; &laquo;Pin&raquo; Madera, Johnny Rodr&iacute;guez, Tito Rodr&iacute;guez, Pepito Torres, Jos&eacute; Mangual Sr, Miguelito Miranda, Ubaldo Nieto, C&eacute;sar Concepci&oacute;n, Joe Valle, Lito Pe&ntilde;a, Bobby Cap&oacute;, Isrrael Berr&iacute;os,To&ntilde;ito Ferrer, Moncho Le&ntilde;a, Mon Rivera, Santitos Col&oacute;n&hellip;(Una vez m&aacute;s, cualquier lista siempre ser&aacute; incompleta&hellip;)</p>
	<p>Ahora bien; como el Barrio Latino fue poblado y habitado primordialmente por puertorrique&ntilde;os y sus descendientes (nuyoricans o nuyorrique&ntilde;os), la plena , el seis y la m&uacute;sica t&iacute;pica de Puerto Rico fueron primordiales durante el periodo de la pre-salsa, sin detrimento de los ritmos afrocubanos, cuya presencia en el Barrio era innegable. Aunque hubo periodos de tensi&oacute;n y desencuentros entre ellos, la relaci&oacute;n entre m&uacute;sicos cubanos y puertorrique&ntilde;os, con su respectivo patrimonio &laquo;nacional&raquo; a cuestas, fue determinante para el surgimiento de la salsa, en la transici&oacute;n a los a&ntilde;os 60. Muchas agrupaciones se formaron con integrantes de ambos pa&iacute;ses, haciendo de esa relaci&oacute;n uno de los pilares de la identidad latina que los salseros exaltaron con sus propuestas.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/patato_valdes.png">
		<figcaption>De izquierda a derecha: Patato Vald&eacute;s en las congas, Jos&eacute; Mangual Sr. &quot;Buy&uacute;&quot; en el bong&oacute; y Frank Grillo &quot;Machito&quot; en las maracas. (Foto cortes&iacute;a de Jos&eacute; Mangual Jr.).</figcaption>
	</figure>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/jose_mangual2.png">
		<figcaption>A la izquierda Jos&eacute; Mangual Sr. &quot;Buy&uacute;&quot;, en el bong&oacute;; Frank Grillo Machito, con las maracas y Carlos Vidal en las congas. (Foto cortes&iacute;a de Jos&eacute; Mangual Jr.).</figcaption>
	</figure>
	
	<p>Hoy, la realidad nos ense&ntilde;a hasta ahora, que el uso de las nuevas mediaciones no significa la desaparici&oacute;n autom&aacute;tica de las anteriores. El CD, la USB, el mp3 y el computador coexisten en muchos lugares con el acetato y el vinilo. El LP, el 45, incluso el disco de 78 Rpm, siguen rodando en muchos tornamesas, sobreviven en casas de familia, bares y tabernas, no solo de salsa y m&uacute;sica latina. Y as&iacute; como &ldquo;conviven&rdquo; en determinados espacios, tambi&eacute;n van perdiendo terreno frente a las nuevas generaciones, por la avalancha tecnol&oacute;gica del siglo XXI, que avanza inexorable. Pero, cualquiera que sea el dispositivo, la figura del disc&oacute;mano, DJ o bloguero, seguir&aacute; siendo un mediador fundamental, no s&oacute;lo en la difusi&oacute;n de la m&uacute;sica, sino en la creaci&oacute;n del gusto y en la formaci&oacute;n de un p&uacute;blico que, con criterio est&eacute;tico, o sin &eacute;l, ser&aacute; influenciado por la m&uacute;sica que se divulgue.</p>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
