<div class="modal-header">
	
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">La  Salsa: entre el Barrio, la Calle y la Ciudad</h3>
    
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>Max Salazar, uno de los cronistas m&aacute;s importantes de la salsa en Nueva York, cuenta que &ldquo;en 1919, cuando los puertorrique&ntilde;os comenzaron a poblar el Barrio (en East Harlem) la mayor&iacute;a de ellos hablaba espa&ntilde;ol. Pero al comenzar la d&eacute;cada del 40 se hab&iacute;an desarrollado un dialecto regional y una cultura llamada &ldquo;Newyorican&rdquo;&hellip; (En: Vernon Boggs, Salsiology, 1992:240).</p>
	<p>Por su parte, la antrop&oacute;loga Elena Padilla realiz&oacute; una investigaci&oacute;n etnogr&aacute;fica en el Barrio al promediar los a&ntilde;os 50, publicada en 1958 por la Universidad de Columbia con el nombre &laquo;Up from Puerto Rico&raquo;. Al respecto, Padilla escribe lo siguiente: &laquo;La mayor&iacute;a de los Puertorrique&ntilde;os de Eastville &ndash; como llama ella al Barrio - hoy en d&iacute;a son emigrantes recientes. Sin embargo, en este grupo &eacute;tnico se incluyen los que nacieron y crecieron en NY, y tambi&eacute;n aquellos que vinieron hace 30 o 40 a&ntilde;os cuando eran j&oacute;venes o ni&ntilde;os&hellip; En 1955 se estimaba que hab&iacute;a entre 500.000 y 550.000 puertorrique&ntilde;os en NY&raquo;. (Padilla 1958:20 &ndash; 21). Los programas para la emigraci&oacute;n y las relativas facilidades de transporte en avi&oacute;n (&laquo;La guagua &aacute;erea&raquo;, como la llam&oacute; Luis Rafael S&aacute;nchez), estimularon los viajes y la salida de los puertorrique&ntilde;os, a tal punto que de acuerdo con Padilla &laquo;para aquellos que se van de la isla, Nueva York es una frontera puertorrique&ntilde;a y no un pa&iacute;s for&aacute;neo...&raquo; (1958:24). Esos inmigrantes no s&oacute;lo trabajaban para vivir en EU, sino para apoyar a sus familias en la isla o ayudarlas a emigrar. Padilla escribe que en 1954 se enviaron 30 millones de d&oacute;lares de Nueva York a Puerto Rico en remesas por correo sin contar env&iacute;os en efectivo, ni regalos personales a familiares y amigos&hellip; (1958 : 22). En otras regiones de Estados Unidos, fuera de NY, hab&iacute;a entre 160.000 175.000 puertorrique&ntilde;os m&aacute;s, seg&uacute;n el estudio de Elena Padilla.</p>
	<p>En t&eacute;rminos de est&aacute;ndares americanos, &laquo;Eastville&raquo; era entonces un vecindario de gente pobre. Por su origen caribe&ntilde;o y popular, los moradores &laquo;hispanos&raquo; del Barrio se diferenciaban de otros grupos &eacute;tnicos. Se trata de mestizos, negros y mulatos de distintos matices, en su mayor&iacute;a de origen puertorrique&ntilde;o. De acuerdo con el censo de ocupaciones de 1950, citado por Padilla, los habitantes del &laquo;Eastville&raquo; realizaban trabajos poco calificados o sin especializacion alguna. La mayor&iacute;a eran empleados en f&aacute;bricas o en el sector comercial, (almacenes, restaurantes, hospitales, lavander&iacute;as y casas particulares como empleados del servicio). Algunos depend&iacute;an de la ayuda del estado para sobrevivir. Seg&uacute;n su investigaci&oacute;n, al lado de la pobreza y las necesidades extremas, el consumo de estupefacientes rodeaba la vida cotidiana del Barrio. &laquo;Como en otras barriadas, las gentes de Eastville saben del n&uacute;mero de mujeres alcoh&oacute;licas, prostitutas, adictos, traficantes de drogas, ladrones y otros delincuentes que invaden sus calles. Pero tambi&eacute;n est&aacute;n conscientes de los ciudadanos que respetan las leyes, los puritanos, los conservadores y los radicales en moda y costumbres. De esos que trabajan duro y otros que lo hacen con su ingenio&raquo;. (Padilla 1958: 6 ).</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/116.png">
		<figcaption>La 116, una calle emblem&aacute;tica del Barrio Latino, habitado en la actualidad principalmente por mexicanos y centroamericanos. Foto Alejandro Ulloa, mayo 5 de 2011.</figcaption>
	</figure>
	
	<p>De acuerdo con el relato etnogr&aacute;fico de Elena Padilla, &laquo;el Eastville es un vecindario &laquo;mezclado&raquo; - distinto de lo que dice la prensa sobre el Spanish Harlem o el Barrio Latino - en donde los puertorrique&ntilde;os interact&uacute;an en sus quehaceres diarios con los no puertorrique&ntilde;os y tienen relaciones interpersonales con miembros de otras etnias que involucran tanto tensiones y conflictos, como amistad y entendimiento&raquo; (1958: 11).</p>
	<p>Al participar de actividades comunes con seres distintos, se desarrollan los sentimientos de vecindad y solidaridad que unen a las personas de todos los grupos &eacute;tnicos. Al estar expuestos a la discriminaci&oacute;n y los conflictos que se derivan de ella, se fortalecen esos sentimientos. Tanto los sentimientos positivos como los negativos se juntan para formar el cuerpo social del vecindario.</p>
	<p>Ciertas actividades como los bazares y las verbenas concitan la reuni&oacute;n entre los vecinos que comparten momentos de recreaci&oacute;n y confraternidad en torno a prop&oacute;sitos comunes mediados por alguna instituci&oacute;n. Es lo que nos cuenta Elena Padilla: &laquo;Al final de agosto, un evento social de grandes proporciones se lleva a cabo en Eastville, cuando una de las iglesias hace un bazar. Varios residentes atienden en los kioscos de comida y venden perros calientes, patas de cerdo, pasteles, (tamales) pastelitos, etc. Bailes gitanos se llevan a cabo con el fin de recoger fondos para la iglesia. En esa noche los j&oacute;venes bailan en la calle desde Rock and Roll hasta Mambo. Los bailarines son de diferentes grupos &eacute;tnicos que tienden a ocupar partes separadas de las calles aunque muy cerca el uno del otro.&raquo; (1958: 18).</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/116_2.png">
		<figcaption>La 116 en Spanivsh Harlem, ocupada por ciudadanos mexicanos durante una de sus celebraciones nacionales.Foto Alejandro Ulloa - Mayo 5 de 2011.</figcaption>
	</figure>
	
	<p><strong>La Callejer&iacute;a Musical</strong></p>
	<p>Para Elena Padilla, ninguna descripci&oacute;n de Eastville (el Barrio ), puede ser real si se ignora el papel de la calle en la vida de su gente. Y dada la importancia que le concede a la calle, queremos valernos de su etnograf&iacute;a para postular otra de nuestras tesis con respecto al nacimiento de la salsa en el Barrio Latino de Nueva York. Como es de suponer, la relaci&oacute;n de la gente con la calle &ndash; entre muchas cosas m&aacute;s &ndash; se modifica con los cambios del clima y las estaciones, all&iacute; donde estas existen.</p>
	<p> En su narraci&oacute;n, Padilla resalta c&oacute;mo la crudeza del invierno dificulta la vida cotidiana en un h&aacute;bitat precario y sin servicios suficientes para soportarlo. Por eso, en el invierno la gente del Barrio tiende a quedarse m&aacute;s tiempo en sus casas. Pero en el verano, escribe Padilla, &laquo;el calor pegajoso, la humedad de las tuber&iacute;as, generalmente da&ntilde;adas, y los olores de las basuras, se mezclan en los apartamentos, contaminan los pasillos y las salas, todo lo cual expulsa a la gente a permanecer en las calles donde puede encontrar una atm&oacute;sfera m&aacute;s fresca&raquo;.</p>
	<p> Para ella es fundamental esa relaci&oacute;n con la calle, sobretodo en el verano cuando los moradores ocupan las aceras, las tiendas y las v&iacute;as a&uacute;n llenas de basura. Al respecto escribe: &laquo;Las calles y los callejones son notables por la cantidad de gente de todo grupo &eacute;tnico concebible que se mantienen afuera para escapar de sus apartamentos. D&iacute;a y noche las victrolas en las tiendas de dulces inundan el Barrio con las &uacute;ltimas canciones de la temporada. Y no es extra&ntilde;o ver muchachos o adultos j&oacute;venes bailando solos dentro de las tiendas o en los andenes. Bailan el rock and roll de los Velvets o los mambos y merengues de Xavier Cugat. Otros, bajo la tutela de los que conocen el ritmo y lo bailan, tratan de aprenderlo mirando y practicando los pasos que observan&raquo;. ( Padilla 1958: 9).</p>
	<p>Luego a&ntilde;ade la siguiente semblanza de la calle en el Barrio: &laquo;El ruido de la m&uacute;sica y las palabras del &laquo;yidish&raquo; (idioma de los jud&iacute;os), espa&ntilde;ol, italiano, e ingl&eacute;s, junto al ladrido de los perros, los movimientos de la gente y los pitos de los carros, se entremezclan en una banda sonora polif&oacute;nica que enmarca el transcurrir del vecindario. S&oacute;lamente el fr&iacute;o invierno o las noticias que rondan sobre posibles peleas entre pandillas, evitan que las personas salgan de sus viviendas. De otra manera, las calles, los andenes, las tiendas y los bares est&aacute;n llenos con gente que se reune, conversa, baila y se relaja&hellip;Otras veces se ve a los adolescentes en las dulcer&iacute;as donde pueden escuchar sus canciones favoritas en las victrolas, para bailar el rock and roll (&laquo;The Ship of love&raquo;, &laquo;Sexy Ways&raquo; o &laquo;Good Night, Good Night Sweet heart&hellip;&raquo;</p>
	<p>Este relato, contado desde adentro por la autora, da pie para plantear nuestra tesis sobre &laquo;La callejer&iacute;a musical&raquo;, es decir el escenario f&iacute;sico y social donde la m&uacute;sica y el baile son compartidos colectivamente. Es en el tiempo de ocio y en el espacio p&uacute;blico donde se intercambian los lenguajes y se celebran las pr&aacute;cticas que hacen menos dura la supervivencia. Para una comunidad como la caribe&ntilde;a, habituada en sus clases subalternas a la espontaneidad de las relaciones sociales, es imprescindible mantener el di&aacute;logo. Y estando lejos del suelo patrio, hablar es una necesidad imperiosa, m&aacute;s a&uacute;n si recordamos que para entonces la televisi&oacute;n apenas comienza y la ciudad carece del entramado tecnol&oacute;gico que hoy nos incita a recluirnos en la privacidad del hogar &ndash; para quienes lo tienen - conectados en di&aacute;logos virtuales o pegados a la pantalla chica. De ah&iacute; que la comunicaci&oacute;n interpersonal es tan vital como el aire, &oacute; la m&uacute;sica, para sobrevivir.</p>
	<p>A la calle se acude no s&oacute;lo porque las condiciones internas de la vivienda son insoportables, sino porque afuera est&aacute;n los otros con los que se puede hablar, los que experimentan esa misma insoportabilidad. Tambi&eacute;n est&aacute;n aquellos con los que se comparte la alegr&iacute;a, mediada por la experiencia del cuerpo con la m&uacute;sica y el baile en el espacio p&uacute;blico (Los puertorrique&ntilde;os nativos que habitan el Barrio desde mucho antes; los americanos descendientes de puertorrique&ntilde;os (nuyorricans); los puertorrique&ntilde;os reci&eacute;n llegados de la isla; los caribe&ntilde;os procedentes de otras islas; los hispanos no puertorrique&ntilde;os ni caribe&ntilde;os; los negros americanos que pueden pasar como/ o confundirse con los afrocaribe&ntilde;os)</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/miembros_latinos.png">
		<figcaption>Miembros de la comunidad Latina durante una celebraci&oacute;n en el Hostos Community College del Bronx. Encuentro de Coleccionistas, Octubre 2006 - Foto Alejandro Ulloa.</figcaption>
	</figure>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
