<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">LA  MARQUETA: El mercado p&uacute;blico del Barrio</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>En el siguiente fragmento, tomado de las Memorias de Bernardo Vega, se describe el mercado callejero que exist&iacute;a a comienzos del siglo XX, antes de formarse el Barrio Latino y antes de que el mercado empezara a llamarse La Marqueta por los hispanocaribe&ntilde;os que llegaban a habitarlo. Bernardo Vega, tabaquero, l&iacute;der popular y activista pol&iacute;tico y cultural, fue uno de los primeros inmigrantes puertorrique&ntilde;os en llegar a lo que luego ser&iacute;a Spanish Harlem, el Barrio Latino de Nueva York, donde se fragu&oacute; la m&uacute;sica salsa. En sus &ldquo;Memorias&rdquo;, Bernardo Vega plasm&oacute; sus primeras impresiones del mercado y el contexto del Barrio, cuando lleg&oacute; a &eacute;l..</p>

	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/la_marqueta.png">
		<figcaption>La marqueta.</figcaption>
	</figure>
	
	<p>&ldquo;Para el a&ntilde;o en que fij&eacute; mi residencia en Nueva York, 1916, los edificios de apartamentos y negocios de lo que vino a ser el barrio, nuestro barrio o Barrio latino, pertenec&iacute;an a jud&iacute;os. Las avenidas S&eacute;ptima, Saint Nicholas y Manhattan, as&iacute; como las calles inmediatas, estaban pobladas por israelitas pudientes, cuando no ricos. La calle 110 era el centro profesional del distrito. En la avenida Lenox estaban situados los comercios de lujo o fantas&iacute;a. Las tiendas de menor categor&iacute;a ocupaban la regi&oacute;n Este de la Quinta Avenida. El gueto de los jud&iacute;os pobres se extend&iacute;a a lo largo de la Avenida Park, entre las calles 110 y 117 y en las calles al Este de la Avenida Madison. En esta &uacute;ltima parte del barrio, ocupada por jud&iacute;os pobres, viv&iacute;an algunas familias puertorrique&ntilde;as y cubanas, aunque para este tiempo no pasaban de cincuenta. Pero aqu&iacute; tambi&eacute;n resid&iacute;an algunos tabaqueros boricuas solteros, que ocupaban habitaciones amuebladas (&ldquo;furnished rooms&rdquo;), las que abundaban en las manzanas comprendidas entre las avenidas Madison y Park. Esta &uacute;ltima avenida era la lonja del comercio barato.</p>
	<p>Funcionaba all&iacute; un mercado al aire libre. Los comerciantes montaban sus tiendas en las acercas debajo del puente del ferrocarril, temprano en la ma&ntilde;ana y recog&iacute;an sus tenderes por la tarde. El lugar era sucio y pestilente, y lo sigui&oacute; siendo hasta los tiempos del alcalde Fiorello La Guardia, quien organiz&oacute; el mercado en la forma que existe en la actualidad.</p>
	<p>Poblado como estaba en aquel entonces de hebreos, muchos de los cuales eran emigrantes recientes, parec&iacute;a aquello una torre Babel. Hab&iacute;a jud&iacute;os sefarditas que hablaban en antiguo espa&ntilde;ol o portugu&eacute;s; los hab&iacute;a de Levante y del Mediterr&aacute;neo, que hablaban italiano, franc&eacute;s, provenzal, rumano, turco, &aacute;rabe, griego... abundaban los individuos que manejaban cuatro y hasta cinco lenguas. En los mostradores y anaqueles improvisados, cuando no colgando de paredes y alambres, se exhib&iacute;a toda clase de mercanc&iacute;as. Se pod&iacute;a comprar all&iacute; desde la m&aacute;s insignificante aguja hasta un ajuar completo de novia. Y lo mismo se comparaba por 25 centavos un par de zapatos usados que por dos o tres centavos un mont&oacute;n de frutas o verduras&rdquo;.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/la_marqueta2.png">
		<figcaption>La marqueta.</figcaption>
	</figure>
	
	<p>&ldquo;Para este tiempo Harlem era un baluarte socialista. El partido ten&iacute;a numerosos clubes establecidos en el vecindario. En ellos se reun&iacute;a la juventud artesana, no por simple inter&eacute;s pol&iacute;tico, sino tambi&eacute;n por preocupaciones culturales. Adem&aacute;s, los clubes realizaban actividades deportivas y celebraban fiestas populares. Funcionaban dos centros principales inspirados por el Partido Socialista: el Harlem Terrace, sucursal de la Rand School, en la calle 104, y el Harlem Educational Center, en la 106, entre Madison y Park. A estas se sumaban otras sociedades culturales y gran n&uacute;mero de cooperativas obreras. El centro de asambleas y de los grandes actos bajo techo era el Park Palace, auditorio relativamente grande. Foro p&uacute;blico era la esquina de la calle 110 y quinta Avenida. All&iacute; se discut&iacute;a de todo -problemas pol&iacute;ticos, econ&oacute;micos, sociales, filos&oacute;ficos- y todas las noches hab&iacute;a m&aacute;s de media docena de oradores que expresaban sus puntos de vista con la participaci&oacute;n activa del p&uacute;blico.</p>
	<p>Las viviendas en ese creciente vecindario eran propiedad, en su mayor&iacute;a, de las familias que las habitaban. En no pocos edificios, los propietarios ocupaban un apartamento y ten&iacute;an el resto alquilado. No se hab&iacute;a impuesto a&uacute;n la explotaci&oacute;n del inquilinato por due&ntilde;os ausentistas, totalmente extra&ntilde;os a la comunidad. Los apartamentos eran amplios y relativamente c&oacute;modos. Se conservaban en buen estado, por lo mismo que los propietarios viv&iacute;an, por lo general, en el edificio. Sin duda, los jud&iacute;os que para aquel entonces resid&iacute;an en Harlem lo consideraban su barrio y sent&iacute;an ciertas ataduras sentimentales. All&iacute; hab&iacute;an crecido varias generaciones de hebreos. Ten&iacute;an all&iacute; sus propias instituciones educativas, sus sinagogas, sus teatros... Todo esto fue cambiado r&aacute;pidamente durante los a&ntilde;os de la primera guerra mundial y de la postguerra.&rdquo;</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/la_marqueta3.png">
		<figcaption>La marqueta.</figcaption>
	</figure>
	
	<p>Como espacio p&uacute;blico para el intercambio comercial de v&iacute;veres, alimentos y mercanc&iacute;as provenientes del Caribe, el mercado fue tambi&eacute;n lugar de encuentro y comunicaci&oacute;n para la comunidad del Barrio que empez&oacute; a llamarlo La Marqueta. All&iacute; converg&iacute;an los residentes y los reci&eacute;n llegados, peque&ntilde;os comerciantes y vecinos que con el tiempo construyeron formas de supervivencia y solidaridad, en medio del conflicto y las tensiones propias de la segregaci&oacute;n espacial, el racismo y la discriminaci&oacute;n de que eran objeto los inmigrantes latinos en la Capital del Mundo.</p>
	<p>En las siguientes fotos de noviembre 2011, se evidencia una nueva Marqueta resultado de un proyecto de remodelaci&oacute;n urbana adelantado con la participaci&oacute;n de las comunidades del Barrio.</p>
	

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
