<div class="modal-header">
	
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">La Salsa en Conceptos: Perdiodizaci&oacute;n</h3>
    
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>Diferenciamos dos grandes periodos en la historia de este proceso socio-musical: la Pre-salsa entre 1920 - 1960; y la Salsa desde 1960 en adelante. Durante a&ntilde;os estos dos periodos se superponen con la vigencia de veteranos artistas - y su m&uacute;sica - que participan de ambos momentos. La Pre-salsa corresponde a lo que en Nueva York y Puerto Rico se ha denominado &ldquo;M&uacute;sica Latina&rdquo;, mientras en Cali se conoce como &ldquo;M&uacute;sica Antillana&rdquo; o &ldquo;M&uacute;sica de la vieja guardia&rdquo; (cubana y puertorrique&ntilde;a).</p>
	<p>La&ldquo;Pre-salsa&rdquo; abarca el conjunto de g&eacute;neros, orquestas, m&uacute;sicos, obras, espacios y condiciones de producci&oacute;n y recepci&oacute;n sonora en las que transcurri&oacute; el proceso, tanto en Cuba y Puerto Rico, como en su proyecci&oacute;n a otros pa&iacute;ses y ciudades del continente (M&eacute;xico, Venezuela, Colombia, Rep&uacute;blica Dominicana, Aruba, Curazao, Panam&aacute;, Per&uacute;&hellip;Nueva York, Los &Aacute;ngeles, Miami&hellip;).</p>
	<p><strong>Los Criterios para esta periodizaci&oacute;n son los siguientes:</strong></p>
	<p>1-Entre 1900 y 1945 acontece la primera migraci&oacute;n puertorrique&ntilde;a a Nueva York (Clara Rodr&iacute;guez 1989). Desde comienzos de siglo XX se inici&oacute; un largo proceso migratorio de Puerto Rico a Nueva York debido a causas sociales, pol&iacute;ticas y econ&oacute;micas. Este proceso, que continu&oacute; despu&eacute;s de la segunda guerra mundial, dio lugar a la formaci&oacute;n de una comunidad puertorrique&ntilde;a, que habitaba entre Brooklyn, East Harlem y el South Bronx. A mediados del siglo XX el East Harlem ya era conocido como Spanish Harlem o el Barrio Latino, hasta donde llegaron muchas familias como lo cuenta Cheo Feliciano.</p>
	<p>2-Entre 1920 y 1960 se consolida la comunidad hispanocaribe&ntilde;a en Nueva York con inmigrantes de otras nacionalidades (cubanos, dominicanos, mexicanos, venzolanos&hellip;) En el Barrio Latino predominan los puertorrique&ntilde;os y sus descendientes llamados despu&eacute;s nuyoricans o nuyorique&ntilde;os, los creadores de la salsa con la participaci&oacute;n de los m&uacute;sicos cubanos que viv&iacute;an en Nueva York. Spanish Harlem es uno de los dos lugares donde nace la salsa en esta ciudad. El otro es entre la comunidad puertorrique&ntilde;a del South Bronx.</p>
	<p>3-Entre 1920 y 1930 se desarrolla la Industria discogr&aacute;fica en Nueva York, a trav&eacute;s de la RCA V&iacute;ctor, Columbia Records y Brunswick, las tres productoras m&aacute;s importantes que grabaron la m&uacute;sica popular producida por las comunidades hispanocaribe&ntilde;as. (En 1928 el Tr&iacute;o Matamoros graba su primer disco en USA para la RCA V&iacute;ctor).</p>
	<p>Entre los primeros inmigrantes, tanto cubanos como puertorrique&ntilde;os, hubo m&uacute;sicos que trabajaron con las grandes bandas de jazz de los a&ntilde;os 30 en Nueva York y otras ciudades. Alberto Socarr&aacute;s, con Clarence Williams y Benny Carter; Mario Bauz&aacute; con Cab Calloway; Chano Pozo con Dizzy Gillespie. Entre los boricuas Augusto Coen y Juan Tizol con Duke Ellington; Moncho Usera con Noble Sissle; Ralph Escudero y Fernando Arbello con Fletcher Henderson a quien se le atribuye haber creado el ensamble de vientos metal entre trompetas, saxofones y trombones que tanto incidi&oacute; en el nacimiento y desarrollo de la Salsa. Al igual que la herencia cubana y puertorrique&ntilde;a, la generaci&oacute;n vanguardista creadora de la salsa en Nueva York y Puerto Rico se enriqueci&oacute; musicalmente con la armon&iacute;a y las improvisaciones del jazz, del blues, el soul y el R&amp;B que hac&iacute;an parte del contexto sociocultural y musical, como parte de las condiciones sociales en que germinaron la Salsa y la salseridad, a partir de los a&ntilde;os 60 en esta parte del mundo.</p>
	<p><strong>LA PRE-SALSA 1920-1960</strong></p>

	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/generos2.png">
		<figcaption>Varios de estos g&eacute;neros provienen del siglo XVII y XIX, bien sea de la plantaci&oacute;n esclavista o el barrac&oacute;n azucarero (la Bomba y el Guaguanc&oacute;). Otros tienen un origen campesino (el Son, la Guajira y la m&uacute;scia J&iacute;bara). Otros m&aacute;s fueron creados por trabajadores en ambientes urbanos de las nacientes ciudades (la Plena en Ponce y la Pachanga en Nueva York), pero todos fueron transformados y recreados a lo largo del siglo XX en el contexto de modernizaci&oacute;n de la sociedad industrial. Las relaciones entre ellos y las fusiones intergen&eacute;ricas que se produjeron, configuraron la Salsa como una m&uacute;scia urbana y moderna para la segunda mitad del siglo XX.</figcaption>
	</figure>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/generos1.png">
		<figcaption>En este cuadro se mencionan los g&eacute;neros, los formatos orquestales y algunos de los compositores e int&eacute;rpretes de la m&uacute;sica latina durante el periodo de la pre-salsa. Tambi&eacute;n se nombran algunas de las canciones m&aacute;s reconocidas de la &eacute;poca.</figcaption>
	</figure>
		
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/formatos_orquestales.png">
		<figcaption>Muchos de los inmigrantes que habitaban en el Barrio Latino eran m&uacute;sicos, algunos emp&iacute;ricos, unos pocos con cierta formaci&oacute;n acad&eacute;mica y otros con experiencia como integrantes de peque&ntilde;as agrupaciones (tr&iacute;os, cuartetos, sextetos ) o en las bandas municipales de las ciudades caribe&ntilde;as.<br /> Estos m&uacute;sicos, vinculados a distintos formatos instrumentales, constitu&iacute;an un grupo &ldquo;privilegiado&rdquo; dentro del Barrio Latino de Nueva York, y con sus creaciones proyectaron un sentimiento de comunidad y nacionalidad expresado musicalmente.<br /> Mediante los formatos establecidos se desarrollaron los gen&eacute;ros al ser apropiados por la industria y el mercado discogr&aacute;fico.</figcaption>
	</figure>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/salsa_1960.png">
		<figcaption>La Salsa 1960.</figcaption>
	</figure>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
