<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Joe Cuba, los Sextetos y el Vibr&aacute;fono</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>Aprovechando el legado africano en el Caribe y la riqueza de la m&uacute;sica cubana, los creadores de la salsa preservaron la clave, los tambores y la percusi&oacute;n, para desarrollar otros modos de producir e interpretar antiguas y novedosas sonoridades, en un nuevo contexto de la sociedad moderna, durante la segunda mitad del siglo XX. Pero si unas condiciones se preservaron, otras fueron transformadas. Formatos instrumentales, patrones gen&eacute;ricos e intergen&eacute;ricos, l&iacute;ricas, modos de cantar y tocar, e innovaciones tecnomusicales, hacen parte tambi&eacute;n del nacimiento de la Salsa, creada por una generaci&oacute;n que aport&oacute; su creatividad para concebir un nuevo discurso musical y una expresi&oacute;n cultural desde el Barrio en el que hab&iacute;a nacido.</p>
	<p>Joe Cuba, oriundo de Spanish Harlem fue uno de los innovadores. Seg&uacute;n nuestro punto de vista, la salsa comienza en la transici&oacute;n de los a&ntilde;os 50 a los 60, cuando agrupaciones como la de Joe Cuba proponen una sonoridad diferente que no es ni la m&uacute;sica t&iacute;pica caribe&ntilde;a (cubana o boricua de tr&iacute;os y cuartetos) ni es el sonido de las Big Bands estilo Machito, Tito Puente y Tito Rodr&iacute;guez; ni es el Danz&oacute;n, ni el chachach&aacute; que tocan las charangas siguiendo a la Arag&oacute;n o a Fajardo, con flauta y violines; ni es el sonido de una sonora como el de la Matancera, o el Conjunto Casino, ni del Jazz latino que coexiste con las anteriores. Es algo distinto a todos ellos.</p>

	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/joe_cuba_bailadores.png">
		<figcaption>Bailadores, Joe Cuba sexteto.</figcaption>
	</figure>
	
	<p>Una evidencia de ese nacimiento est&aacute; en el disco &laquo;Mambo de Pino&raquo; o &laquo;Mambo of the times&raquo;, grabado en 1956 para el sello RAINBOW, con el sonido distintivo del vibr&aacute;fono en la melod&iacute;a y no en el tromb&oacute;n. Joe Cuba y su Sexteto fue uno de los primeros en acelerar el tempo y en asumir el biling&uuml;ismo y el spanglish de las nuevas generaciones dentro de la comunidad latina. Al mismo tiempo, con su peque&ntilde;a banda de Barrios interpela un sector del p&uacute;blico americano atra&iacute;do por la &laquo;m&uacute;sica latina&raquo; y su baile, como lo hace en la introducci&oacute;n de esta canci&oacute;n cuando dice:</p>
	<p>&laquo;Listen to a theory / of this crazy fat / and we hope our story / won&acute;t be sad / so&hellip;/ If you want to mambo/ feel the cuban beat/ just let the rhythm got you/ with your feet/ it doesn&acute;t take the know-how/ it takes the bell the next/ just swing along and/ we supply the rest/ you need no education/ do that it&acute;s great sensation/ just sweat the ex-temtaption/ the moment you feel the beat/ So, if I when you ever/ feel along the science/ just come an dance/ the mambo of the times&hellip;&raquo;. Traducci&oacute;n aproximada, directamente de la canci&oacute;n:/ Escucha una teor&iacute;a / de este gordo loco / esperamos que no sea / una historia triste / si tu quieres &laquo;mambear&raquo; /(gozar, bailar el mambo) siente el golpe cubano /s&oacute;lo d&eacute;jate llevar por el ritmo / con tus pies / no necesitas saber c&oacute;mo hacerlo /sigue tu ritmo interior / s&oacute;lo balanc&eacute;ate como quieras / que nosotros ponemos el resto / no necesitas educaci&oacute;n / hacer esto es la gran sensaci&oacute;n / s&oacute;lo deja transpirar la tentaci&oacute;n /en el momento en que t&uacute; sientas el golpe / entonces / cuando t&uacute; sientas esa ciencia / s&oacute;lo ven y baila / el mambo de estos tiempos&hellip;/ ( el mambo de siempre).</p>
	<p>Este mambo, poco tiene que ver con el mambo de P&eacute;rez Prado, Machito o Tito Puente, pero s&iacute; expresaba una asimilaci&oacute;n del ritmo cubano, transformado por la influencia del rock and roll y el rhythm and blues del momento que, seg&uacute;n confiesa Joe Cuba, cantaba informalmente. &laquo;Yo siempre quise hacer la m&uacute;sica latina con l&iacute;ricas en ingl&eacute;s&hellip;cuando joven yo vacilaba con los Rithm and Blues cantando en los coros. Yo siempre quer&iacute;a meter coros a una canci&oacute;n&hellip;&raquo; Joe Cuba, entrevistado por N&eacute;stor Emiro G&oacute;mez para la revista Herencia Latina, (1 de octubre de 1996). Ver http:// www.herencialatina.com//joe-cuba/joe-cuba.htm</p>
	<p>La canci&oacute;n la compuso Nick Jim&eacute;nez cuando el sexteto tocaba en &laquo;Los Pinos&raquo;, un resort en las monta&ntilde;as de Catskills, donde &laquo;asist&iacute;a el p&uacute;blico jud&iacute;o, el que bailaba en el Palladium&raquo;, de acuerdo con la versi&oacute;n de Joe Cuba. Por eso inicialmente se llam&oacute; &laquo;Mambo of the pines&raquo;, pero despu&eacute;s se modific&oacute; &laquo;pines&raquo; por &laquo;times&raquo; y qued&oacute; como &laquo;Mambo of the times&raquo;, aunque, por lo menos en Cali, se conoci&oacute; siempre como &laquo;Mambo de pino&raquo;. Al parecer, el cambio de nombre de Mambo of The Pines a Mambo of the times, se justific&oacute; para evitar problemas con el establecimiento donde actuaban.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/joe_cuba_sexteto.png">
		<figcaption>Joe Cuba y su sexteto. En primer plano Willie Torres y Joe en las congas: Parque de la ca&ntilde;a, Cali 1996. Foto Carlos Molina.</figcaption>
	</figure>
	
	<p>La composici&oacute;n fue grabada por segunda vez, cantada por Cheo Feliciano, reci&eacute;n incorporado al sexteto en 1957. Con Cheo Feliciano, su simpat&iacute;a y su voz, el sexteto se hizo m&aacute;s famoso. Y con la nueva versi&oacute;n de Mambo de Pino se consagraron ambos, sobretodo en Cali donde sigue siendo un n&uacute;mero de salsa dura para el bailador exigente y el mel&oacute;mano consumado. Con Cheo y el resto de la banda a lo largo de 1960, el Sexteto de Joe Cuba se convirti&oacute; en una de las orquestas m&aacute;s exitosas de Nueva York y una de las m&aacute;s populares fuera de all&iacute;, donde reinara la salsa. Hacia 1965, cuando Cheo Feliciano tuvo que retirarse por problemas personales, Willie Torres volvi&oacute; a ocupar el lugar que hab&iacute;a dejado 8 a&ntilde;os atr&aacute;s. Y con &eacute;l y los dem&aacute;s integrantes, el Sexteto continu&oacute; vigente por varios a&ntilde;os, grabando o present&aacute;ndose en diferentes lugares. Max Salazar ha revelado el secreto seg&uacute;n el cual en el estudio se agregaba el bong&oacute;, interpretado en ocasiones por Willie Bobo, o Jos&eacute; Mangual Sr. o Jhon &laquo;Dandy&raquo; Rodr&iacute;guez, quien estuvo siempre en la grabaci&oacute;n de todos los LP despu&eacute;s de Diggin The Most. (M. Salazar 1992:16).</p>
	<p>Al incorporar el vibr&aacute;fono, Joe Cuba no s&oacute;lo transgredi&oacute; el formato orquestal de los sextetos tradicionales de son, sino tambi&eacute;n los g&eacute;neros de la m&uacute;sica cubana y la afroamericana, que conoc&iacute;a desde ni&ntilde;o en el Barrio. Adem&aacute;s, las fusion&oacute; en algunas de sus creaciones. Con su sexteto transgredi&oacute; hasta la clave, cuando grab&oacute; &laquo;El Pito&raquo;, compuesto por Jimmy Sabater y Nick Jim&eacute;nez y vocalizado por Cheo Feliciano. Max Salazar cuenta que, cuando Tito Puente le objet&oacute; esa canci&oacute;n por estar fuera de clave, Joe Cuba le respondi&oacute;: &laquo;T&uacute; sabes Tito, que se han vendido m&aacute;s de un mill&oacute;n de copias&hellip;C&oacute;mo me molesta, que est&eacute; fuera de clave&hellip;&raquo; (M. Salazar 1992: 18)</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/cheo_feliciano.png">
		<figcaption>Cheo Feliciano.</figcaption>
	</figure>
	
	<p>Discrepamos de Rond&oacute;n cuando afirma que &laquo;El boogaloo fue el primer  sonido que marcaba la diferencia entre la vieja m&uacute;sica del caribe y la nueva  expresi&oacute;n marginal&raquo; (2007: 54). Consideramos&nbsp;  que lo hecho por Joe Cuba en 1956-57 era un h&iacute;brido salsoso anterior a  la pachanga y el boogaloo, un h&iacute;brido atractivo para el bailador que lo acogi&oacute;  con entusiasmo y arrebato, como sucedi&oacute; en Cali, donde se aceler&oacute; el paso, se  diversificaron los movimientos danc&iacute;sticos y se acentuaron los piques y  repiques con los pies. Estos gestos&nbsp;  proven&iacute;an del baile de la guaracha y el mambo de los a&ntilde;os 50, pero se  enriquecieron,&nbsp; a partir de los 60,&nbsp; con la pachanga, al o&iacute;r &laquo;La Descarga de  Pacheco&raquo;, el&nbsp; &laquo;Tema de la Duboney&raquo; de  Charlie Palmieri, &laquo;La Bronx Pachanga&raquo; del mismo Charlie y &laquo;El Manicero&raquo; de la  Alegre All Stars, dirigidas por Palmieri.</p>
	<p>Dichas canciones tienen en com&uacute;n el up-tempo, el acelere r&iacute;tmico  que las diferencia de otras grabadas en el mismo periodo (1958-1962). Con  ellas, el arrebato guarachero del bailar&iacute;n cale&ntilde;o tambi&eacute;n se increment&oacute;. Si el  mambo de P&eacute;rez Prado y las guarachas de Daniel Santos, Bienvenido Granda y La  Sonora Matancera, lo hab&iacute;an embalado, las nuevas composiciones que llegaban  desde Nueva York&nbsp; lo pusieron a volar. De  ah&iacute; que, a&ntilde;os m&aacute;s tarde, cuando nos invadi&oacute; el furor del boogaloo hacia  1966-67, los j&oacute;venes salseros cale&ntilde;os forzaron la rotaci&oacute;n de los discos al  pasarlos de 33 a 45 rpm, porque no pod&iacute;an soportar la exasperante lentitud del  boogaloo en su versi&oacute;n original, sobretodo aquel que sonaba m&aacute;s a blues y  R&amp;B, que poco lo interpelaban.&nbsp;</p>
	<p>&laquo;Yo no necesito flauta / ni necesito viol&iacute;n&raquo;</p>
	<p>Hemos se&ntilde;alado la presencia del vibr&aacute;fono en la conducci&oacute;n de la  melod&iacute;a en la canci&oacute;n &laquo;Mambo de pino&raquo;, pero el protagonismo mel&oacute;dico del  vibr&aacute;fono no era exclusivo de Joe Cuba y su sexteto. Seg&uacute;n &eacute;l, al promediar los  a&ntilde;os 50 hab&iacute;a grupos a&uacute;n m&aacute;s peque&ntilde;os que rondaban por el Barrio, entre ellos  un cuarteto donde estaban Nick Jim&eacute;nez y Willie Torres, con los que&nbsp; Joe&nbsp;  fund&oacute; su sexteto. Hab&iacute;a tambi&eacute;n varios quintetos como el de Joe &laquo;Loco&raquo;  quien a comienzos de los 50, vincul&oacute; a su sobrino Louie Ram&iacute;rez como  vibrafonista, idea que le sirvi&oacute; a Joe Cuba para armar su peque&ntilde;a banda, en  1955, incorporando el vibr&aacute;fono en vez de trompetas o violines como era lo  com&uacute;n. Al tomar esta decisi&oacute;n,&nbsp; seg&uacute;n  cuenta Joe Cuba, se apartaba de la tendencia a organizar Charangas o  Conjuntos-Sonora, como los que predominaban en Cuba. &laquo;Con el vibrafonista Tommy  Berr&iacute;os, empezamos a tocar en el San Juan &ndash; as&iacute; se llamaba el sitio&raquo; &ndash; dice Joe  Cuba, &laquo;y toda la gente del Barrio se enamor&oacute; del sexteto&raquo;. Estos&nbsp; grupos trabajaban en peque&ntilde;os clubes del  Barrio, muy distintos de los grandes salones como El Palladium y los hoteles de  lujo, donde actuaban las famosas orquestas de Machito, Tito Rodr&iacute;guez, Tito  Puente, Jos&eacute; Curbelo, Noro Morales, y donde lleg&oacute; a tocar Joe Cuba despu&eacute;s&hellip; En  dichos clubes no hab&iacute;a big bands, pero ten&iacute;an cabida los peque&ntilde;os formatos  (cuartetos, quintetos, sextetos) integrados por m&uacute;sicos que&nbsp; viv&iacute;an en el mismo&nbsp; Harlem Hispano, en Manhattan,&nbsp; o en el South Bronx.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/timbales.png">
		<figcaption>Joe Cuba.</figcaption>
	</figure>
	
	<p>Antes de Tommy Berr&iacute;os con Joe Cuba, Tito Puente tocaba el vibr&aacute;fono con sus Picadilly Boys, hacia 1949 y Joe Roland, vibrafonista tambi&eacute;n, integr&oacute; el Conjunto Pin Pin creado por Charlie Palmieri en 1948. Charlie contaba apenas con 21 a&ntilde;os de edad, siendo esta su primera banda, antes de crear La Duboney &ndash; diez a&ntilde;os despu&eacute;s - y antes de comenzar a dirigir la Alegre All Stars en 1960 &ndash; 61. Con el conjunto Pin Pin, Palmieri hizo arreglos &laquo;mambeados&raquo; de canciones americanas, en los que el vibr&aacute;fono, interpretado por Joe Roland ocupa el lugar que ocupaban los saxos y las trompetas en las bandas cubanas. (&laquo;Lullaby of Broadway&raquo;, &laquo;Sweet Sue&raquo; y una interpretaci&oacute;n de &laquo;El bolero de Ravel&raquo;, Ravel&acute;s bolero in mambo).</p>
	<p>Por su parte, Jos&eacute; Curbelo incluy&oacute; tambi&eacute;n el vibr&aacute;fono en una de sus agrupaciones con la que grab&oacute; en 1954 &laquo;La familia&raquo;, una guaracha cantada por Mon Rivera, quien interviene as&iacute; mismo en el tema &laquo;Chachach&aacute; in blue&raquo;, vocalizando en espa&ntilde;ol mientras Betty Shepard lo hace en ingl&eacute;s. Curiosamente el vibrafonista de Curbelo es Jack Hitchcock, trombonista tambi&eacute;n, a&ntilde;os despu&eacute;s integrante de la Orquesta Duboney de Charlie Palmieri. La curiosidad consiste en el hecho de que este instrumentista, poco referenciado en los estudios sobre &laquo;M&uacute;sica Latina&raquo;, representa y conjuga los dos instrumentos mel&oacute;dicos, el vibr&aacute;fono y el tromb&oacute;n, que van a caracterizar las primeras transformaciones de la m&uacute;sica cubana en Nueva York y el nacimiento de la salsa en &laquo;El Barrio&raquo;. La canci&oacute;n &laquo;Chachach&aacute; in blue&raquo; se le atribuye al vibrafonista Paquitin Lara, quien toc&oacute; en el New York&acute;s Club Hidaaway. El tema es considerado uno de los primeros chachach&aacute; con l&iacute;rica en ingl&eacute;s, y en el que adem&aacute;s se fusionan estos dos g&eacute;neros, uno cubano y otro afroamericano. (LP Chacha Anyone? RKO Records ULP 140).</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/joe_cuba_sexteto2.png">
		<figcaption>Joe Cuba Sexteto.</figcaption>
	</figure>
	
	<p>Como instrumento creado en Norteam&eacute;rica, el vibr&aacute;fono proven&iacute;a del jazz donde alcanz&oacute; renombre en manos de Milt Jackson a finales de los a&ntilde;os 40. Bajo su influencia y la de otros vibrafonistas como Gary Burton y sobretodo Cal Tjader, el vibr&aacute;fono &laquo;reci&eacute;n llegado&raquo;, se latiniz&oacute; en el Barrio. Hacia 1953 Tjader integraba el quinteto del pianista brit&aacute;nico George Shearing quien combinaba los dos teclados en su formato. Ambos m&uacute;sicos que ven&iacute;an de California, contribuyeron a crear la atm&oacute;sfera donde se cruzaban tradiciones musicales caribe&ntilde;as y americanas en las que este instrumento ocupaba lugares de prestigio. Desde Tito Puente y Pedro Guti&eacute;rrez (Pete Terrace) hasta Louie Ram&iacute;rez con Joe Loco, pasando por Joe Roland con Charlie Palmieri y Tommy Berr&igrave;os con Joe Cuba, el instrumento reci&eacute;n llegado, se convirti&oacute; en una alternativa plausible para los j&oacute;venes m&uacute;sicos nuyorrique&ntilde;os.</p>
	<p>Adem&aacute;s de su producci&oacute;n con George Shearing en la primera mitad de los 50&acute;s, Cal Tjader grab&oacute; con su propia agrupaci&oacute;n y en los 60&acute;s con Eddie Palmieri (1966), y en los 70&acute;s con Chalie Palmieri y Tito Puente. Pete Terrace por su parte, oriundo del Barrio y graduado en la Julliard School en 1952, tocaba el vibr&aacute;fono y el timbal, y fue uno de los que adhiri&oacute; a la onda del boogalo a mediados de los 60.</p>
	<p>Al igual que Pete Terrace, Cal TJader, compositor de &laquo;Soul Sauce&raquo; o &laquo;Wachi Wara&raquo; (1964), (otra de las canciones que usa la palabra salsa), tambi&eacute;n era vibrafonista y timbalero como lo demostr&oacute; en 1954 cuando grab&oacute; &laquo;Alegres timbales&raquo; interpretando los dos instrumentos acompa&ntilde;ado por el pianista Eddie Cano, oriundo de Los Angeles. La afinidad con estos dos instrumentos que se percuten, facilita su ejecuci&oacute;n para el mismo m&uacute;sico que los acoge, seg&uacute;n nos cont&oacute; Alfredo Naranjo, percusionista y vibrafonista venezolano.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/ritmo_caliente.png">
		<figcaption>Ritmo Caliente!.</figcaption>
	</figure>
	
	<p>As&iacute; pues, cuando Joe Cuba grab&oacute; su &laquo;Mambo de pino&raquo;, ali&ntilde;ado con una sabrosa melod&iacute;a liderada por el vibr&aacute;fono, &eacute;ste ya era suficientemente tocado por los m&uacute;sicos y conocido en el Barrio, antes de que soplaran los trombones. La historia demostr&oacute; que con Joe Cuba el vibr&aacute;fono entr&oacute; en la Salsa por la puerta grande para convertirse en un instrumento mayor y no ser un reemplazo ocacional, a pesar de su voz &laquo;fr&aacute;gil&raquo; si lo comparamos con la potencia de un tromb&oacute;n. Demostr&oacute; tambi&eacute;n que con la canci&oacute;n &laquo;Mambo de pino&raquo;, la m&uacute;sica latina daba un giro significativo, porque no era ni un son cubano tradicional, ni un guaguanc&oacute;, ni una guaracha, ni una guajira, ni un danz&oacute;n, ni una plena, un seis &oacute; una bomba. Era una mezcla m&aacute;s o menos indiscriminada de varios ritmos, incluidos los afroamericanos del momento. Hasta el canto era distinto porque no correspond&iacute;a al estilo del sonero, ni el guarachero cubano o boricua, ni a la t&iacute;pica tonada puertorrique&ntilde;a.</p>
	<p>Y a partir de all&iacute;, la salsa ya estaba sazonada, aunque a&uacute;n no se llamara as&iacute;. En adelante, se abrir&iacute;an dos caminos paralelos: uno por donde continuaban produci&eacute;ndose los g&eacute;neros claramente diferenciados, siguiendo los patrones ritm&aacute;ticos establecidos por la tradici&oacute;n cubana o puertorique&ntilde;a. Otro, por donde transitar&iacute;an las nuevas propuestas intergen&eacute;ricas que mezclaban y fusionaban diversos g&eacute;neros entre s&iacute;, transgrediendo esos mismos patrones como lo hizo &laquo;Mambo de pino&raquo;, antes de que triunfara la revoluci&oacute;n cubana. Las dos tendencias configuran el universo musical de la salsa, vigentes hasta hoy.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/mango.png">
		<figcaption>Mango.</figcaption>
	</figure>
	
	<p>De ah&iacute; que cuando lleg&oacute; el auge de las charangas al comenzar los 60, varias agrupaciones incorporaron el vibr&aacute;fono en vez de los violines para asumir el Latin Jazz o el nuevo ritmo que era la pachanga. As&iacute;, Eddie Costa interpret&oacute; el vibr&aacute;fono con el grupo de Charlie Palmieri y Jhonny Pacheco en 1958 para tocar Jazz Latino. Hacia 1960-61, Gilberto Cruz intercalaba el piano con el vibr&aacute;fono y la flauta, prescindiendo de los violines. Con su banda de ocho o 10 m&uacute;sicos logr&oacute; temas rescatables que a&uacute;n se bailan en Cali como &laquo;Monteadentro&raquo;. El vibr&aacute;fono (que guiaba la melod&iacute;a, o sonaba al un&iacute;sono y se alterna con la flauta en esta canci&oacute;n) introduc&iacute;a un color nuevo, que hasta donde sabemos, muy poco hab&iacute;a sido utilizado en la organolog&iacute;a cubana antes de esta d&eacute;cada.</p>
	<p>Para Alfredo Naranjo, percusionista y vibrafonista venezolano,&laquo;el vibr&aacute;fono como instrumento mel&oacute;dico que se percute es el eslab&oacute;n perfecto entre la percusi&oacute;n, la melod&iacute;a y la armon&iacute;a&raquo;. Su presencia in&eacute;dita en las nuevas bandas nuyorique&ntilde;as de los a&ntilde;os 50 a los 60, le confer&iacute;a otro timbre a la m&uacute;sica, ya fuera s&oacute;lo, o combin&aacute;ndolo, para un son montuno, un mambo, o una pachanga, con lo que la ortodoxia cubana empezaba a modificarse, no s&oacute;lo por la organolog&iacute;a y el formato, sino en los arreglos, el canto y la interpretaci&oacute;n. As&iacute; qued&oacute; registrado en el acetato, una de nuestras fuentes documentales. Seleccionamos dos botones para la muestra: El son montuno &laquo;Monteadentro&raquo; de Gilberto Cruz en el que, adem&aacute;s del vibr&aacute;fono y la flauta, se reivindica al campesino y se reafirma la dignidad del guajiro en la gran ciudad. El otro es la pachanga &laquo;Para gozar y bailar&raquo; compuesta y cantada por Nacho Sanabria, el vocalista de la orquesta. Y dice, mientras Andrew Vega acaricia el vibr&aacute;fono: /la pachanga / ritmo nuevo qu&eacute; bueno / para gozar / la gente aqu&iacute; en Nueva York / ya no lo quiere bailar / el mambo ni el chachach&aacute; / que causaron sensaci&oacute;n / por eso Gilberto Cruz / con su ritmo pachanguero / le toca este ritmo nuevo / que lo baila el mundo entero.&raquo;/.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/joe_cuba_sexteto3.png">
		<figcaption>Joe Cuba sexteto.</figcaption>
	</figure>
	
	<p>Por otro lado, en la costa oeste (San Francisco y Los &Aacute;ngeles) sonaban tambi&eacute;n algunas &laquo;charangas&raquo; con vibr&aacute;fono, como la de Roberto Bustamante (Bobby Montes) 1960 &ndash; 61, con su &laquo;Guajira Josefina&raquo;; y Beny Velarde -1962- ambas, probablemente influenciadas por Carl Tjader. La sonoridad de este instrumento mel&oacute;dico que surgi&oacute; como el elemento propicio para armar un formato alterno a las Charangas y a los Conjuntos-Sonora, indica uno de los primeros cambios significativos con respecto a la influencia de Cuba en el nacimiento de la salsa, pues ya hab&iacute;a sido acogido por diversas agrupaciones neoyorquinas como la orquesta de Tito Puente, tambi&eacute;n vibrafonista y timbalero. Con su orquesta grab&oacute; la composici&oacute;n &laquo;Piano pachanga&raquo;, de Johnny Conquet, donde no hay piano sino un vibr&aacute;fono tocado como si fuera un piano, en un homenaje a ambos instrumentos.</p>
	<p>En la segunda mitad de los 60, el New Swing Sextet de George Rodr&iacute;guez integrado por muchachos provenientes del Spanish Harlem, continuar&aacute;n hacia 1966 el sonido salsero inaugurado 10 a&ntilde;os antes por el sexteto de Joe Cuba. Al igual que &eacute;ste, George Rodr&iacute;guez tendr&aacute; en el vibr&aacute;fono una alternativa segura para liderar la melod&iacute;a de sus composiciones como lo hace en &laquo;Honeybee&raquo;, &laquo;Mira Mama&raquo;, o en &laquo;Vente pa&acute; ya&raquo; donde intercala el vibr&aacute;fono con el piano.</p>
	<p>Ya fuera cantando en ingl&eacute;s o en espa&ntilde;ol el New Swing Sextet dej&oacute; su huella en una ciudad como Santiago de Cali, donde dos de sus canciones impactaron con fuerza en las nuevas generaciones de aquella &eacute;poca: &laquo;Vente pa&acute; ya&raquo; (sic) y &laquo;Coquero&raquo;, la m&aacute;s sentida, la m&aacute;s bailada en todas las discotecas, los bailes de cuota y los &ldquo;aguelulos&rdquo; de entonces. &laquo;Coquero&raquo;, hablaba del coco &ndash; no de la coca &ndash; en una l&iacute;rica que evocaba esta fruta tan apetecida sobretodo por quienes viven cerca al mar, all&iacute; donde se produce de manera silvestre. &laquo;Iroco / Iroco / la rumba te llama&hellip; / cantaba Pipo Prika con una voz muy parecida a la de Cheo Feliciano. y luego pregonaba: &laquo;Coquero cuenta los cocos / cu&eacute;ntalos por millares&hellip;&raquo;/ mientras el coro en ingl&eacute;s nos invitaba a bailar.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/joe_cuba.png">
		<figcaption>Joe Cuba, durante su presentaci&oacute;n en el Parque de la Ca&ntilde;a en Cali, 1996. A su lado, el cantante Willie Torres.</figcaption>
	</figure>
	
	<p>El vibr&aacute;fono seguir&iacute;a sonando hasta los a&ntilde;os 70 cuando Ralfy Pag&aacute;n ingres&oacute; a la Fania y grab&oacute; su primer larga duraci&oacute;n en 1974 con una voz que se sal&iacute;a de la tradici&oacute;n sonera pero que se compensaba con el canto del soul que le sirvi&oacute; para interpretar canciones tan bailables como &laquo;Pelao&raquo;, o boleros tan sentidos como &laquo;Negrita&raquo; y &laquo;Negrona&raquo;, todos acompa&ntilde;ados por el vibr&aacute;fono. Igualmente, este teclado met&aacute;lico continuar&iacute;a en las manos de Phil D&iacute;az, otro vibrafonista de Joe Cuba y su sexteto. En manos de Louie Ram&iacute;rez y sus arreglos para Cheo Feliciano, con el que grab&oacute; &laquo;Anacaona&raquo;, &laquo;Pa&acute;que afinquen&raquo;, &laquo;Si por mi llueve&raquo; hacia la misma &eacute;poca. O en las manos de Dave Carey que acompa&ntilde;&oacute; al mismo Cheo en 1973, en la producci&oacute;n con Tite Curet y sus cl&aacute;sicos inolvidables:&laquo;Salom&eacute;&raquo;, &laquo;Nabor&iacute;&raquo; y &laquo;Voy a prisa&raquo;. En &laquo;Caonabo&raquo;, la &uacute;nica canci&oacute;n que vocaliz&oacute; El Tite. Y en la segunda mitad de los 70, hasta los 80 el vibr&aacute;fono continuar&iacute;a en bandas como el Grupo Mango de Venezuela, que lo usaba con el piano en temas como &laquo;Madame&raquo;, (en el que el vocalista Joe Ruiz intenta imitar a Cheo Feliciano en el soneo), &laquo;Espab&iacute;late&raquo;, &laquo;Bravo rumbero&raquo;, &laquo;Mi forma de ser&raquo;, &laquo;Ajoporro&raquo;, &laquo;Como &raquo;, &laquo;La galleta&raquo; y otros donde el vibr&aacute;fono se alterna con el piano tocado por el &laquo;Inca&raquo; Alfredito Linares.</p>
	<p>En el a&ntilde;o 2000 se cristaliz&oacute; el proyecto &laquo;Son Boricua&raquo; del cale&ntilde;o Humberto Corredor, con Jimmy Sabater y Jos&eacute; Mangual Jr., en el que se revivieron viejos temas del Sexteto de Joe Cuba. Para ello, retomaron el vibr&aacute;fono interpretado esta vez por A.J. Mantas con el que lograron aproximarse, exitosamente, al sonido original.</p>
	<p>En los &uacute;ltimos a&ntilde;os, el venezolano Alfredo Naranjo ha rescatado este melodioso instrumento para la salsa, al grabar una nueva y excelente versi&oacute;n de &laquo;Payaso&raquo;, vocalizada por Edgar &laquo;Dolor&raquo; Quijada. Lo mismo ha hecho recientemente el viejo New Swing Sextet, que ha vuelto con renovados br&iacute;os a calentar las calles (&laquo;Back on the streets&raquo;) conservando en el sonido del vibr&aacute;fono, uno de sus distintivos mel&oacute;dicos. En Colombia El Sexteto Latino Moderno experimenta fusiones con vibr&aacute;fono incluido, aunque poco trabajado. Y el Grupo Tamborimba, desde Cali, un cuarteto que trabaja el proyecto m&aacute;s novedoso y promisorio con un ensamble de vibr&aacute;fonos, marimbas y percusi&oacute;n latina. Sus efusivos conciertos en esta ciudad han renovado el uso mel&oacute;dico, arm&oacute;nico y percutivo del vibr&aacute;fono, compartiendo escenario con los venezolanos Alfredo Naranjo y Luisito Quintero.</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/alfredo_naranjo.png">
		<figcaption>El venezolano Alfredo Naranjo en el vibr&aacute;fono con el grupo Tamborimba en Cali (2009). En la percusi&oacute;n Alex Duque y Dar&iacute;o Oliveros.</figcaption>
	</figure>
	
	<p>As&iacute; pues, para nosotros, el vibr&aacute;fono y no s&oacute;lo el tromb&oacute;n, es otro de los indicadores del cambio que se cocinaba en la transici&oacute;n de la m&uacute;sica popular cubana a la salsa en Nueva York. La presencia del vibr&aacute;fono fue anterior al uso salsero de los trombones, aunque no tuvo el mismo protagonismo de &eacute;stos, tal vez porque no pod&iacute;a competir con ellos a la hora de los mambos. Y si lo tuvo, no hab&iacute;a sido reconocido por los estudiosos del tema. Despu&eacute;s de los 60, fueron m&aacute;s las bandas que adoptaron el tromb&oacute;n, que las que asumieron el vibr&aacute;fono para llevar la melod&iacute;a. Descontando el antecedente de Mon Rivera antes de Palmieri en el uso de los trombones, si es que lo hubo, este hecho no puede negarle la primac&iacute;a que tuvo el vibr&aacute;fono en los grupos de barrio, cuando los trombones a&uacute;n no se usaban, como los usar&iacute;a despu&eacute;s Eddie Palmieri con Barry Rogers, Mark Wenstein y Joao Donato, a partir de 1960. Y es que los trombones, con su voz ronca de tonos graves, representaba mejor que el vibr&aacute;fono, la irreverencia y la bronca alimentadas desde la marginalidad, as&iacute; como simbolizaba mejor los ruidos de la calle y la callejer&iacute;a musical a las que tanto le debe la Salsa, desde su nacimiento en el Barrio.</p>
	<p>De todas maneras, Joe Cuba tiene el m&eacute;rito no s&oacute;lo por haber incorporado el vibr&aacute;fono, acertadamente, desde mediados de los a&ntilde;os 50, sino por haber asumido una renovaci&oacute;n de la m&uacute;sica, al mismo tiempo que otros experimentaban propuestas alternativas con otros formatos y una organolog&iacute;a distinta. Con ellos, y en ambos casos, se anunciaba el advenimiento inmediato de la salsa.</p>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
