<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Arsenio Rodr&iacute;guez: de la Habana a New York</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>El Barrio Latino de Nueva York, donde se incorporaron tambi&eacute;n influencias del jazz, el blues y el soul, es en cierto modo una extensi&oacute;n de la di&aacute;spora, transformada en el siglo XX bajo nuevas condiciones hist&oacute;rico sociales por los inmigrantes Caribe&ntilde;os que llegaron hasta sus calles. En sentido estricto, la herencia cultural afrocaribe&ntilde;a en la gran ciudad, hace parte de los antecedentes inmediatos de la Salsa, est&aacute; en su nacimiento a trav&eacute;s de la m&uacute;sica cubana y puertorrique&ntilde;a, as&iacute; como en su posterior desarrollo en Nueva York y otras ciudades productoras.</p>
	<p>Hasta la &ldquo;Capital del mundo&rdquo; llegaron descendientes de esclavos Congos como Arsenio Rodr&iacute;guez y sus hermanos, en condici&oacute;n de inmigrantes, despu&eacute;s de la segunda guerra mundial, para asentarse en el Barrio Latino al que Arsenio Rodr&iacute;guez le cant&oacute; en varias de sus composiciones, tanto al South Bronx como al Spanish Harlem, donde vivi&oacute; y donde se present&oacute; con su banda.</p>
	<p>A la comunidad latina le compuso &laquo;La gente del Bronx&raquo; y &laquo;C&oacute;mo se goza en el Barrio&raquo;, grabadas en Nueva York, 1953. El baile, como pr&aacute;ctica social colectivizada, est&aacute; en el centro de su atenci&oacute;n, lo mismo que la oralidad callejera, primordial forma de comunicaci&oacute;n que &eacute;l transforma musicalmente.</p>
	<p>&laquo;La gente del Bronx&raquo; (Arsenio Rodr&iacute;guez Nueva York 1953).</p>
	<p>El elemento del Bronx ah la ah la la / el elemento del Bronx igual baila /mambo que danz&oacute;n / le gusta la rumba caliente y el guaguanc&oacute; / Y como ya me enter&eacute; / yo ahora les voy a cantar / yo les voy a dedicar este bonito rumb&oacute;n / ah eh eh ah / El elemento del Bronx igual baila mambo que danz&oacute;n / Igual baila swing que guanguanc&oacute; / igual baila mambo que danz&oacute;n / el elemento del Bronx igual baila mambo que danz&oacute;n /</p>
	<p>C&oacute;mo se goza en el Barrio (Arsenio Rodr&iacute;guez Nueva York 1953)</p>
	<p>Oiga bonk&oacute; como se goza en el barrio / Aa la, la, la, la / el Lennox y el 11 6 / igual que en la 110 / oigan decir / adi&oacute;s mi pana / &iquest;qu&eacute; pasa brother? / &iquest;qu&eacute; pasa men? / toma un trago / oiga bong&oacute; / c&oacute;mo se goza en el barrio / desde la 125 / hasta la 98 / aquel le dice / te vendo el ticket / uno contesta, how much? / el otro dice / &iquest;en cu&aacute;nto me lo das? / y oye una voz que dice / hey &iquest;qu&eacute; te pasa a t&iacute;? / no te dejes bobo / yo conozco eso / oiga bong&oacute; / c&oacute;mo se goza en el barrio / Coro: / En Nueva York todos dicen / c&oacute;mo se goza en el barrio / si quiere bailar lo bueno / camina y vengase al barrio (coro) / los que viven en downtown / vienen a gozar al barrio (coro) / el barrio para bailar / el barrio para gozar... / 112.</p>
	<p>Del mismo Arsenio &laquo;Fuego en el 23: &laquo;En el 23 de la 110 / no se puede estar tranquilo / les dir&eacute; porqu&eacute;&hellip;/</p>
	<p>Israel Berr&iacute;os, m&uacute;sico puertorrique&ntilde;o que lleg&oacute; a Nueva York en 1950 y se integr&oacute; al conjunto de Arsenio Rodr&iacute;guez en 1955, nos cont&oacute; lo siguiente cuando lo entrevistamos en PuertoRico: &laquo;Yo viv&iacute;a en el Barrio, en Spanish Harlem, en la calle 118 con avenida Lexington. Ah&iacute; cerca hab&iacute;a un lugar que se llamaba el Park Plaza, en la 110 y la 5&ordf; avenida; nosotros toc&aacute;bamos all&iacute;; tambi&eacute;n toc&aacute;bamos m&aacute;s arriba, en la 112 en un sitio que se llamaba &laquo;American Legion&raquo;. Nos presentamos en el Hotel Saint Jorge, en el club Tropicana del Bronx, en el hotel Waldorf Astoria, en el Palladium y hasta en el Carnegie Hall donde interpretamos la m&uacute;sica de Ernesto Lecuona&rdquo;</p>
	
	<figure class="imgParrafo">
		<img src="NuevaYork/Barrio/Presalsa/Imagenes/Textos/conjunto_arsenio.png">
		<figcaption>El Conjunto de Arsenio Rodr&iacute;guez, durante una fiesta realizada en la calle 123 con avenida Lexington, en el Barrio Latino (East Harlem o Harlem Hispano). La presentaci&oacute;n se realiz&oacute; en 1957, el a&ntilde;o previo a la explosi&oacute;n de las charangas neoyorquinas. De izquierda a derecha: Israel Berr&iacute;os en la guitarra (quien nos dio la foto y una entrevista); Marcelino Guerra &laquo;Rapindey&raquo;, guitarra y voz; Alfonso&raquo;El paname&ntilde;o&raquo; Joseph, en el bajo; Miguel Motora, vocal y guiro; y Arsenio Rodr&iacute;guez en el tres. Sentados atr&aacute;s, el trompetista norteamericano James Cunningham; Pedro Luis Jackson, trompetista puertorrique&ntilde;o; y los hermanos de Arsenio, Israel &laquo;Kiki&raquo; Travieso en la tumbadora y Raul Travieso en el bong&oacute;.<br /> (Foto archivo de Israel Berr&iacute;os y edici&oacute;n digital de Jaime Jaramillo).</figcaption>
	</figure>
	
	<p>El percusionista Manny Oquendo, fundador y director del Conjunto Libre de Nueva York, recuerda al &ldquo;Ciego Maravilloso&rdquo; en la entrevista que le concedi&oacute; a Richard Yory:</p>
	<p>&laquo;Yo viv&iacute;a en el Bronx, en Kelly Street donde tambi&eacute;n viv&iacute;an Arsenio, Joe Loco, Tito Rodr&iacute;guez, Little Ray Romero, Noro Morales, su hermano Humberto y otros m&uacute;sicos ya consagrados. Arsenio trajo diferentes estilos del guaguanc&oacute; con trompeta. Con &eacute;l nos ve&iacute;amos casi todos los d&iacute;as o los fines de semana. &Eacute;l iba con su hermano que tocaba la tumbadora; cog&iacute;a el tres, tocaba y cantaba en los restaurantes, donde fuera. A veces reun&iacute;amos todos los instrumentos e &iacute;bamos al techo de la casa a practicar, Tito Rodr&iacute;guez ven&iacute;a tambi&eacute;n&hellip;eso era fant&aacute;stico.&raquo;</p>
	<p>En Nueva York, durante la pre-salsa, Arsenio Rodr&iacute;guez fue tal vez el primero que recre&oacute; el Barrio y sus calles, aunque igual lo hizo en homenaje a las barriadas Habaneras como lo registran varias de sus obras. A la comunidad latina le compuso &laquo;La gente del Bronx&raquo; y &laquo;C&oacute;mo se goza en el Barrio&raquo;, grabadas en Nueva York, 1953. El baile, como pr&aacute;ctica social colectivizada, est&aacute; en el centro de su atenci&oacute;n, lo mismo que la oralidad callejera, primordial forma de comunicaci&oacute;n que &eacute;l transforma musicalmente, como en &ldquo;Fuego en el 23&rdquo; alusivo a una experiencia de su vida en el Barrio Latino de Nueva York: &laquo;En el 23 de la 110 / no se puede estar tranquilo / les dir&eacute; porqu&eacute;&hellip;&rdquo;/</p>
	<p>O en esas otras composiciones al Barrio y su gente en &ldquo;la capital del mundo&rdquo;:</p>
	<p>&laquo;La gente del Bronx&raquo; (Arsenio Rodr&iacute;guez).</p>
	<p>/ &ldquo;El elemento del Bronx ah la ah la la / el elemento del Bronx / igual baila mambo que danz&oacute;n / le gusta la rumba caliente y el guaguanc&oacute; / como ya me enter&eacute; / yo ahora les voy a cantar / yo les voy a dedicar / este bonito rumb&oacute;n / ah eh eh ah / El elemento del Bronx / igual baila mambo que danz&oacute;n / Igual baila swing que guaguanc&oacute; / igual baila mambo que danz&oacute;n / el elemento del Bronx / igual baila mambo que danz&oacute;n&hellip;&rdquo; /</p>
	<p>C&oacute;mo se goza en el Barrio (Arsenio Rodr&iacute;guez)</p>
	<p>Oiga bong&oacute; como se goza en el barrio / Aa la, la, la, la / el Lennox y el 11 6 / igual que en la 110 / oigan decir / adi&oacute;s mi pana / &iquest;qu&eacute; pasa brother? / &iquest;qu&eacute; pasa men? / toma un trago / oiga bong&oacute; / c&oacute;mo se goza en el barrio / desde la 125 / hasta la 98 / aquel le dice / te vendo el ticket / uno contesta, how much? / el otro dice / &iquest;en cu&aacute;nto me lo das? / y oye una voz que dice / hey &iquest;qu&eacute; te pasa a t&iacute;? / no te dejes bobo / yo conozco eso / oiga bong&oacute; / c&oacute;mo se goza en el barrio / En Nueva York todos dicen / c&oacute;mo se goza en el barrio / si quiere bailar lo bueno / camina y v&eacute;ngase al barrio / los que viven en downtown / vienen a gozar al barrio / el barrio para bailar / el barrio para gozar... /</p>
	<p>En composiciones como estas, Arsenio proyectaba su plena conciencia de la calle y del Barrio popular, como un espacio generador de cultura, anticip&aacute;ndose a lo que har&iacute;an los salseros pocos a&ntilde;os despu&eacute;s, cuando el Barrio se convirti&oacute; no s&oacute;lo en la sede de sus vivencias, sino en el referente y el destinatario a la vez, de muchas de sus obras m&aacute;s valiosas.</p>
	<p>Y en este tema, como en las innovaciones musicales que introdujo, Arsenio fue, en medio de su ceguera, un visionario y un l&iacute;der; un adelantado, que aunque no siempre fue reconocido, el tiempo se ha encargado de demostrarlo.</p>
	<p>La investigaci&oacute;n musicol&oacute;gica y la documentaci&oacute;n historiogr&aacute;fica de los &uacute;ltimos a&ntilde;os, as&iacute; lo evidencian.</p>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
