
<div  id="marcoMultimedia" class="marcoMultimedia"  >  
	<!--<img  src="Cali/Barrio1/Salsa/Imagenes/Escenario/maqueta.png" class="hidden-phone fondo">-->
    <img  src="Cali/Barrio1/Salsa/Imagenes/Escenario/barrio_cali1(salsa).jpg" class="hidden-phone fondo">
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio1/Salsa/textoUnDiaEnLaVidaDe.html')" 
        data-toggle="tooltip" data-placement="left" title="Un d&iacute;a en la vidad de ...">
        <span class="hidden-tablet hidden-desktop ">Un d&iacute;a en la vida de ...</span>
        <img id="bailaderoPuerta"  src="Cali/Barrio1/Salsa/Imagenes/Escenario/bailadero_puerta.png" class="hidden-phone  positionItem"  
             style="width :7.3%; height:27%; top:51.5%; left:50.2%;">
        <img id="bailaderoPuertaMovil" src="Cali/Barrio1/Salsa/Imagenes/Movil/puerta_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Conversador1">
        <img id="conversador1"  src="Cali/Barrio1/Salsa/Imagenes/Escenario/conversador1.png" class="hidden-phone  positionItem"  
             style="width :5%; height:27%; top:60.5%; left:64%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Conversador2">
        <img id="conversador2"  src="Cali/Barrio1/Salsa/Imagenes/Escenario/conversador2.png" class="hidden-phone  positionItem"  
             style="width :5%; height:27%; top:59.8%; left:68.7%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Pareja Negros">
        <img id="parejaNegros"  src="Cali/Barrio1/Salsa/Imagenes/Escenario/pareja_negros.png" class="hidden-phone  positionItem"  
             style="width :7%; height:25%; top:56%; left:32.4%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Bus">
        <img id="bus"  src="Cali/Barrio1/Salsa/Imagenes/Escenario/bus.png" class="hidden-phone  positionItem"  
             style="width :26%; height:39%; top:52.5%; left:74.4%;">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio1/Salsa/textoLasPiernas.html')" 
        data-toggle="tooltip" data-placement="left" title="&ldquo;Las Piernas&rdquo;">
        <span class="hidden-tablet hidden-desktop ">&ldquo;Las Piernas&rdquo;</span>
        <img id="avisoMusica"  src="Cali/Barrio1/Salsa/Imagenes/Escenario/aviso_musica.png" class="hidden-phone  positionItem"  
             style="width :7.5%; height:6.2%; top:46%; left:20.2%;">
        <img id="avisoMusicalMovil" src="Cali/Barrio1/Salsa/Imagenes/Movil/aviso_musica_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio1/Salsa/textoBaileBailadoresYBailarines.html')" 
        data-toggle="tooltip" data-placement="left" title="Baile, Bailadores y Bailarines">
        <span class="hidden-tablet hidden-desktop ">Baile, Bailadores y Bailarines</span>
        <img id="pareja"  src="Cali/Barrio1/Salsa/Imagenes/Escenario/pareja.png" class="hidden-phone  positionItem"  
             style="width :7.5%; height:26%; top:59.8%; left:22%;">
        <img id="parejaMovil" src="Cali/Barrio1/Salsa/Imagenes/Movil/pareja_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio1/Salsa/textoBailaderos.html')" 
        data-toggle="tooltip" data-placement="left" title="Bailaderos">
        <span class="hidden-tablet hidden-desktop ">Bailaderos</span>
        <img id="bailaderoLetrero"  src="Cali/Barrio1/Salsa/Imagenes/Escenario/bailadero_letrero.png" class="hidden-phone  positionItem"  
             style="width :9.5%; height:16.9%; top:32.9%; left:48.8%;">
        <img id="bailaderoLetreroMovil" src="Cali/Barrio1/Salsa/Imagenes/Movil/letrero_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio1/Salsa/textoPiperPimienta.html')" 
        data-toggle="tooltip" data-placement="left" title="Piper Pimienta">
        <span class="hidden-tablet hidden-desktop ">Piper Pimienta</span>
        <img id="piper"  src="Cali/Barrio1/Salsa/Imagenes/Escenario/piper.png" class="hidden-phone  positionItem"  
             style="width :22%; height:50%; top:56.6%; left:49.5%;">
        <img id="piperMovil" src="Cali/Barrio1/Salsa/Imagenes/Movil/piper_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    

</div>





