<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Baile, Bailadores y Bailarines</h3>
</div>
<div class="modal-body" style="text-align: justify;">

    <p>bailar es escribir con el cuerpo en el espacio</p>
    <p>representar el tiempo sin nombrarlo marcar con el gesto un s&oacute;lo instante </p>
    <p>so&ntilde;ar que uno no es uno sino el ritmo sentir que es la vida la que baila</p>     
    
    <figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/baile.jpg" >
        <figcaption>Premio Jorge Isaac 2013.</figcaption>
    </figure>

    <p> Un sistema de comunicaci&oacute;n no verbal que comunica sentimientos y emociones sin necesidad de las palabras. Pero el baile de la salsa implica adem&aacute;s un saber, elaborado y complejo, como un lenguaje del cuerpo que se expresa al ritmo de la m&uacute;sica, con el movimiento sincronizado de pasos, figuras y coreograf&iacute;as de la pareja enlazada. Y aunque tambi&eacute;n se puede bailar individualmente, el baile de la pareja enlazada en medio de las distancias corporales y la gestualidad que le son propias, hacen de &eacute;l un acontecimiento donde prima la relaci&oacute;n entre los bailadores y de estos con la m&uacute;sica.</p>
    <p>Aqu&iacute; diferenciamos a los bailadores de los bailarines. Llamamos bailadores a quienes gustan del baile como una pr&aacute;ctica l&uacute;dica y recreativa- &ldquo;el baile social&rdquo; - ligado al ocio y el uso del tiempo libre. Es el baile realizado por el placer que provoca y el deseo o las intensiones que lo motivan, sin pretensiones de profesionalismo, ni de participaci&oacute;n en el espect&aacute;culo del show business, aunque subyace el inter&eacute;s de trascender las rutinas funcionales de la cotidianidad.</p>
    
    <figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/baile_verbena.jpg">
		<figcaption>Pareja de bailadores en una verbena callejera en Cali.</figcaption>
    </figure>
    
    <figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/calle_cali.jpg" >
		<figcaption>Miryan y Wilian en una calle del barrio San Antonio de Cali Foto cortes&iacute;a de los bailarines.</figcaption>
    </figure>
    
    <p>Llamamos bailarines a una clase de bailadores que asumen el baile no s&oacute;lo por el placer que provoca, sino como una pr&aacute;ctica profesional, sometida a ejercicios formalizados de ense&ntilde;anza-aprendizaje, a entrenamientos, talleres y otras modalidades pedag&oacute;gicas con el fin de presentarse en espect&aacute;culos p&uacute;blicos o privados, bien sea como solista, o como integrante de una escuela, un grupo o una compa&ntilde;&iacute;a art&iacute;stica. El bailar&iacute;n ejerce una profesi&oacute;n de la cual se puede obtener alguna rentabilidad econ&oacute;mica y simb&oacute;lica. Por esta v&iacute;a, el bailar&iacute;n se inserta en un mercado del espect&aacute;culo y en un campo de pr&aacute;cticas donde comparte con sus pares (compa&ntilde;eros y rivales) las oportunidades y las tensiones propias del entorno. De este modo compite no s&oacute;lo en una tarima, sino fuera de ella, por el acceso a los recursos que se juegan en el mercado existente, dentro de una peque&ntilde;a o gran industria cultural.</p>
    <p>Un bailar&iacute;n comienza siendo un bailador y un bailador puede llegar a ser bailar&iacute;n si se lo propone y si tiene las condiciones para serlo. Por otro lado, un bailar&iacute;n lo es en tanto desarrolla una capacidad creativa y no s&oacute;lo una habilidad t&eacute;cnica, que exhibe ante sus pares y ante los p&uacute;blicos que lo avalan y lo reconocen, en eventos competitivos (festivales, concursos, campeonatos&hellip;). Pero, por fuera de ese rol en los escenarios del mercado y el espect&aacute;culo, el bailar&iacute;n se torna un bailador m&aacute;s cuando participa de la rumba, desligado de su funci&oacute;n &ldquo;mercantil&rdquo; o &ldquo;corporativa &rdquo;.</p>
    
    <figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/compiten_baile.jpg" >
		<figcaption>Parejas de bailarines compitiendo en un escenario p&uacute;blico. Cali a&ntilde;os 90 Foto Narv&aacute;ez.</figcaption>
    </figure>

    <figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/compiten2_baile.jpg" >
		<figcaption>Pareja de bailarines en competencia - Foto Narv&aacute;ez.</figcaption>
    </figure>
    
    <p>Otra diferencia entre ambos consiste en que el bailar&iacute;n baila para un p&uacute;blico (incluido el jurado cuando compite) ante el que exhibe sus cualidades y virtudes, mientras que el bailador lo hace fundamentalmente para s&iacute; y su pareja, aunque tambi&eacute;n se exponga a la mirada de los otros.</p>
    <p>De todas maneras, para que el bailador se transforme en bailar&iacute;n debe asumir una serie de &ldquo;estrategias de profesionalizaci&oacute;n&rdquo; (O. Puente 2006) como la pertenencia a una escuela o academia, la participaci&oacute;n en festivales y concursos, el acogerse a reglas y procedimientos, someterse a est&aacute;ndares de medici&oacute;n y cualificaci&oacute;n, adem&aacute;s de las intensas rutinas de preparaci&oacute;n y entrenamiento.</p>
    
    <figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/vieja_guardia.jpg" >
		<figcaption>Telemb&iacute; King e Ib&eacute;rica, bailarines de la vieja guardia, en exhibici&oacute;n - Balneario Estambul Cali 1988 - Foto Alejandro Ulloa.</figcaption>
    </figure>
    
    <p>Hay otra clase de bailador que se somete a una pedagog&iacute;a formal, pero no necesariamente para actuar en el show business ni integrarse al mercado del espect&aacute;culo, sino para cualificar sus habilidades y desempe&ntilde;arse mejor en &ldquo;el baile social&rdquo;.</p>
    <p>La distinci&oacute;n entre bailadores y bailarines, en tanto roles sociales, es universal y bien puede analizarse en casos como el baile de la salsa, el tango o el samba. Ahora bien, las relaciones entre ellos suelen ser m&aacute;s complejas puesto que los bailarines provienen de los bailadores que, insertados en una tradici&oacute;n danc&iacute;stica, (como el baile de la salsa en Cali) no s&oacute;lo se profesionalizan sino que contribuyen con su pr&aacute;ctica al desarrollo del baile, a su recreaci&oacute;n est&eacute;tica como un lenguaje art&iacute;stico altamente elaborado y diferenciado del baile convencional de los bailadores.</p>
    
    <figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/eduardo.jpg" >
		<figcaption>Eduardo Hern&aacute;ndez &quot;El Mulato&quot;, bailar&iacute;n y core&oacute;grafo, con integrantes de su escuela Swing Latino. &quot;El Mulato&quot; es el m&aacute;s importante bailar&iacute;n de salsa de Colombia, y uno de los mejores del mundo en lo que va del siglo XXI. Foto Swing Latino, Cali 2010.</figcaption>
    </figure>
    
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>

