<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">BAILADEROS, BAILADORES y BAILARINES</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>La investigaci&oacute;n de campo realizada en los a&ntilde;os 80 nos indica que hacia la d&eacute;cada de 1940 se produce una masificaci&oacute;n del baile en Cali, en tanto pr&aacute;ctica social, colectiva y permanente, es decir, cuando se vuelve un ritual profano nacido en la ciudad, sobretodo en los barrios populares &quot;tradicionales&quot;, San Nicol&aacute;s y el Obrero. Ya no es s&oacute;lo en el Vallano donde la plebe ha hecho su rumba de siempre. Las fiestas semanales se riegan hasta m&aacute;s all&aacute; de ellos, por Vilach&iacute;, el Porvenir, Benjam&iacute;n Herrera, Saavedra Galindo y Belalc&aacute;zar, sus barrios m&aacute;s pr&oacute;ximos.</p>
	<p>Aparte de la Zona de Tolerancia, donde se pod&iacute;a hacer lo que no era posible en otras partes, surgen, al promediar el siglo XX, otros establecimientos para el baile: El Avispero&quot; de Lucho Lenis y do&ntilde;a Leonor en el Obrero; El antiguo Club Bavaria (cerca a la Base &aacute;erea) donde se iniciaron los concursos de baile en aquel tiempo, cuando era visitado masivamente por los cale&ntilde;os que iban a jugar o ver jugar f&uacute;tbol en los alrededores y luego prosegu&iacute;an la diversi&oacute;n en el club de la cerveza Bavaria. Un poco m&aacute;s hacia el oriente, los quioscos de Villacolombia en este barrio reci&eacute;n fundado. Y el Club Popular (donde hoy es el Parque Panamericano) junto al estadio Pascual Guerrero y donde se convocaba a los aficionados del f&uacute;tbol que entraban o sal&iacute;an. All&iacute; se celebr&oacute; una marat&oacute;n de baile que dur&oacute; varios d&iacute;as y gan&oacute; el atleta Pedro Pablo Castillo en los a&ntilde;os 50's.</p>
	<p>Mientras la Violencia pol&iacute;tica, liberal-conservadora azotaba la regi&oacute;n, las comunidades de los barrios populares fundados en las d&eacute;cadas del 40 al 60 realizaban fiestas y verbenas callejeras con el fin de captar dinero para cimentar una iglesia, apoyar la escuela, abrir una calle o construir los andenes. Y as&iacute;, en quioscos y casetas donde se reun&iacute;an a deliberar sobre el futuro del nuevo espacio ciudadano, se desarroll&oacute; una tradici&oacute;n festiva que ten&iacute;a en la m&uacute;sica cubana y en la salsa (a partir de los 60) sus principales ritmos para el baile. Fueron importantes la Caseta del Jard&iacute;n, San Carlos, Alfonso L&oacute;pez, Nueva Floresta, El Rodeo y otros barrios nacidos en la transici&oacute;n de los 50&acute;s a los 60&acute;s, as&iacute; como los quioscos de Villacolombia, referidos por los fundadores, vecinos del sector y visitantes de otros lugares.</p>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/vecinos_fundadores.png">
		<figcaption>Vecinos fundadores del Barrio San Carlos en cuya Caseta Comunal se realizaban fiestas y verbenas para recolectar fondos de beneficio colectivo. Reci&eacute;n fundado, surgi&oacute; un bailadero llamado &ldquo;La Fuente&quot;, muy conocido en los alrededores del barrio a mediados de los a&ntilde;os 60. Foto cortes&iacute;a de Guillermo Zamora.</figcaption>
	</figure>
	
	<p>En Juanchito, a la orilla del r&iacute;o Cauca, se recuerdan los &quot;Campos El&iacute;seos&quot; (antecedentes del Motel) de don Justiniano Collazos; el bar &quot;La Duquesa&quot; de Germ&aacute;n Palermo y los quioscos &quot;Brisas del Cauca&quot;, &quot;El Pail&oacute;n&quot;, &ldquo;Monterrey&rdquo; y &quot;Agapito&quot;, el m&aacute;s popular de todos, fundado en 1955 por Agapito Lenis.</p>
	<p>Por otro lado, las &eacute;lites ten&iacute;an el Club Colombia y el San Fernando, en el barrio del mismo nombre, al que Lucho Berm&uacute;dez compuso una de sus inolvidables canciones. Y mientras las clases altas disfrutaban la cumbia, el porro, la gaita, las rumbas criollas, el pasodoble y el bolero, los sectores subalternos, que tambi&eacute;n bailaban estos g&eacute;neros, gozaban adem&aacute;s con la m&uacute;sica de la Sonora Matancera, Celia Cruz, Daniel Santos, Bienvenido Granda, Pepito L&oacute;pez, Cortijo y su Combo. Este &uacute;ltimo empez&oacute; a escucharse a partir de 1955, cuando grab&oacute; sus primeros discos.</p>
	<p>Con ellos y otras agrupaciones, los ritmos afro-caribe&ntilde;os se consolidaban en la fiesta popular cale&ntilde;a como antecedentes inmediatos de lo que ser&iacute;a la salsa, a partir de los 60. Sus canciones se escuchan y se bailan en los nuevos epicentros de la rumba aparecidos en los barrios populares que se multiplicaban por doquier, y en los nuevos sitios para la prostituci&oacute;n que se expand&iacute;a por otras &aacute;reas como la calle 15, al erradicarse la zona de tolerancia del barrio Sucre. Al lado de la pachanga en los a&ntilde;os 60, la salsa es la m&uacute;sica que empieza a disputarle los primeros lugares a la ya tradicional Sonora Matancera y otros grupos cubanos. Muchos mel&oacute;manos, incluso, entrar&aacute;n a la salsa por ah&iacute;, por la Sonora, Cortijo e Ismael Rivera.</p>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/grill.png">
		<figcaption>Grill s&eacute;ptimo cielo.</figcaption>
	</figure>
	
	<p>El baile prosigue en los epicentros que subsisten despu&eacute;s de la d&eacute;cada del 50: &quot;El Maizalito&quot;, en el barrio Popular; &quot;El Vale&quot; (quiosco) y &quot;El Guarachazo&quot;, en las lomas de Silo&eacute;; &quot;Coste&ntilde;ita&quot; y el bar &quot;Tur&iacute;n&quot; sobre la carrera 8&ordf;; el quiosco &ldquo;Cosmopolita&rdquo; y los quioscos de Villacolombia; el bar N&aacute;poles del barrio Obrero y &quot;Chicharr&oacute;n&quot; que ten&iacute;a su &quot;Biblia&quot; con los discos clasificados para entregarle a los clientes, como se pasa la carta en un restaurante; y finalmente, los bailes de cuota o las empanadas bailables en Fray Dami&aacute;n, San Nicol&aacute;s, El Obrero y El Porvenir donde Luis Carlos Duque, &ldquo;El Ganso&rdquo;, organizaba las fiestas vecinales del barrio. En los primeros a&ntilde;os de la d&eacute;cada del 60 aparecen otros epicentros o se ampl&iacute;an los que ya existen.</p>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/grill2.png">
		<figcaption>Grill s&eacute;ptimo cielo.</figcaption>
	</figure>
	
	<p>En Juanchito, a la orilla del r&iacute;o Cauca, se recuerdan los &quot;Campos El&iacute;seos&quot; (antecedentes del Motel) de don Justiniano Collazos; el bar &quot;La Duquesa&quot; de Germ&aacute;n Palermo y los quioscos &quot;Brisas del Cauca&quot;, &quot;El Pail&oacute;n&quot; &ldquo;Monterrey&rdquo; y &quot;Agapito&quot;, el m&aacute;s popular de todos, fundado en 1955 por Agapito Lenis.</p>
	<p>Por otro lado, las &eacute;lites ten&iacute;an el Club Colombia y el San Fernando, en el barrio del mismo nombre, al que Lucho Berm&uacute;dez compuso una de sus inolvidables canciones. Y mientras las clases altas disfrutaban la cumbia, el porro, la gaita, las rumbas criollas, el pasodoble y el bolero, los sectores subalternos, que tambi&eacute;n bailaban estos g&eacute;neros, gozaban adem&aacute;s con la m&uacute;sica de la Sonora Matancera, Celia Cruz, Daniel Santos, Bienvenido Granda, Pepito L&oacute;pez, Cortijo y su Combo. Este &uacute;ltimo empez&oacute; a escucharse a partir de 1955, cuando grab&oacute; sus primeros discos.</p>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/bono.png">
		<figcaption>Bono club s&eacute;ptimo cielo.</figcaption>
	</figure>
	
	<p>Con ellos y otras agrupaciones, los ritmos afro-caribe&ntilde;os se consolidaban en la fiesta popular cale&ntilde;a como antecedentes inmediatos de lo que ser&iacute;a la salsa, a partir de los 60. Sus canciones se escuchan y se bailan en los nuevos epicentros de la rumba aparecidos en los barrios populares que se multiplicaban por doquier, y en los nuevos sitios para la prostituci&oacute;n que se expand&iacute;a por otras &aacute;reas como la calle 15, al erradicarse la zona de tolerancia del barrio Sucre. Al lado de la pachanga en los a&ntilde;os 60, la salsa es la m&uacute;sica que empieza a disputarle los primeros lugares a la ya tradicional Sonora Matancera y otros grupos cubanos. Muchos mel&oacute;manos, incluso, entrar&aacute;n a la salsa por ah&iacute;, por la Sonora, Cortijo e Ismael Rivera.</p>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/ricardo_ray.png">
		<figcaption>Ricardo Ray, rodeado de j&oacute;venes salseros, entre ellos el escritor Hern&aacute;n Toro, en el Bar Metropole, del Barrio Alameda. Cali diciembre de 1968. Foto cortes&iacute;a de &ldquo;El Pecas&rdquo;, atr&aacute;s y a la izquierda de Richie Ray.</figcaption>
	</figure>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/san_nicolas.png">
		<figcaption>San Nicolas.</figcaption>
	</figure>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/miguel_angel.png">
		<figcaption>Miguel &Aacute;ngel Barrios&ldquo;El Chato&rdquo;, e Ib&eacute;rica Hern&aacute;ndez, bailarines de vieja guardia, en el Balneario Estambul, v&iacute;a Cali-Palmira &ndash; Foto Alejandro Ulloa 1986.</figcaption>
	</figure>
	
	<p>Muchos de estos espacios siguen siendo quioscos y terrazas. Otros son antiguas casas que se transforman o se adec&uacute;an para montar el negocio. Y en otros se va imponiendo una arquitectura diferente que culminar&aacute; en el Grill o Discoteca bajo formas novedosas, con juego de luces rutilantes, lujosa pista de baile y un moderno equipo de sonido que reemplaza a la pianola y al baterista en la tarima. Buena parte de los grilles se concentra en cuatro epicentros consolidados a finales de la d&eacute;cada del 60 y comienzos de los 70: Uno, la calle 15 desde la carrera 1&ordf; hasta la 15. (&ldquo;Natal&iacute;&rdquo;, y &ldquo;Picapiedra&rdquo;, propiedad de Jaime Caicedo, &ldquo;El Grillo&rdquo;; &ldquo;Acapulco&rdquo;, bar &ldquo;La Rosa&rdquo;, el &ldquo;Grill Bar La 15&rdquo; y el &ldquo;Panamericano&rdquo;).</p>
	<p>Un segundo epicentro es &ldquo;La calle del pecado&rdquo; donde se crearon al menos una docena de grilles, entre La Merced y el Parque Caycedo, en pleno coraz&oacute;n del centro hist&oacute;rico, el sector m&aacute;s antiguo de la ciudad, Un tercero, en El Hoyo, detr&aacute;s del barrio San Nicol&aacute;s, el &ldquo;Bar de William&rdquo;, conocido despu&eacute;s como &ldquo;La Habana Club&rdquo;; por ah&iacute; cerca el grill &ldquo;Escalinata&rdquo;, &ldquo;Los Dos&rdquo;, el &ldquo;Grill R&iacute;o Cali&rdquo; y sobre la carrera primera el Radio Centro a gog&oacute; de Calidad, pista de baile vespertina que funcion&oacute; cuando el gog&oacute; y el yey&eacute; venidos de M&eacute;xico, junto a la &ldquo;Nueva Ola&rdquo; que se expand&iacute;a por el continente, se impusieron con furor entre la juventud cale&ntilde;a.</p>
	<p>El cuarto epicentro era en Juanchito, con sus kioscos de guadua y paja o sus casetas, antes de que el narcotr&aacute;fico transformara todo.</p>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/escalinata.png">
		<figcaption>Escalinata Grill.</figcaption>
	</figure>
	
	<p>Ahora bien, en los espacios mencionados se form&oacute; una nueva generaci&oacute;n de mel&oacute;manos, la generaci&oacute;n del medio siglo que no conoci&oacute; la vieja zona de tolerancia, porque la rumba ya no era exclusiva de un sector, sino de toda la ciudad en sus barrios populares. Y hasta ellos se desplazaron las antiguas tradiciones festivas de los champ&uacute;s bailables y las fiestas de cuota. S&oacute;lo que, con algunas modificaciones; ahora el champ&uacute;s se llamaba &quot;aguaelulo&quot; y en vez de ir las muchachas acompa&ntilde;adas por sus padres, asist&iacute;an voladas, a escondidas, para bailar la pachanga, el bolero en salsa y gozar del boogaloo de Richie Ray, Pete Rodr&iacute;guez y Joe Cuba.</p>
	<p>Entre los dos polos que arrebataban la juventud (la nueva ola y el rock por un lado y la m&uacute;sica cubana y la pachanga por otro) se erigi&oacute; el boogaloo que combinaba las influencias americanas del rithm and blues con las cubanas del son y la guajra, en el momento justo en que Cuba romp&iacute;a su dependencia de los Estados Unidos y se convert&iacute;a en su principal enemigo en el patio trasero del continente.</p>
	<p>A mediados de los a&ntilde;os 60 la pachanga que ven&iacute;a del Barrio Latino de Nueva York, estaba en apogeo. Luego fue el boogaloo, que proced&iacute;a del mismo Barrio. Y entre las nuevas orquestas, la de Ricardo Ray era la m&aacute;s importante de todas en las barriadas populares de Cali. De ah&iacute; que se convirtiera en el s&iacute;mbolo que legitim&oacute; la salsa como la m&uacute;sica de los sectores subalternos en esta ciudad. Si la revoluci&oacute;n cubana hab&iacute;a inquietado muchas conciencias inclin&aacute;ndolas hacia la militancia pol&iacute;tica antiimperialista y revolucionaria, Ricardo Ray revolucionaba la m&uacute;sica popular y proporcionaba una innovadora vitalidad r&iacute;tmica que sacud&iacute;a lo conocido hasta entonces. Ambos acontecimientos marcaron para siempre, con distinta intensidad, a esa generaci&oacute;n del medio siglo en Cali, y dieron origen a una literatura urbana in&eacute;dita hasta ese momento.</p>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/andres_caicedo.png">
		<figcaption>¡QUE VIVA LA M&Uacute;SICA! Andr&eacute; Caicedo.</figcaption>
	</figure>
	
	<p>Hacia 1970, la ciudad avanzaba en una nueva fase de su modernizaci&oacute;n urbana mientras se afianzaba la cultura popular que tendr&iacute;a en la salsa y su baile, una significativa expresi&oacute;n identitaria. El compromiso con la salseridad era sagrado.</p>
	<p>Las colonias de mel&oacute;manos rotaban por establecimientos y epicentros no s&oacute;lo los fines de semana sino los dem&aacute;s d&iacute;as: Los lunes de Estambul y El Aguacate (lunes del zapatero), el martes de Marcia (en Salomia) el mi&eacute;rcoles de Escalinata (el grill m&aacute;s &quot;duro&quot; de la Salsa a finales de los 60), los jueves de Schira, los viernes y los domingos del S&eacute;ptimo Cielo que fue templo de la rumba cale&ntilde;a durante 30 a&ntilde;os, como tambi&eacute;n lo fueron entre los 70&acute;s y los 80&acute;s, el Honka Monka, en el barrio San Nicol&aacute;s y el Escondite frente al club San Fernando.</p>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/bonka_monka.png">
		<figcaption>Bonka Monka.</figcaption>
	</figure>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/juegos_panamericanos.png">
		<figcaption>Juegos Panamericanos 1971.</figcaption>
	</figure>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/watusi.png">
		<figcaption>Watusi, Henry Yanguas y Amparo Arrebato en el Grill Honka Monka, a&ntilde;os 70. Foto cortes&iacute;a de Henry Yanguas.</figcaption>
	</figure>
	
	<p>Y si la salsa fue hecha para oir y para bailar, los bailadores y los bailarines, se hicieron con ella y para ella. Una nueva generaci&oacute;n entra en la escena durante los 60-70&acute;s. Si en la Zona de Tolerancia se destacaron &ldquo;Los Tres Pachucos&rdquo;, &ldquo;El Negro Domingo&rdquo;, Benigno Holgu&iacute;n y sus colegas, ahora ser&aacute;n Catacol&iacute;, Amparo Arrebato, Evelio Carabal&iacute; y Esmeralda Ram&iacute;rez, Jimmy Boogaloo, Watusi, Mar&iacute;a, El Chato e Ib&eacute;rica, Pedro Castro, El Tosco, Trapito, Ofelia, Cristina, Ayd&eacute; Espa&ntilde;a, Denis y Nubia, Manchura, Veintemillas, Telembi King, Horacio Henao &rdquo;L&aacute;piz&rdquo;, Miguelito Qui&ntilde;ones, Willian y Miryan, Los Mellizos, Efra&iacute;n, Harrison y Raul, Guaracho, el El&aacute;stico... Al promediar los 70 surge El Ballet de la Salsa, con m&aacute;s salsa que ballet, integrado por algunos de los mejores bailarines de entonces. Luego, emergen j&oacute;venes bailarines como Wilson Palomeque, Luz Ayd&eacute; Moncayo, Otoniel Palacios, Benicia C&aacute;rdenas, Diego Castro, Liliana Salinas, y por &uacute;ltimo, Eduardo Hern&aacute;ndez &ldquo;El Mulato&rdquo;, que inicia la transici&oacute;n al siglo XXI. Con varios de ellos se forma en los 80&acute;s &ldquo;Cali Rumba&rdquo;, y a mediados de esa d&eacute;cada se crea &ldquo;Barrio Ballet&rdquo;, una propuesta esc&eacute;nica de danza cl&aacute;sica y ballet que fue hasta Par&iacute;s, invitada por la Unesco, cuando los ritmos afrocubanos y la salsa son recreados por Incolballet, bajo la direcci&oacute;n de la Maestra Gloria Castro. Al comenzar los 90, se organiza el Ballet Az&uacute;car, para bailar salsa, derivado de la serie televisiva &ldquo;Az&uacute;car&rdquo; que dirigi&oacute; el cineasta cale&ntilde;o Carlos Mayolo.</p>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/bailarines.png">
		<figcaption>Bailarines en acci&oacute;n.</figcaption>
	</figure>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/binicia.png">
		<figcaption>Binicia C&aacute;rdenas, una de las m&aacute;s importantes bailarinas de la salsa en Cali, durante los a&ntilde;os 90. Foto cortes&iacute;a de Umberto Valverde.</figcaption>
	</figure>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/guaracho.png">
		<figcaption>A la izquierda, Guaracho y su pareja; a la derecha, Mar&iacute;a y Felix Veintemillas, bailarines de vieja guardia durante su presentaci&oacute;n en el Festival Mundial de Salsa , Cali 20011 &ndash; Foto Harold Bayona.</figcaption>
	</figure>
	
	<p>En todos los espacios, bailadores y bailarines tocan con los pies las descargas del piano o el repique de los tambores. Se baila por placer, por deseo, pero tambi&eacute;n se compite, entre algunos, por el prestigio y el estatus que da el baile; por el reconocimiento de los pares, por superar a los rivales o seducir a la pareja que se siente atra&iacute;da. A los cortes mel&oacute;dicos y r&iacute;tmicos le corresponden los movimientos alegres de un ser hedonista que traduce en su c&oacute;digo, un elaborado saber del cuerpo expresado en pasos, figuras y coreograf&iacute;as, espont&aacute;neas o dise&ntilde;adas previamente para el goce. Proliferan los concursos de baile que acrecientan el j&uacute;bilo. Despu&eacute;s de la presentaci&oacute;n de Ricardo Ray y Bobby Cruz en 1968-69 y 1969-70, en la Caseta Panamericana, nace el mito de la salsa en Cali, que antecede y sucede a los Juegos Panamericanos de 1971. Entonces se incrementan los bailaderos de barrio, los grilles y las discotecas. En el centro (Madeira), en el norte (Las Vallas, Siboney) sobre la carrera 1&ordf;, sobre la 8&ordf;, (el Infierno, Shakarel, Schira, El Columpio, Nuevo Mundo, La Flauta y el Cabo Roje&ntilde;o, con Laika, la perrita &ldquo;que bailaba todos los ritmos&rdquo;); en Juanchito (El Rodadero, El Abuelo Pachanguero, despu&eacute;s Juan Pachanga, Baracoa, El Concorde&hellip;y al comenzar el siglo XXI Guarar&eacute;, Citr&oacute;n, Samba Caramba). A partir de los 80&acute;s, con el surgimiento de la clase emergente crece el n&uacute;mero de grilles y discotecas en otras &aacute;reas urbanas como la calle 5&ordf; (&ldquo;Ca&ntilde;andonga&rdquo;, &ldquo;Manhatan&rdquo;, &ldquo;El Gusano Verde&rdquo;, la &ldquo;Jirafa Roja&rdquo;, &ldquo;El Patio&rdquo; y &ldquo;La Manzana&rdquo;); Cerca a ellos la Taberna Latina, un templo para las audiciones salseras; y en Menga (&ldquo;Los Compadres&rdquo;, &ldquo;Los Ahijados&rdquo;).</p>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/boleta_willie_colon.png">
		<figcaption>Boleta Willie Col&oacute;n.</figcaption>
	</figure>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/grupo_niche.png">
		<figcaption>El Grupo Niche durante una de sus presentaciones en el Club Discoteca Juan Pachanga, en Juanchito, Cali 1982. A la izquierda Tuto Jim&eacute;nez, cantante; en el centro, Alvaro del Castillo, cantante y a la derecha Eddie Espinosa, trompetista. A su lado, Jairo &ldquo;Ca&ntilde;andonga&rdquo;. Foto cortes&iacute;a de Jairo &ldquo;Ca&ntilde;andonga&rdquo;.</figcaption>
	</figure>
	
	<p>El auge del gran negocio con sus &ldquo;dineros calientes&rdquo; multiplica la rumba salsera en diferentes niveles. Desde los 70&acute;s se trajeron la mayor&iacute;a de las orquestas de Nueva York, Puerto Rico y Venezuela; luego algunas agrupaciones cubanas. En Cali se organizaron muchas bandas, de m&uacute;sicos (y de las otras), grabaron sus discos, participaron de los conciertos como teloneros, se presentaron en la feria de Cali, tocaban en clubes, discotecas y fiestas privadas mientras la ciudad, y el pa&iacute;s, se sumerg&iacute;an en una nube de ilusiones, danzando en una borrachera sin fin, hasta cuando la nube se esfum&oacute; y dej&oacute; ver la resaca de conflictos, guerras y guerrillas al amanecer del siglo XXI. Una resaca, que parece no acabar&hellip;.</p>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/celia_gonzalez1.png">
		<figcaption>Celia Gonzalez.</figcaption>
	</figure>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/celia_gonzalez2.png">
		<figcaption>Celia Gonzalez.</figcaption>
	</figure>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/celia_gonzalez3.png">
		<figcaption>Celina Gonz&aacute;lez, su hijo L&aacute;zaro (Reutilio Jr.) y el Conjunto Campoalegre de Cuba, durante uno de sus conciertos en Cali, diciembre de 1985. Foto Alejandro Ulloa.</figcaption>
	</figure>
	
	<p>En conjunto, distintas generaciones de bailarines hacen parte de la historia de Cali en la segunda mitad del siglo XX. Los mayores tra&iacute;an la escuela de la Zona de Tolerancia. Otros hab&iacute;an visto bailar en ella o en los bailaderos de barrio, y tuvieron su trono en las discotecas m&aacute;s importantes de la ciudad ya mencionados. Para muchos su escuela hab&iacute;a sido la calle, el baile de cuota, el aguelulo, o la fiesta familiar, pero todos hicieron del baile un estilo y un proyecto de vida. Cada generaci&oacute;n contribuy&oacute; a crear lo que hemos propuesto llamar el Estilo Cl&aacute;sico Cale&ntilde;o, un baile r&aacute;pido y &aacute;gil en el movimiento de los pies, rico en adornos, sincronizado en los piques, cadencioso en el conjunto con la pareja enlazada y propicio para el solista virtuoso. En 50 a&ntilde;os se configur&oacute; una aut&eacute;ntica Escuela de baile de salsa en Cali que en el siglo XXI adquiri&oacute; reconocimiento internacional, gan&oacute; concursos y campeonatos mundiales; una escuela que hoy se exporta a otros pa&iacute;ses, en el cuerpo de los bailarines. Con ella, las generaciones pasadas legaron el saber colectivo de un lenguaje no verbal que hoy se desarrolla en un nuevo contexto, bajo otras condiciones: las del mundo globalizado. Un lenguaje que se enriquece con la presencia de bailadores y bailarines en los establecimientos del actual circuito de la salsa en la ciudad.</p>
	<p>Ese lenguaje y esa Escuela, han sido siempre el producto de una genuina creaci&oacute;n popular, en interacci&oacute;n productiva con la industria del entretenimiento. Y sigue siendo, hasta hoy, un valioso patrimonio cultural de los estratos bajos, los sectores subalternos de Santiago de Cali.</p>
	
	<figure class="imgParrafo">
		<img src="Cali/Barrio1/Salsa/Imagenes/Textos/luz_ayde.png">
		<figcaption>Luz Ayd&eacute; Moncayo, bailarina y directora de la Escuela Son de Luz, desfilando como Pasista en el Sals&oacute;dromo, Feria de Cali 2010. Foto cortes&iacute;a de Luz A. Moncayo.</figcaption>
	</figure>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>

