
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Hector Rocha (El Piernas)</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>Hector Rocha -el piernas- en su f&aacute;brica de instrumentos en cali 1986.</p>
	<p>H&eacute;ctor Rocha &quot;El Piernas&quot; es un cale&ntilde;o que hered&oacute; de su padre el arte de la m&uacute;sica y el arte de fabricar instrumentos. Pero mientras el padre hac&iacute;a guitarras, violines y otros instrumentos de cuerda, H&eacute;ctor Rocha que pertenece a la generaci&oacute;n del medio siglo, se dedic&oacute; a la percusi&oacute;n.</p>
	<p>Hoy con su peque&ntilde;a industria manufacturera, &quot;El Piernas&quot; abastece la demanda y el mercado local de timbales, congas, bong&oacute;, campanas, claves, g&uuml;iros y maracas. Los instrumentos de la percusi&oacute;n mayor y menor, indispensables en cualquier conjunto salsero, son construidos en Cali, para las bandas locales y para muchos de los artistas que de Nueva York, Cuba o Puerto Rico llegan a la ciudad.</p>
	
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>

