<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Un d&iacute;a en la vida de ...</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>Hacia 1980, cuando Cali era todav&iacute;a una ciudad relativamente peque&ntilde;a, con algo m&aacute;s de un mill&oacute;n de habitantes, empez&oacute; a ser considerada como una ciudad salsera. Sin embargo, no se conoc&iacute;an las razones de esa percepci&oacute;n, que parec&iacute;a cautivar a propios y extra&ntilde;os. Un aura de simpat&iacute;a rodeaba la ciudad en medio de una pregunta que flotaba en el ambiente: &iquest;&ldquo;Por qu&eacute; la salsa en Cali? Antes que un interrogante individual era una pregunta socialmente elaborada que muchos se hac&iacute;an como si se tratara de una curiosidad digna de ser conocida. Esa pregunta, que entonces tambi&eacute;n nos formulamos de manera independiente, dio origen a la primera investigaci&oacute;n acad&eacute;mica sobre el tema en la ciudad, adelantada en el Departamento de Ciencias de la Comunicaci&oacute;n de la Universidad del Valle. En otras palabras, se convirti&oacute; en un problema de investigaci&oacute;n que culmin&oacute; en nuestro libro La Salsa en Cali, publicado inicialmente por la Universidad Pontificia Bolivariana de Medell&iacute;n en 1988 y luego por la Universidad del Valle en 1992. Los resultados de ese trabajo y los que vinieron despu&eacute;s, son el soporte conceptual, hist&oacute;rico y antropol&oacute;gico de esta multimedia. Pero en los 80&acute;s sirvieron para apoyar diferentes producciones audiovisuales que comenzaron a realizarse a mediados de la d&eacute;cada, mientras la ciudad continuaba creciendo sin saber a d&oacute;nde iba a llegar.</p>
	<p>Uno de los primeros documentales fue &ldquo;&iexcl;Cali: Pura Salsa!&rdquo; I y II, dirigido por Ana Mar&iacute;a Ochoa, para Audiovisuales, el canal oficial de la televisi&oacute;n colombiana encargado de &ldquo;la cultura&rdquo; en esa &eacute;poca. El documental, hecho en 1986, hac&iacute;a parte de la serie Un D&iacute;a en la Vida D que se emit&iacute;a por Audiovisuales. En la producci&oacute;n participaron reconocidos personajes del ambiente salsero, en su paso por los sitios y establecimientos m&aacute;s importantes de la &eacute;poca en esta ciudad. La magnitud del tema y el tratamiento asumido por los realizadores, hicieron posible dos documentales en vez de uno, o uno extenso dividido en dos partes. Por su valor testimonial como registro de un momento de optimismo ciudadano y de una euforia algo m&aacute;s que salsera, compartimos ambos documentales con los destinatarios de esta multimedia, como un testimonio directo de la salsa en Cali, ofrecido generosamente por algunos de sus actores m&aacute;s representativos, a mediados de los a&ntilde;os 80.</p>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>

