<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="Cali/Juanchito/SigloXXI/Imagenes/Escenario/maqueta.png" class="hidden-phone fondo">-->
    <img  src="Cali/Juanchito/SigloXXI/Imagenes/Escenario/fondo_juanchito_sigloXXI.jpg" class="hidden-phone fondo">
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Maracas">
        <img id="maracas"  src="Cali/Juanchito/SigloXXI/Imagenes/Escenario/maracas.png" class="hidden-phone  positionItem"  
             style="width :6.9%; height:6.5%; top:51.9%; left:52.7%;">
    </a>

    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Juanchito/SigloXXI/textoJimmySaa.html')" 
        data-toggle="tooltip" data-placement="left" title="Jimmy Saa">
        <span class="hidden-tablet hidden-desktop ">Jimmy Saa</span>
        <img id="jimmiSaa"  src="Cali/Juanchito/SigloXXI/Imagenes/Escenario/jimmy.png" class="hidden-phone  positionItem"  
             style="width:21%; height:42.5%; top:58.2%; left:3.7%;">
        <img id="jimmyMovil" src="Cali/Juanchito/SigloXXI/Imagenes/Movil/jimmy_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Juanchito/SigloXXI/textoYuriBuenaventura.html')" 
        data-toggle="tooltip" data-placement="left" title="Yuri Buenaventura">
        <span class="hidden-tablet hidden-desktop ">Yuri Buenaventura</span>
        <img id="yuri"  src="Cali/Juanchito/SigloXXI/Imagenes/Escenario/yuri.png" class="hidden-phone  positionItem"  
             style="width:20%; height:50%; top:52.8%; left:74.3%;">
        <img id="yuriMovil" src="Cali/Juanchito/SigloXXI/Imagenes/Movil/yuri_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

</div>

<script>
    $("a[rel=popover]").popover();
</script>
