<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Audio Reinaldo Suavit&aacute;</h3>
</div>
<div class="modal-body" style="text-align: justify;">
		<!--onloadstart -->
    <audio  preload="none" controls data-info-att="Audio Reinaldo SUavit&aacute;.">
        <source src="Cali/Barrio1/Presalsa/Audios/reynaldo_savita.mp3" type="audio/mpeg" >
        Your browser does not support the audio element.
    </audio>
    
</div>

<div class="modal-footer">	
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>    
</div>







