<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="Cali/Barrio1/Presalsa/Imagenes/maqueta.png" class="hidden-phone fondo">-->
    <img  src="Cali/Barrio1/Presalsa/Imagenes/Escenario/cali_barrio1_presalsa.jpg" class="hidden-phone fondo">


    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio1/Presalsa/textoTransportePublico.html')" 
        data-toggle="tooltip" data-placement="left" title="Transporte P&uacute;blico">
        <span class="hidden-tablet hidden-desktop ">Transporte P&uacute;blico</span>
        <img id="bus"  src="Cali/Barrio1/Presalsa/Imagenes/Escenario/bus.png" class="hidden-phone  positionItem carroMoviendose"  
             style="width :42%; height:55%; top:55%; left:-11%;">
        <img id="busMovil" src="Cali/Barrio1/Presalsa/Imagenes/Movil/bus_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio1/Presalsa/textoTitoCortes.html')" 
        data-toggle="tooltip" data-placement="left" title="Tito Cort&eacute;s">
        <span class="hidden-tablet hidden-desktop ">Tito Cort&eacute;s</span>
        <img id="titoCortes"  src="Cali/Barrio1/Presalsa/Imagenes/Escenario/tito.png" class="hidden-phone positionItem"             
             style="width :14%; height:60%; top:46%; left:76%;">        
        <img id="titoCortesMovil" src="Cali/Barrio1/Presalsa/Imagenes/Movil/tito_movil.png"
             class ="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio1/Presalsa/textoFiestasPopulares.html')" 
        data-toggle="tooltip" data-placement="left" title="Fiestas Populares">
        <span class="hidden-tablet hidden-desktop ">Fiestas Populares</span>
        <img id="mujeres"  src="Cali/Barrio1/Presalsa/Imagenes/Escenario/mujeres.png" class="hidden-phone positionItem"             
             style="width :8%; height:22%; top:55%; left:89%;">        
        <img id="mujeresMovil" src="Cali/Barrio1/Presalsa/Imagenes/Movil/mujeres_movil.png"
             class ="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio1/Presalsa/textoUrbanizacionEnCali.html')" 
        data-toggle="tooltip" data-placement="left" title="Urbanizaci&oacute;n en Cali">
        <span class="hidden-tablet hidden-desktop ">Urbanizaci&oacute;n en Cali</span>
        <img id="casa"  src="Cali/Barrio1/Presalsa/Imagenes/Escenario/casa.png" class="hidden-phone  positionItem"  
             style="width :22%; height:31%; top:41%; left:18%;">
        <img id="casaMovil" src="Cali/Barrio1/Presalsa/Imagenes/Movil/casa_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/Barrio1/Presalsa/audioReynaldoSuavita.html')" 
        data-toggle="tooltip" data-placement="left" title="Reynaldo Suavit&aacute;">
        <span class="hidden-tablet hidden-desktop ">Reynaldo Suavit&aacute;</span>
        <img id="pachucos"  src="Cali/Barrio1/Presalsa/Imagenes/Escenario/pachucos.png" class="hidden-phone  positionItem"  
             style="width :10%; height:19%; top:57%; left:26.4%;">
        <img id="pachucosMovil" src="Cali/Barrio1/Presalsa/Imagenes/Movil/pachucos_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
</div>


<script>
    $("a[rel=popover]").popover();
</script>
