<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">La  Salsa, El Barrio y La Ciudad</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>&ldquo;Seguimos conociendo mal a la sociedad que nos rodea, sociedad que permanece en la gran mayor&iacute;a de sus gestos, desconcertante e imprevisible&rdquo;.</p>
	<p>Fernand Braudel &ndash; (Unidad y diversidad de las ciencias del hombre)</p>
	<p>Desde los a&ntilde;os 60&acute;s suele asociarse la salsa con los barrios populares de algunas ciudades caribe&ntilde;as y latinoamericanas. En el imaginario colectivo la expresi&oacute;n salsera se vincula con el arrabal y cierta marginalidad social. De hecho, en Cali, la salsa se escuchaba desde aquella &eacute;poca en unas pocas emisoras y se bailaba en kioscos de guadua y paja, oscuros salones de barriada, terrazas inconclusas, en bares &laquo;de mala muerte&raquo; o en callejones y esquinas al aire libre. Tambi&eacute;n hab&iacute;a discotecas en el centro y otras zonas de la ciudad donde la salsa se entreveraba en medio de otros &laquo;ritmos tropicales&raquo; como la cumbia, el porro, el merengue y dem&aacute;s g&eacute;neros bailables, en una especie de crossover de la &eacute;poca.</p>
	<p><strong>Por qu&eacute; La Salsa en Cali&hellip;</strong></p>
	<p>Ahora bien, &iquest;por qu&eacute; raz&oacute;n esta m&uacute;sica se convirti&oacute; en un &iacute;cono de la ciudad? &iquest;C&oacute;mo lleg&oacute; a ser un referente de identidad urbana dentro y fuera del pa&iacute;s? Para entenderlo, es necesario analizar la historia del proceso social en el que la salsa se convirti&oacute; en signo identitario, m&aacute;s all&aacute; del eslogan de &ldquo;capital mundial&rdquo;. Y aunque por la v&iacute;a de la industria cultural tambi&eacute;n llegaron el vals, el pasodoble, el tango, la milonga, el fox trot, el rock and roll y la ranchera, fueron los g&eacute;neros antillanos y la salsa, los que terminaron predominando en los sectores populares, mestizos y mulatos, la mayor&iacute;a de la poblaci&oacute;n cale&ntilde;a. Fue a lo largo del proceso de industrializaci&oacute;n y expansi&oacute;n urbana ocurrido en los a&ntilde;os 50 y 60 del siglo XX, cuando &ldquo;La vieja guardia antillana&rdquo; y la salsa se arraigaron en la ciudad, mientras se constru&iacute;a una nueva urbe sobre la vieja aldea que hab&iacute;a sido Cali durante 400 a&ntilde;os de existencia.</p>
	
	<p><strong>Cali: Industrializaci&oacute;n y Urbanizaci&oacute;n</strong></p>
	<p>Para ese arraigo fue fundamental la configuraci&oacute;n de un proletariado urbano vinculado al sector manufacturero, a los ingenios y la agroindustria azucarera o a las multinacionales asentadas en el eje Cali Yumbo en la d&eacute;cada del 50 como parte del modelo de &ldquo;Sustituci&oacute;n de Importaciones&rdquo;. Un proletariado que coexist&iacute;a con grupos de artesanos, al lado de peque&ntilde;os o medianos comerciantes, campesinos desarraigados y miles de inmigrantes extraviados en un laberinto que comenzaba a ser ciudad. Estos sectores, junto a sus vecinos socialmente m&aacute;s cercanos, los marginados, los de la periferia, que no son absorbidos por el modelo industrializador, ser&aacute;n inicialmente los receptores privilegiados de la m&uacute;sica antillana y posteriormente la salsa. Negros, mulatos y mestizos pobres, sobrevivientes de muchos naufragios, acogen con regocijo la joven criatura que endulza sus o&iacute;dos y moviliza sus cuerpos en peque&ntilde;os establecimientos que emergen en los barrios como parte de su &ldquo;infraestructura&rdquo; social.</p>
    
    <figure class="imgParrafo">
        <img src="Cali/Barrio1/Presalsa/Imagenes/Textos/casa_cali.png">
        <figcaption>Casa de Cali.</figcaption>
    </figure>
    
    <figure class="imgParrafo">
        <img src="Cali/Barrio1/Presalsa/Imagenes/Textos/cortero.png"
        style="max-width:80%;">
        <figcaption>Cortero de ca&ntilde;a. Proceso de Industrializaci&oacute;n del ingenio azucarero.</figcaption>
    </figure>
    
    <p>M&aacute;s all&aacute; de la Zona de Tolerancia y el barrio Obrero, se forman, en la d&eacute;cada del 60, bailaderos informales en los alrededores de Juanchito o en suburbios emergentes como Silo&eacute;, (La Sirena, El Dorado y La Terraza); en la Uni&oacute;n (Mi Ranchito, Tuki Tuki y La Terraza,); en San Carlos (La Fuente y La Sombra); en Alfonso L&oacute;pez (La Terraza, La Perfecta y los kioscos El Cocodrilo y La Popala); en Alameda (Bar Metropol); en Santa M&oacute;nica Popular (El Batacl&aacute;n); en Salomia (Marcia y El Nevado); en Mel&eacute;ndez (El Aguacate y el kiosco Las Delicias); en San Nicol&aacute;s, (El Bar de Wilian, conocido como La Habana); y en el barrio Aguablanca - no el distrito - (El Lago y &quot;El Farito&quot;- despu&eacute;s Metropol).</p>
    <p>Estos &ldquo;bailaderos&rdquo;, entre tantos otros que sobreviven en la memoria de los j&oacute;venes de entonces, atra&iacute;an moradores de los barrios circunvecinos y se sumaban a espacios ya conocidos desde los a&ntilde;os 50 como La Terraza Belalc&aacute;zar y El Avispero, de lucho Lenis (luego el Bar N&aacute;poles) en el barrio Obrero; Brisas del Porvenir, en el barrio El Porvenir; El club popular, al lado del estadio Pascual Guerrero en San Fernando; los Kioscos de Villacolombia, y Melod&iacute;a, una terraza encerrada con guadua a la que se le llam&oacute; &quot;La Guaduita&quot;, famosa por sus concursos de baile, ambos en el barrio Villacolombia; el kiosco de Bavaria en cuyos alrededores se jugban torneos de f&uacute;tbol, cerca al barrio La Base; El Bar Tr&oacute;pico entre Alameda, La Loma de la Cruz y San Bosco; el Bar La Duquesa y los kioscos Brisas del Cauca y Agapito en Juanchito.</p>
    
    <figure class="imgParrafo">
        <img src="Cali/Barrio1/Presalsa/Imagenes/Textos/brisas.png">
        <figcaption>Brisas del Cauca.</figcaption>
    </figure>
    
    <p>Espacios como estos coexist&iacute;an en los a&ntilde;os 50 con los cabarets de la zona de tolerancia, los Caf&eacute;s, Bares y Cantinas del Calvario, alrededor de la Plaza de Mercado, y los Champ&uacute;s Bailables, fiestas vespertinas de los domingos que se celebraban en casas de familia en los barrio San Nicol&aacute;s, El Hoyo, El Obrero y Vilach&iacute;, este &uacute;ltimo, detr&aacute;s de la Loma de la Cruz.</p>
    <p>Nombres y lugares donde se construyeron v&iacute;nculos y afectos, amistades, amores, pertenencias con el barrio y con la ciudad, porque la expansi&oacute;n urbana es simult&aacute;nea con el desarrollo industrial, pero tambi&eacute;n con el desplazamiento y la inmigraci&oacute;n provocada por &ldquo;La Violencia&ldquo;pol&iacute;tica despu&eacute;s del asesinato del caudillo liberal, Jorge Eli&eacute;cer Gait&aacute;n, en 1948.</p>
    
    <figure class="imgParrafo">
        <img src="Cali/Barrio1/Presalsa/Imagenes/Textos/gaitan.png">
        <figcaption>Jorge Eli&eacute;cer Gait&aacute;n hace el saque de honor en el partido entre el Am&eacute;rica de Cali y el Sucre del Per&uacute;, en un juego amistoso durante la visita del l&iacute;der peruano Haya de la Torre, quien era hincha del Sucre y amigo de Gait&aacute;n. De frente, Edgar Mallarino, el capit&aacute;n del Am&eacute;rica. Estadio Pascual Guerrero, Cali 1943.</figcaption>
    </figure>
    
	<p>Fue en el proceso de construcci&oacute;n colectiva de los barrios populares, cuando la m&uacute;sica antillana y su baile penetraron en el coraz&oacute;n de los habitantes, junto a la cumbia y el porro, las rumbas criollas, el bambuco y el pasillo andino que tambi&eacute;n se bailaban por entonces, seg&uacute;n los testimonios de nativos e inmigrantes pueblerinos. Pero fue sobretodo en La Zona de Tolerancia (en el barrio Sucre junto al barrio Obrero) donde rein&oacute; la m&uacute;sica antillana durante la d&eacute;cada del 50 al mismo tiempo que los &ldquo;P&aacute;jaros&rdquo;, agentes macabros del conflicto pol&iacute;tico Liberal Conservador, sembraban violencia y cosechaban muertos en las calles de Cali y los campos del Valle del Cauca. Con el mambo y la guaracha como tel&oacute;n de fondo, se fue transformando el antiguo pueblo en una joven ciudad.</p>
	<p>Y con los pasos de los bailarines cale&ntilde;os que ten&iacute;an en el cine mexicano una escuela para aprenderlos, se abon&oacute; el terreno para apropiarse de la pachanga, hacia 1960, y luego el boogaloo, que hac&iacute;an parte del mismo entorno musical en Nueva York donde hab&iacute;an nacido. Junto a ellos, la salsa ven&iacute;a comprimida en el acetato, producida por la industria discogr&aacute;fica y mercadeada por marinos que llegaban a Buenaventura de donde la tra&iacute;an hasta Cali. Comenzaba la d&eacute;cada de 1960, cuando irrumpieron las primeras orquestas que lideraban un movimiento vanguardista en la capital del mundo. Su eco repercut&iacute;a en esta ciudad como en otras urbes mulatas herederas de la di&aacute;spora afrolatina en el nuevo continente.</p>
	<p>Joe Cuba y su sexteto, Charlie Palmieri con la Duboney, las Estrellas Alegre, Eddie Palmieri y la Perfecta, Jhonny Pacheco, Joe Quijano, Mon Rivera, Tito Rodr&iacute;guez, Tito Puente, Ricardo Ray y Bobby Cruz, Ray Barretto, Cortijo y su Combo y el Gran Combo de Puerto Rico, entre los m&aacute;s importantes, junto a la Sonora Matancera que les anteced&iacute;a, revolucionaban el ambiente del barrio popular cale&ntilde;o, convocando a la fiesta entre sus habitantes.</p>
	<p>Venida desde un suburbio lejano, pero en muchos aspectos semejante al nuestro, la salsa fue acogida con benepl&aacute;cito, aunque todav&iacute;a no se llamaba as&iacute;. Integrada, desde sus or&iacute;genes, por una fusi&oacute;n de ritmos con procedencias distintas, la salsa incorpor&oacute; el mambo y la guaracha, el son montuno y la guajira, el bolero y el danz&oacute;n, el chachach&aacute; y la pachanga, el guaguanc&oacute; y la rumba, la bomba y la plena, junto a otros g&eacute;neros del Caribe. En la misma licuadora mezcl&oacute; tambi&eacute;n el jazz, el R&amp;B y el soul de los afroamericanos del Harlem. En esa promiscuidad multir&iacute;tmica, la salsa recre&oacute; tradiciones, transform&oacute; estilos, innov&oacute; arreglos y cre&oacute; obras originales. Luego asimil&oacute; otros g&eacute;neros como el samba brasilero &ndash; en la d&eacute;cada del 70 - y algunos aires del Pac&iacute;fico colombiano, de los 80 en adelante, unidos todos por el ancestro afro, la s&iacute;ncopa y la polirritmia de los tambores.</p>
	
	<figure class="imgParrafo">
        <img src="Cali/Barrio1/Presalsa/Imagenes/Textos/historia.png">
        <figcaption>En esta obra, el autor se ocupa de la historia moderna de Cali, las transformaciones urbanas, econ&oacute;micas y sociales que han ocurrido hasta finales del siglo.</figcaption>
    </figure>
    
    <p><strong>La salsa: expresi&oacute;n Latina del cambio cultural</strong></p>
    <p>Por la &eacute;poca en que surge y el contexto en que se desarrolla, la salsa es tambi&eacute;n producto de las condiciones de transformaci&oacute;n cultural que vive el mundo occidental en ese momento. Su nacimiento es paralelo con el de otras expresiones sonoras como el reggae en Jamaica, el bossa nova en R&iacute;o de Janeiro, el rock and roll en los Estados Unidos y la m&uacute;sica de los Beatles en Inglaterra. Mientras el mundo se perturbaba con la irreverencia de estos &uacute;ltimos, y la creaci&oacute;n de la minifalda estimulaba la imaginaci&oacute;n de los j&oacute;venes, la salsa, en sus diferentes manifestaciones r&iacute;tmicas, se tomaba gozosamente a Cali.</p>
    <p>Y mientras la guerra de Vietnam exacerbaba los &aacute;nimos y motivaba protestas por doquier, en Cali, los vientos salseros agitaban las olas de nuevas generaciones form&aacute;ndose en la ciudad. La pachanga, el son montuno, el boogaloo y el guaguanc&oacute;, aceleraban a los bailadores que desde la calle saltaban a una pista para lucir sus pasos. Y mientras con el rock and roll, los americanos confrontaban el orden establecido, y los hippies irradiaban sus consignas de amor y paz, la salsa, que tambi&eacute;n lo hizo, expresaba otras formas de impugnaci&oacute;n y resistencia. Y cuando los negros en Estados Unidos levantaban barricadas luchando contra la segregaci&oacute;n y exigiendo derechos, la salsa florec&iacute;a alrededor de los tambores, invocando el pasado, apelando a los ancestros africanos y aliment&aacute;ndose de un presente convulsionado por los movimientos sociales de la &eacute;poca.</p>
    <p>Como las estrellas de una misma constelaci&oacute;n, todos estos &ldquo;fen&oacute;menos&rdquo; de la sociedad occidental moderna vinieron al mundo al mismo tiempo que la salsa, veinte a&ntilde;os despu&eacute;s de la segunda guerra mundial.</p>
    <p>Y en Cali, hasta donde llegaban los aires refrescantes de una revoluci&oacute;n cultural y generacional, la salsa se entreveraba en colegios oficiales y universidades, agenciada por j&oacute;venes promotores del placer que incursionaban en sus aulas. Desde Silo&eacute;, San Nicol&aacute;s y barrio Obrero, hasta Belalc&aacute;zar, Guayaquil y la Floresta, pasando por el Popular, el Porvenir y Salomia, o el Jard&iacute;n y Villa Colombia, el ritmo reci&eacute;n creado se conectaba en Cali con una nueva sensibilidad urbana, cuando el pa&iacute;s aceleraba el paso en su transici&oacute;n de una sociedad agraria y tradicional, a una sociedad urbana e industrializada, al menos en sus principales ciudades.</p>
	<p>Ya fuera en su reivindicaci&oacute;n del negro y el tambor, en la rememoraci&oacute;n del &Aacute;frica profunda, en el canto a la m&uacute;sica y el baile, en la exaltaci&oacute;n del cuerpo y sus placeres, o en la interpelaci&oacute;n al barrio y los reclamos de justicia, la salsa dura erigi&oacute; una bandera con muchas causas, que en Cali se puso en lo m&aacute;s alto. En las casetas comunales, o en &ldquo;discotecas del centro&rdquo;, la salsa y la &ldquo;m&uacute;sica antillana&rdquo; seduc&iacute;an a una nueva generaci&oacute;n de cale&ntilde;os &ndash; la generaci&oacute;n del medio siglo - que se identificaba con ellas. Su alegre compa&ntilde;&iacute;a se extend&iacute;a por bares y tabernas de barrio bajo, se radiaba por locutores audaces, se fortalec&iacute;a en las verbenas callejeras de recientes suburbios que expand&iacute;an el horizonte de una ciudad creciente. Fue en la lucha por la ocupaci&oacute;n del suelo urbano como se fund&oacute; una nueva Cali, una ciudad adolescente, hecha no por las &eacute;lites en el poder, si no por los despose&iacute;dos que se multiplicaban por doquier con el arribo de inmigrantes y desplazados oriundos de la costa pac&iacute;fica, del norte del Valle, del viejo Caldas y del Cauca, de municipios adyacentes a Cali, o de otras regiones del pa&iacute;s.</p>
	<p>Urgidos por las necesidades de la supervivencia, inmigrantes y desplazados, al lado de los nativos, idearon formas in&eacute;ditas de organizaci&oacute;n, promovieron solidaridades espont&aacute;neas y desplegaron acciones creativas, para enfrentar con esperanza, toda clase de infortunios, desventuras y calamidades. Con esfuerzo propio y ayuda mutua se juntaron para abrir una calle, construir una vivienda, limpiar un potrero, dise&ntilde;ar una cancha de f&uacute;tbol, organizar una caseta para el encuentro comunitario. La caseta, hecha para las reuniones y la participaci&oacute;n del vecindario, o para guardar los materiales de construcci&oacute;n, se convert&iacute;a en el sal&oacute;n de baile para la fiesta comunal del fin de semana. Con las verbenas realizadas, se recolectaban fondos para ayudar a la escuela, erigir una capilla, o construir obras de beneficio colectivo. Y all&iacute;, la salsa, tambi&eacute;n estuvo presente.</p>
  
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>






