<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">El bus urbano y el barrio</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>Desde 1910 hasta 1935, Cali tuvo un tranv&iacute;a que comunicaba el centro de la ciudad con Puerto Mallarino y Juanchito, a la orilla del r&iacute;o Cauca, donde llegaban las balsas de guadua con productos agr&iacute;colas que abastec&iacute;an la plaza de mercado El Calvario. El tranv&iacute;a era el principal medio de transporte antes de que llegara el bus urbano. Cuando se introdujo el bus, una de las primeras rutas establecidas fue la Rosada Juanchito, antes de que aparecieran la Amarilla y la San Fernando. En los a&ntilde;os 50, Jos&eacute; V&iacute;ctor Sanmiguel, quien hab&iacute;a llegado como inmigrante siendo ni&ntilde;o, conduc&iacute;a su propio bus adscrito a una de las empresas de la &eacute;poca.</p>
	<p>Todos los d&iacute;as recorr&iacute;a el trayecto que iba desde Juanchito hasta el Calvario, pasando por el Barrio Obrero, frente al parque y la iglesia que a&uacute;n existen. En su recorrido por las calles sin pavimentar, Jos&eacute; V&igrave;ctor Sanmiguel afirmaba su pertenencia con la ciudad donde aprendi&oacute; a ser mec&aacute;nico, encontr&oacute; la oportunidad para trabajar, y donde permanece hasta hoy con su familia.</p>
	<p>Ahora cuando rememora su pasado, evoca sus visitas a la Zona de Tolerancia donde llegaban todos los mec&aacute;nicos, los s&aacute;bados al caer la tarde, una vez terminada su jornada de trabajo. All&iacute; escuchaban el pasodoble, la milonga y el fox trot, el son, el bolero y la guaracha, el mambo y el chachach&aacute;, danzando &ldquo;el baile paseadito que le gustaba a las muchachas&rdquo;. En su deambular por la Zona, Jos&eacute; V&iacute;ctor fue asiduo visitante de bares y cantinas, caf&eacute;s con &ldquo;coperas&rdquo; y salones de baile, &ldquo;donde se pod&iacute;a estar tranquilo y sin temor&rdquo;.</p>
        
    <figure class="imgParrafo">
        <img src="Cali/Barrio1/Presalsa/Imagenes/Textos/bus_san_fernando.png">
        <figcaption>Uno de los buses de la ruta San Fernando.</figcaption>
    </figure>
    
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>






