<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">La fiesta popular en Cali: de los champ&uacute;s bailables a los bailes de cuota</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
    <p>De acuerdo con diversas fuentes orales, en la d&eacute;cada de 1930 se desarrolla un tipo de reuni&oacute;n festiva conocida como los &ldquo;Champ&uacute;s bailables&rdquo; que se hac&iacute;an en el barrio Obrero, Sucre, El Hoyo, San Nicol&aacute;s y Vilach&iacute; (al lado de San Antonio).</p>
    <p>A mediados de los a&ntilde;os 80, el ex futbolista profesional Edgar Mallarino y el bailar&iacute;n Benigno Holgu&iacute;n, entonces en la tercera edad, definieron los champ&uacute;s bailables como reuniones vespertinas en casas de familia con amplios solares, donde iban j&oacute;venes y adolescentes a bailar el domingo por la tarde hasta tempranas horas de la noche. Eran fiestas entre amigos, donde pod&iacute;an asistir las jovencitas con permiso o acompa&ntilde;adas por sus padres.</p>
    <p>Los champ&uacute;s bailables se llamaban as&iacute; porque se consum&iacute;a champ&uacute;s, bebida t&iacute;pica del Valle del Cauca preparada con ma&iacute;z, pedazos de lulo y pi&ntilde;a y hojas de naranjo agrio. Con ella no se emborrachaba nadie, pero s&iacute; con la cerveza y el aguardiente que los mayores tomaban mientras los adolescentes se llenaban de champ&uacute;s. Complementados con empanadas y fritanga, los champ&uacute;s bailables fueron encuentros permanentes en aquellos barrios durante varias d&eacute;cadas de la primera mitad del siglo XX en Cali. Muy conocidos, el champ&uacute;s de los Arce en el barrio El Hoyo, en un solar inmenso de la calle 18 con carrera 1&ordf; y 2&ordf;, seg&uacute;n lo recordaba Edgar Mallarino, asiduo visitante; el champ&uacute;s de los Holgu&iacute;n en el barrio Vilach&iacute;, donde Benigno Holgu&iacute;n era el disc&oacute;mano; los champ&uacute;s del barrio San Nicol&aacute;s (en la carrera 2&ordf; con calle 23) y en el barrio Obrero (carrera 9&ordf; con calle 20 y carrera 10 calle 22).</p>

    <figure class="imgParrafo">
        <img src="Cali/Barrio1/Presalsa/Imagenes/Textos/hilda_bailando.png">
        <figcaption>Hilda Palta y Benigno Holgu&iacute;n, bailarines de la &quot;vieja guardia&quot;. Cali, a&ntilde;os 80.<br /> Foto Harold Bayona.</figcaption>
    </figure>

    <p>Como espacio para el encuentro festivo y amistoso de vecinos y familiares, los champ&uacute;s bailables fueron un escenario de socializaci&oacute;n en los principales barrios populares de la joven ciudad.</p>
    <p>De acuerdo con los relatos de los entrevistados, en los champ&uacute;s bailables de los a&ntilde;os 40 se danzaban las rumbas criollas de Emilio Sierra, los porros de Guillermo Buitrago, el fox-trot, el bolero, el pasodoble, la conga, el son, el bote, la rumba y la guaracha escuchadas para entonces. Podemos considerar que all&iacute; hicieron escuela muchos de los futuros bailarines de Cali de los a&ntilde;os 40 y 50, como lo demuestra el caso de Benigno Holgu&iacute;n en cuya casa paterna del barrio Vilach&iacute; se celebraban estas fiestas. Escuela que se fortaleci&oacute;, para los hombres, con el paso por la Zona de Tolerancia donde se form&oacute; la primera comunidad de mel&oacute;manos y bailadores j&oacute;venes de Santiago de Cali.</p>
    <p>Seg&uacute;n nuestras indagaciones con otros entrevistados como el ex futbolista profesional y cantante, H&eacute;ctor &ldquo;la Sombra&rdquo; Mart&iacute;nez, en los a&ntilde;os 40 aparecen los bailes de cuota en casa de Trinidad Mart&iacute;nez ubicada en la calle 15 con carrera 13 y 14 (barrio Fray Dami&aacute;n). De ellas nos habla &quot;La Sombra&quot; Mart&iacute;nez quien fuera jugador del Boca Jrs de Cali, y maraquero - vocalista de los &quot;Cali Boys&quot; en esa d&eacute;cada. Los bailes de cuota surgen como otra forma de hacer la fiesta, cobrando cinco pesos por la entrada, con derecho a trago, tamales o lechona. A ellos se iba en los 40&acute;s y 50&acute;s con saco largo abajo de las rodillas, pantalones anchos a lo &quot;Pachuco&quot; y con cadena colgando entre el bolsillo y la pretina, como Tin T&aacute;n en sus buenos tiempos. Tales encuentros se prolongan hasta los a&ntilde;os 60, cuando desaparecen la Zona de Tolerancia, los champ&uacute;s bailables y los pachucos.</p>
    
    <figure class="imgParrafo">
        <img src="Cali/Barrio1/Presalsa/Imagenes/Textos/pachucos_bailando.png">
        <figcaption>Los tres pachucos cale&ntilde;os en acci&oacute;n: Carlos Valencia, El &ldquo;papero&rdquo; y Jaime L&oacute;pez &ldquo;Chocolina&rdquo;, en el Bar &ldquo;Mis Noches&rdquo; de la Zona de Tolerancia, Cali 1953. Para la &eacute;poca, las competencias y los &ldquo;concursos&rdquo; de baile eran un hecho tanto en la Zona como en otros epicentros de la rumba. Foto cortesia de Carlos Valencia.</figcaption>
    </figure>

    <p>Los bailes de cuota empezaban a las nueve de la noche, generalmente los s&aacute;bados, y duraban hasta el otro d&iacute;a cuando se prolongaban en &quot;El Avispero&quot; de Lucho Lenis, una tienda en el Barrio Obrero que los amigos convirtieron en amanecedero al despertar el decenio de 1950.</p>
    <p>Algunas veces, los bailes de cuota eran amenizados por los hermanos Ospino, Tito Cort&eacute;s, Jos&eacute; del Carmen Beyibo y otros m&uacute;sicos locales. Asist&iacute;an hombres y mujeres, adultos, j&oacute;venes de los barrios circunvecinos, los mismos que antes participaban de los champ&uacute;s bailables y ahora continuaban la fiesta obligada de cada ocho d&iacute;as. &ldquo;Cali era todav&iacute;a un pueblo grande antes que una ciudad; el ambiente de la fiesta era tranquilo y cualquiera pod&iacute;a emborracharse sin temor a que lo robaran&rdquo;.</p>

    <figure class="imgParrafo">
        <img src="Cali/Barrio1/Presalsa/Imagenes/Textos/casa_cali.png">
        <figcaption>Casa de Cali.</figcaption>
    </figure>
    
    <figure class="imgParrafo">
        <img src="Cali/Barrio1/Presalsa/Imagenes/Textos/vecinos.png">
        <figcaption>Vecinos del Barrio San Carlos, trabajando colectivamente en una de sus calles. Cali 1963. Foto cortes&iacute;a de Guillermo Zamora.</figcaption>
    </figure>
    
    <p>Los bailes de cuota continuaron despu&eacute;s con otras caracter&iacute;sticas en la d&eacute;cada del 60 y en otros barrios populares reci&eacute;n fundados. El Porvenir, El Jard&iacute;n, Aguablanca, El Guabal o Santa Elena. Ya para entonces se llamaron &quot;aguaelulos&quot;, se bailaba salsa, pachanga y boogaloo, y en vez del champ&uacute;s se tomaba coca - cola, guarapo de ca&ntilde;a o chicha de ma&iacute;z. Los bailes de cuota aumentaron el precio, los clientes llevaban el trago, desaparecieron la lechona y el tamal y en su reemplazo surgieron los &ldquo;platos fr&iacute;os&rdquo;. Las fiestas dejaron de ser apacibles y ya no pod&iacute;a alguien emborracharse sin temor a que lo robaran.</p>
    <p>Definitivamente eran otros tiempos. En el paso de dos d&eacute;cadas, la ciudad hab&iacute;a crecido y la violencia se hab&iacute;a apoderado de ella.</p>

    <figure class="imgParrafo">
        <img src="Cali/Barrio1/Presalsa/Imagenes/Textos/parque.png">
        <figcaption>Ni&ntilde;os en el parque del Barrio Obrero, antes de la remodelaci&oacute;n urbana de la carrera 10, realizada a finales del siglo XX.</figcaption>
    </figure>
    
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>






