<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Escenario/maqueta.jpg" class="hidden-phone fondo">-->
    <img  src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Escenario/ny_spanish_harlem_fondo.jpg" class="hidden-phone fondo">
    
        <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/SpanishHarlem/SigloXXI//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="jimmyBosch"  src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Escenario/jimmy_bosch.png" class="hidden-phone  positionItem"  
             style="width:8.7%; height:32.7%; top:67%; left:3.3%;">
        <img id="jimmyBoschMovil" src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Movil/jimmy_bosch_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/SpanishHarlem/SigloXXI//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="hermanOliveros"  src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Escenario/herman_oliveros.png" class="hidden-phone  positionItem"  
             style="width:7.7%; height:32.9%; top:67.5%; left:17%;">
        <img id="hermanOliverosMovil" src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Movil/herman_oliveros_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/SpanishHarlem/SigloXXI//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="rayPaz"  src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Escenario/ray_paz.png" class="hidden-phone  positionItem"  
             style="width:11.9%; height:33.8%; top:66.6%; left:26.4%;">
        <img id="rayPazMovil" src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Movil/ray_paz_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/SpanishHarlem/SigloXXI//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="auroraFlores"  src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Escenario/aurora_flores.png" class="hidden-phone  positionItem"  
             style="width:13.8%; height:31%; top:69.7%; left:37.7%;">
        <img id="auroraFloresMovil" src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Movil/aurora_flores_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/SpanishHarlem/SigloXXI//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="louisBauzo"  src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Escenario/louis_bauzo.png" class="hidden-phone  positionItem"  
             style="width:8.8%; height:32.1%; top:68%; left:55%;">
        <img id="louisBauzoMovil" src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Movil/louis_bauzo_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/SpanishHarlem/SigloXXI//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="pabloMayor"  src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Escenario/pablo_mayor.png" class="hidden-phone  positionItem"  
             style="width:8.3%; height:32.3%; top:67.5%; left:64%;">
        <img id="pabloMayorMovil" src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Movil/pablo_mayor_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/SpanishHarlem/SigloXXI//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="frankieVasquez"  src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Escenario/frankie_vasquez.png" class="hidden-phone  positionItem"  
             style="width:7.5%; height:31%; top:68.7%; left:75%;">
        <img id="frankieVasquezMovil" src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Movil/frankie_vasquez_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
        <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/SpanishHarlem/SigloXXI//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="larryHarlow"  src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Escenario/larry_harlow.png" class="hidden-phone  positionItem"  
             style="width:10.3%; height:33.7%; top:66.1%; left:84.1%;">
        <img id="larryHarlowMovil" src="NuevaYork/SpanishHarlem/SigloXXI//Imagenes/Movil/larry_harlow_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>


</div>

<script>
    $("a[rel=popover]").popover();
</script>
