

<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <img  src="PuertoRico/SanJuan/SigloXXI/Imagenes/Escenario/fondo.jpg" class="hidden-phone fondo">
<!--    <img  src="Cali/Barrio1/Presalsa/Imagenes/Escenario/cali_barrio1_presalsa.jpg" class="hidden-phone fondo">
-->

    <a  href="#" class="buttonItem  " 
        data-toggle="tooltip" data-placement="left" title="Titere"
        
      onclick ="modalOpen('PuertoRico/SanJuan/Salsa/textoTitere.html')"
        >
        <span class="hidden-tablet hidden-desktop ">Titere</span>
        <img  src="PuertoRico/SanJuan/SigloXXI/Imagenes/Escenario/titere.png" class="hidden-phone  positionItem "  
             style="width :8%; height:50%; bottom: 0%; right:5%;">
        <img  src="PuertoRico/SanJuan/SigloXXI/Imagenes/Movil/titere_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

    <a  href="#" class="buttonItem  " 
        
        onclick ="modalOpen('PuertoRico/SanJuan/SigloXXI/textofrankieRuiz.html')"
        data-toggle="tooltip" data-placement="left" title="Frankie Ruiz">
        <span class="hidden-tablet hidden-desktop ">Frankie Ruiz</span>
        <img  src="PuertoRico/SanJuan/SigloXXI/Imagenes/Escenario/frankie_ruiz.png" class="hidden-phone  positionItem "  
             style="width :20%; height:50%; top:50%; left:30%;">
        <img src="PuertoRico/SanJuan/SigloXXI/Imagenes/Movil/frankie_ruiz_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

  
    <a  href="#" class="buttonItem  " 
        data-toggle="tooltip" data-placement="left" title="Bailarin">
        <span class="hidden-tablet hidden-desktop ">Bailarin</span>
        <img  src="PuertoRico/SanJuan/SigloXXI/Imagenes/Escenario/bailarin.png" class="hidden-phone  positionItem "  
             style="width :7%; height:40%; bottom: 3%; right:33%;">
        <img src="PuertoRico/SanJuan/SigloXXI/Imagenes/Movil/bailarin_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>


</div>

