<div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Frakie Ruiz</h3>

</div>
<div class="modal-body" style="text-align: center;">

    
    
    <div  id="listaDeReproduccion" style="margin-bottom:1.2em; ">

        <video  controls>
            <source src="PuertoRico/SanJuan/SigloXXI/Video/AlfreditoLinaresInfluenciaCubanaPeru.mp4" type="video/mp4">
            <source src="PuertoRico/SanJuan/SigloXXI/Video/AlfreditoLinaresInfluenciaCubanaPeru.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>


    </div>
</div>

<div class="modal-footer">

</div>







