<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="NuevaYork/Brooklyn/Salsa//Imagenes/Escenario/maqueta.jpg" class="hidden-phone fondo">-->
    <img  src="NuevaYork/Brooklyn/Salsa//Imagenes/Escenario/brooklyn_fondo.jpg" class="hidden-phone fondo">

    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Brooklyn/Salsa//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="larryHarlow"  src="NuevaYork/Brooklyn/Salsa//Imagenes/Escenario/larry_harlow.png" class="hidden-phone  positionItem"  
             style="width:10.7%; height:29.7%; top:70.5%; left:2.4%;">
        <img id="larryHarlowMovil" src="NuevaYork/Brooklyn/Salsa//Imagenes/Movil/larry_harlow_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
        <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Brooklyn/Salsa//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="losLebron"  src="NuevaYork/Brooklyn/Salsa//Imagenes/Escenario/los_lebron.png" class="hidden-phone  positionItem"  
             style="width:43.7%; height:30.5%; top:69.4%; left:21.5%;">
        <img id="losLebronMovil" src="NuevaYork/Brooklyn/Salsa//Imagenes/Movil/los_lebron_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Brooklyn/Salsa//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="richie"  src="NuevaYork/Brooklyn/Salsa//Imagenes/Escenario/richie.png" class="hidden-phone  positionItem"  
             style="width:8.3%; height:27.9%; top:72%; left:75%;">
        <img id="richieMovil" src="NuevaYork/Brooklyn/Salsa//Imagenes/Movil/richie_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
        <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Brooklyn/Salsa//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="bobbie"  src="NuevaYork/Brooklyn/Salsa//Imagenes/Escenario/bobbie.png" class="hidden-phone  positionItem"  
             style="width:8.3%; height:27.8%; top:72%; left:86.2%;">
        <img id="bobbieMovil" src="NuevaYork/Brooklyn/Salsa//Imagenes/Movil/bobbie_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>


</div>

<script>
    $("a[rel=popover]").popover();
</script>
