<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="NuevaYork/Bronx/Salsa//Imagenes/Escenario/maqueta.jpg" class="hidden-phone fondo">-->
    <img  src="NuevaYork/Bronx/Salsa//Imagenes/Escenario/ny_bronx_salsa_fondo.jpg" class="hidden-phone fondo">

    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Bronx/Salsa//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="eddiePalmieri"  src="NuevaYork/Bronx/Salsa//Imagenes/Escenario/eddie_palmieri.png" class="hidden-phone  positionItem"  
             style="width:10.7%; height:29.7%; top:70.5%; left:1.7%;">
        <img id="eddiePalmieriMovil" src="NuevaYork/Bronx/Salsa//Imagenes/Movil/eddie_palmieri_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
        <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Bronx/Salsa//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="maniOquendo"  src="NuevaYork/Bronx/Salsa//Imagenes/Escenario/mani_oquendo.png" class="hidden-phone  positionItem"  
             style="width:10%; height:26.5%; top:73.5%; left:14.5%;">
        <img id="maniOquendoMovil" src="NuevaYork/Bronx/Salsa//Imagenes/Movil/mani_oquendo_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Bronx/Salsa//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="oscarHernandez"  src="NuevaYork/Bronx/Salsa//Imagenes/Escenario/oscar_hernandez.png" class="hidden-phone  positionItem"  
             style="width:10.7%; height:31.4%; top:68.5%; left:63.4%;">
        <img id="oscarHernandezMovil" src="NuevaYork/Bronx/Salsa//Imagenes/Movil/oscar_hernandez_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
        <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Bronx/Salsa//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="andyGonzalez"  src="NuevaYork/Bronx/Salsa//Imagenes/Escenario/andy_gonzalez.png" class="hidden-phone  positionItem"  
             style="width:8.6%; height:31.8%; top:68%; left:78.2%;">
        <img id="andyGonzalezMovil" src="NuevaYork/Bronx/Salsa//Imagenes/Movil/andy_gonzalez_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Bronx/Salsa//FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="reneLopez"  src="NuevaYork/Bronx/Salsa//Imagenes/Escenario/rene_lopez.png" class="hidden-phone  positionItem"  
             style="width:10.3%; height:32%; top:67.8%; left:88.1%;">
        <img id="reneLopezMovil" src="NuevaYork/Bronx/Salsa//Imagenes/Movil/rene_lopez_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

</div>

<script>
    $("a[rel=popover]").popover();
</script>
