.divTriangular{


    background: transparent;
    background-size:100% 100%;

    z-index: 1;



}

.opacar{

    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */

    cursor: pointer
        ;



}




