


<div  id="marcoMultimedia" class="marcoMultimedia"  >  


    <!--Visualizacion en movil-->
    <img  src="Inicio/Images/fondo.png" class="hidden-phone "   
          style="width: 100%; height: auto;" >


    <a  href="#" class="buttonItem  " onclick ="" 
        >
        <span class="hidden-tablet hidden-desktop ">Memorias Graficas</span>
          <img  src="Inicio/Images/Movil/inicio_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>


    <a  href="#" class="buttonItem  " onclick ="" 
        >
   
        <span class="hidden-tablet hidden-desktop ">Relato</span>
              <img  src="Inicio/Images/Movil/relato_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

    <a  href="#" class="buttonItem  " onclick ="cambiarPagina('Carousel/carousel.html');" 
        >
        
        <span class="hidden-tablet hidden-desktop ">Caratulas</span>
            <img  src="Inicio/Images/Movil/navegacion_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
     <a  href="#" class="buttonItem  " onclick ="" 
        >
        
        <span class="hidden-tablet hidden-desktop ">Recursos</span>
            <img  src="Inicio/Images/Movil/recursos_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    
    
    <!--visualizacion en escritorio-->
    

    <div id="menu_1_MG" class=" hidden-phone divTriangular positionItemInicio"  style="width :50%; height:70%; 
         bottom: 16%;
         left: 0%;
         background-image: url(Inicio/Images/area_estado_seleccionado_memorias_graficas.png);"
         >
    </div>


    <div class ="positionItemInicio div_menu_1_MG " 
         style =" width :10%; height:45%; background: transparent;
         bottom: 28%;
         left: 0%;
         z-index: 1100;
         cursor:pointer;
         ">


    </div>


    <div class ="positionItemInicio div_menu_1_MG " 
         style =" width :10%; height:28%; background: transparent;
         bottom: 30%;
         left: 10%;
         z-index: 1100;
         cursor:pointer;
         "></div>


    <div class ="positionItemInicio div_menu_1_MG " 
         style =" width :10%; height:20%; background: transparent;
         bottom: 25%;
         left: 20%;
         z-index: 1100;
         cursor:pointer;
         "></div>


    <div class ="positionItemInicio div_menu_1_MG" 
         style =" width :7%; height:10%; background: transparent;
         bottom: 25%;
         left: 30%;
         z-index: 1100;
         cursor:pointer;
         "></div>


    <div id="menu_2_RL" class="hidden-phone divTriangular positionItemInicio"  style="width :53%; height:90%; 
         top: 0%;
         left: 0%;
         background-image: url(Inicio/Images/area_estado_seleccionado_relato.png);


         ">  </div>



    <div class ="positionItemInicio div_menu_2_RL" 
         style =" width :20%; height:30%; background: transparent;
         top: 0%;
         left: 20%;
         z-index: 1100;
         cursor:pointer;
         "></div>


    <div class ="positionItemInicio div_menu_2_RL" 
         style =" width :10%; height:30%; background: transparent;
         top: 30%;
         left: 35%;
         z-index: 1100;
         cursor:pointer;
         "></div>

    <div class ="positionItemInicio div_menu_2_RL" 
         style =" width :10%; height:30%; background: transparent;
         top: 15%;
         left: 25%;
         z-index: 1100;
         cursor:pointer;
         "></div>

    <div class ="positionItemInicio div_menu_2_RL" 
         style =" width :10%; height:20%; background: transparent;
         top: 0%;
         left: 10%;
         z-index: 1100;
         cursor:pointer;
         "></div>



    <!--<div class="divTriangular positionItemInicio"  style="width :50%; height:55%; 
         top: 2%;
         right:  5%;
         background-image: url(Inicio/Images/area_estado_seleccionado_geografia.png);


         ">  </div>-->




    <div id="menu_3_RL" class="hidden-phone divTriangular positionItemInicio"  style="width :53%; height:90%; 
         top: 0%;
         right: 0%;
         background-image: url(Inicio/Images/caratulas_segmento_inicio.png);


         ">  </div>






    <div class ="positionItemInicio div_menu_3_RL" 
         style =" width :10%; height:20%; background: transparent;
         top: 0%;
         right:  10%;
         z-index: 1100;
         cursor:pointer;
         "></div>

    <div class ="positionItemInicio div_menu_3_RL" 
         style =" width :10%; height:30%; background: transparent;
         top: 0%;
         right:  20%;
         z-index: 1100;
         cursor:pointer;
         "></div>

    <div class ="positionItemInicio div_menu_3_RL" 
         style =" width :10%; height:40%; background: transparent;
         top: 10%;
         right:  30%;
         z-index: 1100;
         cursor:pointer;
         "></div>

    <div class ="positionItemInicio div_menu_3_RL" 
         style =" width :10%; height:20%; background: transparent;
         top: 40%;
         right:  35%;
         z-index: 1100;
         cursor:pointer;
         "></div>


         
         
         
         
      <div id="menu_4_RL" class="hidden-phone divTriangular positionItemInicio"  style="width :53%; height:60%; 
         top: 25%;
         right:  0%;
         background-image: url(Inicio/Images/area_estado_seleccionado_recusos.png);


         ">  </div>   
         
         <div class ="positionItemInicio div_menu_4_RL" 
         style =" width :35%; height:15%; background: transparent;
         top: 60%;
         right:  0%;
         z-index: 1100;
         cursor:pointer;
         "></div>
         
         <div class ="positionItemInicio div_menu_4_RL" 
         style =" width :20%; height:15%; background: transparent;
         top: 45%;
         right:  0%;
         z-index: 1100;
         cursor:pointer;
         "></div>
         
         
          <div class ="positionItemInicio div_menu_4_RL" 
         style =" width :10%; height:15%; background: transparent;
         top: 30%;
         right:  0%;
         z-index: 1100;
         cursor:pointer;
         "></div>
         
         
         
    <img   class="positionItemInicio hidden-phone" src="Inicio/Images/rocola.png"   
           style="width :100%; height:42%; 
           bottom: 1%;
           z-index: 3;
           left: 0%;" >

</div>

<script> 
    $(".div_menu_1_MG").mouseover(function(){
    
        $("#menu_1_MG").addClass("opacar");
    
    });
    
    $(".div_menu_1_MG").mouseout(function(){
       
        $("#menu_1_MG").removeClass("opacar");
    });
    
    




    $(".div_menu_2_RL").mouseover(function(){
    
        $("#menu_2_RL").addClass("opacar");
    
    });
    
    $(".div_menu_2_RL").mouseout(function(){
       
        $("#menu_2_RL").removeClass("opacar");
    });
    
    
    
    $(".div_menu_3_RL").mouseover(function(){
    
        $("#menu_3_RL").addClass("opacar");
    
    });
    
    
    $(".div_menu_3_RL").mouseout(function(){
       
        $("#menu_3_RL").removeClass("opacar");
    });
    
    
     $(".div_menu_4_RL").mouseover(function(){
    
        $("#menu_4_RL").addClass("opacar");
    
    });
    
    
    $(".div_menu_4_RL").mouseout(function(){
       
        $("#menu_4_RL").removeClass("opacar");
    });
    
    
    
    
//    
//    Dado que los div son el area de seleccion se les debe asignar el evento a ellos
    
    $(".div_menu_3_RL").click(function(){ 
        
        cambiarPagina('Carousel/carousel.html');
    
    });
</script>




