<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="Cuba/Habana/SigloXXI///Imagenes/Escenario/maqueta.jpg" class="hidden-phone fondo">-->
    <img  src="Cuba/Habana/SigloXXI///Imagenes/Escenario/habana_sigloXXI_fondo.jpg" class="hidden-phone fondo">
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/SigloXXI///FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="juanFormell"  src="Cuba/Habana/SigloXXI///Imagenes/Escenario/juan_formell.png" class="hidden-phone  positionItem"  
             style="width:16.9%; height:45%; top:55%; left:0.3%;">
        <img id="juanFormellMovil" src="Cuba/Habana/SigloXXI///Imagenes/Movil/juan_formell_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/SigloXXI///FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="mayito"  src="Cuba/Habana/SigloXXI///Imagenes/Escenario/mayito.png" class="hidden-phone  positionItem"  
             style="width:14.4%; height:41.4%; top:58.6%; left:17.3%;">
        <img id="mayitoMovil" src="Cuba/Habana/SigloXXI///Imagenes/Movil/mayito_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/SigloXXI///FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="changuito"  src="Cuba/Habana/SigloXXI///Imagenes/Escenario/changuito.png" class="hidden-phone  positionItem"  
             style="width:13.1%; height:40.9%; top:58.4%; left:32.9%;">
        <img id="changuitoMovil" src="Cuba/Habana/SigloXXI///Imagenes/Movil/changuito_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/SigloXXI///FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="yenniVanVan"  src="Cuba/Habana/SigloXXI///Imagenes/Escenario/yenni_van_van.png" class="hidden-phone  positionItem"  
             style="width:15.8%; height:38.9%; top:61%; left:51.6%;">
        <img id="yenniVanVanMovil" src="Cuba/Habana/SigloXXI///Imagenes/Movil/yenni_van_van_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cuba/Habana/SigloXXI///FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="chocolateArmenteros"  src="Cuba/Habana/SigloXXI///Imagenes/Escenario/chocolate_armenteros.png" class="hidden-phone  positionItem"  
             style="width:15.4%; height:41.5%; top:58.7%; left:74.1%;">
        <img id="chocolateArmenterosMovil" src="Cuba/Habana/SigloXXI///Imagenes/Movil/chocolate_armenteros_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>


</div>

<script>
    $("a[rel=popover]").popover();
</script>
