<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="Cali/ZonaTolerancia/Presalsa/Imagenes/Escenario/maqueta.png" class="hidden-phone fondo">-->
    <img  src="Cali/ZonaTolerancia/Presalsa/Imagenes/Escenario/zona_tolerancia.jpg" class="hidden-phone fondo">
    
    <a href="#" data-toggle="tooltip" data-placement="left" title="Protituta">
		<img id="prosti"  src="Cali/ZonaTolerancia/Presalsa/Imagenes/Escenario/prosti.png" class="hidden-phone positionItem"             
             style="width :4%; height:26%; top:53.5%; left:94%;">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/ZonaTolerancia/Presalsa/textoAlfonsoVasquez.html')" 
        data-toggle="tooltip" data-placement="left" title="Alfonso V&aacute;squez">
        <span class="hidden-tablet hidden-desktop ">Alfonso V&aacute;squez</span>
        <img id="pachucos"  src="Cali/ZonaTolerancia/Presalsa/Imagenes/Escenario/pachucos.png" class="hidden-phone  positionItem"  
             style="width:8.6%; height:19%; top:52.5%; left:4%;">
        <img id="pachucosMovil" src="Cali/ZonaTolerancia/Presalsa/Imagenes/Movil/pachucos_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/ZonaTolerancia/Presalsa/textoIndustriaAzucarera.html')" 
        data-toggle="tooltip" data-placement="left" title="Industria Azucarera">
        <span class="hidden-tablet hidden-desktop ">Industria Azucarera</span>
        <img id="cortero"  src="Cali/ZonaTolerancia/Presalsa/Imagenes/Escenario/cortero.png" class="hidden-phone  positionItem"  
             style="width:5%; height:26%; top:61.3%; left:1.3%;">
        <img id="corteroMovil" src="Cali/ZonaTolerancia/Presalsa/Imagenes/Movil/cortero_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/ZonaTolerancia/Presalsa/textoMirones.html')" 
        data-toggle="tooltip" data-placement="left" title="Mirones">
        <span class="hidden-tablet hidden-desktop ">Mirones</span>
        <img id="mirones"  src="Cali/ZonaTolerancia/Presalsa/Imagenes/Escenario/mirones.png" class="hidden-phone  positionItem"  
             style="width:18.6%; height:23%; top:51.5%; left:18.4%;">
        <img id="mironesMovil" src="Cali/ZonaTolerancia/Presalsa/Imagenes/Movil/mirones_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/ZonaTolerancia/Presalsa/textoTitoCortes.html')" 
        data-toggle="tooltip" data-placement="left" title="Tito Cort&eacute;s">
        <span class="hidden-tablet hidden-desktop ">Tito Cort&eacute;s</span>
        <img id="titoCortes"  src="Cali/ZonaTolerancia/Presalsa/Imagenes/Escenario/tito.png" class="hidden-phone positionItem"             
             style="width :12%; height:50%; top:55%; left:29%;">        
        <img id="titoCortesMovil" src="Cali/ZonaTolerancia/Presalsa/Imagenes/Movil/tito_movil.png"
             class ="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/ZonaTolerancia/Presalsa/textoIndustriaManufacturera.html')" 
        data-toggle="tooltip" data-placement="left" title="Industria Manufacturera">
        <span class="hidden-tablet hidden-desktop ">Industria Manufacturera</span>
        <img id="obrero"  src="Cali/ZonaTolerancia/Presalsa/Imagenes/Escenario/obrero.png" class="hidden-phone positionItem"             
             style="width :4.1%; height:20.6%; top:52%; left:44.4%;">        
        <img id="obreroMovil" src="Cali/ZonaTolerancia/Presalsa/Imagenes/Movil/obrero_movil.png"
             class ="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    

    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/ZonaTolerancia/Presalsa/textoElTimbalero.html')" 
        data-toggle="tooltip" data-placement="left" title="El Timbalero">
        <span class="hidden-tablet hidden-desktop ">El Timbalero</span>
        <img id="ventanAzul"  src="Cali/ZonaTolerancia/Presalsa/Imagenes/Escenario/ventana.png" class="hidden-phone positionItem"             
             style="width :6.5%; height:14%; top:46.4%; left:49%;">        
        <img id="ventanaAzulMovil" src="Cali/ZonaTolerancia/Presalsa/Imagenes/Movil/ventana_movil.png"
             class ="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/ZonaTolerancia/Presalsa/textoElCamajan.html')" 
        data-toggle="tooltip" data-placement="left" title="El Camaj&aacute;n">
        <span class="hidden-tablet hidden-desktop ">El Camaj&aacute;n</span>
        <img id="borracho"  src="Cali/ZonaTolerancia/Presalsa/Imagenes/Escenario/borracho.png" class="hidden-phone  positionItem"  
             style="width :9%; height:21.5%; top:53.7%; left:59.4%;">
        <img id="borrachoMovil" src="Cali/ZonaTolerancia/Presalsa/Imagenes/Movil/borracho_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/ZonaTolerancia/Presalsa/textoElPajaro.html')" 
        data-toggle="tooltip" data-placement="left" title="El p&aacute;jaro">
        <span class="hidden-tablet hidden-desktop ">El p&aacute;jaro</span>
        <img id="pajaro"  src="Cali/ZonaTolerancia/Presalsa/Imagenes/Escenario/pajaro.png" class="hidden-phone  positionItem"  
             style="width :4%; height:25.1%; top:51%; left:68.5%;">
        <img id="pajaroMovil" src="Cali/ZonaTolerancia/Presalsa/Imagenes/Movil/pajaro_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/ZonaTolerancia/Presalsa/textoLaZonaMapa.html')" 
        data-toggle="tooltip" data-placement="left" title="&ldquo;La Zona&rdquo; Mapa">
        <span class="hidden-tablet hidden-desktop ">&ldquo;La Zona&rdquo; Mapa</span>
        <img id="cartel"  src="Cali/ZonaTolerancia/Presalsa/Imagenes/Escenario/cartel_zona.png" class="hidden-phone  positionItem"  
             style="width :10%; height:15; top:44.7%; left:74.8%;">
        <img id="cartelMovil" src="Cali/ZonaTolerancia/Presalsa/Imagenes/Movil/zona_cartel_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
</div>


<script>
    $("a[rel=popover]").popover();
</script>
