<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">La Zona de Tolerancia: m&uacute;sica antillana y baile popular</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>Fue a lo largo del proceso de industrializaci&oacute;n y expansi&oacute;n urbana ocurrido entre 1940-1975, cuando se arraigaron en la ciudad los ritmos afroantillanos, y luego la salsa, a partir de los 60. Al mismo tiempo se constru&iacute;a una nueva urbe sobre la vieja aldea que hab&iacute;a sido Cali durante 400 a&ntilde;os de existencia. De 1980 en adelante continuar&iacute;a la expansi&oacute;n urbana que dio origen al Distrito de Aguablanca, mientras otros fen&oacute;menos socioecon&oacute;micos como el desarrollo del conflicto armado y el narcotr&aacute;fico se incrementaban en la ciudad.</p>
	<p>Fue en el proceso de construcci&oacute;n colectiva de los barrios populares de mitad del siglo, cuando esas expresiones musicales y su baile penetraron en el coraz&oacute;n de los habitantes, junto a la cumbia y el porro, las rumbas criollas, el bambuco y el pasillo andino que tambi&eacute;n se bailaban por entonces, seg&uacute;n los testimonios de nativos e inmigrantes pueblerinos. Pero fue sobretodo en la Zona de Tolerancia (el barrio Sucre junto al barrio Obrero) donde rein&oacute; la m&uacute;sica antillana- el bolero, el mambo y la guaracha - durante la d&eacute;cada del 50, mientras Los &ldquo;P&aacute;jaros&rdquo;, agentes macabros del conflicto pol&iacute;tico Liberal Conservador, sembraban violencia y cosechaban muertos en las calles de Cali y los campos del Valle del Cauca.</p>
	<p>All&iacute; en la Zona se form&oacute; la primera comunidad de mel&oacute;manos y bailarines &ldquo;modernos&rdquo; de la vieja guardia antillana en esta ciudad, tanto por la m&uacute;sica que disfrutaban, como por su relaci&oacute;n con un estilo de vida citadino, bohemio y prostituto.</p>
	<p>En la Zona se concentr&oacute; adem&aacute;s la recepci&oacute;n del fox-trot, el tango, la milonga y otros g&eacute;neros difundidos por la industria cultural. All&iacute;, como en los barrios circunvecinos (San Pascual, El Calvario, Obrero, San Nicol&aacute;s) se vivieron intensamente las pr&aacute;cticas de recepci&oacute;n y consumo del disco en acetato (78 RPM) y la canci&oacute;n comprimida en &eacute;l. De un lado, bares y cantinas prostibulares donde se daban cita el amor y la traici&oacute;n en un bolero de Pepito L&oacute;pez o en un tango de Gardel; de otro, los salones donde se conjugaban el deseo y el baile en una guaracha de Daniel Santos o la Sonora Matancera, que tambi&eacute;n se presentaron en teatros y radioteatros de Cali. En cualquier caso, la voz sal&iacute;a de una m&aacute;quina robusta que se alimentaba de monedas para que pudiera cantar. Eran las victrolas (o tragan&iacute;quel) que se impusieron por toda Am&eacute;rica Latina y el Caribe como un elemento central en la parafernalia tecnol&oacute;gica de la &eacute;poca, para difundir la m&uacute;sica popular producida por la industria.</p>
	
	<figure class="imgParrafo">
		<img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/celia.png">
		<figcaption>La Sonora Matancera con Celia Cruz en una de sus presentaciones en Cali, en el Radioteatro de RCN.Julio de 1953.</figcaption>
    </figure>
    
    <figure class="imgParrafo">
		<img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/laito_alberto.png">
		<figcaption>Laito y Alberto Beltr&aacute;n con la Sonora Matancera en Radio Pac&iacute;fico-RCN- Cali 1953.</figcaption>
    </figure>
    
    <figure class="imgParrafo">
		<img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/sonora_matancera.png">
		<figcaption>La Sonora Matancera en Radio Pac&iacute;fico &ndash; RCN- Cali 1953.</figcaption>
    </figure>
    
    <p>Al crear la Zona de Tolerancia, donde se pod&iacute;a hacer lo que no era posible en otras partes, se legitim&oacute; la prostituci&oacute;n que exist&iacute;a clandestinamente como &ldquo;el oficio m&aacute;s viejo del mundo&rdquo;. El alcalde Guillermo Triana, que prohibi&oacute; fumar a los menores de 18 a&ntilde;os y &quot;dividi&oacute; el r&iacute;o Cali &quot; en &aacute;reas separadas para el ba&ntilde;o de hombres y mujeres, cre&oacute; el primer Barrio de Tolerancia, hace ya unos 100 a&ntilde;os. Siguiendo las pr&eacute;dicas de Fray Morquillas, un sacerdote espa&ntilde;ol que censuraba el baile por pecaminoso y obsceno, el alcalde Triana tom&oacute; una decisi&oacute;n compensatoria, al definir &ldquo;la Zona&rdquo;como lugar para la compraventa del sexo, el mismo que tanto procuraba mantener alejado en el r&iacute;o y en el baile.</p>
    <p> De acuerdo con el relato escrito por Gustavo Lotero &quot;Plumitas&quot;, la Zona de Tolerancia se delimit&oacute; durante la primera d&eacute;cada del siglo XX, entre las calles 14 y 15 con las carreras 10 y 12, detr&aacute;s del antiguo teatro Ayacucho.</p>
    <p> All&iacute; se concentraron &quot;las mujeres de la vida alegre&quot;, en este sector del Calvario como se llamaba la peque&ntilde;a colina, en cuya cima se levantaba una cruz y donde se cre&oacute; la plaza de mercado y luego se construy&oacute; el actual palacio de justicia. Seg&uacute;n Gustavo Lotero, &quot;el n&uacute;mero de mujeres p&uacute;blicas no era muy grande y por eso todas eran muy conocidas. Muchas de ellas viv&iacute;an en casa propia, y como fueron conminadas a concentrarse en el Barrio, buscaron un abogado alegando que ten&iacute;an el derecho a recibir en sus casas a quienes quisieran. Este fue un pleito muy sonado y aunque las propietarias siguieron viviendo en sus residencias, las que no ten&iacute;an casa tuvieron que trasladarse a la Zona demarcada en el decreto. Esto ocasion&oacute; un incremento en los arrendamientos y en el precio de la propiedad ra&iacute;z, en esta parte de la ciudad...&quot;</p>
    <p> Por lo visto, el negocio result&oacute; pr&oacute;spero para unos y para otras porque &ldquo;en 1918 el cabildo municipal expidi&oacute; nuevas reglamentaciones exigiendo a las mujeres trasladarse al lugar indicado&quot;. En realidad, era un negocio de vieja data, pues seg&uacute;n Alejandro Sarasti ya en 1900, habitaban en &quot;el Hoyo&quot; (atr&aacute;s del barrio San Nicol&aacute;s y a orillas del r&iacute;o Cali) &quot;lindas mujeres de vida licenciosa, pero m&aacute;s bien recatadas, sin dar esc&aacute;ndalo para bien de sus asiduos visitantes&quot;.</p>
    <p>Hacia 1931 un nuevo acuerdo municipal expandi&oacute; los l&iacute;mites hasta la carrera 9a. desde la calle 14 hasta la 17; y finalmente, hacia 1945 la Zona &quot;se traslad&oacute;&quot; (en realidad se ampliaba) hasta el barrio Sucre, carrera 12 con calle 19, pr&oacute;ximo al barrio Obrero. En verdad, la &ldquo;primera&rdquo; Zona segu&iacute;a si&eacute;ndolo pero se conoc&iacute;a como &quot;la zona negra&quot;, alrededor de la galer&iacute;a del Calvario, y se extend&iacute;a hacia los barrios Fray Dami&aacute;n (San Pascual) y Santa Rosa, (curiosamente, todos con nombre de santo).</p>
    <p> El Calvario era la plaza de mercado central en cuyo entorno se formaron otros establecimientos complementarios al comercio de la Zona. Por ser epicentro del intercambio mercantil a donde llegaban los productos agr&iacute;colas, la galer&iacute;a del Calvario se convirti&oacute; en el escenario m&aacute;s importante de los espacios p&uacute;blicos para el pueblo cale&ntilde;o a mediados del siglo pasado. Hasta all&iacute; llegaban los afrodescendientes de la hacienda esclavista, con sus productos agr&iacute;colas transportados por el rio Cauca hasta Juanchito y el Paso del Comercio y desde estos dos puertos fluviales hasta el Calvario. En inmediaciones de la galer&iacute;a El Calvario surgi&oacute; el teatro Cali, donde se presentaba el cine mudo en la d&eacute;cada del 30.</p>
    <p> Hubo tambi&eacute;n una serie de bares y cantinas, o caf&eacute;s como &quot;El Gato Negro&quot; (sobre la carrera 10 calles 12 y 13), &quot;El Gallo de Oro&quot;, &quot;La Puerta del Sol&quot;, el caf&eacute; &quot;Bola Roja&quot;, &ldquo;el caf&eacute; Las Vegas, en la carrera 10 con calle 11, y el caf&eacute; &quot;Las Am&eacute;ricas&quot;, en la esquina de la calle 13, &quot;con sus encantadoras coperas de cari&ntilde;osa distracci&oacute;n&quot;. De acuerdo con el historiador Arturo Alape, quien vivi&oacute; por alli durante los a&ntilde;os 50, en varios de estos sitios se reun&iacute;an &ldquo;los p&aacute;jaros&rdquo; con conocidos pol&iacute;ticos de entonces.</p>
    <p> La &ldquo;segunda etapa&rdquo; de la Zona se defini&oacute; en el barrio Sucre, donde se concentr&oacute; la recepci&oacute;n bailable de los g&eacute;neros musicales en particular los afroantillanos. Y as&iacute;, como cualquier otro suburbio popular de Cali, &quot;la Zona de Tolerancia&rdquo; fue &ldquo;construida&rdquo; por etapas, como &ldquo;un Barrio&rdquo; dentro de otros, en la primera mitad del siglo XX.</p>
    <p><strong>Mapa de la Zona de Tolerancia</strong></p>
    <p>En este sector, que finalmente se delimit&oacute; desde la calle 15 hasta la 19, y desde la carrera 10 hasta la 15, se asentaron varios establecimientos, la mayor&iacute;a con un timbal y un timbalero para acompa&ntilde;ar la m&uacute;sica que sal&iacute;a del tragan&iacute;quel, o la rockola. Entonces no se llamaban grilles, ni discotecas; eran bares y cabarets, unos m&aacute;s elegantes que otros pero todos dispuestos al buen servicio. Hemos reconstruido un mapa de ellos acudiendo a la memoria y la experiencia de algunos de sus viejos y asiduos visitantes, hombres de distintas profesiones: Tito Cort&eacute;s, Jos&eacute; del Carmen Beyibo, Andr&eacute;s Ospino y Auber Ospino (m&uacute;sicos); Benigno Holgu&iacute;n, Carlos Valencia, Pedro Castro, Miguel Angel Barrios (&quot;El Chato&quot;), &ldquo;El Cahafaz&rdquo;, Jimmy Bugal&uacute;, F&eacute;lix Veintemillas y Evelio Carabal&iacute; (bailarines); Lucho Lenis, Olmedo Rosero, Jairo Obando &ldquo;Ca&ntilde;andonga&rdquo;, Fabio Arturo y Reinaldo Suavita (propietarios de griles, bares o discotecas en los a&ntilde;os 60-80); Edgar Mallarino, Dimas G&oacute;mez, Pedro L&oacute;pez, H&eacute;ctor &quot;la sombra&quot; Mart&iacute;nez, Carlos &quot;el indio&quot; Monta&ntilde;o (exfutbolistas profesionales); Faustino Barrero, expolicia, vigilante de la Zona, y Jos&eacute; V&iacute;ctor Sanmiguel, su cu&ntilde;ado, mec&aacute;nico y chofer de bus urbano. Con su ayuda deambulamos imaginariamente por la Zona de tolerancia y sus alrededores, reconstruyendo verbalmente esta historia del baile y la m&uacute;sica antillana en Cali.</p>
    
    <figure class="imgParrafo">
		<img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/amigos.png">
		<figcaption>Alfonso V&aacute;zquez (en el medio) y sus amigos en el Barrio Obrero, cerca a la Zonade Tolerancia - Cali 1952.</figcaption>
    </figure>
    
    <p>Varios de ellos coinciden en mencionar &ldquo;La Aurora&rdquo; y &ldquo;Estambul&rdquo; en la calle 15 con carrera 12 a donde iban &ldquo;los mec&aacute;nicos de los talleres, s&aacute;bados en la tarde, a bailar paseadito como le gustaba a las muchachas&rdquo; seg&uacute;n el relato de Jos&eacute; Victor hoy a sus 85 a&ntilde;os. &ldquo;La mayor&iacute;a eran casas de un piso con grandes salones para el encuentro con los amigos y las mujeres que trabajaban en el Barrio&rdquo;. Otros sitios fueron: &ldquo;Milancito&rdquo;, &ldquo;Tabar&eacute;&rdquo;, &quot;Todos vuelven&quot;, &ldquo;Royal Dancing&rdquo;, &ldquo;Lovaina&rdquo; (&ldquo;Mis Noches&rdquo;) &ldquo;Sinai&rdquo; y &ldquo;Primavera&rdquo;, en la carrera 12. &ldquo;Copacabana&rdquo; en la calle 15, carreras 12 y 13, &ldquo;uno de los mejores cabarets en los a&ntilde;os 40&rdquo;. &ldquo;Fantasio&rdquo; y &ldquo;Ritmo Alegre&rdquo;, &ldquo;de los primeros en substituir la pianola por tocadiscos con bailes&rdquo;. &ldquo;Siboney&rdquo; (Shangay), &ldquo;Cuatro Milpas&rdquo;, &ldquo;Sal&oacute;n M&eacute;jico&rdquo; y &ldquo;Acapulco&rdquo;, en la calle 19, donde se libraban los duelos entre bailarines, mientras en las puertas y ventanas se aglomeraban los curiosos para disfrutar de un espect&aacute;culo gratuito e inolvidable.</p>
    <p>Donde no era gratis era en las casas de prostituci&oacute;n, sede laboral de las mujeres de la &quot;vida alegre&quot;, seg&uacute;n el dicho popular. Entre ellas fueron famosas las francesas que no dejaban de resultar ex&oacute;ticas en un sector pigmentado por el mulataje. Eran una atracci&oacute;n en la Zona, y por supuesto muy visitadas por los hombres. &iquest;C&oacute;mo llegaron? &iquest;En qu&eacute; a&ntilde;o? Diversos testimonios coinciden en ubicarlas durante los a&ntilde;os 40, (&eacute;poca de la segunda guerra mundial) en algunos bares de la carrera 10 entre calles 15 y 19. &ldquo;El servicio era con perrito o sin perrrito&quot;, un pequin&eacute;s que participaba de la org&iacute;a por unos pesos de m&aacute;s. &iquest;Qu&eacute; hubiera pensado Fray Morquillas si hubiera existido para entonces? La Zona de Tolerancia, donde todo el placer estaba permitido, hubiera sido confundida con el mismo infierno, y nuestro benem&eacute;rito franciscano se hubiera muerto de la bronca...o de gusto.</p>
    <p>En los relatos de los entrevistados se recuerdan muchos personajes como &ldquo;El negro Jos&eacute; Domingo&rdquo;, &ldquo;excelente bailar&iacute;n, vestido de saco, corbata y sombrero&rdquo;; La negra Esperanza, due&ntilde;a del &ldquo;Fantasio&rdquo; a &ldquo;quien le tra&iacute;an la m&uacute;sica de Daniel Santos y la Sonora Matancera&rdquo;; &ldquo;Los tres Pachucos&rdquo; (Carlos Valencia, Alberto&ldquo;Barritos&rdquo; y Jaime Chocolina, cuya indumentaria era al estilo de los pachucos mexicanos, vistos en las pel&iacute;culas de entonces).</p>
    
    <figure class="imgParrafo">
		<img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/pachucos_bn.png">
		<figcaption>Los Tres Pachucos, bailarines de la Zona de Tolerancia. Bar Mis Noches, Cali 1953.</figcaption>
    </figure>
    
    <p>A esta primera generaci&oacute;n de bailarines de los a&ntilde;os 40 &ndash; 50, pertenecen tambi&eacute;n Alberto Insuasti (Tumaque&ntilde;o) considerado entonces como el Fred Astaire colombiano; Antonio Silva, El negro Johnson, Manuel &quot;Natilla&quot;, F&eacute;lix Balanta, Juan Salazar; &ldquo;El Cachafaz&rdquo; y el Tuerto Vinasco (grandes bailarines de tango); Fanor Escobar, Manuel Rosero, Dimas G&oacute;mez, Pedro Nel Colina, &quot;Chang&oacute;&quot; (Samario, imitador de Miguelito Vald&eacute;s) y Benigno Holgu&iacute;n (fundador en 1948 de &quot;La Cumparsita&quot;, la primera academia de baile popular en la ciudad).</p>
    <p>Otros bailarines de los a&ntilde;os 50, evocados en los 80 y despu&eacute;s en diferentes relatos orales son: Carlos R&iacute;os &ldquo;el Tin T&aacute;n colombiano&rdquo;; Jaime Vidal, &quot;Romil&quot;, Luis Chamorro &quot;el suave&quot;, Armando &quot;el profesor&quot; Bernal, Pedro Ramos &quot;Cayayo&quot; (Tumaque&ntilde;o), reconocido por algunos como el m&aacute;s completo de todos; Ghandi Hazzi (&quot;Lovaina&quot;) de origen Colombo - Arabe, nacido en el Choc&oacute;, gran improvisador a quien vimos en el primer congreso de la salsa organizado por Rafael Quintero en 1982. Miguel Angel Barrios &quot;El Chato&quot; oriundo de Girardot pero cale&ntilde;izado, guarachero y bailar&iacute;n de mambo; Pedro Castro, especialista del Bolero Apache; Carlos Valencia Parra, nacido en Cali, (en el Vallano) especialista del mambo y la guaracha, uno de los pocos que vivi&oacute; s&oacute;lo del baile actuando en muchos escenarios. Introduc&iacute;a con gran habilidad movimientos &quot;tomados&quot; del f&uacute;tbol, el basquetball y el boxeo; gan&oacute; muchos concursos y pocos pesos pero fue un bailar&iacute;n cotizado en el medio, como solista o como integrante de Los tres Pachucos, cuando los primeros concursos del Club Bavaria en los a&ntilde;os 50.</p>
    <p>Entre las mujeres, los protagonistas referencian en sus historias a La flaca Rosa, las Papitos, (tres hermanas), Clemencia, la negra Gladys, la Pedrito, la Gloria, la negra Fanny, Aurita, Marleny, &quot;Rosa del Valle&quot;, la Gaby y &quot;La rubia&quot; de Buenaventura. Con ellas, el baile en la zona era todo un espect&aacute;culo. Su influencia y la escuela que dejaron se prolong&oacute; en la siguiente generaci&oacute;n de bailarines que surgi&oacute; en la d&eacute;cada del 60 con &ldquo;Yimy Bugal&uacute;&rdquo;, &quot;La leona&quot;, Evelio Carabal&iacute;, Aid&eacute; Espa&ntilde;a, Esmeralda, Diego Dus&aacute;n, Horacio Henao &ldquo;L&aacute;piz&rdquo;, F&eacute;lix &quot;Veintemillas&quot;, &quot;Catacol&iacute;&quot;, &ldquo;El Tosco&rdquo;, &ldquo;Trapito&rdquo;, Marcos Torres, Los Guarachos, Ada Uma&ntilde;a, Amparo Arrebato, (las dos ), &ldquo;El Gordo&rdquo; Corkidi, &quot;Manchura&quot;, &quot;Watusi&quot;, Mar&iacute;a y muchos otros, &aacute;nomimos, o ya en el olvido.</p>
    <p>Para los protagonistas, sobrevivieron los recuerdos de aquellos duelos a paso limpio, las figuras de los Pachucos, la imagen de las francesas, las remembranzas de &quot;la Virgo&quot;, que en el a&ntilde;o 45 cobraba a 50 centavos &quot;el brinco&quot;, y las haza&ntilde;as de &quot;Nina&quot;, la novia de la muchachada hasta los a&ntilde;os 60 a quien le hac&iacute;an cola los adolescentes imp&uacute;beres para iniciarse por cinco pesos en los avatares de la sexualidad.</p>
    <p>As&iacute; pues, con el mambo y la guaracha como tel&oacute;n de fondo en la Zona de Tolerancia, se fue transformando el antiguo pueblo en una joven ciudad. Y con los pasos de los bailarines cale&ntilde;os que ten&iacute;an en el cine mexicano una escuela para aprenderlos, se abon&oacute; el terreno para adue&ntilde;arse de la pachanga y el boogaloo, que hac&iacute;an parte del mismo entorno musical en Nueva York donde hab&iacute;an nacido. Junto a ellos, la salsa ven&iacute;a prensada en el acetato, producida por la industria discogr&aacute;fica y mercadeada por marinos que llegaban a Buenaventura de donde la tra&iacute;an hasta Cali.</p>
    <p>Pero antes de que la salsa se estableciera en los barrios populares, la Zona de Tolerancia, clausurada oficialmente hacia 1960, hab&iacute;a marcado durante al menos dos d&eacute;cadas, el imaginario colectivo de los cale&ntilde;os de entonces. All&iacute; no solo se form&oacute; la primera comunidad de mel&oacute;manos y bailarines, tambi&eacute;n se desarroll&oacute; el baile de la m&uacute;sica antillana como un lenguaje del cuerpo a la vez que se cre&oacute; un profundo v&iacute;nculo con el Caribe, tanto por el cine que ven&iacute;a de M&eacute;xico, como por los discos en acetato que sonaban en la rockola, sobretodo la m&uacute;sica de Cuba y Puerto Rico. Un v&iacute;nculo fundamental para asumir la recepci&oacute;n plausible de la salsa que vendr&iacute;a de Nueva York, a partir de los 60, y para su apropiaci&oacute;n definitiva en Cali, hasta la actualidad.</p>
    
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
