<div class="modal-header">
	
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Cali: Entre la ca&ntilde;a, el Obrero y el Az&uacute;car</h3>
    
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p><strong>La Zona de Tolerancia - Espacio P&uacute;blico y &ldquo;Vieja Guardia&rdquo; antillana en Cali: entre la ca&ntilde;a, el obrero y el az&uacute;car.</strong></p>
	<p>Para responder a la pregunta &ldquo;por qu&eacute; la salsa en Cali&rdquo;, nos hemos referido en otras secciones de esta multimedia, a varios procesos de car&aacute;cter hist&oacute;rico social. Ellos son: el de industrializaci&oacute;n y modernizaci&oacute;n de la econom&iacute;a regional despu&eacute;s de 1930. El de urbanizaci&oacute;n y expansi&oacute;n de la ciudad, iniciado hacia la misma &eacute;poca, pero que se intensifica en las tres d&eacute;cadas siguientes. La presencia e impacto de la industria cultural transnacional, a trav&eacute;s del cine mexicano, la radiodifusi&oacute;n, la producci&oacute;n y el mercado discogr&aacute;fico, y la divulgaci&oacute;n de los ritmos cubanos y puertorrique&ntilde;os, que constituyen la pre-salsa, en Santiago de Cali.</p>
	<p>Esos tres grandes procesos, con sus especificidades, van de la mano, ocurren casi al mismo tiempo y se interrelacionan de diferentes maneras entre 1930 y 1970, cuando la salsa se establece definitivamente como una marca de ciudad en la d&eacute;cada del 70.</p>
     <p>Hemos definido tambi&eacute;n, en otra secci&oacute;n, La Zona de Tolerancia como un nuevo espacio p&uacute;blico de gran importancia para Cali, entre 1945 y 1960. All&iacute; se concentraron no solamente la prostituci&oacute;n y los &ldquo;placeres mundanos&rdquo;, sino la apropiaci&oacute;n y el uso de los ritmos caribe&ntilde;os que constituyen la m&uacute;sica de la &ldquo;Vieja Guardia&rdquo; antillana.</p> 
    
    <figure class="imgParrafo">
        <img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/cortero.png">
        <figcaption>Cortero de ca&ntilde;a. Proceso de Industrializaci&oacute;n del ingenio azucarero.</figcaption>
    </figure>
    
    <p>En la zona se socializaban los nuevos saberes musicales, cultivados por medio de la audici&oacute;n y el baile aprendido en la pantalla gigante de los teatros de barrio, donde se proyectaban las pel&iacute;culas y sus actores: las orquestas de la &eacute;poca, los cantantes y los bailarines m&aacute;s reconocidos. (La Sonora Matancera, La Orquesta Riverside, La Casino de la Playa, Celia Cruz en sus comienzos como cantante, Daniel Santos, Benny Mor&eacute;, D&aacute;maso P&eacute;rez Prado, Miguelito Vald&eacute;s, Tin Tan, Resortes, Kiko Mendive y las rumberas cubanas: Nin&oacute;n Sevilla, Mar&iacute;a Antonieta Pons y La Tongolele, entre otras).</p>
    <p>En la Zona converg&iacute;an obreros de diferentes empresas, trabajadores independientes, artesanos de distintos oficios, empleados y bur&oacute;cratas, al lado de &ldquo;rebuscadores&rdquo;, vecinos del barrio, un incipiente malandraje citadino, y algunas personas de la clase media en formaci&oacute;n, que se aventuraban a ir.     Entre los visitantes pertenecientes a los sectores populares estaban los trabajadores de la industria manufacturera y los de la industria azucarera, que laboraban en los ingenios fuera de Cali, o en otros municipios aleda&ntilde;os.</p>
    <p>La Zona converg&iacute;an obreros de difereLos ritmos cubanos y puertorrique&ntilde;os, con ancestros afro provenientes de la plantaci&oacute;n esclavista, encontraron en &ldquo;La Zona&rdquo; un lugar privilegiado para enraizarse en la ciudad. Sus letras alusivas a la ca&ntilde;a y el az&uacute;car, al negro y el tambor o al baile y el placer en el Caribe, se &ldquo;sintonizaban&rdquo; con la poblaci&oacute;n negra y mulata de Cali, que compart&iacute;a sin saberlo, unos referentes comunes que la m&uacute;sica visibilizaba.</p>
    <p>Si en los siglos XVIII y XIX la econom&iacute;a de Cuba y Puerto Rico se dinamiz&oacute; en torno a los cultivos de ca&ntilde;a y la producci&oacute;n azucarera, en el marco de la plantaci&oacute;n esclavista, durante el siglo XX la econom&iacute;a de Cali y el Valle del Cauca creci&oacute; en funci&oacute;n de este mismo producto, en el contexto de modernizaci&oacute;n de la sociedad colombiana.</p>
    <p><strong>1930 &ndash; 1950: De la hacienda tradicional al ingenio azucarero en el Valle del r&iacute;o Cauca</strong></p>
    <p>La producci&oacute;n de az&uacute;car en esta &aacute;rea del sur occidente colombiano empieza hacia 1860, cuando el inmigrante ruso James Eder (&ldquo;don Santiago&rdquo;) fund&oacute; &ldquo;Manuelita&quot;, el Ingenio m&aacute;s antiguo de la regi&oacute;n. En 1900 se inauguran sus modernas instalaciones importadas desde Inglaterra; entre 1920 y 1930 se fundan el Ingenio Providencia, el Breta&ntilde;a y el Ingenio R&iacute;o Paila, que producir&iacute;an az&uacute;car centrifugada.</p>
    <p>En 1929, el embajador de Colombia en Washington, Enrique Olaya Herrera, contrat&oacute; la &quot;Misi&oacute;n Chard&oacute;n&quot; de Puerto Rico para evaluar la econom&iacute;a regional y proponer alternativas de modernizaci&oacute;n. En el documento sobre &quot;Reconocimiento Agropecuario del Valle del Cauca&quot; la misi&oacute;n Chard&oacute;n resaltaba las excelentes condiciones naturales para cultivar la Ca&ntilde;a de Az&uacute;car. Sus recomendaciones se tomaron en serio. Se incorporaron grandes fincas, se ampliaron los cultivos, se ensancharon las instalaciones, se aument&oacute; la producci&oacute;n y por su puesto las ganancias.</p>
    
    <figure class="imgParrafo">
		<img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/ingenio.png">
		<figcaption>Proceso de Industrializaci&oacute;n del ingenio azucarero.</figcaption>
    </figure>
    
    <p>En la d&eacute;cada del 30 aparecen cuatro Ingenios m&aacute;s. En los a&ntilde;os 40, surgen siete y en los primeros a&ntilde;os de la d&eacute;cada del 50 cinco nuevos ingenios. En total 16 ingenios en 22 a&ntilde;os - en todos lo casos - conformados como empresas familiares, &quot;gracias a la acci&oacute;n emprendedora de un gran propietario de tierras&quot;, es decir, de un terrateniente, que en pocos a&ntilde;os se transform&oacute; en empresario agroindustrial.</p> 
    <p>Seg&uacute;n diversas investigaciones sobre el tema, la industria azucarera fue un factor determinante para el crecimiento econ&oacute;mico de la regi&oacute;n. (Jos&eacute; Antonio Ocampo: &ldquo;Desarrollo econ&oacute;mico de Cali en el siglo XX&rdquo;, en el libro Santiago de Cali 450 a&ntilde;os de Historia. &ndash; 1986 &ndash; Jos&eacute; Mar&iacute;a Rojas, &ldquo;Empresarios y tecnolog&iacute;a en la formaci&oacute;n del sector azucarero en Colombia 1860 &ndash; 1980. Serie Sociedad y Econom&iacute;a en el Valle del Cauca Tomo V &ndash;Universidad del Valle, Banco Popular, Bogot&aacute; 1983).</p>
    <p>En 1952 se contaban 22 ingenios en el Valle del Cauca. La aparici&oacute;n de la agroindustria azucarera modific&oacute; la gran hacienda ganadera caracter&iacute;stica de la econom&iacute;a regional en el siglo XIX. Entre 1922 y 1952 se incorporaron 332 fincas con casi 50.000 hect&aacute;reas a la producci&oacute;n de az&uacute;car. La gran hacienda tradicional se transform&oacute; en el moderno ingenio rodeado de cultivos. El antiguo terrateniente se torn&oacute; empresario capitalista; el negro descendiente de esclavos, (y el mestizo plebeyo) que coloniz&oacute; las orillas de los r&iacute;os, formando un peque&ntilde;o campesinado con cierta autonom&iacute;a, perdi&oacute; la tierra y se convirti&oacute; en proletario agr&iacute;cola, como cortero, alzador u operario en la molienda.</p>
    <p>La concentraci&oacute;n de la propiedad de la tierra para los ingenios, excluy&oacute; las formas de producci&oacute;n campesina, modific&oacute; las relaciones sociales, alter&oacute; el ecosistema y propici&oacute; paulatinos cambios culturales como resultado de la modernizaci&oacute;n en curso. A diferencia de otras regiones colombianas que fundamentaron su desarrollo econ&oacute;mico en el cultivo y la comercializaci&oacute;n del caf&eacute;, el Valle del Cauca, en la primera mitad del siglo XX, lo hizo alrededor de la ca&ntilde;a de az&uacute;car, la ganader&iacute;a intensiva y el cultivo de productos de transformaci&oacute;n industrial, como el tabaco, el arroz y el algod&oacute;n.</p>
    
    <figure class="imgParrafo">
		<img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/ingenio2.png">
		<figcaption>Proceso de Industrializaci&oacute;n del ingenio azucarero.</figcaption>
    </figure>
    
    <p>El cultivo de la ca&ntilde;a y el de otros productos, se increment&oacute; a &quot;costa de la disminuci&oacute;n de la tierra dedicada a la ganader&iacute;a&quot;, y en ambos renglones se abri&oacute; paso a la conformaci&oacute;n de un proletariado agr&iacute;cola, que adem&aacute;s de Cali, se concentr&oacute; en ciudades intermedias como Yumbo, Palmira, Buga y Tulu&aacute;, a lo largo del Valle del Cauca.</p>
    <p>La expansi&oacute;n agroindustrial en torno al ingenio y la ca&ntilde;a de az&uacute;car es simult&aacute;nea con la p&eacute;rdida de la tierra que pose&iacute;an peque&ntilde;os campesinos, adquirida gracias a la ley 200 de 1936. Y coincide con la &eacute;poca de la &ldquo;Violencia&rdquo; pol&iacute;tica liberal conservadora que, a mediados del siglo XX, produjo miles de muertos y gener&oacute; desplazamientos forzados del campo a la ciudad, en un proceso en el que Cali fue la principal receptora de la migraci&oacute;n y el &eacute;xodo. Hasta sus barrios populares llegaban los inmigrantes, buscando donde sobrevivir, mientras se aventuraban a la conquista de la ciudad, incluida la Zona de Tolerancia.</p>
    
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>






