<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Cali: Modernizaci&oacute;n econ&oacute;mica, industrializaci&oacute;n y cambio cultural</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>Entre 1933 y 1955 se aceler&oacute; el proceso de modernizaci&oacute;n de Santiago de Cali. De acuerdo con el economista e historiador Edgar V&aacute;squez Ben&iacute;tez, durante este periodo creci&oacute; la industria manufacturera en la ciudad y la industria azucarera en el Valle del Cauca. Con base en cifras, informaci&oacute;n de pol&iacute;tica econ&oacute;mica y el an&aacute;lisis respectivo, Edgar V&aacute;squez demuestra c&oacute;mo en esos 22 a&ntilde;os, la ciudad &ldquo;se dispar&oacute;&rdquo; en su crecimiento econ&oacute;mico, se expandi&oacute; hacia los 4 puntos cardinales y se modific&oacute; social y culturalmente hablando. E. V&aacute;squez: Historia de Cali en el siglo XX &ndash; Sociedad, econom&iacute;a, cultura y espacio &ndash; Universidad del Valle 2001.</p>
	<p>Con el comienzo de la inversi&oacute;n extranjera y la implementaci&oacute;n de una mentalidad modernizadora en la econom&iacute;a, el pueblo que era Cali continu&oacute; transform&aacute;ndose f&iacute;sica y socialmente, a pesar de una infraestructura de servicios p&uacute;blicos todav&iacute;a precaria. Si en la d&eacute;cada del 20 fue notable la construcci&oacute;n de nuevos barrios en las afueras del casco urbano y edificios en el centro, en los 25 a&ntilde;os siguientes, el desarrollo industrial marc&oacute; la pauta, aprovechando el ferrocarril del Pac&iacute;fico que conectaba a Cali con Buenaventura, y a trav&eacute;s de esta con el mundo.</p>
	<p>Como resultado de la pol&iacute;tica de sustituci&oacute;n de importaciones que atrajo capitales for&aacute;neos, surgen f&aacute;bricas de textiles, alimentos, calzado, caucho, cemento y materiales de construcci&oacute;n, maquinaria y art&iacute;culos el&eacute;ctricos, laboratorios qu&iacute;micos, farmace&uacute;ticos, papel, licores y otros productos manufacturados que cambian el perfil de la estructura industrial pues ya no se trata de la agroindustria tradicional, sino de la producci&oacute;n de bienes con alto valor agregado, renovaci&oacute;n tecnol&oacute;gica y mayor productividad.</p>
	<p>Bien sea en el eje Cali-Yumbo, fuera del centro, o en barrios de trabajadores y artesanos como el Obrero y San Nicol&aacute;s, es visible la instalaci&oacute;n de peque&ntilde;as, medianas y grandes f&aacute;bricas que enganchan mano de obra, tanto hombres como mujeres que &ldquo;el desarrollo&rdquo; necesita. Durante el periodo mencionado, &ldquo;la oleada de empresas creadas fue creciendo (en Cali y en el departamento del Valle) hasta llegar a un m&aacute;ximo en 1944&hellip;&rdquo; Seg&uacute;n Edgar V&aacute;squez, en 1934 se fundaron 64 empresas, en 1942 se establecieron 57 y en 1944 el n&uacute;mero se elev&oacute; a 101&hellip;el &aacute;rea Cali Yumbo concentr&oacute; el 60% del empleo y el 63% del valor agregado departamental durante el periodo de la industrializaci&oacute;n 1944-1951. (E.V&aacute;squez 2001: 188-190).</p>
	
    <figure class="imgParrafo">
		<img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/historia.png">
		<figcaption>En esta obra, el autor se ocupa de la historia moderna de Cali, las transformaciones urbanas, econ&oacute;micas y sociales que han ocurrido hasta finales del siglo.</figcaption>
    </figure>
    
    <p>Durante la &eacute;poca descrita por V&aacute;squez surgen y/o se fortalecen Textiles El Cedro, La Garant&iacute;a, Punto Sport, Britilana, Croydon del Pac&iacute;fico, Eternit Pac&iacute;fico, Cementos del Valle, Good Year, Laboratorios Squibb, Abbot, Celanese, Cart&oacute;n de Colombia, Eveready, Construcciones Tissot, Colgate Palmolive, Mariano Ramos, Monark S.A, Chiclets Adams, Icol&aacute;piz, Colombiana de tabaco, Laboratorios JGB, Ceat General de Colombia, Home Products, Union Carbide, Carrocer&iacute;as Superior, Ultratex y muchas m&aacute;s.</p>
    <p>Emergen nuevas Empresas de transporte, se incrementa la industria metalmec&aacute;nica y maderera; aumentan las imprentas y las editoriales, adem&aacute;s de la producci&oacute;n de alimentos manufacturados como Grasas la Americana, La espiga de oro, Mantecali, Cereavi&oacute;n, Quaker, Galletas Noel, leche pasteurizada Salomia, Embotelladora Coca Cola, Canada Dry, Gaseosas Postob&oacute;n, Fruco, Caf&eacute; Aguila Roja, Maizena y Lloreda Grasas S.A. entre tantas otras.</p>
    <p>Con la industrializaci&oacute;n se dinamiz&oacute; el comercio y el sector de servicios, a la vez que se introdujeron h&aacute;bitos de consumo sobretodo con &ldquo;la aceptaci&oacute;n de los nuevos productos alimenticios manufacturados&rdquo;, empezando por la Coca Cola que desplaz&oacute; las bebidas tradicionales como la chicha, el guarapo y el champ&uacute;s.</p>
    <p>La localizaci&oacute;n de zonas industriales (Puerto Isaacs, San Nicol&aacute;s, la avenida sexta y Chipichape, sede de los talleres del Ferrocarril del Pac&iacute;fico), modific&oacute; el espacio, mientras los desplazados por &ldquo;la Violencia&rdquo; bipartidista invad&iacute;an las laderas de Terr&oacute;n Colorado, Silo&eacute; y Mel&eacute;ndez. Al mismo tiempo, la ciudad se expand&iacute;a en distintas direcciones formando &ldquo;una estrella&rdquo;, como dice V&aacute;squez, con el r&aacute;pido crecimiento de los barrios donde se asienta la pobres&iacute;a: Villacolombia, la Base, el Popular, Benjam&iacute;n Herrera, Atanasio Girardot, Chapinero, Las Am&eacute;ricas, la Floresta, Breta&ntilde;a, Jun&iacute;n, Belac&aacute;zar, Guayaquil, el Porvenir, Municipal, Saavedra Galindo, Villanueva, Eduardo Santos y Olaya Herrera. Hacia el oeste Bellavista, el Morti&ntilde;al, y hacia el sur, Belisario Caicedo. Todos, antes de que aparecieran los barrios emergentes de la d&eacute;cada del 60 en adelante.</p>
    
    <figure class="imgParrafo">
		<img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/fabrica.png">
		<figcaption>Zona industrial.</figcaption>
    </figure>
    
    <figure class="imgParrafo">
		<img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/fabrica2.png">
		<figcaption>Zona industrial.</figcaption>
    </figure>
    
    <p>Para las clases altas se fundan los barrios del norte, al otro lado del r&iacute;o, cerca al barrio Granada ya establecido: Versalles, Centenario, Juanamb&uacute;, Santa M&oacute;nica, Santa Teresita, la Campi&ntilde;a y San Vicente. Mientras tanto, Santa Rita, al oeste, y San Fernando viejo, en el sur, aislado de la ciudad tradicional, completaba el reducto de una clase en ascenso con poder econ&oacute;mico y pol&iacute;tico en la ciudad.</p>
    <p>En la d&eacute;cada de 1950 Cali, con 300.000 habitantes, es todav&iacute;a un pueblo grande que vive su propia metamorfosis. Una peque&ntilde;a ciudad en obra negra dividida econ&oacute;micamente y segregada espacialmente, en medio de fuertes tensiones pol&iacute;ticas y graves conflictos por la ocupaci&oacute;n del suelo. Una peque&ntilde;a ciudad que se masifica con el crecimiento demogr&aacute;fico, la llegada de inmigrantes, la invasi&oacute;n de tierras, presi&oacute;n por los ejidos, fragmentaci&oacute;n y transformaci&oacute;n de la antigua hacienda ganadera convertida en barrio urbano, creaci&oacute;n de urbanizaciones piratas y asentamientos informales, e intensificaci&oacute;n de &ldquo;La Violencia&rdquo; liberal conservadora.</p>
    <p>Mientras se afianzan las jerarqu&iacute;as sociales establecidas por las &eacute;lites y la iglesia, la obediencia y subordinaci&oacute;n a sus dictados, empieza a resquebrajarse. La considerable presencia de poblaci&oacute;n negra y de campesinos inmigrantes en los estratos populares fue determinante en el proceso de cambio cultural y en la configuraci&oacute;n del mulataje que caracteriza a Cali. Con una mentalidad &ldquo;proclive a la autonom&iacute;a personal&rdquo;, antes que al sometimiento de normas estrictas y r&iacute;gidos valores tradicionales, estos sectores contribuyeron a cambiar el modo de ser de la ciudad. Con una moral flexible frente al cuerpo y la sexualidad, la adopci&oacute;n de ideas liberales y una religiosidad menos severa que en otras regiones del pa&iacute;s, el mulataje y los estratos subalternos desarrollaron otra sensibilidad en medio de la masificaci&oacute;n en que se hallaban inmersos. El baile ser&aacute; la ostensible manifestaci&oacute;n de esa sensibilidad en la que se invierte deseo, se acercan los cuerpos y se procura placer.</p>
    <p>Durante la d&eacute;cada citada, el desarrollo industrial tuvo como consecuencia inherente el surgimiento de un proletariado urbano con cierta capacidad de consumo como para adquirir un radio, comprar una bicicleta, mandar sus hijos a la escuela y sobrevivir precariamente mientras lucha por la vivienda, se expresa contra la dictadura de Rojas Pinilla, se moviliza en pro de sus derechos econ&oacute;micos y sociales, resiste al poder de grandes terratenientes aun establecidos, al mismo tiempo que participa en la construcci&oacute;n de los barrios al lado de otros sectores populares.<p/>
    <p>Aparte de ir a los r&iacute;os que circundan la ciudad, juega f&uacute;tbol en llanuras, &ldquo;mangas&rdquo; y potreros que convierte en canchas; participa en los equipos que organizan las f&aacute;bricas para los torneos industriales o en los campeonatos interbarrios; va al estadio donde celebra con el Am&eacute;rica, el deportivo Cali y el Boca, los tres equipos profesionales; asiste al cine en los teatros de barrio y se r&iacute;e con las pel&iacute;culas de Cantinflas; ve bailar y aprende el mambo y la guaracha con Tint&aacute;n, Resortes y las rumberas del cine mexicano; concurre a la zona de tolerancia y se divierte con el baile de la m&uacute;sica antillana, all&iacute; mismo, o en quioscos y casetas de los barrios en crecimiento. A&ntilde;os despu&eacute;s comenzar&aacute; a comprar sus discos preferidos y con ellos iniciar&aacute;, sin saberlo, una trayectoria como futuro coleccionista, construyendo un acervo discogr&aacute;fico de los tantos que hay en Cali, Yumbo, Palmira, Buenaventura y otras ciudades circunvecinas.</p>
    <p>Si la muerte de Jorge E. Gait&aacute;n agudiz&oacute; la lucha entre liberales y conservadores, el desarrollo industrial trajo consigo el enfrentamiento obrero patronal a medida que los trabajadores tomaban conciencia de su papel en el sistema y se organizaban en sindicatos y federaciones. A pesar de los riesgos asumidos ante la presencia de los &ldquo;p&aacute;jaros&rdquo; incrustados en las fuerzas del orden, hubo huelgas y movilizaciones como la de &ldquo;Croydon del Pac&iacute;fico&rdquo; en 1958, que culmin&oacute; en paro c&iacute;vico. La huelga de Textiles la Garant&iacute;a en 1959, en la que participaron 1.300 trabajadores, la mayor&iacute;a mujeres. Y la gran marcha del az&uacute;car en 1960, cuando los trabajadores azucareros fueron reprimidos por el ej&eacute;rcito al llegar a Cali, desde Palmira, a la altura del puente sobre el r&iacute;o Cauca. &ldquo;De la confrontaci&oacute;n resultaron dos trabajadores muertos y muchos heridos&rdquo; (E.V&aacute;squez 2001: 250-251). Tales acontecimientos, eran el comienzo de lo que vendr&iacute;a en los a&ntilde;os 60 y 70 cuando el ascenso de las luchas populares lleg&oacute; a su m&aacute;xima expresi&oacute;n en la historia del pa&iacute;s.</p>
    <p>Adem&aacute;s del crecimiento urbano e industrial, la d&eacute;cada de 1950 en Cali estuvo signada pol&iacute;ticamente por la dictadura de Rojas Pinilla entre 1953 y 1957, la exacerbaci&oacute;n del conflicto bipartidista y la explosi&oacute;n del 7 de agosto de 1956 que destruy&oacute; completamente un sector de la ciudad alrededor de la estaci&oacute;n del ferrocarril. A nivel cultural, las hibridaciones del mestizaje y sobretodo el mulataje que ven&iacute;a desde el siglo XIX, encuentran un nuevo escenario con la formaci&oacute;n de un proletariado, para la gestaci&oacute;n de un cambio en las mentalidades que indicaba la emergencia de una cultura urbana entre los sectores subalternos. Una sensibilidad visible con la presencia de las masas en la calle tanto para la extroversi&oacute;n a trav&eacute;s del f&uacute;tbol, el cine y el baile, como para resistir a la dictadura luchar por la vivienda y el suelo, o para reivindicar derechos laborales a trav&eacute;s de la huelga y la ocupaci&oacute;n de la tierra. Esto hechos definen una nueva relaci&oacute;n con el espacio p&uacute;blico, tanto el que est&aacute; legitimado por el orden, como el que la gente va creando a medida que lo ocupa para la recreaci&oacute;n l&uacute;dica o para la movilizaci&oacute;n y la protesta. Pero, la formaci&oacute;n de esa nueva sensibilidad urbana convive en pugna con pr&aacute;cticas y concepciones tradicionales que a&uacute;n predominan en la vieja aldea, establecidas por las &eacute;lites y la iglesia, antes de que la revoluci&oacute;n cultural de los a&ntilde;os 60 agudice los conflictos y las contradicciones, y mientras el pa&iacute;s acelera el paso de una sociedad agraria y tradicional, a una sociedad urbana y moderna.</p>
    
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
