<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Alfonso V&aacute;squez</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
    <figure class="imgParrafo">
		<img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/vecinos.png">
		<figcaption>Vecinos del Barrio Obrero en el parque. Foto cortes&iacute;a de Alfonso V&aacute;squez. <br /> A la izquierda, Alfonso V&aacute;squez, fot&oacute;grafo, con sus amigos en el parque del Barrio Obrero. Cali 1952 - Foto cortes&iacute;a de Alfonso V&aacute;squez.</figcaption>
    </figure>
    
    <figure class="imgParrafo">
		<img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/amiga.png">
		<figcaption>Alfonso V&aacute;squez y amiga, en el parque del Barrio Obrero. Foto cortes&iacute;a de Alfonso V&aacute;squez.</figcaption>
    </figure>
    
    <figure class="imgParrafo">
		<img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/amigos.png">
		<figcaption>Alfonso V&aacute;squez en medio de sus amigos, por las calles del Barrio Obrero. Cali 1952. Foto cortes&iacute;a de Alfonso V&aacute;squez.</figcaption>
    </figure>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>






