<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">El Timbalero en Cali</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p><strong>M&uacute;sica antillana y estigma social</strong></p>
	<p>La m&uacute;sica antillana, la vieja guardia cubana y puertorrique&ntilde;a, fue considerada por las clases altas de Cali como despreciable y de mal gusto, incluso peligrosa contra las buenas costumbres. En 1942 el Diario del Pac&iacute;fico public&oacute; en su editorial la siguiente nota: &ldquo;Causa verdadero pesar oir constantemente en muchas radiodifusoras, en nuestros bailes, retretas y serenatas, la conga, la guaracha, la rumba, el tango, el bolero son. Esta clase de m&uacute;sica, si as&iacute; podemos llamar, es desgraciadamente preferida por nuestros j&oacute;venes y nuestras j&oacute;venes danzantes en las fiestas sociales&hellip;&rdquo; Citado por Edgar V&aacute;squez en: Historia de Cali en el siglo XX &ndash; Sociedad, econom&iacute;a, cultura y espacio &ndash; Universidad del Valle 2001. P&aacute;gs 256-57.</p>
	
    <figure class="imgParrafo">
		<img src="Cali/ZonaTolerancia/Presalsa/Imagenes/Textos/timbalero.png">
		<figcaption>El timbalero era el &uacute;nico m&uacute;sico presente en los establecimientos de la Zona de Tolerancia. Era significativo como la parte que representaba al todo, pero tambi&eacute;n por ser la percusi&oacute;n del timbal la que acompa&ntilde;aba y aceleraba el ritmo que sal&iacute;a de la rockola. La presencia del Timbalero continu&oacute; en algunas discotecas de la ciudad.</figcaption>
    </figure>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
