
<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="Cali/CallesSalsa/SigloXXI/Imagenes/Escenario/maqueta.jpg" class="hidden-phone fondo">-->
    <img  src="Cali/CallesSalsa/SigloXXI/Imagenes/Escenario/fondo_calle_salsa_sigloXXI.jpg" class="hidden-phone fondo">
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Amigos">
        <img id="amigos"  src="Cali/CallesSalsa/SigloXXI/Imagenes/Escenario/amigos.png" class="hidden-phone  positionItem"  
             style="width :4.1%; height:11.5%; top:63.8%; left:33.2%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Antillana">
        <img id="antillana"  src="Cali/CallesSalsa/SigloXXI/Imagenes/Escenario/antillana.png" class="hidden-phone positionItem"
             style="width :7.5%; height:4%; top:56.4%; left:35.5%;"> 
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Bailarin Blanco">
        <img id="bailarinBlanco"  src="Cali/CallesSalsa/SigloXXI/Imagenes/Escenario/bailarin_blanco.png" class="hidden-phone  positionItem"  
             style="width :3.5%; height:19%; top:72.5%; left:80.2%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Gente">
        <img id="gente"  src="Cali/CallesSalsa/SigloXXI/Imagenes/Escenario/gente.png" class="hidden-phone  positionItem"  
             style="width :14.6%; height:11%; top:69%; left:85.6%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Jairo Varela">
        <img id="jairoVarela"  src="Cali/CallesSalsa/SigloXXI/Imagenes/Escenario/jairo_varela.png" class="hidden-phone  positionItem"  
             style="width :14.3%; height:63%; top:49.3%; left:6.6%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Pareja Espaldas">
        <img id="parejasEspaldas"  src="Cali/CallesSalsa/SigloXXI/Imagenes/Escenario/pareja_espaldas.png" class="hidden-phone  positionItem"  
             style="width :5.1%; height:15%; top:69.6%; left:35%;">
    </a>
    
    <a  href="#" data-toggle="tooltip" data-placement="left" title="Sweet">
        <img id="sweet"  src="Cali/CallesSalsa/SigloXXI/Imagenes/Escenario/sweet.png" class="hidden-phone  positionItem"  
             style="width :17%; height:16%; top:44.3%; left:83%;">
    </a>

    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/CallesSalsa/SigloXXI/textoCiudadSalsa.html')" 
        data-toggle="tooltip" data-placement="left" title="Ciudad Salsa">
        <span class="hidden-tablet hidden-desktop ">Ciudad Salsa</span>
        <img id="ciudadSalsa"  src="Cali/CallesSalsa/SigloXXI/Imagenes/Escenario/ciudad_salsa.png" class="hidden-phone  positionItem"  
             style="width:10.3%; height:18%; top:41%; left:15.7%;">
        <img id="ciudadSalsaMovil" src="Cali/CallesSalsa/SigloXXI/Imagenes/Movil/ciudad_salsa_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/CallesSalsa/SigloXXI/textoSalsaCabaret.html')" 
        data-toggle="tooltip" data-placement="left" title="Salsa Cabaret">
        <span class="hidden-tablet hidden-desktop ">Salsa Cabaret</span>
        <img id="salsaCabaret"  src="Cali/CallesSalsa/SigloXXI/Imagenes/Escenario/salsa_cabaret.png" class="hidden-phone  positionItem"  
             style="width:6.6%; height:4.9%; top:58.8%; left:51.3%;">
        <img id="salsaCabaretMovil" src="Cali/CallesSalsa/SigloXXI/Imagenes/Movil/salsa_cabaret_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/CallesSalsa/SigloXXI/textoSalsodromo.html')" 
        data-toggle="tooltip" data-placement="left" title="Sals&oacute;dromo">
        <span class="hidden-tablet hidden-desktop ">Sals&oacute;dromo</span>
        <img id="salsodromo"  src="Cali/CallesSalsa/SigloXXI/Imagenes/Escenario/salsodromo.png" class="hidden-phone positionItem"             
             style="width :7%; height:4%; top:73.4%; left:58.6%;">        
        <img id="salsodromoMovil" src="Cali/CallesSalsa/SigloXXI/Imagenes/Movil/salsodromo_movil.png"
             class ="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/CallesSalsa/SigloXXI/textoDelirio.html')" 
        data-toggle="tooltip" data-placement="left" title="Delirio">
        <span class="hidden-tablet hidden-desktop ">Delirio</span>
        <img id="delirio"  src="Cali/CallesSalsa/SigloXXI/Imagenes/Escenario/delirio.png" class="hidden-phone positionItem"             
             style="width :10.2%; height:20%; top:13.4%; left:49.2%;">        
        <img id="delirioMovil" src="Cali/CallesSalsa/SigloXXI/Imagenes/Movil/delirio_movil.png"
             class ="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('Cali/CallesSalsa/SigloXXI/textoJimmySaa.html')" 
        data-toggle="tooltip" data-placement="left" title="Jimmy Saa">
        <span class="hidden-tablet hidden-desktop ">Jimmy Saa</span>
        <img id="jimmySaa"  src="Cali/CallesSalsa/SigloXXI/Imagenes/Escenario/jimmy_saa.png" class="hidden-phone positionItem"             
             style="width :20%; height:43.7%; top:62%; left:66%;">        
        <img id="jimmySaaMovil" src="Cali/CallesSalsa/SigloXXI/Imagenes/Movil/jimmy_saa_movil.png"
             class ="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
</div>


<script>
    $("a[rel=popover]").popover();
</script>
