<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">SALSA CABARET: EL BAILE COMO ESPECT&Aacute;CULO</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>La globalizaci&oacute;n de la salsa a finales del siglo XX ha estado acompa&ntilde;ada de cambios profundos en los procesos de producci&oacute;n, circulaci&oacute;n y consumo de la m&uacute;sica popular. Gracias a las recientes tecnolog&iacute;as, la salsa tambi&eacute;n ha ganado difusi&oacute;n entre nuevas audiencias en el mundo.</p>
	<p>Por otro lado, los &ldquo;Festivales Mundiales de Salsa&rdquo; con los conversatorios realizados desde el 2006, y la aparici&oacute;n de las escuelas de baile, marcan una nueva fase en la historia cultural y musical de Santiago de Cali. La globalizaci&oacute;n de los concursos de baile promovidos mundialmente, motivaron a varios bailarines a competir en escenarios internacionales. Sus triunfos motivaron a su vez la formaci&oacute;n de diferentes colectivos que se organizan en torno al baile de la salsa. Desde 1998 hasta el presente, se han formado unas 100 escuelas, sobretodo en los barrios populares, la mayor&iacute;a en el Distrito de Aguablanca.</p>
	<p>De ese proceso surgi&oacute; el m&aacute;s importante bailar&iacute;n y core&oacute;grafo de los &uacute;ltimos tiempos: Eduardo Hern&aacute;ndez &ldquo;El Mulato&rdquo;. Su escuela, &ldquo;Swing Latino&rdquo;, ha ganado varios de esos campeonatos y se ha constituido en una prestigiosa empresa cultural. Su espect&aacute;culo de Salsa Cabaret, junto a Delirio y el Sals&oacute;dromo, son las tres grandes atracciones que marcan la diferencia con respecto al baile convencional en la ciudad, convirti&eacute;ndose en novedosos referentes tur&iacute;sticos de Santiago de Cali.</p>
	<p>Con &ldquo;EL Mulato&rdquo; y otros bailarines de su generaci&oacute;n se establece una continuidad con el baile de la salsa brava en esta ciudad. Ellos han recreado el espect&aacute;culo y el show, con base en las alzadas, la velocidad de los pies y los piques que lo caracterizan. Al mismo tiempo, se han profundizado las diferencias entre el bailar&iacute;n y el bailador y como consecuencia de ello se establece una ruptura con sus antecesores, por el profesionalismo con que asumen el baile show, la complejidad de su puesta en escena y el &eacute;nfasis en las acrobacias para competir a nivel internacional.</p>
	<p>Aunque la tendencia acrob&aacute;tica ha sido objeto de cr&iacute;ticas y rechazos por muchos salseros en la ciudad, ha llegado a ser tambi&eacute;n un modelo exitoso para las escuelas y sus bailarines que han encontrado as&iacute; una forma de ganarse la vida dignamente, en medio de aplausos y reconocimientos, pero tambi&eacute;n, con riesgos a la vista, como se observa en el documental &ldquo;Paso a Paso&hellip;&rdquo;</p>
	
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>

</div>






