<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">El Sals&oacute;dromo</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>En el a&ntilde;o 2008, la Feria de Cali fue objeto de una transformaci&oacute;n radical. La inauguraci&oacute;n del evento que siempre se hab&iacute;a hecho con el desfile de la Cabalgata, ese a&ntilde;o se hizo con el desfile de bailarines de salsa por la autopista sur oriental. En vez de briosos caballos y jinetes ebrios, escuelas de salsa con sus coreograf&iacute;as en la calle. Durante varias d&eacute;cadas, la Cabalgata represent&oacute; a los terratenientes de la regi&oacute;n, que la crearon para ostentar su estatus social y su poder pol&iacute;tico y econ&oacute;mico en la ciudad, junto a otras fracciones de la &eacute;lite vinculadas conjuntamente al negocio de la tauromaquia, los caballos de paso y las corridas de toros. El recorrido de sus caballos por las calles principales, abr&iacute;a pomposamente la Feria de Cali cada 25 de diciembre. El despliegue de una est&eacute;tica visual y la puesta en escena del espect&aacute;culo masivo hicieron de la Cabalgata un ritual p&uacute;blico, festivo y alegre, que la muchedumbre avalaba con sus aplausos. Aunque a decir verdad, gentes de clases medias y populares han participado tambi&eacute;n de los desfiles, hasta donde se trasladan las diferencias sociales, a pesar del car&aacute;cter &ldquo;popular&rdquo; de la feria.</p>
	<p>En los a&ntilde;os 80 - 90 &ldquo;la clase emergente&rdquo;, los narcos, ansiosos de poder pol&iacute;tico y legitimaci&oacute;n social, se tomaron la Cabalgata, as&iacute; como se tomaron otros espacios de la sociedad colombiana, hasta comienzos del nuevo siglo. Durante varios a&ntilde;os rivalizaron, compitieron y hasta compartieron privilegios con los sectores establecidos, en medio de tensiones, conflictos y problemas de organizaci&oacute;n, maquillados con reinas de belleza, modelos y personalidades de la far&aacute;ndula criolla. En el 2008, el alcalde Jorge Iv&aacute;n Ospina cambi&oacute; la inauguraci&oacute;n de la Feria. Acogi&oacute; la iniciativa de llevar la salsa a la calle y decidi&oacute; darle el protagonismo a humildes bailarines provenientes de los barrios populares de Cali. Con todas las implicaciones pol&iacute;ticas que ten&iacute;a esa decisi&oacute;n, rompi&oacute; con una tradici&oacute;n de medio siglo definida por las &eacute;lites dominantes, viejas y nuevas, y cre&oacute; el Sals&oacute;dromo como un espacio abierto para la presentaci&oacute;n del baile con la asistencia del p&uacute;blico en la avenida. Desde entonces, la propuesta del Sals&oacute;dromo ha crecido como espect&aacute;culo, hasta ser considerado el m&aacute;s importante de la Feria de Cali.</p>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>






