<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Del Parque de la M&uacute;sica a Ciudad Salsa</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>Desde 1991 cuando Gary Dom&iacute;nguez organiz&oacute; el primer Encuentro de Mel&oacute;manos, Salsotecas y Coleccionistas en el parque Panamericano, surgi&oacute; la necesidad de tener un espacio abierto para seguir convocando a este acontecimiento que constitu&iacute;a una novedad para los salseros cale&ntilde;os, que de tiempo atr&aacute;s se reun&iacute;an privadamente en torno a la m&uacute;sica de su predilecci&oacute;n. Como Mel&oacute;manos en su Salsa, el espacio anhelado termin&oacute; siendo el El parque de la m&uacute;sica, una peque&ntilde;a extensi&oacute;n de zona verde ubicada en el norte de la ciudad, adjudicada por la municipalidad a la Fundaci&oacute;n del Artista Colombiano para actividades afines a su raz&oacute;n social.</p>
	<p>Como era un espacio p&uacute;blico subutilizado, los salseros se asociaron para acceder a &eacute;l y realizar sus encuentros. Con ellos el parque adquiri&oacute; vida y gan&oacute; visibilidad como un lugar de esparcimiento en torno a la m&uacute;sica durante por lo menos tres Ferias de Cali consecutivas a partir de 1992-93.</p>
	<p>Luego, la alcald&iacute;a de entonces exigi&oacute; pagar por el uso del parque e impidi&oacute; los encuentros que debieron celebrarse en lugares alternos como el parque de los Poetas, las canchas Panamericanas y el parque de la Retreta. La medida origin&oacute; resistencias por parte de los salseros que se dieron a la tarea de recoger firmas y promover una convocatoria p&uacute;blica para recuperar el Parque de la M&uacute;sica. Durante el a&ntilde;o de negociaciones con la administraci&oacute;n municipal, el lugar se convirti&oacute; en un s&iacute;mbolo para la comunidad de mel&oacute;manos que lo hab&iacute;an ocupado creativamente y se abrogaban el derecho a seguir us&aacute;ndolo gratuitamente, como escenario para las audiciones de fin de a&ntilde;o, que luego se propusieron para cada mes, aunque no siempre se pudieron efectuar.</p>
	<p>La lucha dio resultados. Los salseros pudieron regresar al Parque de la M&uacute;sica en 1997, con m&aacute;s br&iacute;os y un amplio respaldo del p&uacute;blico que lo disfrutaba. El &eacute;xito de las audiciones en el parque continu&oacute; en medio de algunos conflictos porque a medida que pasaba el tiempo, la afluencia de p&uacute;blico era mayor y quienes lo administraban objetaron su uso por el ruido que produc&iacute;a la m&uacute;sica, sobretodo cuando adem&aacute;s de las audiciones se llevaron a acabo varios conciertos con orquestas invitadas. Como el problema se agudiz&oacute;, la &uacute;ltima semana del parque de la M&uacute;sica se cumpli&oacute; entre el 26 y el 30 de diciembre de 2009, con la presentaci&oacute;n de Eddie Palmieri y la Perfecta II, Spanish Harlem, Yuri Buenaventura, La orquesta Magia Antillana de Federico Betancourt Jr. de Venezuela, el Conjunto Chapot&iacute;n, y el Septeto Nacional de Cuba. La financiaci&oacute;n corri&oacute; por cuenta de la administraci&oacute;n municipal del alcalde Jorge Iv&aacute;n Ospina, con el apoyo de Corfecali, el productor de este evento, considerado como un regalo de navidad y a&ntilde;o nuevo, no s&oacute;lo para los salseros, sino para la ciudad.</p>
	<p>El d&iacute;a apote&oacute;sico fue el 26 de diciembre cuando m&aacute;s de 10.000 personas desbordaron el parque para presenciar el gran concierto de Eddie Palmieri y la Perfecta II. El j&uacute;bilo y la euforia colectiva fueron la respuesta &ldquo;natural&rdquo; de una comunidad armoniosamente congregada en el m&aacute;ximo evento llevado a cabo en el Parque de la M&uacute;sica, no s&oacute;lo por la cantidad de gente que asisti&oacute;, sino por la calidad art&iacute;stica y musical de los invitados. Un acontecimiento inolvidable para los m&uacute;sicos y para quienes tuvieron la feliz oportunidad de estar ah&iacute;.</p>
	<p>Al a&ntilde;o siguiente, una norma definitiva impidi&oacute; volver al parque, raz&oacute;n por la cual, la Administraci&oacute;n Municipal organiz&oacute; un nuevo espacio para las audiciones p&uacute;blicas y el encuentro de Mel&oacute;manos, Salsotecas y Coleccionistas, que se realiz&oacute; entre el 26 y el 30 de diciembre de 2010.</p>
	<p>Esta vez los invitados fueron Willie Rosario y su Orquesta, La Mulenze, Roberto Roena y su Orquesta, todos puertorrique&ntilde;os, y la Orquesta Van Van de Cuba que cerr&oacute; la Feria de Cali en Ciudad Salsa. Como en ocasiones anteriores y al igual que en el Parque de la M&uacute;sica, la respuesta del p&uacute;blico fue extraordinaria, aunque el espacio y las condiciones de producci&oacute;n del espect&aacute;culo, fueron muy distintos.</p>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>






