<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Delirio, de Cali para el mundo</h3>
</div>
<div class="modal-body" style="text-align: justify;">
	
	<p>Desde su origen en los a&ntilde;os 60, la salsa y su baile han estado ligados &iacute;ntimamente a los sectores populares de Cali, que no solo la acogieron como suya, sino que la convirtieron en el &iacute;cono m&aacute;s importante de la ciudad. Enraizada en el barrio, LA SALSERIDAD fue ganando espacio hasta conquistar otras capas sociales que hoy la disfrutan con igual derecho, sin querer decir que en Cali todo mundo es salsero, ni que est&eacute; obligado a serlo. Al igual que la ciudad, la salsa tambi&eacute;n se ha transformado: en sus contenidos, en los discursos que la representan, en los modos de asumirla y de bailarla, como manifestaciones de una cultura musical consolidada. La cultura salsera es hoy una realidad innegable en Cali, a pesar de tantos detractores y de los cr&iacute;ticos ingenuos que no la reconocen. De esa fortaleza naci&oacute; DELIRIO, hace ya 5 a&ntilde;os, como un majestuoso espect&aacute;culo donde se conjugan el circo, la m&uacute;sica y el baile. Un espect&aacute;culo sofisticado, de talla internacional, que junto al sals&oacute;dromo y el parque de la m&uacute;sica, han puesto a Cali en el mapa de los m&aacute;s grandes acontecimientos del mundo, alrededor de la salsa. Durante sus cinco a&ntilde;os de realizaciones, Delirio ha mejorado con cada historia propuesta, con cada puesta en escena. Desde la calidad del espacio bajo la b&oacute;veda de una carpa, hasta la escenograf&iacute;a, las coreograf&iacute;as, y la producci&oacute;n en general, hecha no s&oacute;lo con gran profesionalismo, sino con responsabilidad y compromiso para con la salsa y con la ciudad. Si la salsa en Cali ha llegado a ser un factor de cohesi&oacute;n social, en la dimensi&oacute;n simb&oacute;lica de esta urbe, Delirio es la mayor evidencia de ese logro. All&iacute; convergen el liderazgo y la visi&oacute;n empresarial de Andrea Buenaventura y su equipo de trabajo, el talento de los bailarines, el saber y la creatividad de todos los artistas, para demostrarle a la ciudad que no s&oacute;lo es posible sobrevivir en medio del naufragio.</p>
	<p>Para la fiesta de cumplea&ntilde;os, Delirio ha creado BOMBO, su m&aacute;s reciente obra, una Oda al Pac&iacute;fico colombiano del que hacemos parte, hist&oacute;rica y socialmente hablando. Al cumplir su primer lustro, Delirio celebra sus bodas de madera, demostrando que si de madera se trata, ante todo es, madera fina.</p>

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>
