<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="NuevaYork/Louizaida/SigloXXI/Imagenes/Escenario/maqueta.jpg" class="hidden-phone fondo">-->
    <img  src="NuevaYork/Louizaida/SigloXXI/Imagenes/Escenario/loizaida_fondo.jpg" class="hidden-phone fondo">

    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Louizaida/SigloXXI/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="desarrapado"  src="NuevaYork/Louizaida/SigloXXI/Imagenes/Escenario/desarrapado.png" class="hidden-phone  positionItem"  
             style="width:5.2%; height:18.2%; top:69.3%; left:81%;">
        <img id="desarrapadoMovil" src="NuevaYork/Louizaida/SigloXXI/Imagenes/Movil/desarrapado_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Louizaida/SigloXXI/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="senorMorral"  src="NuevaYork/Louizaida/SigloXXI/Imagenes/Escenario/senor_morral.png" class="hidden-phone  positionItem"  
             style="width:6%; height:19.2%; top:71.5%; left:57.6%;">
        <img id="senorMorralMovil" src="NuevaYork/Louizaida/SigloXXI/Imagenes/Movil/senor_morral_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Louizaida/SigloXXI/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="senoraBolsa"  src="NuevaYork/Louizaida/SigloXXI/Imagenes/Escenario/senora_bolsa.png" class="hidden-phone  positionItem"  
             style="width:7.5%; height:17.7%; top:73.2%; left:20%;">
        <img id="senoraBolsaMovil" src="NuevaYork/Louizaida/SigloXXI/Imagenes/Movil/senora_bolsa_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Louizaida/SigloXXI/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="auroraFlores"  src="NuevaYork/Louizaida/SigloXXI/Imagenes/Escenario/aurora_flores.png" class="hidden-phone  positionItem"  
             style="width:16.6%; height:31.5%; top:68.5%; left:31.9%;">
        <img id="auroraFloresMovil" src="NuevaYork/Louizaida/SigloXXI/Imagenes/Movil/aurora_flores_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
    
    <a  href="#" class="buttonItem  " onclick ="modalOpen('NuevaYork/Louizaida/SigloXXI/FALTA.html')" 
        data-toggle="tooltip" data-placement="left" title="FALTA">
        <span class="hidden-tablet hidden-desktop ">FALTA</span>
        <img id="hectorLavoe"  src="NuevaYork/Louizaida/SigloXXI/Imagenes/Escenario/hector_lavoe.png" class="hidden-phone  positionItem"  
             style="width:10.8%; height:32.7%; top:67.9%; left:7.7%;">
        <img id="hectorLavoeMovil" src="NuevaYork/Louizaida/SigloXXI/Imagenes/Movil/hector_lavoe_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

</div>

<script>
    $("a[rel=popover]").popover();
</script>
