

<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <img  src="PuertoRico/SanJuan/Presalsa/Imagenes/Escenario/fondo.jpg" class="hidden-phone fondo">
<!--    <img  src="Cali/Barrio1/Presalsa/Imagenes/Escenario/cali_barrio1_presalsa.jpg" class="hidden-phone fondo">
-->

    <a  href="#" class="buttonItem  " onclick ="modalOpen('PuertoRico/SanJuan/Presalsa/videoIsmaelRivera.html')" 
        data-toggle="tooltip" data-placement="left" title="Ismael Rivera">
        <span class="hidden-tablet hidden-desktop ">Ismael Rivera</span>
        <img  src="PuertoRico/SanJuan/Presalsa/Imagenes/Escenario/ismael_rivera.png" class="hidden-phone  positionItem "  
             style="width :18%; height:55%; top:55%; right:32%;">
        <img  src="PuertoRico/SanJuan/Presalsa/Imagenes/Movil/ismael_rivera_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

    <a  href="#" class="buttonItem  " onclick ="modalOpen('PuertoRico/SanJuan/Presalsa/textoDanielSantos.html')" 
        data-toggle="tooltip" data-placement="left" title="Daniel Santos">
        <span class="hidden-tablet hidden-desktop ">Daniel Santos</span>
        <img  src="PuertoRico/SanJuan/Presalsa/Imagenes/Escenario/daniel_santos.png" class="hidden-phone  positionItem "  
             style="width :20%; height:65%; top:45%; left:22%;">
        <img src="PuertoRico/SanJuan/Presalsa/Imagenes/Movil/daniel_santos_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

  
    <a  href="#" class="buttonItem  " onclick ="modalOpen('PuertoRico/SanJuan/Presalsa/textoMigracion.html')" 
        data-toggle="tooltip" data-placement="left" title="Bandera">
        <span class="hidden-tablet hidden-desktop ">Bandera</span>
        <img  src="PuertoRico/SanJuan/Presalsa/Imagenes/Escenario/bandera.png" class="hidden-phone  positionItem "  
             style="width :7%; height:20%; top:16%; right:56.5%;">
        <img src="PuertoRico/SanJuan/Presalsa/Imagenes/Movil/bandera_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

   
    
</div>

<!--
<script>
    $("a[rel=popover]").popover();
</script>-->
