<div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">La migraci&oacute;n Puertorrique&ntilde;a a Nueva York.</h3>

</div>
<div class="modal-body" style="text-align: justify;">

<p><strong>La migraci&oacute;n Puertorrique&ntilde;a a Nueva York. </strong></p>

<p>Desde comienzos  de siglo XX se inici&oacute; un largo proceso migratorio MAPAS de Puerto Rico a Nueva  York debido a causas sociales, pol&iacute;ticas y econ&oacute;micas. Este proceso dio lugar a  la formaci&oacute;n de una comunidad hispanocaribe&ntilde;a, principalmente&nbsp; Puertorrique&ntilde;os, que habitaban entre  Brooklin, East Harlem y el South Bronx. Dicha migraci&oacute;n ha sido ampliamente  estudiada por diversos investigadores. </p>

<p>Una de ellas es  Clara Rodr&iacute;guez, quien en su obra de 1989, Puerto RicansBorn In  TheUnitedStates, distingue tres grandes periodos de la migraci&oacute;n. El primero  entre 1900-1945 cuando llegaron los pioneros, la mayor&iacute;a de los cuales se  asentaron en&nbsp; Atlantic Street (Brooklyn);  en el East Harlem (El Barrio) y otros sectores de Manhattan, mientras algunos  m&aacute;s se establecieron en el South Bronx. (Rodr&iacute;guez 1989: 3). El segundo periodo  comienza despu&eacute;s de la segunda guerra mundial,&nbsp;  entre 1946 y 1964, y el&nbsp; tercero,  desde 1965 en adelante. El segundo periodo es el que m&aacute;s nos concierne para la  investigaci&oacute;n sobre la salsa, y se&nbsp;  conoce como &laquo;La gran migraci&oacute;n&raquo;, porque fue cuando se incrementaron las  comunidades ya establecidas en el East Harlem y el South Bronx, pero adem&aacute;s  porque&nbsp; se expandieron a otras ciudades  como New Jersey, Conneticut y&nbsp;  Chicago.&nbsp;&nbsp; Estudios realizados  hacia 1948, citados por Rodr&iacute;guez, indican que los migrantes del segundo  periodo ten&iacute;an mayor nivel de escolaridad que los que permanecieron en la isla.  As&iacute; mismo se consideraba que en los 40&acute;s era una migraci&oacute;n m&aacute;s urbana que la  primera pues se trataba de una poblaci&oacute;n con ciertas capacidades laborales, una  notable presencia de las mujeres y un predominio de la clase trabajadora. La  autora agrega que despu&eacute;s de terminada la segunda guerra mundial en 1945, muchos  &nbsp;puertorrique&ntilde;os que hab&iacute;an estado en el  ej&eacute;rcito emigraron a los Estados Unidos.&nbsp; </p>

<p>El tercer periodo, desde 1965 en adelante, se  conoce seg&uacute;n Rodr&iacute;guez como &laquo;La migraci&oacute;n de la puerta giratoria&raquo; y presenta  otras caracter&iacute;sticas, entre ellas una mayor dispersi&oacute;n hacia diferentes  regiones de los Estados Unidos. Contrastada con la primera, esta es diferente  porque los migrantes presentaban un mayor grado de escolaridad y&nbsp; un car&aacute;cter m&aacute;s urbano, pues hab&iacute;an sido  obreros&nbsp; o empleados&nbsp; familiarizados con las formas de vida en la  ciudad. Al llegar, muchos de ellos tuvieron que ocuparse en diversos oficios  que no siempre correspond&iacute;an a sus capacidades laborales o a sus profesiones  previas. Dentro de los grupos de emigrantes se destacan los m&uacute;sicos, sobre todo  de la primera y segunda migraci&oacute;n, porque llevaron consigo los ritmos t&iacute;picos  de la isla y las influencias de la m&uacute;sica cubana expandida no solo por el  caribe sino por todo el continente.&nbsp;
</p>

<p>Desde la  distancia, cantores y compositores boricuas evocaron la isla en sus tonadas y  crearon una representaci&oacute;n del j&iacute;baro como s&iacute;mbolo de identidad a trav&eacute;s de lo  que Ruth Glasser ha llamado El Nacionalismo Musical. Si bien, proliferaron las  canciones alusivas a su patria &ldquo;lejana&rdquo;, no hubo composiciones sobre el Barrio  Latino, donde se hab&iacute;an asentado como&nbsp;  inmigrantes. Solo con la salsa, el Barrio logr&oacute; un protagonismo que no  hab&iacute;a tenido antes.</p>

<p>Pero fue en el  movimiento de ida y vuelta Puerto Rico - Nueva York, Nueva York - Puerto Rico  como se origin&oacute; la salsa, hasta consolidar&nbsp;  una m&uacute;sica urbana que&nbsp; hoy es  universal. Vi&eacute;ndolo desde la otra orilla, &laquo;La Isla del encanto&raquo; aport&oacute; al  nacimiento de la nueva criatura con artistas e historias&nbsp; surgidos en sus barriadas populares: La  Parada 21, Villa Palmeras, barrio Obrero y la Calle Calma en Santurce; la Perla  y Puerta de Tierra en San Juan, y desde Ponce y Mayag&uuml;ez donde se teji&oacute; tambi&eacute;n  otra historia socio musical cuyo eco resonaba al mismo tiempo en el Barrio  Latino de Nueva York. </p>

<p>Aprovechando la  herencia africana en el Caribe y la riqueza de la m&uacute;sica cubana, los&nbsp; creadores de la salsa preservaron la clave,  los tambores y la percusi&oacute;n, para desarrollar otros&nbsp; modos de producir e interpretar antiguas y novedosas  sonoridades,&nbsp; bajo unas nuevas  condiciones hist&oacute;ricas, durante la segunda mitad del siglo XX. </p>

<p>&nbsp;Desde su nacimiento, vinculado a la industria  discogr&aacute;fica y el mercado del espect&aacute;culo, la salsa trascendi&oacute; a otras  latitudes como forma y contenido de una cultura musical y un estilo de vida.  Pero en la transici&oacute;n al siglo XXI, perdi&oacute; vigencia all&iacute; donde naci&oacute;, mientras  gan&oacute; fuerza y reconocimiento en Santiago de Cali donde prevalece gozosa y  danzante hasta nuestros d&iacute;as.</p>

</div>

<div class="modal-footer">

</div>







