<div class="modal-header">
	
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Daniel Santos: El Jefe</h3>
    
</div>
<div class="modal-body" style="text-align: justify;">
	
    <p>En1926, a los 10 a&ntilde;os de edad, Daniel Santos emigr&oacute; con su familia  a Nueva York. All&iacute; sobrevivi&oacute; a los infortunios de la pobreza y comenz&oacute; a  cantar en peque&ntilde;as agrupaciones de puertorrique&ntilde;os, inmigrantes como &eacute;l, hasta  que se vincul&oacute; al cuarteto de Pedro Flores, con el que triunf&oacute; inicialmente,  interpretando las canciones de compositores boricuas como Rafael Hern&aacute;ndez y el  mismo Pedro Flores, antes de cantar las de su autor&iacute;a.</p>

<p>Al entrar Estados Unidos en la segunda guerra mundial Daniel  Santos es llamado a las filas. All&iacute; tendr&aacute; la oportunidad de expresar su gracia  guarachera y entretener a sus compa&ntilde;eros de &quot;Cautiverio&quot; en el  ej&eacute;rcito norteamericano. Antes de enrolarse en la milicia, Daniel va &quot;a  decirle adi&oacute;s a los muchachos porque pronto se va para la guerra y aunque vaya  a pelear en otras tierras, va a defender sus derechos, su patria y su fe&quot;.  En realidad, Daniel Santos no defend&iacute;a su patria ni su fe, sino los intereses  imperialistas. Pronto se dio cuenta de ello al sentir en carne propia la  discriminaci&oacute;n y el sometimiento de su &quot;Isla del Encanto&quot; por parte  del Pent&aacute;gono cuando, hacia 1940, se tom&oacute; la Isla de Vieques y mont&oacute; una base  naval que dur&oacute; hasta el 2003. Desde entonces asumi&oacute; musicalmente la causa independentista  de un sector de la sociedad puertorrique&ntilde;a, liderado por Pedro Albizu Campos,  que proclamaba la soberan&iacute;a de la isla. Y el bolero fue el g&eacute;nero propicio para  que &eacute;l y otros de sus contempor&aacute;neos expresaran ese anhelo (Pedro Flores, Bobby  Cap&oacute;, Pedro Ortiz &ldquo;Davilita&rdquo;). Sus canciones de corte patri&oacute;tico nacionalista  as&iacute; lo indican: &ldquo;Sin Reservas&rdquo;, &ldquo;Mi Bandera&rdquo; &laquo;Despierta boricua&raquo; &laquo;Yankisgo  home&raquo; y &rdquo;La masacre de Ponce&rdquo;. En esta &uacute;ltima, uno de sus boleros menos  conocidos, rememora ese cruento episodio de la historia puertorrique&ntilde;a, cuando  en 1937 las fuerzas del orden reprimieron la movilizaci&oacute;n de los nacionalistas  y en la confrontaci&oacute;n se produjeron muchas muertes. </p>

<p>Daniel Santos comparte con Pedro Ort&iacute;z,  &quot;Davilita&quot;, el sentimiento patri&oacute;tico que los&nbsp; lleva a tomar posiciones frenteras contra el  imperio cuando le canta en sus propias barbas al T&iacute;o Sam: /&quot;Por qu&eacute; no se  llevan sus aviones/ por qu&eacute; no se llevan sus ca&ntilde;ones/ porqu&eacute; no se llevan sus  matones/ y se van de aqu&iacute;/ fuera yankis, gome home/ fuera yanqu&iacute;s...&quot;/  /&quot;...De aqu&iacute; son los cuchifritos/ la batata y el cocl&iacute; / los que dicen &iexcl;ay  bendito! / esos s&iacute; que son de aqu&iacute;/ Fuera yanquis go home/ fuera  yanquis...&quot;/
</p>

<figure></figure>


<p>Al mismo tiempo que reivindic&oacute; el amor por su tierra a trav&eacute;s de  la m&uacute;sica, Daniel Santos promovi&oacute; la identidad del j&iacute;baro puertorrique&ntilde;o en  otra de las canciones que populariz&oacute; en el continente. &ldquo;Lamento borincano&rdquo;, de  Rafael Hern&aacute;ndez, presenta una imagen del j&iacute;baro, que prevaleci&oacute; al lado del  canto patri&oacute;tico y nost&aacute;lgico, aunando dos sentimientos complementarios. Esta  canci&oacute;n &ndash; tambi&eacute;n en tiempo de bolero- promovi&oacute; una representaci&oacute;n del  campesino en el imaginario colectivo, que termin&oacute; siendo la m&aacute;s importante de  las representaciones sociales a trav&eacute;s de la m&uacute;sica entre los puertorrique&ntilde;os.</p>

<p>En la diversidad de su repertorio no solo pregon&oacute; las sentidas  aspiraciones de soberan&iacute;a para su pa&iacute;s sino que le cant&oacute; a las cosas m&aacute;s  aparentemente simples: al &quot;peinado de Mar&iacute;a&quot;, a &quot;la mala  suerte&quot; a lo &quot;extra&ntilde;a que es la vida&quot;,&nbsp; &quot;al que canta&quot;, al &quot;bobo de la  yuca&quot; y al &quot;ni&ntilde;o majadero&quot;. En fin, a &quot;las cosas que tiene  la vida&quot;, incluyendo al habla cotidiana, al &quot;dicho que hay por ah&iacute; /  que es de ambiente popular / y dice as&iacute; /: /y qu&eacute; mi socio/ y qu&eacute; m&iacute; hermano /  en el t&iacute;birit&aacute;bara / oye / ya t&uacute; lo ves mi compay&hellip;&rdquo; /</p>

<p>Al tiempo con la vitalidad guarachera, Daniel siempre proyect&oacute; el  susurro cadencioso del bolero, plasmado con delicadeza en &quot;Dos  gardenias&quot;, &quot;Como se van las noches&quot;, &ldquo;Me extra&ntilde;a mucho&rdquo;&quot;La  Humanidad&quot; &quot;Virgen de media noche&rdquo;. Y entre otros, varios boleros,  sentimientos con nombre de mujer...&quot;Olga&quot;, &quot;Linda&quot;,  &quot;Patricia&quot;, &quot;Ya t&uacute; ves patricia...&quot; </p>

<p>Como cantante y compositor polifac&eacute;tico, a Daniel Santos la  inspiraci&oacute;n le alcanz&oacute; para rendir un homenaje (con su Conjunto de Sociedad) al  barrio Jes&uacute;s Mar&iacute;a, cuna del guaguanc&oacute; y la rumba cubana. Fue uno de los  primeros m&uacute;sicos de la &ldquo;vieja guardia&rdquo; anteriores a la salsa, en tener  conciencia del Barrio popular como espacio urbano generador de una cultura  musical. Al comp&aacute;s de la plena y el guaguanc&oacute;,&nbsp;  Daniel une - como tantas veces lo hiciera - a Cuba y Puerto Rico en su  composici&oacute;n a uno de los barrios negros m&aacute;s tradicionales de la Habana:  /&quot;Que mulata madre m&iacute;a/ yo la quiero conocer/ si esa es de Jes&uacute;s Mar&iacute;a/ de  ah&iacute; yo quiero una mujer/ Barrio de Jes&uacute;s Mar&iacute;a / hoy te canto esta canci&oacute;n/ en  tu gente hay alegr&iacute;a/ que llega al coraz&oacute;n/ con orgullo te la canto/ barrio  alegre y retoz&oacute;n/ Jes&uacute;s Mar&iacute;a es tu d&iacute;a/ baila plena y guaguanc&oacute;/ de puerto  Rico es la plena/ y de Cuba el guaguanc&oacute;/... /esto es pa' t&iacute; Jes&uacute;s&nbsp; Mar&iacute;a/ ... /baila plena y  guaguanc&oacute;....&quot;/</p>

<p>De la misma cantera musical saldría una interpretación cuyo título sirvió para asignarle a Daniel un nombre artístico: "Anacobero", protagonista de la rumba /"Vamos pa' la conga del solar/ que los negros vienen todos/ para guarachar /unos van marcando/ con el tumbador/ el inspirador llama/ al repicador/ ya sudan los negros/ gozando el rumbón/ la negra Mercé/ se quiere rompé/ abre cuto negro/ escuche e' bongó/ porque esta es la buena/ que te canto yo/ Anacobero/ AnacoberominúaYamba – o…”/
</p>

<p>A pesar de que su nombre se vincula generalmente con el Cuarteto  de Pedro Flores y con la Sonora Matancera, &quot;El Inquieto Anacobero&quot;  grab&oacute; con otras agrupaciones como el Tr&iacute;o San Juan, el Sexteto Borinquen, Los  J&oacute;venes del Cayo, La Sonora Marinera, su Conjunto de Sociedad y en los a&ntilde;os 80  con el Conjunto Cl&aacute;sico y con H&eacute;ctor Lavoe. En Colombia grab&oacute; con Pedro Laza y  con la Sonora Caribe de Barranquilla, que lo acompa&ntilde;&oacute; en Cali durante la  grabaci&oacute;n del &quot;5 y 6&quot;. A&ntilde;os antes, su compadre Tito Cort&eacute;s lo  acompa&ntilde;&oacute; con La Sonora Cali, durante la gira de 1953 cuando Daniel Santos vino  por primera vez a esta ciudad</p>

<p>Su vida bohemia, su car&aacute;cter rebelde, sus adicciones al licor y a  la cannabis,&nbsp; y la irreverencia de la que  hizo gala, lo alinearon en la militancia del arrabal y lo adscribieron al bajo  mundo, en Cali, Medell&iacute;n y otras ciudades, &nbsp;donde sus seguidores lo proclamaron &ldquo;El Jefe&rdquo;,  hasta el final de sus d&iacute;as.</p>

<p>Su m&uacute;sica, sentida en suburbios y prost&iacute;bulos, se asociaba con la  figura del camaj&aacute;n, un personaje t&iacute;picamente citadino, un nuevo producto social  caracter&iacute;stico de la ciudad latinoamericana; un personaje que deambulaba por el  tango en los escenarios del arrabal porte&ntilde;o de Buenos Aires y que se agitaba en  el solar rumbero, del barrio marginal de La Habana. Cada uno asumiendo los  gestos de su entorno, pero unidos por la misma picard&iacute;a que le hace gambetas a  la ley, se burla secretamente de la autoridad y le responde con in&uacute;tiles  esguinces a la muerte. El compadrito arrabalero, y el negro curro habanero,  fueron bajo condiciones hist&oacute;ricas espec&iacute;ficas un producto de la urbe  industrializada, precursores de nuestro camaj&aacute;n criollo, tambi&eacute;n producto  urbano, de acento patriarcal y machista.</p>

<p>Su comportamiento raya en la ilegalidad que atenta contra  &quot;las buenas costumbres&quot; de la doble moral. Esa era la imagen que  abrazaba en Cali a hombres de barrio, jugadores de f&uacute;tbol, artesanos,  zapateros, asalariados y marginados sociales para quienes Daniel Santos se  convirti&oacute; en el Jefe. En los a&ntilde;os 50 circul&oacute; una noticia seg&uacute;n la cual, Daniel  ten&iacute;a licencia oficial para fumar cannabis. Que haya sido cierto o no, no  importa. Lo cierto fue la noticia, o el rumor que como cualquiera de sus discos  se propag&oacute; r&aacute;pidamente. Muchos fumadores clandestinos anhelaron tener el mismo  privilegio pero debieron consolarse con sus placeres secretos; desde entonces,  Daniel fue m&aacute;s importante para ellos. Su valor art&iacute;stico y simb&oacute;lico estaba por  encima de las restricciones propias de la moral dominante. Por eso fue el jefe  indiscutible. Confrontando las hipocres&iacute;as y asumiendo el riesgo del  se&ntilde;alamiento, el jefe no ocult&oacute; nunca sus placeres, para decirle al mundo con  su arte que aquellos no eran incompatibles con la vida. Y como tal, su posici&oacute;n  fue la misma de Benny Mor&eacute; y de Ismael Rivera, las tres voces masculinas m&aacute;s  importantes de la m&uacute;sica popular del Caribe para Latinoam&eacute;rica. Tres voces que  hicieron historia en la d&eacute;cada del 50 y marcaron con sello propio la m&uacute;sica  popular caribe&ntilde;a del siglo XX. </p>

<figure></figure>




</div>

<div class="modal-footer">

</div>







