<div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">ISMAEL RIVERA: EL SONERO MAYOR</h3>

</div>
<div class="modal-body" style="text-align: justify;">


    <audio  preload="none" controls  
            data-info-att="Entrevista a Ismael Rivera">
        <source src="PuertoRico/SanJuan/Presalsa/Audio/entrevista_ismael_rivera_en_radio_voz_1968.mp3" type="audio/mpeg" >
        <source src="PuertoRico/SanJuan/Presalsa/Audio/entrevista_ismael_rivera_en_radio_voz_1968.ogg" type="audio/ogg" >
        

        Your browser does not support the audio element.
    </audio>

    <p>&laquo;En la calle de  la Calma<br />
  estaban bailando  plena<br />
  bailando la  rica plena<br />
  la rica plena  de Elena&raquo;<br />
  (Rafael Cepeda) </p>

<p>Una historia de la salsa que no considere  en su origen el aporte de la m&uacute;sica&nbsp;  puertorrique&ntilde;a,&nbsp; es tan incompleta  como una historiograf&iacute;a que ignore el papel de la m&uacute;sica cubana. Pero si se  reivindica el papel de la m&uacute;sica puertorrique&ntilde;a, no basta con hablar de Puerto  Rico solo desde Nueva York o desde los inmigrantes y sus hijos en el Barrio  Latino. Es preciso hablar desde Puerto Rico mismo, al menos desde&nbsp; sus m&aacute;s importantes&nbsp; epicentros generadores y productores de  m&uacute;sicos y de m&uacute;sica popular: Santurce, Mayag&uuml;ez y Ponce. </p>

<p>(Desde Puerto Rico habla Ismael Rivera en  la entrevista que le hizo el locutor Raphy Torres en 1966 por Radio Voz y que  reproducimos aqu&iacute;, gracias al se&ntilde;or Torres)</p>

<figure></figure>


<p>&ldquo;Rafael Cortijo e Ismael Rivera: Dios los cr&iacute;a y ellos se juntan&hellip;&rdquo;</p>

<p>El contexto sociocultural urbano donde surgen Ismael Rivera  con&nbsp; Cortijo y su Combo es el &aacute;rea de  Santurce (La Parada 21, Villa Palmeras, Pi&ntilde;ones y Lo&iacute;za)&nbsp; franja costera de antiguos manglares  arrasados por la expansi&oacute;n urbana del siglo pasado, como lo testimonia de alg&uacute;n  modo la canci&oacute;n &laquo;Tumbaron la 21&raquo; de Tite Curet interpretada por&nbsp; Cuch&oacute;n y su Orquesta&nbsp; <br />

  /&ldquo;Qu&eacute; pena me da se&ntilde;ores/ qu&eacute; amargura/ qu&eacute; descontento/ qu&eacute;  sufrimiento/ mi barrio entero/ ya se acab&oacute;/ no s&eacute; por qu&eacute;/ tumbaron la  veintiuna/&hellip;/ tumbaron la veintiuna/esa era la calle/ de mi vacil&oacute;n&rdquo;/</p>

<p>Cuenta el soci&oacute;logo Puertorrique&ntilde;o &Aacute;ngel Quintero Rivera que  Santurce, conocida tambi&eacute;n como Cangrejos, hab&iacute;a sido&nbsp; poblado en el S. XVIII por negros libres al  servicio de las &eacute;lites blancas de San Juan,&nbsp;  la capital colonial. Entre&nbsp; 1920 y  1950 fue habitado por inmigrantes del interior de la isla, que agobiados por la  situaci&oacute;n econ&oacute;mica buscaban sobrevivir all&iacute;.</p>

<p>De acuerdo con&nbsp; Quintero  Rivera, la poblaci&oacute;n de Santurce contaba con una fuerte tradici&oacute;n musical  sincopada de bomba y plena, con sus respectivos bailes y pr&aacute;cticas danzarias.  Eran frecuentes los bemb&eacute;s callejeros, las verbenas populares y los toques de  bomba donde concurr&iacute;an m&uacute;sicos y bailarines silvestres, entre ellos los futuros  integrantes del Combo de Cortijo, como lo documentan Coqui Santaliz en su texto  &ldquo;Por la encendida calle de Maelo&rdquo; (1988) y Edwin Quiles Rodr&iacute;guez en su libro  sobre Santurce, &ldquo;La ciudad de los balcones&rdquo; (2009).</p>

<figure></figure>


<p>&laquo;Vente pa&acute;la calle<br />
  s&uacute;bete a la acera<br />
  que con este ritmo<br />
  ya te digo no hay quien pueda&hellip;&raquo;</p> 
<p>(Versos de una&nbsp; plena  popular cantada <br />
en las fiestas de San Sebasti&aacute;n, <br />
en el Viejo San Juan &ndash; Enero de 2009)</p>


<p>Seg&uacute;n Quiles Rodr&iacute;guez, &ldquo;las esquinas, como las formadas por las  calles Calma y Lo&iacute;za, eran lugares favoritos para el arremolinamiento de  m&uacute;sicos y dem&aacute;s c&oacute;mplices del rumb&oacute;n de esquina con sus claves, coros y  soneos&hellip;Era una manera creativa de ocupar la acera, la calle o el solar y  convertirlos en espacios p&uacute;blicos, en espacios para el encuentro. Entre los  lugares favoritos para el bemb&eacute; improvisado se encontraba la calle Santa  Cecilia donde se daban cita m&uacute;sicos, bailadores y seguidores, los domingos por  la ma&ntilde;ana. En la ya c&eacute;lebre calle Calma, se bailaba sobre la arena, y en casas  como la de Rufino, avivados por los panderos de m&uacute;sicos como &ldquo;Mayaguez&rdquo; y Paco  Cerviera, y cantantes como Hilario Mart&iacute;nez y Guillo And&iacute;cula, presididos por  la omnipresencia de los maestros Bob&oacute; y Marcial Reyes&rdquo;.&nbsp; (Quiles R. 2009: 23-24)</p>

<p>M&aacute;s adelante, Quiles Rodr&iacute;guez describe c&oacute;mo, con la privatizaci&oacute;n  del suelo y la falta de plazas y espacios de convergencia, &ldquo;la calle se  convirti&oacute; en campo de expresi&oacute;n y afirmaci&oacute;n de la negritud, de la cultura  cangrejera, callejera y subalterna, para reclamar el derecho a la ciudad&hellip; El  rumb&oacute;n de esquina fue una manera teatral de confrontar el nuevo orden, resistir  la ocupaci&oacute;n ajena, tomar posesi&oacute;n&nbsp; y  posicionarse en la nueva espacialidad del barrio. Al ser de nadie y de todos,  la calle cangrejera era uno de los pocos lugares p&uacute;blicos donde los negros pod&iacute;an  actuar con relativa libertad. En esa calle rumbosa cualquier momento o lugar  p&uacute;blico era adecuado para juntar lo que ten&iacute;an, lo que les era propio: la  sonoridad de sus voces y cueros, y la contorsi&oacute;n de los cuerpos para comenzar  el &ldquo;vacil&oacute;n&rdquo;, haciendo de paso alardes de maestr&iacute;a y picard&iacute;a sosteniendo la  clave y retando al sonero, al repicador y al bailador&hellip;&rdquo; (Quiles R. 2009: 23-25)</p>

<p>Luego, Quiles Rodr&iacute;guez cita su entrevista al reconocido maestro  de construcci&oacute;n Carmelo Miranda, quien &ldquo;recuerda c&oacute;mo los obreros, algunos de  ellos m&uacute;sicos tambi&eacute;n &ndash; entre ellos Ismael Rivera &ndash; soneaban y cantaban todo el  d&iacute;a mientras hac&iacute;an su labor. Empezaba Maelo o Flor Mel&eacute;ndez y segu&iacute;a el otro y  despu&eacute;s otro, en una musicalidad perenne que llenaba de ritmo la obra, acompa&ntilde;ado  por el comp&aacute;s de las herramientas, el martillo, el serrucho y el berbiqu&iacute; que  golpeaban la madera y el cinc. No resultaba extra&ntilde;o que la m&uacute;sica continuara en  el solar o la calle ya completada la jornada de trabajo.&rdquo; (Quiles R. 2009:25)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>

<p>Esta callejer&iacute;a&nbsp; del cuerpo  y el ritmo es paralela con la callejer&iacute;a musical que se viv&iacute;a hacia la misma  &eacute;poca en el Barrio Latino de Nueva York, descrita en nuestro libro &ldquo;La salsa en  discusi&oacute;n&hellip;&rdquo; (cap&iacute;tulo 5). En ambos casos la ocupaci&oacute;n&nbsp; colectiva de la calle es una manera de  apropiaci&oacute;n territorial, de ocupaci&oacute;n f&iacute;sica y simb&oacute;lica que se traduce  ruidosamente en un &laquo;aqu&iacute; estamos&raquo;, &laquo;somos nosotros&raquo;, una forma de marcar el  espacio, no con grafitis como&nbsp; har&iacute;an  generaciones posteriores, sino con la m&uacute;sica y el baile, los tambores y sus  tiempos largos. Y as&iacute; como en Nueva York la 110 street&nbsp; y la 116 eran emblem&aacute;ticas en la vida de los  m&uacute;sicos latinos - o la Kelly street en el sur del Bronx -&nbsp; en Santurce&nbsp;  eran la parada 21, la calle Calma, Lo&iacute;za y Santa Cecilia, los&nbsp; ejes&nbsp;  del revol&uacute;.</p>

<figure></figure>

<p>Mientras en Nueva York, al promediar los a&ntilde;os 50s los nuyorricans  y los boricuas, con el aporte de m&uacute;sicos cubanos y norteamericanos,&nbsp; navegaban juntos sin saberlo hacia la  creaci&oacute;n de la salsa, en Puerto Rico, Cortijo y su Combo transformaron la bomba  y la plena desde la calle Calma y el callej&oacute;n Tranquilidad. Los dos aires hacen  parte de la di&aacute;spora musical afrocaribe&ntilde;a, parientes cercanos del guaguanc&oacute; y  el son, el calypso y el merengue, con los que comparten ancestros comunes unidos  por los hilos invisibles del tambor, el canto responsorial y la s&iacute;ncopa. Al  asumir la bomba y la plena, Cortijo y su Combo cambiaron la organolog&iacute;a  tradicional y las metieron&nbsp; en el coraz&oacute;n  de la escena medi&aacute;tica, saltando del barrio donde eran gozosamente producidas,  a la pantalla chica, donde empez&oacute; a&nbsp;  lucirse para todo el pa&iacute;s justo cuando ya las daban por acabadas en los  estudios folcl&oacute;ricos. (Quintero Rivera 2009:280).</p>

<p>Todo se dio de una manera m&aacute;s o menos espont&aacute;nea como lo cont&oacute;  Ismael Rivera a C&eacute;sar Miguel Rond&oacute;n en el Libro de la Sala (1979). &laquo;Yo te dije  hambre, porque el grupo sonaba con una rabia, una fuerza&hellip; loco por salir del  arrabal... Era el tiempo de la revoluci&oacute;n de los negros en Puerto Rico...  Roberto Clemente, Peruch&iacute;n Cepeda... Entraron los negros a la universidad y  paff... Y sali&oacute; Cortijo y su Combo acompa&ntilde;ando esa hambre, ese movimiento... No  fue una cosa planeada, tu sabes, son cosas que a veces suceden y en Puerto Rico  estaba sucediendo esto. Todo fue una cosa del pueblo, del negro... Y nosotros  entramos ah&iacute; con nuestra m&uacute;sica... Y es que hab&iacute;a hambre Cesar, hab&iacute;a  hambre...&raquo;</p>


<figure></figure>

<p>Ismael Rivera, nacido en Santurce en 1931, ven&iacute;a de la Orquesta  Panamericana dirigida por Lito Pe&ntilde;a, con el que grab&oacute;&nbsp; &laquo;El charlat&aacute;n&raquo; y &laquo;La Saz&oacute;n de la abuela&raquo;, sus  primeros &eacute;xitos. A los 23 a&ntilde;os ya era un cantante de respeto. R&aacute;pidamente  cambi&oacute; el oficio de maestro de construcci&oacute;n por el de maestro del soneo y el  preg&oacute;n, animado por su compadre Rafael Cortijo que lo sac&oacute; del anonimato de la  alba&ntilde;iler&iacute;a para conducirlo a los altares de la gloria donde s&oacute;lo llegan los  verdaderos genios como &eacute;l. Cortijo por su parte, nacido tambi&eacute;n en Santurce  (1928) y con reconocida trayectoria en las lides de la rumba, hab&iacute;a comenzado  su carrera con el Conjunto Monterrey de Juan Palm &laquo;Mentoqu&iacute;n&raquo; y ten&iacute;a en su  haber varias experiencias como percusionista en distintas agrupaciones, seg&uacute;n  cuentan Malavet Vega y Angel Quintero Rivera. Adem&aacute;s de las descargas y el  relajo en las playas, o los rumbones de esquina, tambi&eacute;n toc&oacute; en el &laquo;Escambr&oacute;n  Beach&raquo; con Miguelito Miranda y Frank Madera; estuvo un tiempo con la orquesta  de Augusto Cohen, con el pianista Mario Rom&aacute;n y fue conguero en la Sonora  Boricua que organiz&oacute; Daniel Santos hacia 1948. </p>
<p>As&iacute; pues, Cortijo reun&iacute;a en su trayectoria la experiencia barrial  y callejera&nbsp; con el trabajo profesional  en grandes orquestas de sal&oacute;n. Conoc&iacute;a los dos &aacute;mbitos, sus p&uacute;blicos,&nbsp; la orquestaci&oacute;n y el sonido de las bigbands,  al igual que todos los secretos para tocar la bomba y plena en su h&aacute;bitat natural.  Con el conocimiento necesario de la m&uacute;sica y su entorno, convoc&oacute; a varios  amigos del amplio vecindario y organiz&oacute; un combo,&nbsp; conjunto intermedio entre las bigbands y&nbsp; los&nbsp;  peque&ntilde;os grupos de son. Al poseer un mismo origen como amigos o vecinos  del &aacute;rea, compart&iacute;an referentes comunes, en un proceso an&aacute;logo al que vivieron  los salseros del Harlem Hispano y el South Bronx en Nueva York. </p>

<p>Una vez constituido, el Combo de Cortijo conjugaba  la expresi&oacute;n y el sentimiento que ven&iacute;an del callej&oacute;n y la rumba comunal, con  la sonoridad del gran espect&aacute;culo comercial&nbsp;  de los grandes clubes sociales de San Juan. No por acaso tocaba  igualmente en alg&uacute;n burdel de Puerta de Tierra, suburbio proletario de la  capital donde concurr&iacute;an trabajadores portuarios, turistas americanos, soldados  y marineros que llegaban a la ciudad.
</p>

<figure></figure>
<figure></figure>

<p>Con el apoyo de Bobby Cap&oacute; y otras complicidades, Cortijo e Ismael  Rivera entraron pisando duro con &laquo;El bomb&oacute;n de Elena&raquo;, su primer disco grabado  en 1955. Luego los &eacute;xitos conocidos, entre bombas, guarachas y plenas.  &laquo;M&aacute;quinoLandera&raquo;, &laquo;Las ingratitudes&raquo;, &laquo;Severa&raquo;, &laquo;Con la punta del pie&raquo;, &laquo;D&eacute;jalo  que suba&raquo;, &laquo;Perfume de rosas&raquo;, &laquo;Qu&iacute;tate de la v&iacute;a Perico&raquo;, &laquo;Tuntuneco&raquo;, &laquo;El  chivo de la campana&raquo;, &laquo;Ma&ntilde;ana es domingo&raquo;, &laquo;El negro bemb&oacute;n&raquo;, &ldquo;Pa&acute;lo que t&uacute; le das&rdquo;...</p>

<p>&nbsp;Alternando sus  presentaciones con la Orquesta Panamericana en el Escambr&oacute;n Beach y con Cortijo  en el cabaret BlagMagic en Miramar, Ismael Rivera estaba maduro para cantar la  m&uacute;sica a la que pertenec&iacute;a. De ah&iacute; que cuando incursionaron en la radio, y la  televisi&oacute;n puertorrique&ntilde;a los llev&oacute; al escenario, fueron un suceso inesperado.  En &laquo;La Taberna India&raquo; y sobretodo en &laquo;El Show del medio d&iacute;a&raquo;, durante cinco  a&ntilde;os consecutivos, Cortijo y su Combo encontraron el camino que los condujo a  la&nbsp; consagraci&oacute;n masiva y popular. All&iacute;  pudieron recrear, y transformar, el canto y la interpretaci&oacute;n de los dos  g&eacute;neros vern&aacute;culos. De acuerdo con TiteCuret Alonso &ndash; en entrevista concedida a  C&eacute;sar Pagano &ndash; &laquo;hab&iacute;a dos maneras de interpretar la bomba y la plena. Una, con  panderetas y coros, cinco o siete pleneros, es decir grupos netamente  folcl&oacute;ricos que tocan sus instrumentos de percusi&oacute;n y cantan&hellip; Otra, muy  estilizada,&nbsp; interpretada por las grandes  orquestas de sal&oacute;n, estilo Rafael Mu&ntilde;oz, Orquesta Siboney o la de C&eacute;sar Concepci&oacute;n&hellip;&raquo;  (C. Pagano 1993:12). </p>

<p>En su libro &laquo;Cuerpo y Cultura&hellip;&raquo; (2009) &laquo;&Aacute;ngel Quintero Rivera nos  ha recordado las modificaciones instrumentales introducidas por Cortijo para  tocar la bomba. Aunque cambi&oacute; los barriles por las congas, conserv&oacute; la base r&iacute;tmica,  acrecentada con el timbal, el bong&oacute;, el g&uuml;iro y el cencerro. Incorpor&oacute; en su  formato el piano y el bajo, el saxo y las trompetas, que hab&iacute;a conocido en su  paso por las bigbands de la isla. Como bien lo explica el soci&oacute;logo  puertorrique&ntilde;o, &laquo;En el caso de Cortijo no se trat&oacute; de una big band que  incorporaba plenas a su repertorio, como lo hab&iacute;an hecho antes la orquesta de  C&eacute;sar Concepci&oacute;n&nbsp; o La Panamericana, sino  de un movimiento inverso: se le incorpor&oacute; a la plena, la bomba y la guaracha,  la sonoridad de los metales, el bajo y el piano. En otras palabras, se trataba  de un conjunto de bombas, guarachas y plenas, al cual se le incorporaba la  riqueza t&iacute;mbrica de la sonoridad de &laquo;combo&raquo;.</p>

<figure></figure>

<p>Ello se manifestaba en una distribuci&oacute;n espacial de los m&uacute;sicos al  tocar, distinta a la entonces predominante. Cortijo coloc&oacute; en la l&iacute;nea frontal  a la percusi&oacute;n &ndash; congas, bongoes y timbales &ndash; que llevaba &laquo;la voz cantante&raquo;,  asum&iacute;a el rol protag&oacute;nico, lejos del papel de &laquo;acompa&ntilde;antes&raquo;, al cual la hab&iacute;a  relegado la sonoridad &laquo;occidental&raquo; (En las bigbands de entonces, los  instrumentos de percusi&oacute;n se colocaban &ndash; como en la orquesta sinf&oacute;nica,  detr&aacute;s&hellip;) El cantante principal y el coro eran parte de la l&iacute;nea percusiva:  tocaban la percusi&oacute;n menor y coreografiaban la m&uacute;sica, es decir, bailaban,  reforzando la tradici&oacute;n afro de la bomba, del di&aacute;logo imprescindible entre  bailador y tamborero&hellip;&raquo; (Quintero Rivera 2009:291). Aqu&iacute; encontramos otra de las  innovaciones hecha por Rafael Cortijo, que coincide con lo realizado en Nueva  York por los pioneros&nbsp; vanguardistas  creadores de la salsa. Al poner la percusi&oacute;n al frente, se reivindicaba el  tambor con toda su dignidad, por el valor cultural que le correspond&iacute;a como  s&iacute;mbolo del &Aacute;frica y su&nbsp; legado en esta  parte del mundo. </p>

<p>Pero Cortijo fue m&aacute;s all&aacute;, pues como lo se&ntilde;ala Quintero Rivera,  &laquo;por primera vez en la historia de los conjuntos en el pa&iacute;s, Cortijo y su Combo  pagaba a sus percusionistas niveles salariales equivalentes a los de sus  m&uacute;sicos de formaci&oacute;n acad&eacute;mica&raquo;, varios de los cuales proven&iacute;an de una larga  tradici&oacute;n puertorrique&ntilde;a de m&uacute;sicos populares con formaci&oacute;n culta y diestros en  la lectura de partituras&raquo;, como en el caso de las trompetas, el bajo, el piano  y el saxo.</p>
<p>As&iacute; pues, con Cortijo y su Combo se produce un revolc&oacute;n en la  m&uacute;sica popular puertorrique&ntilde;a que trascendi&oacute; los confines de la isla, gracias a  la genuina alegr&iacute;a de sus canciones, la voz privilegiada de Maelo, el coro  afeminado de registro agudos y las coreograf&iacute;as puestas en escena que animaban  a los bailadores.&nbsp; S&oacute;lo ellos pod&iacute;an  representar la fuerza tel&uacute;rica del arrabal que vibraba en los tambores de  Cortijo y el pregonar de Ismael.</p>

<p>En &laquo;Cuerpo y Cultura, las m&uacute;sicas mulatas&hellip;&raquo; &Aacute;ngel Quintero explica  c&oacute;mo desde la bomba Ismael Rivera interviene y enriquece la rima, la m&eacute;trica y  el verso del soneo tradicional. La improvisaci&oacute;n vocal de Maelo se deriva de  los giros expresivos del baile de la bomba producidos en el di&aacute;logo entre el  tambor (el subidor) y la coreograf&iacute;a danzante de los bailadores. En otras  palabras, Ismael Rivera verbaliza lo que el tambor de bomba&nbsp; repica, con la misma duraci&oacute;n y el mismo  ritmo, como sonaba en el barrio, en la Parada 21, en Villa Palmeras, Lo&iacute;za y la  Calle Calma. All&iacute;, el tambor de bomba, el subidor, marca el patr&oacute;n r&iacute;tmico y  m&eacute;trico que Maelo sigue como gu&iacute;a para sonear e improvisar. Hay una  correspondencia entre el patr&oacute;n r&iacute;tmico del subidor y la m&eacute;trica del verso  improvisado.</p>



<p>Piper Pimienta, H&eacute;ctor Lavoe e Ismael  Rivera. Foto Carlos Molina.</p>

<figure></figure>

<p>En el Barrio, el patr&oacute;n percusivo del tambor interact&uacute;a con el  bailador, sus pasos, sus desaf&iacute;os, de modo que Maelo integra en su soneo el  canto, el ritmo del subidor y la danza del bailador, en una s&oacute;la estructura que  luego trasladar&aacute; a la salsa. Esa triada es como una gram&aacute;tica de producci&oacute;n  creada colectivamente desde sus antepasados en los toques y los bailes de bomba  que eran ante todo una fiesta comunal, una extroversi&oacute;n compartida en la calle,  en esa relaci&oacute;n directa con el espacio p&uacute;blico que hemos llamado &laquo;La callejer&iacute;a  musical&raquo;. La sabidur&iacute;a y la habilidad de Maelo para implementarla, le permit&iacute;an  pisar el coro, y con ellos disponer de m&aacute;s tiempo para el preg&oacute;n, insertar  peque&ntilde;as frases dentro de un comp&aacute;s o introducir el doble de palabras que los  cantantes normalmente usan como patr&oacute;n de improvisaci&oacute;n, seg&uacute;n lo escuchamos en  &laquo;M&aacute;quinoLandera&raquo; y en &laquo;El Cumbanchero&raquo;. </p>

<p>Al igual que en el Barrio Latino de Nueva York, hemos de ver &ldquo;La  callejer&iacute;a musical&rdquo; en Santurce como una clave para entender el surgimiento de  la salsa en las dos orillas donde se inici&oacute;. Lo in&eacute;dito es que Ismael Rivera  retoma esa triada (el ritmo del tambor, el soneo y el baile), de su contexto  originario en los bailes de bomba y lo recontextualiza en el discurso sonoro de  la salsa. Cuando llega a Nueva York, lo saca a relucir en sus conciertos y  grabaciones, haciendo una extraordinaria contribuci&oacute;n desde la cultura popular  puertorrique&ntilde;a a las maneras de cantar el son cubano, el bolero, la guaracha y  la salsa, a la hora de improvisar y pregonar con maestr&iacute;a, como lo demostr&oacute;  desde sus &eacute;xitos iniciales.&nbsp; Cito un  ejemplo que encontr&eacute; leyendo a Angel Quintero y escuchando a Ismael Rivera al  mismo tiempo. Para quienes recuerdan su canci&oacute;n &laquo;Traigo de todo&raquo;, (1974), aludo  al estribillo que dice:&nbsp; &laquo;yo lo estiro /  yo lo encojo / yo lo pongo como a usted le guste m&aacute;s / este son montuno&raquo; /&hellip;Y lo  que dice es lo que&nbsp; est&aacute; haciendo en el  acto mismo de enunciaci&oacute;n&hellip; Los dos primeros&nbsp;  versos &ndash; &laquo;yo lo estiro / yo lo encojo&raquo; / tienen 5 s&iacute;labas cada uno: el  verso que sigue &ndash; &laquo;yo lo pongo como a usted le guste m&aacute;s&raquo; /&nbsp; tiene 12 / y la frase&nbsp; que contin&uacute;a &ndash; &laquo;este son montuno&raquo; -&nbsp; tiene 6.&nbsp;&nbsp;  Lo que estira y encoje es el verso, sus s&iacute;labas y sus acentos, su  duraci&oacute;n sincopada, consecuente con el acompa&ntilde;amiento de la orquesta.</p>

<figure></figure>

<p>En su repertorio, Cortijo e Ismael Rivera abordaron tem&aacute;ticas  diversas. Alusiones al &Aacute;frica y sus tambores en&nbsp;  &laquo;DrumaCuyi&raquo; (ritmo oriza); menciones al baile o el ritmo, &laquo;Alegr&iacute;a bomba  e&raquo;; referencias al Barrio cangrejero y sus personajes, &laquo;Mar&iacute;a Teresa y Bob&oacute;&raquo;. Y  como sucedi&oacute; entre los salseros del Barrio neoyorquino, su m&uacute;sica les sirvi&oacute;  tambi&eacute;n para cuestionar actitudes y comportamientos humanos, evidente en &laquo;Los  bochinchosos&raquo;, esa contundente plena contra el chismorreo: /Yo no puedo vivir /  en esta vecindad / se pasan averiguando / para ponerse a hablar / te visitan  las casas / de puro chiste / y es para averiguar / lo que comiste / &iexcl;Bistec&hellip;!&raquo;  /, grita Ismael en esa breve glosa con que remata el comp&aacute;s, y que convirti&oacute; en  parte de su estilo para sonear y salsear. La plena prosigue sin concesiones al  vecindario:&nbsp;&nbsp; &laquo; / Que lleg&oacute; a mi casa /  un polic&iacute;a / y enseguida&nbsp; siempre /  despu&eacute;s dec&iacute;an / Ave Mar&iacute;a / Sof&iacute;a / Estos malos vecinos / yo nos los quiero  ver / el d&iacute;a que yo me mude / nadie lo va a saber / que todos los chismosos /  en conferencia/ tuvieron una bronca/ de gran frecuencia / te visitan las casas  / de puro chiste / y es para averiguar / lo que ah&iacute; existe&hellip;&raquo;/</p>

<p>Si ponderamos la trayectoria art&iacute;stica de Rafael Cortijo e Ismael  Rivera por su importancia en el nacimiento de la salsa, es porque adem&aacute;s de  haber sido &iacute;dolos populares en Nueva York y Puerto Rico, hace 50 a&ntilde;os,&nbsp; tambi&eacute;n lo fueron en Cali y Buenaventura, a  pesar de que el Combo de Cortijo fue una de las pocas agrupaciones que nunca se  present&oacute; aqu&iacute;. Ellos, junto a Mon Rivera y Daniel Santos, tienen un sitio  ganado en estas ciudades, donde hasta hoy gozan de admiraci&oacute;n y  reconocimientos. Con su obra despertaron&nbsp;  una estela de seguidores que a&uacute;n cantan y bailan con ellos y coleccionan  sus discos. Con sus canciones llegaron a los j&oacute;venes de su tiempo que  aprendieron a quererlos mientras los disfrutaban.</p>

<figure></figure>

<p>H&eacute;ctor Lavoe,  Benhur Lozada e Ismael Rivera. Festival del sonero. Cali 1981. Foto cortes&iacute;a de  Benhur Lozada.</p>

<p>Y ese sentimiento contin&uacute;a en sectores populares de Cali donde  &laquo;Dolores&raquo; la pachanguera sigue bailando en la carretera,&nbsp; y la gente, &laquo;Que gente averigu&aacute;&raquo;, y&nbsp; &laquo;Lluvia con nieve&raquo; contin&uacute;a danz&aacute;ndose en las  viejotecas,&nbsp; y &laquo;Mataron al negro bemb&oacute;n&raquo;  se canta&nbsp; en la memoria de todos. Si  Daniel Santos aprovechaba dichos populares y creaba su propia jeringonza, y Mon  Rivera&nbsp;&nbsp; inventaba sus trabalenguas,  Ismael Rivera se &laquo;enrumbaba&raquo; por la misma senda. Frases retomadas del habla  cotidiana, se tornaban en sus voces, sabrosa melod&iacute;a. Expresiones comunes y  silvestres arraigadas en la oralidad colectiva, deven&iacute;an en&nbsp; gracia para el o&iacute;do y ritmo para el baile. </p>

<p>Con la generalizada masificaci&oacute;n de sus discos en los a&ntilde;os 60, el  refraneo estaba al orden del d&iacute;a en nuestras conversaciones escolares, en el  encuentro casual, y sobretodo en la calle, descubriendo la ciudad. &laquo;Camina  peloecoco&raquo;, &laquo;&iquest;Qu&eacute; es lo que pasa aqu&iacute;, Ah!?&raquo;. &laquo;Bueno y qu&eacute;?, &laquo;Pues ah&iacute;. Bueno y  qu&eacute;?&nbsp; Pues ah&iacute; como cuando usted era  pobre.&raquo; &laquo;At&aacute;cala que ella cae, que ella cae.&raquo; Y el infaltable &laquo;Qu&iacute;tate de la  v&iacute;a Perico&raquo; o, &laquo;Se llamaba Perico, que descanse en paz,&raquo; dichos que siguen tan  vivos como la m&uacute;sica que los encarn&oacute;. Si Cantinflas, en una de sus genialidades  llev&oacute; al cine mexicano el&nbsp; argot del  barrio Tepito como registro y como parodia, estos m&uacute;sicos&nbsp; hac&iacute;an otro tanto con el habla de sus barrios  nativos, llev&aacute;ndola a los ritmos afrocaribe&ntilde;os.&nbsp;&nbsp;&nbsp; </p>

<p>Al ingresar en la televisi&oacute;n, el medio&nbsp; le otorgaba una legitimidad a la bomba, la  plena y sus cultores, que hab&iacute;an modificado la instrumentaci&oacute;n para  interpretarlos, pero conservaron la base r&iacute;tmica ancestral,&nbsp; en un momento en que la isla experimentaba  parte de su modernizaci&oacute;n industrial y econ&oacute;mica, a la vez que tomaba  conciencia de su cultura popular y del papel de los negros en la construcci&oacute;n  de la nacionalidad puertorrique&ntilde;a.</p>

<figure></figure>

<p>Luego de sus problemas con la justicia y una temporada en la  c&aacute;rcel, Ismael Rivera se radic&oacute; en Nueva York donde&nbsp; organiz&oacute; Los Cachimbos, una banda de salsa  bajo la direcci&oacute;n musical del pianista Javier V&aacute;squez, con la que&nbsp; desarroll&oacute; una segunda etapa de su carrera  art&iacute;stica. </p>

<p>En esta nueva etapa de su trayectoria logr&oacute; otra de sus m&aacute;s bellas  interpretaciones: &laquo;Las caras lindas&raquo; &laquo;de&nbsp;  mi gente negra&raquo;, compuesta por TiteCuret Alonso. Esta canci&oacute;n creada por  un negro y cantada por un mulato como Ismael Rivera, es un contundente mensaje  de afirmaci&oacute;n &eacute;tnica y asertividad, en un medio decididamente racista. Por su  melod&iacute;a, su inspiraci&oacute;n po&eacute;tica, su car&aacute;cter bailable y su difusi&oacute;n masiva ante  millones de oyentes,&nbsp; esta canci&oacute;n ha  contribuido en el &aacute;mbito latino, m&aacute;s que cualquier discurso pol&iacute;tico, a la  reivindicaci&oacute;n de los afrodescendientes y a la democracia racial que tanto  necesita el mundo. Y dice:<br />

  Las caras lindas de mi gente negra / son un desfile de melaza en  flor / que cuando pasa frente a mi se alegra /de su negrura todo el corazon  /las caras lindas de mi raza prieta /tienen de llanto, de pena y dolor / son  las verdades que la vida reta / pero que llevan dentro mucho amor / somos la  melaza que rie / la melaza que llora / somos la melaza que ama / y en cada beso  es conmovedora / por eso vivo orgulloso de su colorido / somos betun amable, de  clara poesia / tienen su ritmo, tienen melodia / las caras lindas de mi gente  negra / las caras lindas, las caras lindas las caras lindas de mi gente  negra...<br />

  Con ella, Ismael Rivera fortaleci&oacute; la nueva representaci&oacute;n de las  negritudes cultivada por la salsa desde sus inicios. Porque, profesando o no la  Santer&iacute;a, el Palo Congo o los ritos Abaku&aacute;, la salsa reivindic&oacute; al negro en su  condici&oacute;n de ser humano con iguales derechos. Y aunque sus mensajes  contribuyeron igualmente a crear representaciones, a veces estereotipadas de la  etnicidad, no por ello dejaron de ser importantes a la hora de contrarrestar el  racismo rampante y los prejuicios etnocentristas del entorno. En sus 50 a&ntilde;os de  historia, mediante una valoraci&oacute;n positiva de la etnicidad afrocaribe&ntilde;a (y m&aacute;s  recientemente afropac&iacute;fico)&nbsp; la salsa ha creado  un visi&oacute;n alterna, continuando, pero a la vez yendo m&aacute;s lejos de lo que aport&oacute;  la m&uacute;sica cubana, sobretodo aquella que cumpli&oacute; el mismo papel, antes de los  a&ntilde;os 60. </p>

<p>Con los Cachimbos, lo mismo que con Kako y su orquesta, Ismael  Rivera consolid&oacute; su imagen de gran cantante,&nbsp;  gracias a una voz privilegiada, pero tambi&eacute;n&nbsp; porque supo representar&nbsp; la sensibilidad del Barrio de donde ven&iacute;a y  la cultura musical a la perteneci&oacute; y a la que contribuy&oacute; a engrandecer.</p>


<figure></figure>

</div>

<div class="modal-footer">

</div>







