<div  id="marcoMultimedia" class="marcoMultimedia"  >  
    <!--<img  src="Cali/Barrio1/Presalsa/Imagenes/maqueta.png" class="hidden-phone fondo">-->
    <img  src="Curazao/Curazao/SigloXXI/Imagenes/Escenario/fondo.jpg" class="hidden-phone fondo">


    <a  href="#" class="buttonItem  " 
        data-toggle="tooltip" data-placement="left" title="Mafalda">
        <span class="hidden-tablet hidden-desktop ">Mafalda</span>
        <img   src="Curazao/Curazao/SigloXXI/Imagenes/Escenario/mafalda_minguel.png" class="hidden-phone  positionItem "  
             style="width :19%; height:50%; top:50%; left:0.5%;">
        <img  src="Curazao/Curazao/SigloXXI/Imagenes/Movil/mafalda_minguel_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>


    <a  href="#" class="buttonItem  " 
        data-toggle="tooltip" data-placement="left" title="Arnell">
        <span class="hidden-tablet hidden-desktop ">Arnell</span>
        <img src="Curazao/Curazao/SigloXXI/Imagenes/Escenario/arnell.png" class="hidden-phone  positionItem "  
             style="width :17%; height:47%; top:56%; left:16%;">
        <img  src="Curazao/Curazao/SigloXXI/Imagenes/Movil/arnell_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>

   
    <a  href="#" class="buttonItem  " 
        data-toggle="tooltip" data-placement="left" title="Pasacalle">
        <span class="hidden-tablet hidden-desktop ">Pasacalle</span>
        <img   src="Curazao/Curazao/SigloXXI/Imagenes/Escenario/pasacalle.png" class="hidden-phone  positionItem "  
             style="width :20%; height:13%; top:22.5%; right: 4.5%;">
        <img  src="Curazao/Curazao/SigloXXI/Imagenes/Movil/pasacalle_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>
 
    <a  href="#" class="buttonItem  " 
        data-toggle="tooltip" data-placement="left" title="Letrero Monumentos">
        <span class="hidden-tablet hidden-desktop ">Letrero Monumentos</span>
        <img   src="Curazao/Curazao/SigloXXI/Imagenes/Escenario/letrero_momunetos.png" class="hidden-phone  positionItem "  
             style="width :5%; height:15%; top:50%; right: 13%;">
        <img src="Curazao/Curazao/SigloXXI/Imagenes/Movil/letrero_monumentos_movil.png" 
             class="hidden-tablet hidden-desktop positionItem-phone iconoMovil">
    </a>



</div>

